[2020-11-06 18:34] #609 closed

[2020-11-06 20:07] RhinoFox commented on #649
This can be achieved in 2.1.0 by pressing Win+Alt+M

[2020-11-07 17:28] loneboat commented on #636
Just an update - it is working for me now, without any specific changes on my part. Per your advice, I went to make sure the shim was enabled, prior to a reboot/etc, but it was already enabled. I ran Windows update (probably unrelated, but mentioning it because it's something I did before it suddenly started working), and did another reboot, and it is working fine now.

Would like to note that I h

[2020-11-07 22:28] Xairoo commented on #636
@loneboat I have updated to the latest Windows version and MaxTo at the same time. And the problems appear directly after the forced restart. So no need to update again - also there aren't any ;-)
Also I started to uninstall the latest update. But after the restart I saw that it was related to MaxTo (because Terminal started before MaxTo was running). So I installed the removed update again and do

[2020-11-08 10:26] JCas65 opened #650 "while Dragging some windows, cursor is far away"
When dragging a window, the window is seriously displaced at the left, being difficult to position that window at top of the right side

It only occurs in:
. In the second monitor (4k resolution, not checked other ones)
. MS Office O365 products such as Outlook, Word, Excel,..

[2020-11-08 11:08] Brittliff opened #651 "Option to ignore missing windows / Trigger multiple recipes with the same hotkey"
**Is your feature request related to a problem? Please describe.**
Not a problem per se, but it's something that's hindering my current workflow.

**Describe the solution you'd like**
I'm using MaxTo to reset the windows my workspace into the predefined positions I have set up in my recipes. Often some of these windows won't be running, and currently if a step in the recipe is reached where a wind

[2020-11-09 13:38] vegardlarsen commented on #651
Thank you for your report. Your request does make sense, and it may be something we will end up supporting in the future. I have quite a few ideas for how to improve the recipes feature; error handling is definitely one of them.

Know that I am aware of this, but I don't think it will be quick addition to MaxTo.

I am closing this issue as I won't do anything with this as of today, but we'll keep

[2020-11-09 13:38] #651 closed

[2020-11-09 13:49] vegardlarsen commented on #636
@Xairoo @loneboat What is the default shell that you start with Windows Terminal? PowerShell, cmd, WSL? Maybe sending me your WT configuration could let me reproduce it locally?

[2020-11-09 13:50] vegardlarsen commented on #609
Great. Thank you for the update.

[2020-11-09 14:21] vegardlarsen commented on #648
`startup.runElevated` should be `false`

[2020-11-09 15:11] vegardlarsen commented on #649
@dehghani-mehdi I am closing this issue, because I don't like having open issues that we do not know if we are going to do anything about. I am tagging it so we can easily find it later, however. :)

[2020-11-09 15:11] #649 closed

[2020-11-09 16:18] gary822 commented on #648
startup.runElevated is false in my options:

[config.json.log](https://github.com/digitalcreations/MaxTo/files/5511777/config.json.log)

[2020-11-09 17:47] loneboat commented on #636
Below is my settings.json from WT. My default profile is WSL.

[code]

[2020-11-09 20:12] vegardlarsen commented on #650
I am aware of this issue, and its been with us for a long time. It happens when you drag a window out of a region, and the window restores its previous size, and that previous width places the mouse cursor outside the new size. I am not entirely sure how to fix it though.

[2020-11-09 20:13] #640 closed

[2020-11-09 20:13] vegardlarsen commented on #640
I've fixed this issue, and the fix will be in version 2.1.1.

[2020-11-10 08:42] JCas65 commented on #650
If it helps you.
. Open the MS Word (it opens out of any region) in the second monitor directly
. Now, if you move the window it works rightly only the first time (I don't move to any region)
. Next times does not work

If you change the focus to other window, and then comes back to the MS Word, the first time works rightly again. Next times it turns to fail, until you change the focus to other wi

[2020-11-10 19:31] christian-22-3 commented on #624
Have u received my email with the logfile?

[2020-11-11 03:43] hermitpurple746 opened #652 "Exit From Full Screen Cause Window Position And Size To Change"
Environment:
Windows 10
Firefox playing youtube video

Step to reproduce:
1. Set Firefox window to fit a MaxTo region
2. Enter full screen video
3. Exit full screen video
4. Observe that the Firefox window has moved and changed size

[2020-11-11 15:13] vegardlarsen commented on #652
We're fixing this for version 2.1.1. This is a duplicate of #640, so I am closing this one.

[2020-11-11 15:13] #652 closed

[2020-11-11 20:29] gary822 commented on #648
@vegardlarsen i have delete the config.json for testing but the tool crashed with the new generated config too.

[2020-11-12 03:25] geoji commented on #636
I am having this same issue. Here are my settings.

[code]

[2020-11-12 05:36] kinber126 opened #653 "Window is transparent"
Sometime,Drag the window,window change to transparent。
Maxto runing administrator。

[2020-11-12 07:55] Xairoo commented on #636
PowerShell. I tried it also with the default config, didn't helped and I was able to start the PowerShell and cmd without WT.

[2020-11-12 08:50] vegardlarsen commented on #635
Thank you for reporting this. It was something that only happens on multi-monitor solutions, and since Covid I've been on a single-monitor system, which is why I didn't catch this. I dug out an old monitor and was able to reproduce it.

The fix will be in 2.1.1.

[2020-11-12 08:50] #635 closed

[2020-11-12 09:24] vegardlarsen commented on #653
Please see issue #643. Closing this as a duplicate.

[2020-11-12 09:24] #653 closed

[2020-11-12 12:45] vegardlarsen commented on #639
As I haven't been able to solve this issue, I've decided to avoid it by removing the radio buttons (that where the cause of the issue). The new UI isn't as intuitive, but at least it works consistently.

![image](https://user-images.githubusercontent.com/436508/98941771-4ea1ae80-24ed-11eb-956b-7aae1c5a390b.png)

Will be in 2.1.1.

[2020-11-12 12:45] #639 closed

[2020-11-12 14:03] vegardlarsen commented on #636
I am unfortunately still unable to reproduce this issue (I have tried on 3 different Windows versions and machines), and therefore I won't be able to fix this for version 2.1.1. I am taking it out of that milestone, and we can revisit it if more information comes to light.

It would be interesting to know if you have any other software that may be affecting this installed? Competing window manager

[2020-11-12 14:36] Xairoo commented on #636
I disabled Bitdefender & Docker & DisplayCal too ;-)
I am sorry, I am fine with the old version and don't want to spend more time into this.

[2020-11-12 14:46] vegardlarsen commented on #636
@Xairoo OK. You can unsubscribe from this issue from the sidebar. :)

[2020-11-12 19:31] tynril commented on #636
I'm also encountering this issue now.

* MaxTo 2.1.0 (stable channel)
* Windows Terminal compatibility shim enabled
* Windows 10 Enterprise 20H2 (OS build 19042.630)

The crash happens with default Windows Terminal settings (deleting/renaming my custom `settings.json` file).

This is the crash callstack in the dump that Windows Terminal generates:
[code]

[2020-11-13 01:11] balaji-dutt opened #654 "Mikrotik Winbox v3.27 (64bit) / v3.19 (32bit) Crash when MaxTo is running"
**Describe the bug**
I see that there was a recent issue (#645) about Winbox crashes that was closed, however I'm still seeing the issue on my PC with different builds of Winbox.

**To Reproduce**
1. Ensure MaxTo is running and Compatibility Shims are enabled.
2. Launch either Winbox v3.27 (64bit) or Winbox v3.19 (32bit). Login to a Routerboard device as Admin.
3. Click on System > Scripts. Then C

[2020-11-13 08:08] vegardlarsen commented on #654
This issue should be fixed in version 2.1.1, which I just now pushed the "Release" button for. It should be up on the website in a little while.

[2020-11-13 08:08] #654 closed

[2020-11-13 08:18] vegardlarsen commented on #636
Thank you for the stack trace, @tynril. It does however not tell me much, as MaxTo is nowhere to be found in the call stack. It does appear to be related to window message handling (which MaxTo does "interfere" with), and in that case I have a suspicion the compatibility shim may not be applying properly.

What is the name of the process when running Windows Terminal on your machine? `WindowsTermi

[2020-11-13 10:43] vegardlarsen commented on #648
@gary822 Try updating MaxTo to version 2.1.1 (released earlier today). Since you can't run MaxTo, you will need to download the installer. Make sure you uninstall the existing version and rebooting before installing the new version.

[2020-11-13 10:58] gary822 commented on #648
@vegardlarsen the version is not online at the moment

[2020-11-13 10:58] vegardlarsen commented on #648
Give me 10 minutes. Caching issue :)

[2020-11-13 11:12] vegardlarsen commented on #648
Deployments are a bit slow today, I am working on it. :)

[2020-11-13 11:18] vegardlarsen commented on #648
You should be able to see the release now, @gary822. 😄

[2020-11-13 11:43] gary822 commented on #648
@vegardlarsen after the update the tool is not starting but now with a other error.

![Unbenannt](https://user-images.githubusercontent.com/48492786/99068892-9982fb00-25ad-11eb-965d-3f7d3a10b719.png)
[config.json.log](https://github.com/digitalcreations/MaxTo/files/5536534/config.json.log)
[maxto20201113.log](https://github.com/digitalcreations/MaxTo/files/5536535/maxto20201113.log)

[2020-11-13 11:52] vegardlarsen commented on #648
OK, so you are running MaxTo on an actual Administrator account, without requiring UAC to run?

That could actually be something we need to take into account when starting MaxTo. At the moment, most of MaxTo's core processes should not be elevated, as they don't need to be. Only a few (`MaxTo.Companion.*` and `MaxTo.Core`) is started elevated, the other processes we attempt to de-elevate. What see

[2020-11-13 11:56] gary822 commented on #648
yes i use the default Administrator Account on Windows 10 X64 2004 with the default settins in UAC:

![image](https://user-images.githubusercontent.com/48492786/99069949-a0127200-25af-11eb-940b-30fad103b2f1.png)

[2020-11-13 13:31] mannbarry2 opened #655 "Since 13/11/2020 no longer works on a corporate work PC"
The application now fails to launch and installation isn't possible. It was fine before I attempted to upgrade.

I work for an org with a strict policy on corporate machines. Either they change the policy (most stuff does not install and we use portable apps according to policy) or more likely something no longer works. 2.1.0 refuses to install

I need either a previous build or ideally a portable

[2020-11-13 14:46] vegardlarsen commented on #655
@mannbarry2 You can always download previous releases from our [releases page](https://maxto.net/releases). Could you please see if you can find any install logs (I assume that is what is failing) or runtime logs and submit them. Please see [the documentation on log files](https://docs.maxto.net/reference/settings/logs) for where to find the log files. If you are concerned about privacy, you can e

[2020-11-13 17:47] shie-erlich commented on #543
this is happening to me on 2.1.1.
is there a workaround?

[2020-11-13 17:49] shie-erlich commented on #579
this is still happening for me in 2.1.1 (not detecting that i'm running win10).
is there a workaround for this?

[2020-11-13 20:57] allan-shoup opened #656 "MS Outlook Persistently Transparent"
**Describe the bug**
MS Outlook app window is persistently transparent.

**To Reproduce**

1. Turn the Window transparency setting off:
![image](https://user-images.githubusercontent.com/7842213/99118545-5af53c80-25bd-11eb-92fb-5916afef1918.png)
2. Open Microsoft Outlook
![image](https://user-images.githubusercontent.com/7842213/99118973-19b15c80-25be-11eb-8892-142f56381385.png)
3. Click and drag

[2020-11-14 00:06] #621 closed

[2020-11-14 04:09] geoji commented on #636
2.1.1 appears to have fixed the issue. I tried on 2 machines. Windows terminal opens correctly on both machines after updating to 2.1.1. Thanks.

[2020-11-14 17:22] vegardlarsen commented on #656
@allan-shoup I've just received a very similar report to yours, but regarding Microsoft Excel. Is that the case on your machine as well?

[2020-11-14 17:24] vegardlarsen commented on #579
@shie-erlich Which specific Windows version are you running? (Hit Win+R, type `winver` to check)

[2020-11-14 17:29] vegardlarsen commented on #636
@tynril @loneboat Can you confirm that this has solved it for you as well?

[2020-11-14 19:14] shie-erlich commented on #579
@vegardlarsen windows 10 enterprise, version 2004, build 19041.630

[2020-11-14 19:58] mja09006 opened #657 "Version 2.1.1 is active but is no longer snapping windows to other ones, regions or monitor"
After the 2.1.1 update everything was still working fine and normal but just today it stopped. I cannot keep my windows organized by using the snapping function. I have restarted computer and issue still persists. Snap settings are turned on and Max.to is active.

I have yet to uninstall and reinstall.

Edit: I am using Windows 10 Pro. Here is other information about my specs:
MOTHERBOARD - ASRock

[2020-11-14 20:01] mja09006 commented on #657
![image](https://user-images.githubusercontent.com/52556927/99155900-3a46e880-268a-11eb-8467-cf42145be8ba.png)

Just uninstalled and tried to reinstall but got this message.

[2020-11-14 20:04] Michael5122 commented on #656
Same issue happens sometimes every day both with word and internet explorer :/ started happening couple of weeks ago...
![image](https://user-images.githubusercontent.com/65541736/99155928-d853a680-26bc-11eb-94f9-2c9cfbe626e2.png)

[2020-11-14 20:22] mja09006 commented on #657
Update: I was not able to install for a while but after restarting my computer I was able to reinstall.

Program reinstalled successfully and I can now snap windows from File Explorer but some are not still working. So far this is what is and is not working:

_NOTE: Centering windows on the screen still works for every program._

**REGARDING SNAPPING WINDOWS**
WORKING: File Explorer, Windows Setti

[2020-11-14 21:09] Michael5122 commented on #656
Guys!! Maxto is getting ungry these days? whats going on? Now every time i move a windo it reduces it in a small dimention

![image](https://user-images.githubusercontent.com/65541736/99157032-11dcdf80-26c6-11eb-8a69-67e3ffe6d672.png)

Please help! Thanks!

[2020-11-15 14:54] manuelhuber commented on #656
I also have the transparency issue in 2.1.1 (similar/same as in 2.1):
It happens when I resize windows. With this popup in Rider it happens consistently. The first resize is fine but when I resize a second time it goes transparent:
https://youtu.be/Zh_dOyphYq8
But also chrome and other windows become transparent when I resize them
![2020-11-15 14_46_50-Window](https://user-images.githubusercontent

[2020-11-15 15:19] Spillmaker commented on #656
This happens for me with Discord and Explorer-windows.
Tested with turning Transparency off in both windows personality-settings and Maxto. Same issue...

It just simply seems that maxto is still setting transparency when moving the windows, and it fails to turn it off again after move is complete.

This in addition to a bunch of other small bugs just makes me want to start looking for other alter

[2020-11-15 17:10] mk7ita commented on #656
I have the same problem too sometimes, I didn't noticed problem with a specific software, it happens casually on all applications.

[2020-11-16 05:05] bigslick87 commented on #657
I'm having the same issues. We need to get an update rolled out ASAP!

[2020-11-16 12:06] eikowagenknecht commented on #656
Same problem here, also happens with Citrix Desktop. Turning **on** transparence fixes this, but I would prefer no transparence..

[2020-11-16 13:16] KimmoJ commented on #656
This has happened to me a few times as well; currently, it's affecting the Firefox window I'm using to type this in. It happened when I dragged it from one screen to the other screen on a multi-screen computer, if that has any relevance. The window appears to be stuck transparent.

[2020-11-16 14:01] vegardlarsen commented on #656
I have found the issue, and it only appears if "Window transparency" is turned off (which was why I didn't catch it in testing). It appears it does not check the settings at the point when we make a window transparent, but it was checked at the point when we make them opaque again, resulting in windows staying permanently transparent.

Work-around while I prepare 2.1.2: enable transparency. You ca

[2020-11-16 14:03] #656 closed

[2020-11-16 14:26] QuiteStupidGull commented on #579
@vegardlarsen same problem here.
MaxTo version: 2.1.1
Windows version :  Windows 10 PRO 20H2, build 19042.630

[2020-11-16 14:38] vegardlarsen commented on #657
The installer error is a separate issue, which happens when you try to run the installer while MaxTo is loaded in memory (and therefore the installer cannot delete the files). We are looking for a replacement for the installer because of this issue.

I can unfortunately not reproduce this issue here; any window I grab to move will snap to any other window. I know you've already rebooted, but reboo

[2020-11-16 15:15] Michael5122 commented on #656
Is it the same issue with this problem too?
Kind regards
Michail

[2020-11-16 15:17] vegardlarsen commented on #656
@Michael5122 That issue is not related. Please open a separate issue for it. (PS! Make sure you can reproduce it consistently so I can have a look)

[2020-11-16 15:26] vegardlarsen commented on #648
@gary822 So I activated the Administrator account on my machine (using `net user Administrator /Active:yes`), logged in and installed MaxTo. It does appear to run perfectly fine on my machine. Have you done anything else in particular to "get it to" crash?

[2020-11-16 15:33] gary822 commented on #648
@vegardlarsen nothing. i have installed the tool clean and the tool will not start.
Maybe MaxTo usses and Windows service wich ist not active?
[Services.log](https://github.com/digitalcreations/MaxTo/files/5547282/Services.log)

[2020-11-16 16:15] bigslick87 opened #658 "Version 2.1.1 Issues"
**Describe the bug**
Not all applications will snap to grid. When they do snap to grid, they remain transparent. I tried turning on Elevation and it still did not work with all applications.

Applications tested that worked: File Explorer, Skype
Applications tested that did not work: Chrome

I tried to roll back to v2.1.0 using the MSI installer. Now I am unable to use the application at all. It h

[2020-11-16 17:52] tynril commented on #636
I'm not seeing the issue anymore with 2.1.1 either! Thanks and well done. :)

[2020-11-16 18:07] Xairoo commented on #636
Yeah, it works with 2.1.1.

[2020-11-16 19:21] RegisDahma opened #659 "2.1.1 Windows becoming transparent after moving"
MaxTo V 2.1.1
windows build 19041.572

Have transparent windows on dragging turned off, however almost every time that I move my discord window, and at random for other windows, the window will become permanently transparent.

Happens especially often when maximizing a window on my second monitor which is just one region for the whole screen.

[2020-11-16 19:27] vegardlarsen commented on #659
Please see issue #656 for a workaround. Closing this issue as a duplicate.

[2020-11-16 19:27] #659 closed

[2020-11-16 20:01] RhinoFox opened #660 "Update 2.1.1. regions lost and crash"
The update from the exe file, first gives a failure on CFA. (Just the icon on the desktop I assume)
When MaxTo comes alive, my own regions are gone (again) See former contact. I've my config in m:\reind\MaxTo.config

After restart, exit, restart, my regions are back.
When I Change regions > Load presets > Cancel Changes ===>> Crash again

Multi Monitor.
Win 10 20H2. 19042.630
GeForce GTX750Ti

[ma

[2020-11-17 08:59] vegardlarsen commented on #660
This issue has been fixed for 2.1.1 (which has another serious issue in regards to transparency, so I'd recommend holding off until 2.1.2 is out the door later today). Closing this as a duplicate (see issue #635).

[2020-11-17 08:59] #660 closed

[2020-11-17 09:00] vegardlarsen commented on #636
Great. Closing this issue as it seems to be solved. Phew! 👍

[2020-11-17 09:00] #636 closed

[2020-11-17 10:04] vegardlarsen commented on #658
@bigslick87 The MSI installer should not be used in that manner. It is only for deployments to machines with multiple users. Try using the regular installer; and then removing it from Add/remove programs. The crash in the log happens when it tries to remove MaxTo while it is still in use.

I suggest you reboot your machine before trying to (un)install again. Version 2.1.2 is being readied now, and

[2020-11-17 10:13] vegardlarsen commented on #656
I've finished version 2.1.2, which fixes just this issue, and it should be visible on the website shortly, and be available for automatic updates at the same time.

[2020-11-17 11:10] sycraige21 commented on #657
This now happens to me.  Yesterday I turned off MaxTo in order to practice a powerpoint presentation in presenter mode.  Today after turning MaxTo back on I cannot keep my windows organized by using the snapping function. Snap settings are turned on and MaxTo is active. I have uninstalled, cleared all roaming files, downloaded a fresh version and re-installed (now version 2.1.2) and still nothing.

[2020-11-17 17:04] vegardlarsen commented on #657
@sycraige21 Even after a reboot? Do the windows you drag turn transparent while you are dragging them?

[2020-11-17 17:15] sycraige21 commented on #657
Not even after a reboot.  The windows do not turn transparent when I am moving them.
I have determined that the regions I selected are present in the background. If I place the window in the appropriate section then maximize, it will maximize to the defined region.  The snapping function, however, is not happening.

[2020-11-17 17:17] vegardlarsen commented on #657
If you move the window twice in a row (move, let go, move again, without focusing another program), does the transparency (and the snapping) work then?

[2020-11-17 17:20] sycraige21 commented on #657
No I am afraid not.

On 17 Nov 2020, at 17:17, Vegard Andreas Larsen <notifications@github.com> wrote:

﻿

If you move the window twice in a row (move, let go, move again, without focusing another program), does the transparency (and the snapping) work then?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/digitalcreations/Max

[2020-11-17 17:55] rustamsh opened #661 "Window becomes transparent"
Hi,

Sometimes application windows become transparent but I couldn't find the actual steps to reproduce that issue.
That issue appeared in recent days actually That never happened before maybe MaxTo got updated recently.
The effect as the MaxTo "Windows transparency" setting is turned on, even though that setting is turned off for me.

Maxto version 2.1.1
Apps, where it appears, are Zoom, Sublime

[2020-11-17 18:21] TomTrek99 commented on #661
I have the same problem even if I don't use a MaxTo function actively, but the program is active. Occurs with Microsoft Office 365 applications and Visio. Also the latest version installed. What can you do ?

[2020-11-17 18:38] vegardlarsen commented on #661
This is a duplicate of issue #656. Please see that issue for a workaround, or restart MaxTo twice to automatically update to 2.1.2, which fixes this issue.

[2020-11-17 18:38] #661 closed

[2020-11-17 18:58] Mrfuyu commented on #657
Same issue after upgrade to 2.1.1: Chrome, Firefox, Notepad can't be maximized to the region, while MS Excel, File Explorer are working.

Multiple Restart, Un-/Reinstall MaxTo, Delete complete Configuration wasn't helpful. After a downgrade to 2.1.0 everything is working again.

[2020-11-18 07:06] okand opened #662 "Windows turn transparent regardless of setting and then never become opaque again"
**Describe the bug**
When moving windows they go transparent and then just stay that way until closed and reopened regardless of what the transparent windows setting in MaxTo is set to. I have it turned off and suddenly now that MaxTo had updated to version 2.1.1 windows started turning transparent on me.

I've noticed this happening in several apps I regularly use on my work computer. Firefox, Ou

[2020-11-18 08:38] alfiewild commented on #657
Same issue for me also.

[2020-11-18 09:53] mja09006 commented on #657
UPDATE (11/18/2020)

Yes I have done multiple reboots, uninstall > reinstall, etc. and still having the same exact issues. This is also occuring on another computer of mine (laptop) in which my account is synced with.

[2020-11-18 14:37] vegardlarsen commented on #657
Please make sure you have version 2.1.2, which was released yesterday.

[2020-11-18 14:38] vegardlarsen commented on #662
Please see issue #656, and make sure you have updated to version 2.1.2, which was released yesterday.

To update, restart MaxTo twice (that triggers both download and install of a new release using automatic updates), and then reboot or restart the applications that have permanently transparent windows.

Closing this issue as a duplicate.

[2020-11-18 14:38] #662 closed

[2020-11-18 14:50] vegardlarsen commented on #648
MaxTo does not rely on any specific Windows Services. It does rely on `explorer.exe` to do this de-elevation, and has a few fallback options if `explorer.exe` is not running, and I've tested these on a stock Windows install using the Administrator account, and it seems to work here.

If we can't figure out what exactly you've changed on your machine, I am afraid I can't really help. You wrote init

[2020-11-18 14:50] gary822 commented on #648
@vegardlarsen after completly deinstall and new install i became zwo errors:

1. Error:
![image](https://user-images.githubusercontent.com/48492786/99545323-8f9a3700-29b5-11eb-9152-c8257f44f929.png)

i click on yes

2. Error:
![image](https://user-images.githubusercontent.com/48492786/99545393-a04aad00-29b5-11eb-9da5-2092d47834b0.png)

i have checket the system (chkdsk) and there are no errors on

[2020-11-18 14:51] vegardlarsen commented on #579
@QuiteStupidGull @shie-erlich Does it go away after updating to 2.1.2 and rebooting?

[2020-11-18 14:52] gary822 commented on #648
@vegardlarsen i have customized the Windows services, the autorun and the registry.
But i have undone the changes

[2020-11-18 14:54] vegardlarsen commented on #648
Does MaxTo work if you run it as a standard user?

[2020-11-18 14:59] gary822 commented on #648
yes with an normal user i become only the first error but it runs:

![image](https://user-images.githubusercontent.com/48492786/99546783-11d72b00-29b7-11eb-9ed1-4d8c7f000d8c.png)

[2020-11-18 15:02] QuiteStupidGull commented on #579
Just updated and rebooted, same problem.

[2020-11-18 15:06] sycraige21 commented on #657
I am on version 2.1.2 and there is no improvement with regards this issue.

[2020-11-18 15:31] Michael5122 opened #663 "Chrome window reduces to small dimentions every time i stick it from one region to another."
Please look at the following screenshots:
1) there are my regions. Screen is a 49' philips 499P
2) I open chrome,  then I decide to stick it to my central region
3) it disappears
4) I click it on the taskbar two times and then it appears in super-reduced dimensions.
5) I maximize it and then move it slowly and manually to fit my central region, it doesn't stick automatically.

It used to happen a

[2020-11-18 15:53] gary822 commented on #648
i have do an systemrecovery and now maxto is running without any problems.

[2020-11-18 19:21] vegardlarsen commented on #648
OK, good to hear. I am closing this issue as it appears that there is nothing else for me to do here, then.

[2020-11-18 19:21] #648 closed

[2020-11-18 19:28] vegardlarsen commented on #663
Can you upload [your log files](https://docs.maxto.net/reference/settings/logs) from around when this happens so I can have a look? If you are concerned about privacy, you can send them to me at support@maxto.net referencing this issue, and I'll extract the important parts.

[2020-11-18 20:32] emanborg opened #664 "MaxTo Crashes when trying to open the layout config on this monitor setup"
![image](https://user-images.githubusercontent.com/996673/99584611-7b6e2e00-29e5-11eb-9afa-2f8fef19bb08.png)

[2020-11-18 21:41] Michael5122 commented on #663
Sent, thank you!
Michail

[2020-11-19 14:35] Alsoknownasjazz opened #665 "Windows Transparency getting "stuck" - Reference closed issue #561"
**Describe the bug**
When dragging application windows around, they become transparent, and do not revert to full opacity when mouse-left is released. Once this has happened, almost no amount of moving, maximizing, snapping or resizing will bring the window back to normal - the application has to be closed now. Having Windows Transparency option in MaxTo disabled does not prevent this behavior. In

[2020-11-19 15:07] vegardlarsen commented on #665
@Alsoknownasjazz Please update to version 2.1.2. The easiest way is to restart MaxTo twice, and then reboot (to get rid of the windows that were stuck as transparent).

I am closing this issue as a duplicate of #656.

[2020-11-19 15:07] #665 closed

[2020-11-19 15:11] vegardlarsen commented on #663
There are a lot of these in the log `[MaxTo.Companion.MessageHandlers.DragWindowMessageHandler] Did not receive any moving events while dragging "<some window>" (0x"20486"), used mouse position to find region "{X=3944,Y=0,Width=1176,Height=694}".` I am quite sure this does not affect this functionality, but besides these messages I could not find any seemingly relevant messages.

@Michael5122 Is t

[2020-11-19 15:44] ckas10 commented on #657
Same here. Multiple reboots and uninstall/reinstalls. Some windows snap (file explorer for example) but most do not.

[2020-11-19 18:28] Alsoknownasjazz commented on #665
Thanks for the quick response. Unfortunately, 2.1.1 was a typo, I'm running 2.1.2 already. :(

[2020-11-19 20:51] PaulWendt opened #666 "Chrome isn't working any more"
I'm not sure if it's due to a recent Chrome update, or a MaxTo update, but chrome isn't snapping any more.  When i double-click on the window title, it maximizes to full screen.  I'm on 2.1.2 of MaxTo.  This worked until recently.

I haven't seen problems with any other apps, even Edge.  I'd like to get MaxTo to work with Chrome again, though.

Any ideas?

[2020-11-19 21:07] PaulWendt commented on #666
In case anyone else runs into this (or something similar), even though I cannot maximize the application to a region (it maximizes to the monitor, instead), I am able to use the recipes Window+Arrows to move the app around, and it does respect the region boundaries.

So, even if we don't get double-click to work on the app, we can use the recipes as a workaround.

[2020-11-20 11:59] KimmoJ commented on #657
Snapping has definitely broken or semi broken in the new versions. The whole "hold shift and see white outlines to snap to" thing is gone. Snapping with a mouse - say from one region on screen 2, to another region on screen 1, fails every time, but does "release" the window from the snapped position - after that, you can drag it to another position and snap. But having to do everything twice at le

[2020-11-20 15:24] bigslick87 commented on #658
I uinstalled, rebooted multiple times and was finally able to clean install 2.1.0. PERFECT.

Shut down my PC last night and it auto-updated to 2.1.2. Everything broken again.

If these issues can't be sorted out, I will have to request a refund.

[2020-11-20 15:24] bigslick87 commented on #657
I uinstalled, rebooted multiple times and was finally able to clean install 2.1.0. PERFECT.

Shut down my PC last night and it auto-updated to 2.1.2. Everything broken again.

If these issues can't be sorted out, I will have to request a refund.

[2020-11-20 18:15] wld159 opened #667 "transparency doesn't work at some programs."
**Describe the bug**

Although the snapping and keyboard shortcuts work at visual studio 2017 and some programs, Transparency doesn’t work.
   [maxto window transparency /amount "100"]

In my case, visual studio 2017 and FORK(https://git-fork.com).

**Expected behavior**

**System information:**
- Windows version: 20H2(OS build 19042.630)
- MaxTo version: 2.1.2

**Additional context**

[2020-11-20 23:17] Mrfuyu commented on #657
@bigslick87 To prevent updating, you can deactivate this feature under Settings > Updates > Uncheck automatic updates and then downgrad to 2.1.0. This worked for me.

[2020-11-21 05:04] 1234Matt commented on #666
I am using this app first time and apparently, it is a bug, I thought the app is trash :D :D
Hope it will be solved soon :)

[2020-11-21 07:32] BlackOpzFX commented on #666
I have same issue and came to the blog wondering why? I can get some apps to respect the regions but Chrome/Opera dont. Chrome/Opera also wont go transparent on drap/resize. Microsoft Edge snaps to regions but doesnt go transparent. Think it happened within the last update or two.

[2020-11-21 13:21] Michael5122 commented on #663
Created video and sent via email (youtube link)
Kind regards
Michail

[2020-11-21 13:24] Michael5122 commented on #663
The video I sent was done after restarting pc and with no other program opened.
The only programs that were running while I did the video were some file-sharing files working in the background (Syncplicity, google drive, one drive, Lightshot for screen capture, nothing else).

[2020-11-21 15:00] KimmoJ opened #668 "MaxTo updates itself without my permission"
**Describe the bug**

2.1.2 doesn't work right. Snapping requires multiple attempts. There is already a report for that by others.

I installed 2.01 which does work. This morning, I had 2.1 again. I explicitly checked and turned off "automatically check for and apply updates" yesterday.

**To Reproduce**

Install 2.01 I presume and wait for the broken version to install itself over it, in spite of

[2020-11-21 15:08] KimmoJ commented on #658
The fact that the program auto-updates ijn spite of the auto-update checkbox being empty is unacceptable.

I downgraded to 2.01 and blocked the executables, including the update.exe file in the MaxTo directory, from talking to the Internet. Hopefully that will block any unwanted updates until a new version that works is available.

[2020-11-23 07:39] vegardlarsen commented on #668
Thank you for the feedback. It is clearly not intended behavior on our end, and seems to stem from the Squirrel installer we use. We are looking to replace that for version 3.0.

If you modify the shortcuts that start MaxTo to point `%LocalAppData%\app-<version>\MaxTo.Core.exe`, it should stop.

[2020-11-23 07:46] vegardlarsen commented on #663
From your video, it appears that Chrome is resized back to its "last known size", but that the last known size is wrong. It appears to happen when you drag Chrome out of a region the first time. Am I right to assume that Shift+drag does not work with Chrome in your case?

[2020-11-23 09:14] vegardlarsen commented on #666
I can confirm that this is now happening on my machine as well; so I will hopefully be able to figure this out shortly.

[2020-11-23 09:22] vegardlarsen commented on #667
Thank you for reporting this. I am assuming this has the same cause as #663 and #666. PLease let me know if that is note the case. Closing this as a duplicate.

[2020-11-23 09:22] #667 closed

[2020-11-23 09:30] vegardlarsen commented on #664
Wow, that is quite the setup. Can you send me the log files from when it crashes? You should be able to find them in `%AppData%\MaxTo\maxto<date>.log`?

[2020-11-23 09:37] emanborg commented on #664
Hi Vegard,

It crashes as soon as I click on the icon to set positions, even with new
config it does the same.

Note it used to work when the top 2 monitors were set sideways on the left
hand side of the 3x 4K monitors but now that I changed layout it stopped
working

logs attached

*  Eman Borg*

[image: LogicPassSimplyifinyTechnol] <http://www.logicpass.com/>

*LogicPass Ltd*

*Mimosa Street,**G

[2020-11-23 09:39] vegardlarsen commented on #664
@emanborg Unfortunately, attachments do not survive when you respond via e-mail on Github. Please upload them on the website, or e-mail to support@maxto.net if you fear they may contain sensitive information. :)

[2020-11-23 09:42] Michael5122 commented on #663
Hello Larsen!
thanks for ur support,
- No, this is not the last known position, i have resized it manually many times with the hope that when gets ungry will go back to a bigger window, it keeps turning back in that small one.
- No also to the second thought, usually, after restarting my pc, for a couple of movements works fine. Then when I change region it turns to the small one.
- No also to the

[2020-11-23 09:46] Michael5122 commented on #663
let me know if you want a skype call to see the issue, or if i can help you in anyway.
My skype ID is name.surname (like my email).
Regards

[2020-11-23 10:53] vegardlarsen commented on #664
After receiving logs from @emanborg via e-mail, it is clear that this is a duplicate of #631. Closing this issue.

[2020-11-23 10:53] #664 closed

[2020-11-23 12:26] Eugene847 opened #669 "Different region setting for virtual desktop dont work"
When I try to set different region on the virtual desktop as for the 1st desktop It dont work.
Example:
1st desktop should have two regions with 40%/60% horicontal split.
2nd desktop (virtual) should have three regions with other splits of each region.

I use only one physical monitor.
In the settings > monitor > virtual desktops the setting "use different regions on any virtual desktops" (transla

[2020-11-23 14:51] vegardlarsen commented on #669
Can you please attach your log files? `%LocalAppData%\MaxTo`

[2020-11-23 15:17] Eugene847 commented on #669
Hi, what is the name of the log files, in the folder I can not find *.log file or something what looked like a log file.
Thanks for help

[2020-11-23 15:18] vegardlarsen commented on #669
I apologize. I meant to type `%AppData%\MaxTo`. Sorry about that. :)

[2020-11-23 19:54] BlackOpzFX commented on #666
Can verify that 2.1.0 Works. I have a 'TV' PC that hasn't been restarted for weeks. 2.1.0 is still installed and works PERFECTLY with Chrome. Hopefully, we'll get a fix for the current version soon. Ver 2.1.2 is sitting on the machine waiting for a RESTART to Activate.

[2020-11-23 20:28] vyrru5 commented on #666
i downgrade version too, i got 2.1.0.

[2020-11-24 07:02] vegardlarsen commented on #666
This has the same cause as #663, and a fix is coming for this issue shortly.

[2020-11-24 07:02] #666 closed

[2020-11-24 07:05] vegardlarsen commented on #658
I believe issue #657 is the same as this one (in regards to Chrome not working). Closing this as a duplicate.

[2020-11-24 07:05] #658 closed

[2020-11-24 07:06] vegardlarsen commented on #663
This appears to be the same as #657, but with a different manifestation. Closing this as a duplicate.

[2020-11-24 07:06] #663 closed

[2020-11-24 07:54] Michael5122 commented on #657
Thank you,
looking forward the fix,
Michail

[2020-11-24 12:43] vegardlarsen commented on #657
This issue has been fixed for 2.1.3, which is rolling out now.

[2020-11-24 12:43] #657 closed

[2020-11-24 15:06] RhinoFox opened #670 "Installer.exe not checking path in task scheduler"
I had 2.1.1 installed in c:\Util\Maxto
When I ran MaxToSetup-2.1.2.exe it installed MaxTo in c:\Users\<xxx>\AppData\Local\MaxTo\app-2.1.2\
Because my config is in m:\....\MaxTo.config I had to copy my config file.

I noticed MaxTo won't start at Windows Start.

1. Why wasn't MaxTo installed in c:\Util\Maxto
2. Why isn't the MaxTo entry in the task scheduler not adjusted
   I did it myself to c:\Us

[2020-11-24 19:50] Mrfuyu commented on #657
Just upgraded...chrome, notepad and so on again not draggable...deleted all config, rebooted multiple times...again not working...downgraded to 2.1.0 again...problems solved...

[2020-11-24 19:56] Mrfuyu commented on #666
2.1.3 doesn't solve this for me :/

[2020-11-24 20:02] ckas10 commented on #657
Similar results with 2.1.3 and multiple un/re-installs and reboots. Nothing is draggable/snappable anymore.

[2020-11-24 21:31] Eugene847 commented on #669
Hi, the log contains some data, I dont want to share (business email, filenames i.e.). I try to create a new log and come back

[2020-11-24 22:12] Michael5122 commented on #657
same here guys... :/

[2020-11-25 06:50] vegardlarsen commented on #666
@Mrfuyu Have you rebooted your computer since the update?

[2020-11-25 07:20] vegardlarsen commented on #657
I am sorry about this. I can again consistently reproduce this with the released version (2.1.3), however when I build and run MaxTo on my machine (from the exact same source code), the issue has been fixed. I only tested this specific functionality with my local build (as we've never had this problem with the build server apparently building an older release). I am investigating what could have h

[2020-11-25 09:40] vegardlarsen commented on #657
Thank you for sticking with me. This turned out to be a difference in build configurations locally and on our build server. The problem turns out to be [Link Time Code Generation](https://docs.microsoft.com/en-us/cpp/build/reference/ltcg-link-time-code-generation?view=msvc-160), which we've had enabled for Release builds "forever", and it hasn't acted up until now. This could explain a whole host

[2020-11-25 11:07] Michael5122 commented on #657
You are invited for a Pizza & Carbonara dinner in Rome Larsen!
Thanks

[2020-11-25 11:09] vegardlarsen commented on #670
Thank you for your report. Unfortunately, the installer does not support installing in other directories than `%LocalAppData%\MaxTo`. If you have MaxTo "installed" in another folder, you've probably used the ZIP file to extract it there. To update, you will need to download the ZIP file and overwrite the existing installation. The installer does not know anything about your other "installation".

[2020-11-25 11:09] #670 closed

[2020-11-25 11:10] vegardlarsen commented on #657
Grazie mille! :) I am assuming everything works for you now?

[2020-11-25 11:19] Michael5122 commented on #657
YESS!!!  I hadn't checked that before! thank youuuuuuu!
I have a very large screen and really love the SW
the past week was a mess,
again thank you very much! now all fine.
Michail

[2020-11-25 13:00] RhinoFox commented on #670
maybe e feature request?!?

[2020-11-25 15:24] ckas10 commented on #657
Beauty. Thank you!

[2020-11-25 17:20] BlackOpzFX opened #671 "Ver 2.1.4 - Chrome/Opera Bugs - Maximize"
.

[2020-11-25 17:23] #671 closed

[2020-11-25 17:50] mja09006 opened #672 "Sign... I wrote issue #657 - Chrome and other apps working but now Windows Explorer is NOT"
**Describe the bug**
2.1.4 update fixes chrome, windows notepad and other applications but now the issue changed over to Windows File Explorer, which previously WAS working.

**To Reproduce**
1. Open a window from File Explorer
2. Click on the top of the window to move the window.
3. Able to move window but it will not turn transparent or snap to any other window/region/screen edge.

**Expected be

[2020-11-25 21:30] Mrfuyu commented on #672
I have exactly the same issue now :D

[2020-11-26 14:16] vegardlarsen commented on #672
@mja09006 Can you e-mail me at support@maxto.net so I can set you up with a test build that hopefully fixes the problem?

[2020-11-26 19:29] mja09006 commented on #672
This is mja09006 btw Sent from Mail for Windows 10 From: Vegard Andreas LarsenSent: Thursday, November 26, 2020 9:17 AMTo: digitalcreations/MaxToCc: mja09006; MentionSubject: Re: [digitalcreations/MaxTo] Sign... I wrote issue #657 - Chrome and other apps working but now Windows Explorer is NOT (#672) @mja09006 Can you e-mail me at support@maxto.net so I can set you up with a test build that hopefu

[2020-11-27 06:33] gsrodrigostadler commented on #669
I am able to share my log file, maybe that will help, since I have the same problem. I am not sure if it was the update to Windows 10 20H2 or the update to MaxTo 2.1, since I did both the same day.

Log File:
[code]

[2020-11-27 10:48] vegardlarsen commented on #669
@gsrodrigostadler Unfortunately, the log file does not contain any related messages.

I get suspicious when you've had a Windows Update the same day, however. Could you do a file system search inside `%LocalAppData%\Packages` for "MaxTo" or "DigitalCreations" or see if you come up with any hits? (This was the case with issue #415, where Windows created wrong "copies" of our DLLs, and it happened a

[2020-11-27 11:36] vegardlarsen commented on #670
I will keep this in mind when we switch out the installer, but I don't think a custom install location will be very high on my list of priorities (if that is something we can decide at all).

[2020-11-27 12:46] gsrodrigostadler commented on #669
@vegardlarsen I found only the following file:
`AppData\Local\Packages\Microsoft.Windows.Search_cw5n1h2txyewy\LocalState\AppIconCache\100\com_squirrel_MaxTo_MaxTo_Core`
found no file for DigitalCreations.

[2020-11-27 15:31] RobvanB opened #673 "High CPU usage"
Recently MaxTo seems to be using quite a bit of system resources.

MaxTo 2.1.4
Windows 10
Dell XPS 13 with external monitor

![maxtoCPU](https://user-images.githubusercontent.com/118380/100464502-b9c9b400-309b-11eb-8628-2243bc2779a3.jpg)

[2020-11-27 16:39] DCGphos opened #674 "Don't work"
Hi

I purchased software today, but option drag don't work on my computer, when i move window don't show me option to put on one space

**Drag
Put any window into a region by holding Shift while dragging.**

Edition	Windows 10 Pro
Version	20H2
Installed on	‎25/‎11/‎2020
OS build	19042.630
Experience	Windows Feature Experience Pack 120.2212.31.0

Device name	WorkStation64
Processor	AMD Ryzen 7 3800

[2020-11-27 17:25] vegardlarsen commented on #673
@RobvanB Restarting MaxTo should reset it temporarily. Then e-mail me at support@maxto.net and I'll get you a preview that fixes this issue.

[2020-11-29 08:24] ccsRoo opened #675 "Assinging a Move Window Command to a Numbered Vitual Desktop does not work."
Greetigns,

After updating to 2.1.4 my Move Window commands that reference Virtual Desktops no longer work and they return the error "Virtual desktops are only supported on Windows 10."

My machine is running Windows 10 Pro 20H2.

The commands work fine if I set them to "Use Default (current virtual desktop)", but setting to any of the other vitrual desktop  options returns the same error.

I copp

[2020-11-30 08:56] #672 closed

[2020-11-30 08:56] #673 closed

[2020-11-30 09:34] vegardlarsen commented on #675
Hi @ccsRoo, thank you for creating your issue. This has the same root cause as issue #669, so I am closing your issue as a duplicate of that.

[2020-11-30 09:34] #675 closed

[2020-11-30 12:32] vegardlarsen commented on #674
Thank you for your report. Does this happen to any program, even simple ones such as Notepad? Does it persist after a reboot? Are you holding down Shift?

[2020-11-30 17:21] DCGphos commented on #674
Good morning gentlemen
The problem solved by holding down the shift key, thank you for your help. Where I can find information about how to use the software? I appreciate your help.
Thanks
DCG

[2020-12-01 09:53] vegardlarsen commented on #674
Great. We do have [documentation](https://docs.maxto.net) available, but please do let us know if there is anything in particular you would like to be covered.

[2020-12-01 09:53] #674 closed

[2020-12-02 08:29] rserbitar commented on #326
I still ahve this problem with verison 2.1.5. Constnatly using 7% CPU. Thats not good.

[2020-12-02 08:31] vegardlarsen commented on #326
@rserbitar Can you make a screenshot of Task Manager? Anything in your log files that would indicate what MaxTo is doing?

[2020-12-02 09:59] vegardlarsen commented on #669
I think I have a solution to this issue. It involves downloading and placing these two files inside the MaxTo install directory `%LocalAppData%\MaxTo\app-2.1.5`. [Files are here](https://sky.vegard.name/s/WmiaaHo7NosgndS).

These were files we don't ship with MaxTo, because they previously weren't necessary. I guess that changed at some point.

After placing those files, delete the folder in `%Loc

[2020-12-03 00:07] #596 closed

[2020-12-03 02:55] Fearloathing commented on #384
What was the solution for this? I paid for maxto and can't download it at all. It worked on my last pc and this one is giving this exact error.

[2020-12-03 07:09] rserbitar commented on #326
[
![maxto](https://user-images.githubusercontent.com/8320468/100975778-d6079e00-353e-11eb-8c04-6ec455bbeca0.PNG)
](url)

[2020-12-03 07:14] rserbitar commented on #326
Ah, seems like ive been running 2.1.4 still. It was updated to 2.1.5 but I did not restart, yet. Restarting with 2.1.5 solved the issue.

[2020-12-03 08:55] vegardlarsen commented on #326
@rserbitar Great! :)

[2020-12-03 08:57] vegardlarsen commented on #384
@Fearloathing If MaxTo has been installed already (which happens frequently, due to the fact that the installer does not have a user interface, and running the installer twice in quick succession will produce this error), you should just be able to search for MaxTo and run it. If it hasn't been installed properly, you need to:

1. Uninstall your current version of MaxTo.
2. Reboot (do not skip thi

[2020-12-04 09:01] Eugene847 commented on #669
Dears,
for me it works now with the new dll files vegardlarsen provide.
Thanks for the great support.

best regards

[2020-12-04 09:05] vegardlarsen commented on #669
@Eugene847 Great. Then this will be the official workaround for now, until we can get a new version out which fixes the problem. I've made quite a bit of progress replacing the library that causes this issue in the last few days; with the downside that we may not support older versions of Windows than Windows 10 version 1709. I am thinking that this change will be in 2.2 and not a patch release fo

[2020-12-04 13:33] vegardlarsen commented on #631
@andrejohansson Any updates on this on your end?

[2020-12-06 15:11] BenDavidson90 commented on #669
Hi, same bug here.
MaxTo 2.1.5 installed today, latest Windows 10 update (20H2 19042.630). The workaround with the 2 DLLs works fine.

[2020-12-07 07:59] bantour opened #676 "Transparency is not removed. When you move the window, it changes its size."
1. When dragging the window border (resizing), the window becomes semi-transparent and remains so until the "Maximize" button is clicked.

https://vimeo.com/487993819/2bc03db3c0

2. When you move the window, it changes its size.

https://vimeo.com/487994452/1dd4928c19

After closing "MaxTo" (this can only be done by killing the process), new windows are created without the described defects.

**Sy

[2020-12-07 15:29] vegardlarsen commented on #676
@bantour Thank you for this report. I've had this report about Notepad++ from other people privately, but I have not been able to reproduce the issue (until now). I have Notepad++ v7.9.1 (32-bit) running locally, and it does not happen here (Windows 10 20H2). You are running a very old version of Windows 10 (2 years old at this point). This could be a contributing factor, so if updating your Windo

[2020-12-07 15:50] bantour commented on #676
Hi,
I can reproduce this error with another app, such as Skype.
Andrey Banturov

El lun, 7 dic 2020 a las 16:29, Vegard Andreas Larsen (<
notifications@github.com>) escribió:

[2020-12-08 08:33] bantour commented on #676
I have updated Windows. It didn't help.

[2020-12-08 14:50] podgfreak opened #677 "unable to download new versions of max to."
I have uninstalled maxto but I cannot download new version. I believes there is a current version running i believe.
   Please fill in as many details as you can.
   Text in comments (

**Describe the bug**

**To Reproduce**

1.
2.
3.
4.

**Expected behavior**

**Screenshots**

**System information:**
- Windows version:
- MaxTo version:

**Additional context**

[2020-12-08 14:52] vegardlarsen commented on #677
Do you mean that you cannot install the downloaded version? If you send me the log file I would assume it says something along these lines: `IEnableLogger: Failed to remove existing directory on full install, is the app still running???: System.UnauthorizedAccessException: Access to the path 'C:\Users\%username%\AppData\Local\MaxTo\app-2.1.5\MaxTo.Hook.x86.dll' is denied.`

This issue can be fixed

[2020-12-08 14:52] #677 closed

[2020-12-08 14:59] podgfreak commented on #677
It appears it is running but chrome is still not snapping to the windows

[https://drive.google.com/uc?id=1LiWxx7ih1D7SquEKyboad5ax5_nkEgT0]
[https://drive.google.com/uc?id=1MZxJFRiGipMd5zAPUBbv0Z95tyvZvVvF]
[facebook]<https://www.facebook.com/granthomeloans>
[linkedin]<https://www.linkedin.com/in/grantthemortgagebroker>
Grant  Alexander

Broker/Owner

Rapid Home Finance

NMLS #796642

[https://cd

[2020-12-08 15:01] vegardlarsen commented on #677
@podgfreak Please try rebooting your computer before trying again.

[2020-12-08 15:17] podgfreak commented on #677
I did. I was able to download the 2.1.5 but it still doesnt snap

[https://drive.google.com/uc?id=1LiWxx7ih1D7SquEKyboad5ax5_nkEgT0]
[https://drive.google.com/uc?id=1MZxJFRiGipMd5zAPUBbv0Z95tyvZvVvF]
[facebook]<https://www.facebook.com/granthomeloans>
[linkedin]<https://www.linkedin.com/in/grantthemortgagebroker>
Grant  Alexander

Broker/Owner

Rapid Home Finance

NMLS #796642

[https://cdn2.hubsp

[2020-12-08 15:20] vegardlarsen commented on #677
@podgfreak Does it work on simpler applications such as Notepad? Which functionality are you trying to use (maximize button, Shift+drag)?

[2020-12-08 15:22] podgfreak commented on #677
Note pad will work. I am using maximize button

[https://drive.google.com/uc?id=1LiWxx7ih1D7SquEKyboad5ax5_nkEgT0]
[https://drive.google.com/uc?id=1MZxJFRiGipMd5zAPUBbv0Z95tyvZvVvF]
[facebook]<https://www.facebook.com/granthomeloans>
[linkedin]<https://www.linkedin.com/in/grantthemortgagebroker>
Grant  Alexander

Broker/Owner

Rapid Home Finance

NMLS #796642

[https://cdn2.hubspot.net/hubfs/53/to

[2020-12-08 16:11] alfiewild opened #678 "Windows snapping just below taskbar"
**Describe the bug**

When snapping a window, for instance Excel, the bottom of the window snaps below the task bar. In the case of excel it means that you are unable to click on new tabs within workbooks. This sometimes resolves itself after a reboot, but seems to randomly happen after that.
**To Reproduce**

1. Open a new window (Can confirm this behavior on at least Excel and Chrome)
2. Snap it

[2020-12-09 00:07] #642 closed

[2020-12-09 00:07] #641 closed

[2020-12-09 12:04] BenDavidson90 opened #679 "Windows doesn't fill all space"
**Describe the bug**
Windows doesn't fill all dedicated space when maximized whatever the application. There are empty space between left and right borders of each windows where we see desktop wallpaper (purple bars in my screenshots).
Tried with all snapping settings (window edges, region edges, monitor edges) with no result.

**To Reproduce**
1. Make two zones (left: 1281x1400, right: 2159x1400)

[2020-12-09 13:26] vegardlarsen commented on #679
On your machine, does this also happen with other programs. I like to test this with Notepad, as it is the simplest program around.

[2020-12-09 13:28] vegardlarsen commented on #678
This is unfortunately a known issue. It relates to how Windows refuses to give MaxTo updated information about the size of the working area (which is the area that the taskbar doesn't cover) until the taskbar is moved or changes size. You can move the taskbar to another location and back (or resize it), and MaxTo should pick it up immediately.

[2020-12-09 13:28] #678 closed

[2020-12-09 13:30] vegardlarsen commented on #677
If you drag Chrome around, does the Chrome window become transparent?

[2020-12-09 13:58] blendtuts opened #680 "After defining regions and saving, regions resize on their own"
Hi! I was looking into creating a window setup with specific measures, as I need to record a region of my screen and I need that region to be recorded to measure 1920x1080. For that to happen, the region itself has to be slightly bigger, to account for the Windows header and window borders (1922x1111 is what was giving me good results).

The issue comes when I set up the regions, apply them, and t

[2020-12-09 14:00] BenDavidson90 commented on #679
Yes, it's the same with other programs.
Like I said I tried with several applications (including Notepad first, I thought the same thing as you: if the simplest program has the problem then the problem exists 😄).

[2020-12-09 14:04] vegardlarsen commented on #680
Unfortunately, we are aware of this issue, and we've compensated for it as much as we can with the current limits of the underlying tech stack.

My suggestion for you, would be to create the main region a bit larger than what you intend to use, so you have a bit of padding on each side of the 1922x1111 window you need, and then use a recipe to place the window into an exact position, using the [`w

[2020-12-09 14:08] vegardlarsen commented on #679
Does the problem go away if you turn on "Show accent color on the following surfaces: Title bars and window borders" in Windows settings, under Personalization, Colors?

![image](https://user-images.githubusercontent.com/436508/101640109-60b13700-3a30-11eb-91af-1dc42a2c285c.png)

[2020-12-09 14:31] podgfreak commented on #677
No it is not transparent when dragged

[https://drive.google.com/uc?id=1LiWxx7ih1D7SquEKyboad5ax5_nkEgT0]
[https://drive.google.com/uc?id=1MZxJFRiGipMd5zAPUBbv0Z95tyvZvVvF]
[facebook]<https://www.facebook.com/granthomeloans>
[linkedin]<https://www.linkedin.com/in/grantthemortgagebroker>
Grant  Alexander

Broker/Owner

Rapid Home Finance

NMLS #796642

[https://cdn2.hubspot.net/hubfs/53/tools/email

[2020-12-09 15:32] BenDavidson90 commented on #679
Sort of. The borders replaces the empty space (but the border are only displayed on the active window). It's as if your application constantly takes the borders into account even if they're not there.

[2020-12-10 00:08] #631 closed

[2020-12-10 03:42] 5118Python opened #681 "I changed my windows user name, I can't install and update!"
I changed my windows user name,  I can't install and update, because user name directory in c:\users cann't be found!

<details>
   <summary>Squirrel install log</summary>
   Contents of file:

[code]
</details>

[2020-12-10 17:35] lucaslink opened #682 "Chrome, Chromium & Electron apps no longer 'snap'"
**Describe the bug**
Chrome, Chromium and Electron apps no longer snap to other windows or to set regions.
This is a new (for me) behavior after upgrading MaxTo to 2.1.2.717 and Chrome to v87.

**To Reproduce**

1. Open Chrome
2. Move or resize window in attempt to snap it to other windows or regions

**Expected behavior**
Windows snap to other windows or regions

**System information:**
- Windows

[2020-12-11 00:08] #625 closed

[2020-12-12 08:05] jaystarkey opened #683 "Certain windows remain in semi-transparent state after drag and release."
**Describe the bug**
Window drag and release causes certain applications, including Microsoft Outlook of Microsoft Office 365, to remain semi-transparent.

**To Reproduce**
Drag certain windows with left mouse click and drag, reliably Microsoft Office 365 Outlook but also happened with certain settings windows (not sure which ones), and release.  This will result in the window remaining 50% transp

[2020-12-14 11:18] vegardlarsen commented on #683
Thank you for reporting your issue. This is a duplicate of #676, and I am therefore closing this issue.

[2020-12-14 11:18] #683 closed

[2020-12-14 11:25] vegardlarsen commented on #682
@lucaslink Can you please try upgrading to the latest version of MaxTo (2.1.5) before retrying?

[2020-12-14 11:29] vegardlarsen commented on #681
The error you are experiencing seems to be from the fact that MaxTo is already running when you are running the installer. I would recommend to do the following if you are still having issues:

1. Uninstall MaxTo.
2. Reboot your computer.
3. Install MaxTo again, taking care to only run the installer once.

Please let me know how that works for you.

[2020-12-14 11:38] vegardlarsen commented on #679
OK, I understand. This is weird, as we specifically ask Windows for the sizes of these invisible borders, and adjust for them. I am currently running the exact same Windows and MaxTo builds as you are, and the edges align perfectly here.

I am assuming you've rebooted since experiencing this?

[2020-12-14 11:39] vegardlarsen commented on #677
Do the hotkeys work (Windows+arrow keys)? Is Chrome running as Administrator?

[2020-12-14 14:19] podgfreak commented on #677
Windows and arrow keys work

[https://drive.google.com/uc?id=1LiWxx7ih1D7SquEKyboad5ax5_nkEgT0]
[https://drive.google.com/uc?id=1MZxJFRiGipMd5zAPUBbv0Z95tyvZvVvF]
[facebook]<https://www.facebook.com/granthomeloans>
[linkedin]<https://www.linkedin.com/in/grantthemortgagebroker>
Grant  Alexander

Broker/Owner

Rapid Home Finance

NMLS #796642

[https://cdn2.hubspot.net/hubfs/53/tools/email-signature

[2020-12-14 14:49] lucaslink commented on #682
@vegardlarsen that fixed it! thanks!
new issue that was introduced with 2.1.2.717 and persists with 2.1.5 is a 1-2px gap between windows and monitor edges.

[2020-12-14 15:07] vegardlarsen commented on #682
Please see issue #679 for the gap issue. We are not sure what causes it yet. I am closing this one as it has been solved.

[2020-12-14 15:07] #682 closed

[2020-12-14 19:38] jaystarkey commented on #676
I don't think my issue is an exact duplicate, because it does not affect notepad or skype, and it does not return to normal with maximizing (the only thing that returns it to normal is reopening).

Also, I have a different (newer?) version of Windows 10 than the other user.

[2020-12-19 00:09] #655 closed

[2020-12-20 00:08] #624 closed

[2020-12-23 18:42] Connormgs opened #684 "Dragging the settings window is EXTREMELY slow with cursor lag"
**Describe the bug**
When you open the settings window and attempt to drag the window your cursor will go extremely slow and the window will slowly drag itself over and you can't interact with the window in any way until it is completed.

**To Reproduce**

1. Install maxto
2. Open the settings window
3. Attempt to move the window

**Expected behavior**
Window should move with the same speed as the

[2020-12-28 19:11] metronom72 commented on #669
the same issue.

[2020-12-30 02:55] relaytheurgency opened #685 "Windows maximize behind taskbar"
When MaxTo regions are active and I maximize a window within a region the edge of the taskbar is ignored. Windows instead maximize to the bottom of the monitor. This seems to persist after a reboot. Resizing the taskbar (a fix suggested in closed issues) does not fix the problem. This makes a lot of applications inconvenient to use.

![image](https://user-images.githubusercontent.com/3387456/10332

[2020-12-30 15:50] relaytheurgency commented on #685
I've verified that I have the same problem using the similar feature in DisplayFusion, so it's likely some behavior within Windows. Potentially there is some setting that I have enabled/disabled. I'd appreciate it if you have any tips for what to look at.

[2020-12-30 16:02] mmmmmtasty opened #686 "Unable to use region editor over RDP"
Hi

There are a few issues that are standing in the way of me (and my colleagues) making proper use of this tool related to how poorly it works over RDP (Microsoft's native Remote Desktop Protocol) currently. They totally seem like fixable issues though and will also benefit anyone else using remoting protocols. I'm creating separate issues for them to help tracking.

**Describe the bug**
  -  Whe

[2020-12-30 16:03] mmmmmtasty opened #687 "Region editor does not work over RDP"
Hi

There are a few issues that are standing in the way of me (and my colleagues) making proper use of this tool related to how poorly it works over RDP (Microsoft's native Remote Desktop Protocol) currently. They totally seem like fixable issues though and will also benefit anyone else using remoting protocols. I'm creating separate issues for them to help tracking.

**Describe the bug**
  -  Whe

[2020-12-30 16:36] relaytheurgency commented on #685
I've now discovered that my Windows installation has not actually updated for some time due to my disk not having an MSR partition. I'm going to do a clean installation of Windows and hopefully this will no longer be a problem.

[2020-12-30 16:36] #685 closed

[2021-01-02 20:18] cwgabel opened #688 "PATH environment variable changed to include MaxTo but lost nvm-windows path location"
New install on Windows 10.  Only installed Chrome with this fresh install, then nvm-windows, then MaxTo.

**C:\Users\cw>nvm**

Running version 1.1.7.

Usage:

  nvm arch                     : Show if node is running in 32 or 64 bit mode.
  ....
  nvm version                  : Displays the current running version of nvm for Windows. Aliased as v.

**C:\Users\cw>path**
PATH=C:\WINDOWS\system32;C:\W

[2021-01-04 07:44] vegardlarsen commented on #688
Thank you for reporting this issue. It is likely caused by the fact that `Environment.GetEnvironmentVariable("PATH", EnvironmentVariableTarget.User)` will replace all other environment variables in the `PATH` before returning it; so that we don't really know what the `PATH` was before we started. We try to compensate for this, by reversing the replacement of environment variables (I can't say exac

[2021-01-04 08:29] vegardlarsen commented on #685
Thank you for your issue. I was away on vacation, but feel free to re-open it if the issue should return.

PS! This issue is curable by moving the taskbar (you may have to right-click and "unlock" it first), and then moving it back. This signals MaxTo to reload the regions from scratch.

[2021-01-04 08:34] vegardlarsen commented on #686
Thank you for writing. I am aware of the general performance issues with these windows, and they are not specific to RDP sessions (but may very well be worse over RDP). I am assuming that DWM crashes on the remote machine, not the RDP client machine, when this happens?

Version 1607 LTSB is end-of-servicing, but I will attempt to investigate this on 1909 and higher.

Can you please attach [the log

[2021-01-04 09:00] vegardlarsen commented on #669
@BenDavidson90 @metronom72 Did you try the workaround above?

[2021-01-04 09:49] #687 closed

[2021-01-04 10:08] vegardlarsen commented on #684
We are aware of this issue, but we have not yet been able to figure out exactly what is causing it. It doesn't happen on all machines, but we have reports that it may be even slower when running over RDP with multiple monitors connected.

[2021-01-04 10:37] mmmmmtasty commented on #686
Hi, I don't see DWM crash, I see MaxTo itself go to "Not Responding" after I click on it and get the offer of closing it. DWM is sat at 100% CPU until that happens though. Even waiting forever in the hope that the region editor loads properly doesn't result in a window that I can actually interact with.

You are correct though that everything I am describing is happening on the remote workstation,

[2021-01-04 12:39] vegardlarsen commented on #687
For future reference, this was a duplicate of #686.

[2021-01-04 12:46] vegardlarsen commented on #686
This seems absolutely like the same issue as #684, however yours is so slow that it could be possible to deduct some information from it. Performance inversely correlated with the total resolution, and the fact that DWM pegs the CPU, strongly indicates that something is wrong with our DWM implementation. I have a suspicion here; what is the exact build number when you run `winver`?

My suspicion h

[2021-01-04 13:12] mmmmmtasty commented on #686
The issue that you link to is using 20H2 though which is as new as it comes. I do also see slow interactions when clicking around in the settings app, when I drag it around it is quick, but only because I render only the outline of the window when dragging for speed improvements.

The version number is: 10.0.14393

This does still happen on 1909 though (marginally better performance I would have t

[2021-01-04 18:21] Connormgs commented on #684
I have two monitors on my system with an Nvidia GPU, not using RDP. Any log files I might be able to grab or additional system information that could help you out?

[2021-01-05 03:50] relaytheurgency commented on #685
As stated, the issue unfortunately wasn't resolvable by moving the taskbar. I discovered the root of the issue was running MaxTo alongside Virtual Display Manager. I was running VDM for the full-screen feature that MaxTo doesn't offer. Uninstalling VDM solved the issue, but I've chosen VDM for the full-screen features in the end.

[2021-01-05 14:03] vegardlarsen commented on #684
@Connormgs Not that I am aware of at this time. This is quite confounding, as it isn't really slow on all machines, but I have seen this happen myself, but I haven't been able to catch it properly under a profiler, so I don't know what causes it.

[2021-01-06 10:29] Xairoo opened #689 "Cinema 4D window resizes when using mouse wheel"
**Describe the bug**
Cinema 4D (R20, 21) window gets moved to a MaxTo region when using the mouse wheel.
If it's in the new region, it won't happen again. I have to max it to the whole screen to get this bug again.

**To Reproduce**
- Cinema 4D default config.
- Max Cinema 4D window to the whole screen, than use the mouse wheel inside Cinema 4D.

**Expected behavior**
Window should stay maxed.

**

[2021-01-12 01:02] rooby opened #690 "Installation documentation is gone"
**Describe the bug**
There used to be installation documentation, e.g. https://maxto.net/documentation/installing/zip that now redirect to the documentation home. Looking at the documentation menu items there isn't anything that is obviously install instructions.

**To Reproduce**
Go to https://maxto.net/documentation/installing/zip

**Expected behavior**
The documentation for installing is there.

[2021-01-12 09:26] berndmaierhofer opened #691 "Installation fails"
I just ordered and installed MaxTo MaxToSetup-2.1.5.exe (Stable) but failed.
I tried the MSI Package, but failed too.

Win10 Pro German
Log below:

2021-01-09 10:22:53> Program: Starting Squirrel Updater: --install .
2021-01-09 10:22:53> Program: Starting install, writing to C:\Users\BM\AppData\Local\SquirrelTemp
2021-01-09 10:22:53> Program: About to install to: C:\Users\BM\AppData\Local\MaxTo
20

[2021-01-12 10:01] vegardlarsen commented on #691
Hi @berndmaierhofer,

and thanks for writing. This is unfortunately a known problem with our installer. What usually happens is that you either run the installer twice, which is easily done because the installer does not present a user interface and it can take quite a while before MaxTo is running, or because you ran the installer when MaxTo was already running.

In most cases, MaxTo will already

[2021-01-12 10:01] #691 closed

[2021-01-12 10:08] vegardlarsen commented on #690
Noted. This is something that I am hoping to add back in at some point.

[2021-01-13 01:56] shie-erlich commented on #669
workaround works for me!

[2021-01-13 16:44] jaystarkey commented on #676
Just FYI, I updated from Windows 10 1909 to 20H2 and the problem resolved.  I had to manually check for an update for the option to update to appear.

[2021-01-14 00:40] #680 closed

[2021-01-14 21:32] rooby commented on #690
@vegardlarsen In the meantime, are you able to post the installing and running from zip instructions here?
Just unzipping and then running the executables doesn't seem to work.

[2021-01-15 20:43] NiggDiggerBrixx opened #692 "Discord Compatibility"
**Describe the bug**

Discord is not recognised by MaxTo.

**System information:**

- Version 2004 (OS Build 19041.685)
- MaxTo version: 2.1.5

**Additional context**

As this is my first attempt to report issues with this software, and the fact that I just installed and tried it for the first time. Regarding attempts to fix this issue by myself, I have nothing further to add at this present time.

[2021-01-20 00:40] #681 closed

[2021-01-20 00:40] #679 closed

[2021-01-20 15:22] vegardlarsen commented on #692
@NiggDiggerBrixx I apologize for the slow response to this. Discord (in the latest version) seems to work well on my machine with MaxTo. The window becomes transparent when dragging, and reacts correctly to maximize events. Have you tried rebooting?

[2021-01-21 06:30] repentsinner commented on #684
Can confirm that this reproduces here with MaxTo 2.1.5

Windows:
Edition	Windows 10 Pro
Version	20H2
Installed on	‎7/‎22/‎2020
OS build	19042.746
Experience	Windows Feature Experience Pack 120.2212.551.0

NVidia P6000 on 430.86 (a little behind, will update and report back)

[2021-01-21 06:37] repentsinner opened #693 "Sunsama compatibility"
The Sunsama desktop app (https://app.sunsama.com/desktop) does not honor any of MaxTo's regions when maximizing via the maximize button in the window title bar. It _does_ appear to honor the region if I double-click on the window title bar, however.

**To Reproduce**

1. Install the Sunsama Windows desktop app
2. Click on the maximize button in a region, the app maximizes to the whole display inst

[2021-01-21 14:28] vegardlarsen commented on #693
@repentsinner Does the application go to the correct region when you hold Shift while moving it? Does the problem still occur after a reboot?

It sounds strange that there should be different behavior for double-clicking and using the maximize button, as they normally map to the same underlying behavior.

[2021-01-21 16:51] repentsinner commented on #693
Hi @vegardlarsen, yes the application goes to the correct place when holding shift and moving (didn't know about that capability/behavior), and the problem still occurs after a reboot.

For what it's worth, I have filed an issue with the developers of Sunsama as well and will report back here with their comments.

[2021-01-22 01:52] repentsinner commented on #693
Sunsama:

Me:

Sunsama:

[2021-01-22 07:46] vegardlarsen commented on #693
Thank you for that update. That means there really isn't anything we can do about this issue.

But thanks for the tip about Sunsama though, it looks like a cool app that I may try out myself :)

[2021-01-22 07:46] #693 closed

[2021-01-22 09:55] vegardlarsen commented on #690
Sorry for missing this earlier. It is in the Git history in this repository. [Here is the source](https://github.com/digitalcreations/MaxTo/blob/50aca3b41a72719e351d4b210ce8cb13f4cad635/1-installing/3-zip.html). If you are unfamiliar with reading HTML, you can download the file and open it in your browser and it should look reasonable.

[2021-01-22 09:58] vegardlarsen commented on #689
I apologize for having managed to ignore this for so long. Can you elaborate on what "when using the mouse wheel" means? Does simply rolling the mouse wheel trigger MaxTo to put Cinema4D into a region?

[2021-01-22 14:54] ScottBeeson opened #694 "Save & Restore window locations"
**Is your feature request related to a problem? Please describe.**
Not that I know of

**Describe the solution you'd like**
I use a laptop.  90% of the time I am at my desk, with 2 additional monitors.  When I go to a meeting and return and plug everything back in, many of my windows have moved (not all).

**Describe alternatives you've considered**
I've looked for other software solutions, but si

[2021-01-22 18:46] vegardlarsen opened #695 "Using self-made presets with regions:cycle crashes"
**Describe the bug**
MaxTo crashes when executing the below recipe

[code]

**To Reproduce**

1. Import the recipe above (ensure you have the "Four Screens" preset).
2. Run it.
3. `NullReferenceException`.

**Expected behavior**
No crash.

**System information:**
- Windows version: 10 20H2 (19042.746)
- MaxTo version: 2.1.5

**Additional context**

Stack trace from log:

This produces the followin

[2021-01-22 19:04] vegardlarsen commented on #694
Thank you for your issue, @ScottBeeson. This comes up quite frequently, and its not something we will do. What you are experiencing is caused by a Windows video driver issue (as far as we can tell), and isn't really related to MaxTo (as in it happens on machines without MaxTo as well).

Remembering a window position isn't a hard problem, because each window has a window handle for as long as it is

[2021-01-22 19:41] ScottBeeson commented on #694
Yeah, definitely not a MaxTo issue. I didn't mean to imply that if I did.

Probably not. The way you are describing it it sounds like I would have to remember to click "remember open window positions" every time I need to unplug my laptop.

It's cool though. I'll try to see if there is some other utility that can do this.

[2021-01-22 19:58] #695 closed

[2021-01-22 19:59] vegardlarsen commented on #695
The cause has been located, fixed, and will be released in version 2.2.0.

[2021-01-22 22:23] NiggDiggerBrixx commented on #692
@vegardlarsen Yes. I did try it first to no avail. I later found out that I need at least MaxTo or even both processes opened with admin privileges/run as admin and now it works fine, thank god.

Thank you very much for the response and input that it indeed is functioning, anyways.

[2021-01-22 22:23] #692 closed

[2021-01-23 19:06] vegardlarsen commented on #694
That's the part I am unsure about. We do have the ability to execute a recipe when Windows is locked (which I believe happens automatically before sleep), and I assume we can also set up some sort of trigger for sleep as well. The problem is that I am not sure if those points are already too late (e.g. the windows could have moved by then already).

It does warrant some further investigation, but

[2021-01-23 19:12] vegardlarsen commented on #669
This has been fixed for version 2.2.0.

[2021-01-23 19:12] #669 closed

[2021-01-24 12:23] #598 closed

[2021-01-24 12:23] vegardlarsen commented on #598
This has been fixed for version 2.2.0, and will be in the first preview release we put out.

[2021-01-24 14:26] vegardlarsen commented on #688
Having finally had the time to investigate this a bit more thoroughly, I have found the bug in MaxTo that causes this, and the fix for it will be in version 2.2.0. It turns out we were trying to be a bit to clever and were looking up the `PATH` in the registry instead of through `Environment.GetEnvironmentVariable`, and my statement above was slightly wrong (it will sometimes replace environment v

[2021-01-24 14:27] #688 closed

[2021-01-25 10:12] vegardlarsen commented on #552
This issue with the transparency, should be OK in version 2.1.5. Please feel free to ping me @sauer-m if this is still an issue.

[2021-01-25 10:12] #552 closed

[2021-01-25 11:33] vegardlarsen commented on #686
After some experimentation, I can reproduce this in a virtual machine. Key points are that I:

- Connect through RDP
- Use all my monitors (one 4K and one ultrawide, so large total resolution)
- DWM doesn't lock completely, but it takes quite a while (multiple seconds) to display these windows.

I am trying to investigate in more detail.

[2021-01-25 13:20] vegardlarsen commented on #686
I have found that this is strongly related to the background acrylic we are applying, and removing the effect will cause this problem to be almost completely mitigated. As of version 2.2.0, we remove the acrylic effect on all of the MaxTo windows, and instead will use battleship gray where the acrylic effect used to be. When resizing regions, the gray will become partially transparent allowing you

[2021-01-25 13:20] #686 closed

[2021-01-25 13:21] vegardlarsen commented on #684
I have found that this is strongly related to the background acrylic we are applying, and removing the effect will cause this problem to be almost completely mitigated. As of version 2.2.0, we remove the acrylic effect on all of the MaxTo windows, and instead will use battleship gray where the acrylic effect used to be. When resizing regions, the gray will become partially transparent allowing you

[2021-01-25 13:21] #684 closed

[2021-01-26 17:16] Xairoo commented on #689
Yeah, using the mouse wheel typically means scrolling (the main part of the scroll wheel that people use, not using it as middle button ;-)).

Scroll up or down = Cinema 4D window will move to a MaxTo region that is at the position of my cursor.

---
Second bug, not important for most of the users: I just reset the config (again) to default, didn't helped for the C4D bug.
But saving the config.jso

[2021-01-26 23:52] aphex opened #696 "Chocolatey Support"
This has quickly become a must have for any windows machine I am using. Any chance someone can get this up on Chocolatey so I can automate the installation?

[2021-01-27 11:48] vegardlarsen commented on #689
@Xairoo Could you get me the log file from that crash? E-mail it to support@maxto.net if you are uncomfortable posting it here.

I have just now downloaded and installed Cinema 4D, and I can reproduce the issue. I am looking into it, it may be that we will have to disable specific functionality for it.

[2021-01-27 12:26] vegardlarsen commented on #689
I have figured out what is happening, and its quite weird. When you roll the mouse wheel in Cinema 4D, it resizes its own window. Specifically it will send `WM_WINDOWPOSCHANGING` messages (with `SWP_NOSIZE | SWP_NOMOVE`). Windows (not MaxTo) interprets this as if the window has been maximized, and Windows forwards to MaxTo as part of the global hook we have (`WH_CBT` and `HCBT_MINMAX`) that listen

[2021-01-27 12:26] #689 closed

[2021-01-27 13:04] vegardlarsen commented on #696
It is absolutely something that we want to support. Our long term goal is to support:

- Chocolatey
- Winget
- Microsoft Store

For all of these we would need to invest the time required to create proper support for them, and have them automatically update when we create updates.

[2021-01-27 15:47] rasmussen-andreas commented on #676
I have the same problem with the entire Microsoft office suite that windows become transparent, with makes the software unusable at the moment. Will try updating tho.

[2021-01-27 15:58] Xairoo commented on #689
Just open `%AppData%\MaxTo\config.json` in an editor (I use vscode). Reset the MaxTo recipes @ settings window and keep the MaxTo window open. Safe the config.json with your editor with the old settings. Maybe you have to save it multiple times.

Restarting MaxTo after this crash is a big pain. Stopping MaxToServer didn't helped. A reboot did.

[code]

[2021-01-28 09:48] vegardlarsen commented on #689
Thank you for the error logs. I have made a small change that may prevent this in the future; but I wasn't able to reproduce it locally. My guess is that something caused VS Code to write an invalid or empty configuration (maybe using the old deleting the file before writing it again), and MaxTo picked it up in the mean time; causing it to read an empty configuration. Since I wasn't able to reprod

[2021-01-29 16:22] Xairoo opened #697 "Escape region names"
You should escape region names.

I have 3 regions (just shorted for this example)

- Full
- 1/1
- 1460, 2380

The last name will run you into problem. Just escape the names

[code]

Should be something like:
`"presets": "'Full', '1/1', '1460, 2380'",`

[2021-01-30 07:57] jwtoler opened #698 "Installation fails on Windows 10 new install"
Never attempted to install this app before today, get this upon trying to install.

[code]

[2021-01-31 10:29] josezulu opened #699 "Startup at logon disabled, but starts up anyway"
**Describe the bug**
Startup at logon is disabled on the settings. However MaxTo starts up anyway at PC restart.
I can see that the json file has the relevant settings set to false.
I can see that the task scheduler has a task named "maxto" which is set to "ready".

**To Reproduce**
Disable startup at logon in the settings, restart computer. MaxTo still starts up.

**Expected behavior**
MaxTo shou

[2021-02-03 15:27] vegardlarsen commented on #699
@josezulu Thank you for raising this issue. Can you try deleting the Task scheduler task manually? My guess is that it was created when MaxTo was running as admin, and when you run MaxTo as a standard user it cannot delete it.

[2021-02-03 15:30] vegardlarsen commented on #698
This is unfortunately a known problem with our installer. What usually happens is that you either run the installer twice, which is easily done because the installer does not present a user interface and it can take quite a while before MaxTo is running, or because you ran the installer when MaxTo was already running.

In most cases, MaxTo will already be installed on your computer. You can search

[2021-02-03 15:31] vegardlarsen commented on #697
This should really have been an array in the JSON, not a string. This will be fixed. :)

[2021-02-05 07:59] matthiash82 opened #700 "Doesn"
**Describe the bug**

**To Reproduce**

1.
2.
3.
4.

**Expected behavior**

**Screenshots**

**System information:**
- Windows version:
- MaxTo version:

**Additional context**

[2021-02-05 08:05] matthiash82 opened #701 "Doesn't remember my regions between reboots"
Not sure when it started, but perhaps a week or two back, but MaxTo no longer remember my regions between reboots. After each reboot I need to right-click on icon in tray, select "Change regions" and then for each monitor load a preset. Once the presets are applied, everything works again. Until next reboot that is.

**To Reproduce**

1. Set up regions. They work
2. Reboot
3. MaxTo i started
4. Re

[2021-02-05 08:06] matthiash82 commented on #701
I should add that this is explicitely _reboots_. If I just quit and restart MaxTo the regions are preserved.

[2021-02-05 20:14] stylerhall commented on #698
I am also having this same issue.

When I try to uninstall MaxTo from "Add or remove programs" It fails. It says it cannot find "C:\Users\user\AppData\Local\MaxTo\Update.exe" ... That file does not exist.

Is there another way to uninstall so that I can install the tool? Thanks.

[2021-02-07 10:49] josezulu commented on #699
@vegardlarsen Thank you for the response. I was able to delete the task manually. Now MaxTo doesn't run any more at longon time.

[2021-02-07 10:49] #699 closed

[2021-02-07 17:52] #700 closed

[2021-02-07 17:52] matthiash82 commented on #700
Duplicate

[2021-02-08 09:48] vegardlarsen commented on #698
@stylerhall In that case, MaxTo does not appear to be installed at all, and you should be able to just reboot, and then run the installer again.

[2021-02-08 10:02] vegardlarsen commented on #701
@matthiash82 Thank you for your issue. I would hazard a guess that you either updated Windows or your video card drivers around that time? I would also guess that if you [change monitor identification in MaxTo's settings to "Number"](https://docs.maxto.net/reference/settings/monitor), it would go back to working pretty well.

Please let me know how that works for you.

[2021-02-08 10:23] vegardlarsen opened #702 "Trigger: Window shown"
**Describe the solution you'd like**
It should be possible to trigger recipes based on when windows are shown or hidden. "Window opened" (which should really be "Window created") does not trigger if the window is created hidden and then shown later.

**Additional context**
E.g. Notepad does not trigger the "Window opened" trigger today, as the window is created invisible, and then shown later.

[2021-02-09 07:48] matthiash82 commented on #701
@vegardlarsen sadly that didn't work. Regions are still lost between reboots. And logically, unless Windows for some reason report random monitor serial numbers on each boot, shouldn't MaxTo remember regions anyway after one load preset / apply?

I wonder if it is a permission problem? Can I verify somewhere where the preset information is stored?

[2021-02-09 08:32] vegardlarsen commented on #701
It could be a permission problem, or something could be deleting the settings across reboots. I've seen that happen before with "cleaner" software removing all our settings every reboot. Do you have any of those running?

Can you check your `%AppData%\MaxTo` folder and send me the contents (via e-mail support@maxto.net, or exclude the `license.txt` file if you publish it here)?

That folder contai

[2021-02-10 07:43] matthiash82 commented on #701
@vegardlarsen thank you, I have sent a mail to support@maxto.net with my configuration.

I have no custom cleaner software of any sorts installed. My machine is a pretty standard Windows 10-installation. I haven't either noticed any similar problems with other software.

[2021-02-16 12:20] vegardlarsen opened #703 "Crash when running Dashlane"
**Describe the bug**

MaxTo.Companion.x64 crashes at seemingly random times when running Dashlane.

**System information:**
- Windows version: 10 20H2 19042.804
- MaxTo version: 2.1.5

**Additional context**

[code]

[2021-02-16 13:29] vegardlarsen commented on #701
@matthiash82 Thank you for the log files. Do you have 10 different virtual desktops?

If the answer is no: can you try turning off the "Use different regions on each virtual desktop" feature (Win+Ctrl+T, look at the bottom of the Monitor tab). Then set up your regions again, and reboot. If your regions are preserved, I think I know what causes it.

Virtual desktops are not identified by numbers, b

[2021-02-16 13:40] vegardlarsen opened #704 "E_ACCESSDENIED when moving window to virtual desktop"
**Describe the bug**

Recipes that move windows to other virtual desktops fails with a cryptic error message.

**System information:**
- MaxTo version: 2.2.0-beta.1

**Additional context**

[code]

[2021-02-16 15:03] #703 closed

[2021-02-16 15:03] vegardlarsen commented on #703
This issue has been fixed, and will be in 2.2.0-beta.2.

[2021-02-17 08:36] matthiash82 commented on #701
@vegardlarsen thank you, after a few reboots now I can no longer see the problem. I do not use virtual desktops and simply disabled them. I also went back to "Serial number (default)".

Completely unrelated, but as for region presets I have noticed that they always become ever so slightly off. For example, my middle monitor is 3440x1440 and I use a region with left, middle, right. Left and right w

[2021-02-17 12:05] vegardlarsen commented on #704
This issue has been fixed for 2.2.0-beta.2.

[2021-02-17 12:05] #704 closed

[2021-02-17 12:58] vegardlarsen commented on #702
I have implemented a new "Window shown" trigger, which works well. I elected not to do the same for "Window hidden", as I can't really see the use case after thinking it through.

[2021-02-17 12:58] #702 closed

[2021-02-18 08:45] Zino49 opened #705 "Region not automatically adjust"
Hello, I have the problem that when I enlarge program-windows that are in one region, the other region does not automatically adjust, as it was in an older version. Maybe only one setting has to be made, unfortunately I haven't found it yet. Can someone help me there?

[2021-02-20 22:34] rastkov opened #706 "Swap and Move window with activate window on mouse hover"
**Describe the bug**
When using the Windows option "Activate a window by hovering over it with the mouse" the Move and Swap windows, MaxTo ignores the new window position and the previously used window (window in focus) is no longer in focus and the mouse stays in the previous position.

**To Reproduce**

1. Go To: Control Panel\Ease of Access\Ease of Access Center\Make the mouse easier to use
2.

[2021-02-21 01:06] rastkov commented on #706
I can achieve the desired result with the ingredient "Move Mouse Cursor". However, I can't seem to force from the UI to position relative to a window.
If I add the ingredient "Launch program" and use MaxTo CLI:  "mouse position /Window 50%,50%" (but I get a console window to pop up each time. And I don't see an option from the UI to tell to position relative to a window.

I still think that this s

[2021-02-21 02:39] lamrongol commented on #698
Install error occurs unless installer is executed by "Run as administrator"

[2021-02-22 12:29] rastkov opened #707 "Disable and copy options for a recipe"
I think it would be nice to have an option to disable a recipes instead to only be able to delete it and recreate it if needed later on. Perhaps a toggle button next to a recipe?

Also, I found that most of the recipes I create are similar one to another (move/swap window left/right/up/down) with minimal differences. So it might be good to have an option to create a duplicate of an existing recipe

[2021-02-22 15:33] vegardlarsen commented on #707
This is absolutely something I want to do, and I have been thinking about. This goes well with something else I want to do; namely separating default recipes from user-created recipes, which should simplify the interface around this quite a bit (and at least limit the number of recipes you see by default).

[2021-02-22 15:41] vegardlarsen commented on #698
@lamrongol Please see my comment above to see if that fixes it. "Run as administrator" will let MaxTo run with full administrator rights, which may not always be desirable.

[2021-02-22 15:46] vegardlarsen commented on #706
I am not sure that this can be considered a bug; it is more a feature of how "Activate a window by hovering over it with the mouse" works.

You should be able to [position the mouse cursor relative to a window](https://docs.maxto.net/reference/commands/mouse/position), but you need to specify which window you want it relative to. It would be something like `maxto mouse position /Position center /W

[2021-02-22 15:46] #706 closed

[2021-02-22 16:28] rastkov commented on #707
Looking forward to this. Separating default recipes and user-created makes sense.
Perhaps also a bulk import/export option so that people can make a backup of their recipes and share them more easily, rather then one by one as it is now (as far as I can tell and other than saving the config.json from AppData/Roaming).

[2021-02-23 05:00] Tusharsb commented on #698
I also bumped into the same problem. Ran the setup twice. So following @vegardlarsen 's advice I rebooted my machine, and ran the setup "As Adminstrator" only once. The setup screen seems to be running 'invisibly'. It does inserts a shortcut in my Start Menu for MaxTo. But clicking on the MaxTo shortcut gives me this
![image](https://user-images.githubusercontent.com/1430472/108803967-0b61dc00-75c

[2021-02-23 07:37] vegardlarsen commented on #705
Thank you for your issue, @Zino49. I am afraid I don't entirely understand your problem. MaxTo has never adjusted regions automatically when windows are resized, or resized other windows in that manner.

Can you try rephrasing your question?

[2021-02-23 07:40] vegardlarsen commented on #701
Sorry for not seeing this response until now.

I am aware that the sizes may "glide" off. It is indeed related to storing percentages, and:

- high DPI may mean that one device pixel != one logical pixel
- inaccuracies in WPF's GridSplitter

We are looking at this problem, but so far have been unable to determine the exact cause of this non-deterministic behavior.

[2021-02-23 13:25] vegardlarsen commented on #698
@Tusharsb A copy of [your installation log](https://docs.maxto.net/reference/settings/logs) would be helpful to determine what has happened here.

[2021-02-24 08:25] matthiash82 commented on #701
No problem, it's such a minor issue regardless :)

[2021-02-24 18:59] marklapasa opened #708 "Cannot get to change regions screen in multi-display setup"
**Describe the bug**

The app works fine on my Thnkpad X1 Carbon 1440p laptop on it's own. But when it's connected to
1) 1440p monitor (portrait)
2) 4k monitor (landscape)
3) 1080p monitor (portrait)
all at once, it refuses to launch the screen where I can customize the regions

**To Reproduce**

1. In the system tray, right-click on MaxTo
2. Select Change Regions

**Expected behavior**

**Screens

[2021-02-24 19:00] marklapasa commented on #708
I tried to uninstall and re-install. Still, the issue persists. MaxTo Keyboard shortcuts like being able to center an active window the dead center (Win + Num 5) continue to work.

[2021-02-24 19:03] marklapasa commented on #708
When I sign out and try to sign back in, MaxTo crashes. Attached here are the logs:

[maxto20210224.log](https://github.com/digitalcreations/MaxTo/files/6038251/maxto20210224.log)

[2021-02-25 01:38] marklapasa commented on #708
The workaround until this issue is resolved:

1) Disable all the other displays except for the one you want to change the regions for
2) Perform "Change regions"
3) Re-enable all the other displays (e.g. Extend desktop)

[2021-02-26 13:03] #707 closed

[2021-02-26 13:18] vegardlarsen commented on #707
I have just finished implementing this, and there is a lot to cover here:

- Built-in recipes are now saved in the configuration with simply an identifier (something like `__builtin.move.left`) and a `enabled` flag. This lets you easily turn off the built-in recipes. It will also allow us to add or remove built-in recipes at a later stage, and new ones will be automatically enabled.
- There is new

[2021-02-26 13:24] vegardlarsen commented on #707
Here's a screenshot:

![image](https://user-images.githubusercontent.com/436508/109305620-483a0700-783e-11eb-845e-f83955afa1fb.png)

[2021-02-26 15:10] vegardlarsen commented on #708
According to the logs, you are experiencing the same crash as in #631. I did provide some suggestions there.

However, the fact that this seems to be caused by a specific monitor on your machine leaves me to think that there could be something about that monitor that turns black that is the problem. One thing I'd like to check (and I know that this may be difficult considering MaxTo crashes on you

[2021-02-27 21:23] marklapasa commented on #708
@vegardlarsen here is the information you requested:

[ML: This is Lenovo Thinkpad X1 Carbon 6th Gen Laptop Display]
Friendly name: Wide viewing angle & High density FlexView Display 2560x1440
Device name: \\.\DISPLAY1
Location identifier: \{B82167EE-4DE7-11EB-AFA9-005056C00008}\0000
Serial number:
DPI (dots per inch): 96×96
Resolution: 2560×1440 @ 0, 0
Working area: 2560×1400 @ 0, 0

[ML: This is

[2021-02-28 12:21] vegardlarsen commented on #708
Thanks for that. This could be coincidence caused by disconnecting and reconnecting the monitors; but there are two monitors with the same device name `\.\DISPLAY4`. I think we can safely assume that this is because the monitors get assigned new numbers when you disconnect other monitors.

What is less likely to be coincidence, however, is that both the built-in laptop display and the Dell S2340L

[2021-02-28 15:51] marklapasa commented on #708
Went to Settings -> Monitor -> Then cycled thru Number, Properties and Serial Number.

Still the same outcome where I am unable to launch Change regions.

When I restart/signout+signin into Win10, MaxTo crashes, attached are the logs when "Properties" was last selected under Monitor.

[maxto20210228.log](https://github.com/digitalcreations/MaxTo/files/6057040/maxto20210228.log)

[2021-03-01 15:30] vegardlarsen commented on #708
In the log files, you have a crash, identified by `UCEERR_RENDERTHREADFAILURE`. This seems to be related to video driver issues and WPF; we've seen this before in issue #631. That lead us to [an open bug in WPF](https://github.com/dotnet/wpf/issues/3100).

Can you please read through issue #631, and try out the suggestions listed there and report back?

[2021-03-01 18:43] YenTsunim opened #709 "Cant use virtual desktop recipes on Windows 10"
**Describe the bug**
When I try to move a window to the next virtual desktop I get the message "Could not execute recipe
Virtual desktops are only supported on Windows 10".

I installed MaxTo on 2 different PC's with Windows 10 Pro and on both PC's I encountered this issue.

**To Reproduce**
Use the default recipe "Move window to next virtual desktop" on a Windows 10 Pro.

**Expected behavior**
Mo

[2021-03-01 19:03] vegardlarsen commented on #709
Thank you for your issue. This is a duplicate of issue #669. It has been fixed in version 2.2.0-beta.1. To upgrade, go into Settings, Updates, and set your "Release channel" to Beta, then check for updates. :)

[2021-03-01 19:03] #709 closed

[2021-03-05 00:07] #696 closed

[2021-03-06 23:06] andus58 opened #710 "PicPick Screen/Window shot program"
**Describe the bug**

A transparency issue when moving PicPick application window. The transparency stays on and makes app impossible to use. It's the best screendump application for training and generally creating user guides and inserting annotations on images. Even for modifying images its pretty damn good. I have to make sure NOT to move the window otherwise it goes and stays transparent. Coul

[2021-03-08 10:12] artesea commented on #676
Just realised that it was this bug and not some random setting within Outlook which was causing the problem for me.
For now I've just changed the setting in MaxTo under Window behavior -> Window transparency to Off.

Windows 10 Enterprise - 1903 (I know that this is end of life, but I have no control over the OS install)
MaxTo 2.1.5

[2021-03-08 15:18] vegardlarsen commented on #710
Thank you for reporting this issue. This should be easy to fix in a compatibility shim, so I am adding it to my to-do list.

In the mean-time, you should be able to disable window transparency in MaxTo's settings, and the problem should go away.

[2021-03-08 18:46] rastkov opened #711 "Console windows won't swap"
**Describe the bug**
Console windows like CMD, PowerShell and WSL won't swap with other console windows.

**To Reproduce**

1. Open multiple windows (notepad, CMD, powershell, windows explorer)
2. Try to swap between windows (cmd with powershell, cmd with notepad, etc)
3. Open two CMS windows (or two powershell windows) and try swapping them

**Expected behavior**

Console windows should be able t

[2021-03-09 23:16] andus58 commented on #710
Thanks I have disabled. I do like the transparency, I find it helpful when moving a window across multi monitor. I use Display Fusion which is very good and has screen splitters. One monitor is LG with it’s own screen app and splitters. I’ve tried Win 10 too –

… end of day I have tried a few screen splitters and after initially uninstalling MaxTo as I assumed it was interfering with Windows 10 In

[2021-03-11 15:23] vegardlarsen commented on #710
Thank you for the kind words, @andus58. Please do let me know if you should encounter any other issues. :)

[2021-03-11 15:26] vegardlarsen commented on #711
Console windows are "weird" in a way, as they do not retain the size they are resized to. Therefore, MaxTo will consider them to be outside of a region (because their sizes doesn't match exactly with the region), and won't consider them as "swappable". This should be possible to fix, and I'm adding this to the backlog.

[2021-03-11 23:15] rooby commented on #115
One possible solution could be to have a list of programs that adjust their width based on the scroolbar width.
Ideally a list that the user can modify, but it could have known problem applications as a default.
Could be a setting you could disable if you wanted to retain the current behaviour.

[2021-03-21 16:25] imlukedewitt commented on #149
I'm a FancyZones user trialing MaxTo and would love this feature. Small margins between windows help break up the chaos and make it more clear to my brain what I'm looking at.

[2021-03-21 22:41] marcbun opened #712 "1 pixel (maybe more) difference when snapping windows to regions"
1 pixel difference when snapping windows to regions

**Describe the bug**
why there is 1 pixel difference?

**To Reproduce**
1. snap any window to edge of regions
2. snap any other window to the next region

**Expected behavior**
Windows should be touching each other without any empty space between them

**Screenshots**
![image](https://user-images.githubusercontent.com/5839638/111923286-b4570600-

[2021-03-23 17:06] vegardlarsen commented on #712
I believe this issue will resolve itself if you upgrade to a more recent version of Windows. Is that an option for you?

[2021-03-24 00:57] marcbun commented on #712
I've tried on a different computer with version 2004 and the gap is still there.

[2021-03-24 01:00] marcbun commented on #712
![image](https://user-images.githubusercontent.com/5839638/112238254-8a3f4880-8c44-11eb-9daf-bf5a442c9a43.png)

these are 2 google chrome applications for example. If I zoomed it, it 2 pixels, so one for each window.

[2021-03-25 21:08] flyingwolf79 commented on #712
This is the same issue seen in #506 and #450.

Both of which have been closed with a "won't fix" notification. This is due to the Windows API and the way it handles the fancy border on windows.

My solution has been to simply use a black color for my main screen which prevents the noticeable difference between windows.

[2021-03-26 07:25] ALegkikh opened #713 "Region height is set up incorrectly after changing the monitor setup"
Hi,

I am using MaxTo v.2.1.15 and mostly is very satisfied with the software.

There is one thing that is disturbing me.

I am mostly using the notebook at work connected to a docking station and an extra-wide monitor (Samsung C49J89x). The monitor has a resolution of 3840x1080. The MaxTo is configured to use the standard "Ultra-wide three-way" region setup.

It works fine unless I take the noteb

[2021-03-27 07:31] vegardlarsen commented on #713
Thanks for writing. The issue is unfortunately known to us, and we don't have a solution at this time. The problem is related to the fact that MaxTo relies on Windows to send us a message when the working area of the screen changes (e.g. monitors are connected or disconnected), and MaxTo then immediately checks with Windows what the new working area is. What happens in this case is that Windows wi

[2021-03-27 13:52] ALegkikh commented on #713
Hi,

Thank you for your answer.

Looking forward to fixing Windows that will resolve the problem. 😁😆😂

And thank you for the the very useful software you made!

Happy Easter!

Kind regards, Alexander Legkikh

On Sat, 27 Mar 2021, 08:31 Vegard Andreas Larsen, ***@***.***>
wrote:

[2021-04-01 00:03] #705 closed

[2021-04-01 00:03] #701 closed

[2021-04-01 00:04] #698 closed

[2021-04-02 19:52] RookieKiwi opened #714 "MaxTo crashing when trying to change regions"
Hey All,
MaxTo was running perfectly until i rebooted, now whenever i try to change regions it crashes, i reinstalled and deleted the AppData folders but its still crashing, Logs attached, running Windows 10 with 3 monitors and it was working perfectly until reboot.

Windows version: 20H2 19042.870
Maxto version: latest

Steps to reproduce:
just start Maxto and click on the tray icon and it crashe

[2021-04-02 20:03] RookieKiwi commented on #714
Actually i upgraded to the beta version and it appears to of resolved the issue.

[2021-04-02 20:03] #714 closed

[2021-04-03 20:36] BillionJothi opened #715 "Slightly Inaccurate divisions on Config splits"
**Describe the bug**
Multiple inaccurate divisions of splits (slightly). On a 5120x2160 screen (in multi-monitor set-up). Have been manually adding presets to the JSON config file successfully. However, upon usage and checks, notice multiple division inaccurate.

Present setting set to split at 0.75. The on-screen resolution would result in a 3840 region & a 1280 region. Got 3837 & 1284 instead.

[2021-04-03 20:51] BillionJothi commented on #315
Second this - a shortcut to the load menu possible, which immediately applies to selection. Without having to go into the splitting UI screen. Possible just a copy of the load menu that auto applies the present & which can be enabled/opened using a shortcut.

[2021-04-03 21:04] BillionJothi commented on #328
Request for it to be toggle-ble or as the above comment to offer the option of a configurable trigger key. Moved from LG On-Screen Control to MaxTo for the reason it was enforcing regions on normal drags with no option to toggle it off.

[2021-04-03 21:17] BillionJothi opened #716 "Regions UI stays open on secondary monitor when closed on Primary monitor"
Regions UI does not close (on Secondary monitor) when closed on Primary monitor. The regions UI stays open on the secondary monitor. Loading the UI (opening it again) results in it opening again on both monitors.

As a result, could have 3-5 (unlimited) of the regions UI opened on the secondary monitor if forgotten to close it and multiple uses.

Have tested. Closing (Cancelling Changes) on the se

[2021-04-06 00:04] #708 closed

[2021-04-16 10:58] vegardlarsen commented on #716
I can reproduce this, but only when closing from the non-primary monitor.

[2021-04-16 11:01] vegardlarsen commented on #715
We are aware of this issue, and it comes up from time to time. Unfortunately, we have multiple sources of this inaccuracy, and fixing it completely is not going to happen anytime soon.

Sources of this inaccuracy:

- Different DPI modes on different screens.
- Inaccurate `GridSplitter` in WPF, would need a rewrite.
- Nested `GridSplitter` in MaxTo compounds the problem.

There are multiple other i

[2021-04-16 11:01] #715 closed

[2021-04-16 17:55] #716 closed

[2021-04-16 17:55] vegardlarsen commented on #716
This issue has been fixed and will be in the next 2.2.0-release (either beta or final release).

[2021-04-16 18:36] vegardlarsen commented on #697
I have fixed this for the next 2.2.0-release (maybe another beta, maybe final).

Just while writing this comment, I discovered that this change breaks previously correct configurations (e.g. normal preset names without commas in them will be broken), so I am reopening and will fix this as well.

[2021-04-17 12:27] xblubbx2 opened #717 "MaxTo settings window extremely slow and sluggish when dragged across screen"
**Describe the bug**
I've just installed MaxTo on a 5 days old Windows 10 and activated it using my license. When I right click the system tray icon and click on "Settings", the settings window opens. When I drag this window across the screen, the window moves extremely slowly and sluggishly. Every other window on my screen behaves just fine when dragged.

**To Reproduce**
Open the MaxTo settings

[2021-04-17 22:18] Xsteel21 opened #718 "MaxTo doesn't work with Virtual Desktops by Dexpot"
Hello,
i have installed MaxTo and virtual desktops by Dexpot (Win 10 64bit), but it seems not to work.
I cannot define different regions in virtual desktops, the regions will be the same for all desktops.
In orginal virtual desktops by Win10 it works fine, but they are uncomfortable to use.
Could you please try to verify this situation or make it work with Dexpot in future?

Thank you!

[2021-04-18 06:08] vegardlarsen commented on #697
Now it is solved. :)

[2021-04-18 06:08] #697 closed

[2021-04-18 06:10] vegardlarsen commented on #717
Thank you for writing. We are painfully aware of this issue. It should be a bit better in version 2.2.0-beta.2, which you can get by changing your update channel to "Beta" under MaxTo's settings (under Updates).

We already have at least one (#684) issue for this, so I am closing this as a duplicate.

[2021-04-18 06:10] #717 closed

[2021-04-18 06:12] vegardlarsen commented on #718
@Xsteel21 Thank you for writing. Can you try updating to version 2.2.0-beta.2? The issue with virtual desktops should be solved in that version. The easiest way to update is to change your update channel to "Beta" in MaxTo's settings (the Updates tab).

This is a duplicate of #669, so I am closing it.

[2021-04-18 06:12] #718 closed

[2021-04-18 06:42] vegardlarsen commented on #710
@andus58 Thank you for reporting this issue. I think this may be fixed in version 2.2.0-beta.2 of MaxTo. I tried downloading PicPick (version 5.1.5) today, and it does not exhibit this behavior (on my machine neither with MaxTo 2.1.5 or 2.2.0-beta.2). We did make some changes in 2.2 related to transparency, so hopefully the problem will be fixed if you update (easy way: MaxTo settings, under Updat

[2021-04-18 15:27] vegardlarsen commented on #713
I have made some small changes that could improve this in some specific cases. MaxTo listens to some events to determine when it should check if the working area has changed. Previously, it listened for `SystemEvents.UserPreferenceChanged` (limited to Desktop changes) and `SystemEvents.DisplaySettingsChanged`. I have now also added `SystemEvents.SessionSwitch` and `SystemEvents.PowerModeChanged` t

[2021-04-18 15:27] #713 closed

[2021-04-18 20:29] Xsteel21 commented on #718
Hello,

thank you für answering.

I've tested it already in 2.2.0-beta2 and it doesn't work so far with Dexpot (not Windows) virtual desktops!

I'd read #669 before…

Von: Vegard Andreas Larsen ***@***.***>
Gesendet: Sonntag, 18. April 2021 08:13
An: digitalcreations/MaxTo ***@***.***>
Cc: Xsteel21 ***@***.***>; Mention ***@***.***>
Betreff: Re: [digitalcreations/MaxTo] MaxTo doesn't work with Vir

[2021-04-19 14:01] TylerJms7 opened #719 "Regions won't change across virtual desktops."
I have 3 different virtual desktops for various work. When I change the regions on one desktop they stay the same across all of them no matter what settings I change. I have the setting "checked" that should allow different regions for different desktops.

Windows version 20H2 OS BUILD 19042.928

[config.txt](https://github.com/digitalcreations/MaxTo/files/6336595/config.txt)

[2021-04-19 17:33] vegardlarsen commented on #718
Thank you for the clarification. I apologize for misunderstanding. We cannot support Dexpot, as it does not appear to use any of the built-in Windows capabilities regarding virtual desktops. This makes it impossible for us to handle this in any good way, and considering Dexpot's userbase is so small compared to Windows, it really does not make sense for us to invest the required time and energy in

[2021-04-20 09:59] nads205 opened #720 "Citrix Workspace not snapping with MaxTo"
**Citrix Workspace 2009 v20.9.6.34 won't snap**

**To Reproduce**

1. Install citrix workspace
2. Connect to a remote workspace
3. In Preferences > Display select **Scale to fit** or **Adjust size**
4. Resize the window - it doesn't snap to any of the MaxTo regions or double click the menu bar - same result - no snapping. The window scales to the entire screen.

**Expected behavior**
Window should

[2021-04-20 18:57] thedatabuddy opened #721 "Office apps stay transparent while moving around"
Office apps like Outlook and Powerpoint are staying transparent while they are moved around.

[2021-04-20 19:17] vegardlarsen commented on #719
Please update to version 2.2.0-beta.2. The quickest way to update is to set your Update channel to Beta in MaxTo's settings (under Updates). Please let me know if the problem is still present in that version.

I am closing this as a duplicate of #669.

[2021-04-20 19:17] #719 closed

[2021-04-20 19:18] #315 closed

[2021-04-20 19:19] vegardlarsen commented on #315
This is coming in the next 2.2.0 release. You'll be able to trigger the select preset window from a recipe, and if you select a preset it will be immediately applied to that monitor. You'll also be able to pick which monitor it shows up on. The default keyboard shortcut will be Ctrl+Win+E.

[2021-04-20 19:21] vegardlarsen commented on #721
Thank you for your issue.

Do you mean transparent after they have been moved?

Have you updated to version 2.2.0-beta.2? (Update in MaxTo's settings, under Updates, by setting your Update channel to Beta)

[2021-04-20 19:25] vegardlarsen commented on #720
Thank you for reporting this. I don't have a remote workspace to test this with, so I don't think it will be possible for me to reproduce this issue.

However, if Citrix Workspace works the way I think it does (by forwarding individual remote windows as seemingly standalone windows locally, and not as a single remote desktop experience), there is nothing we can do on MaxTo's end. If the "windows"

[2021-04-20 19:33] vegardlarsen commented on #721
Closing this in favor of #676. Should be the same issue.

[2021-04-20 19:33] #721 closed

[2021-04-20 20:18] #650 closed

[2021-04-20 20:18] vegardlarsen commented on #650
This took me a while to figure out, but the issue should now be fixed for version 2.2.0.

[2021-04-20 20:20] vegardlarsen commented on #288
I am closing this as won't fix, as it appears there is nothing we can do about this issue at all.

[2021-04-20 20:20] #288 closed

[2021-04-24 18:08] TheRotag commented on #341
I just installed MaxTo for the first time (version 2.1.5) and was confused by this behavior as well. I'm surprised to see that this dates back over two years and has no activity; maybe not many people are bothered by this? Anyways, consider this an upvote for this issue (unless there's a better way to upvote, in which case please let me know and I'll gladly do that).

[2021-04-24 18:30] TheRotag opened #722 "Move window [direction] recipes not working correctly with ConEmu"
**Describe the bug**
The recipes for "Move window [direction]" (e.g. "Move window left") are not moving my window for [ConEmu](https://conemu.github.io/) as I would expect. For other windows (e.g. Notepad), they work as expected (they move the window between regions, filling the next region to the left, right, etc. However, with ConEmu, though they do move my windows, they don't seem to honor the

[2021-04-24 18:57] vegardlarsen commented on #722
Without trying this out myself (typing this on a ***gasp*** Mac), I would assume ConEmu relies on Conhost (which is the same that hosts regular console windows). Could you try out if e.g. Command Prompt or PowerShell exhibits the same behavior as you reported?

There is some special handling in MaxTo for console windows; as they really don't like being resized externally. E.g. to fit entire charac

[2021-04-24 19:07] TheRotag commented on #722
That's a reasonable theory. I just tried out both the Command Prompt and PowerShell, and both behave as expected (i.e. as Notepad does), not as ConEmu does.

You mentioned possibly needing to extend the special handling for console windows to ConEmu; is that something I could try locally via settings, or does that require a code change?

[2021-04-25 05:26] vegardlarsen commented on #711
Just as a note, this also happens if you attempt to swap Notepad and CMD, when Notepad is the focused (i.e. driving) window.

[2021-04-25 06:06] vegardlarsen commented on #711
Digging into this, this is turning into quite a more interesting case than I thought it would be. The problem here is that MaxTo compares the position of windows to the position of the region it is looking to swap windows with. Command prompt windows never match exactly with that size, so they aren't considered candidates for swapping.

To solve this, we need to tag windows that have been maximize

[2021-04-25 06:23] vegardlarsen commented on #711
After a little bit of refactoring, this logic was moved to an extension method that better handles some edge cases (with comments this time):

[code]

[2021-04-25 06:34] #711 closed

[2021-04-25 17:35] vegardlarsen commented on #722
If we are to use the same handling, that requires a code change.

Now, having tried ConEmu with MaxTo myself, I can say that version 2.2.0-beta.2 of MaxTo does not trigger this behavior (while I was able to confirm that version 2.1.5 does). You can easily update to version 2.2.0-beta.2 by setting your MaxTo update channel to Beta in MaxTo's settings.

[2021-04-25 17:35] #722 closed

[2021-04-25 18:06] vegardlarsen commented on #676
If anyone is still experiencing this issue, please try updating to version 2.2.0-beta.2. The easiest way to update is to set your Update channel to Beta in MaxTo's settings.

Please let me know if this is still the case when you are running version 2.2.0-beta.2 or later; as I believe this issue should be solved there (I have not been able to reproduce it using that version).

[2021-04-25 18:06] #676 closed

[2021-04-25 18:56] vegardlarsen commented on #137
Considering we haven't had support for Next / Previous Window in Region since version 2.0 was launched, I am closing this issue as it is no longer relevant.

[2021-04-25 18:56] #137 closed

[2021-04-25 18:57] vegardlarsen commented on #54
This is no longer relevant. The Steam client now works well with MaxTo. Closing this issue.

[2021-04-25 18:57] #54 closed

[2021-04-25 19:40] #136 closed

[2021-04-25 19:40] vegardlarsen commented on #136
First let me apologize for not getting back to you sooner. I have apparently been on vacation for the last 5 years and 3 days.

I have now finally fixed this issue. Instead of nothing happening, MaxTo will now find the region that is closest to the mouse pointer at that point.

The fix will be in the next release of 2.2.0 (may be another beta, who knows). I'll get to that in the next ~5 years or s

[2021-04-26 14:38] TheRotag commented on #722
I updated to 2.2.0-beta2 and saw no change at first, but realized my ConEmu install was out of date. I updated ConEmu as well (since I figured you probably tested this with the latest version), and that did the trick. Thanks for the help!

[2021-04-26 20:13] vegardlarsen commented on #722
Great to hear! :)

[2021-04-29 11:03] bartolialberto opened #723 "Issues with virtual desktop support on Windows 10"
**Moving a window to a different virtual desktop does not work**

**To Reproduce**

1. Use the keyboard shortcuts listed on https://docs.maxto.net/tutorial/virtual_desktops ("How MaxTo Helps")

**Expected behavior**

Selected window should move to the next virtual desktop.

Nothing is moved and I get an error message stating that virtual desktops are only supported in Windows 10, which is my o.s.

[2021-05-02 10:42] jamdev commented on #720
I have just tested this. My work is set up with a single remote desktop window.  I can move it to each region using the Windows+Arrow Keys, with one caveat, in that sometimes it goes into full screen mode. This is the default behaviour when the app is stretched over multiple monitors, which suggests that MaxTo isn't setting the regions quite right. This might be related to the +1 pixel workaround

[2021-05-11 18:49] ajrosen-rpci commented on #676
I'm running the beta, and still having the issue with Outlook. For now, I've disabled the transparency setting.

[2021-05-13 08:27] bartolialberto commented on #723
Thanks, but I think that #669 fixes only one of the two issues that I have mentioned.

I have installed 2.2.0-beta.2.

It fixes different regions in each virtual desktop but, if I am not wrong, it does not fix the predefined recipe "move window to a different desktop". Nothing happens when I execute that recipe.

[2021-05-29 04:48] andus58 commented on #710
Thx Vegard… in the end my HDD finally got fried which was an excellent opportunity to install a new WinPro10 as that key got fried too, along with an SSD. I don’t store much locally on C:, mainly the apps and I use many but everything backed up and accessed on a server. Maxto is working great now and smoothly.

Fyi the one thing I did notice was Powertoys on my previous PC version seemed to interf

[2021-05-30 06:33] nativekative opened #727 "How to maximize to fullscreen certain applications."
Hello there,
Yes i have searched but i couldn't find the solution to it.I just want mainly musicbee to maximized to full screen and after reading other post and instructions on this https://docs.maxto.net/reference/commands/window/maximize
still not able to get it work.Plz help as what commands to use?
I know another way is that by holding shift key and enabling passive mode but then i don't want

[2021-06-01 11:25] DennisKassel opened #728 "Nearly nothing works"
I am very disappointed from this app. Already short after starting the setup an exception occurred. To my surprise the software has been installed, although I had not confirmed anything.

After starting the app I had to observe, that moving the window is not possible. Instead the window is maximized and doesn't fall back into its old size.

[2021-06-02 16:38] Dev1lDragon opened #729 "Maximized window drag bug"
When window is maximized and normal screen and maximized screen have distinct widths, window jump outside of pointer and in some cases, when not careful, this window can be lost outside of viewport.

![drag-bug](https://user-images.githubusercontent.com/9211475/120517910-e05d0480-c3c8-11eb-905f-5fba51b2db75.png)
Position of pointer is marked by red dot

MaxTo: 2.1.5
Windows:  Windows 10 Pro / 21H1

[2021-06-02 17:43] vegardlarsen commented on #729
I think this is a duplicate of #650.

If you update to version 2.2.0-beta.2 (set your Update Channel to Beta in MaxTo's settings), I believe the problem should disappear.

[2021-06-02 17:43] #729 closed

[2021-06-10 10:59] wu-ricky opened #730 "How to limit specific programs to run in specific regions only？"
How to limit specific programs to run in specific regions only？
Do you have specific setting instructions?

[2021-06-10 18:26] vegardlarsen commented on #730
Hi @wu-ricky,

and thanks for writing. You need to create a recipe that targets program and puts it into the correct region after someone moves it.

I would suggest you look at [the tutorial](https://docs.maxto.net) first, and afterwards look at this [how-to guide](https://docs.maxto.net/how-to/lock-window) on how to lock a specific window into place.

[2021-06-10 18:35] vegardlarsen commented on #728
Hi @DennisKassel, thanks for writing. I am sorry you are unhappy.

You seem to have encountered some of our known issues. The issue about virtual desktops has been solved, and will no longer happen if you update to version 2.2.0-beta.2. It is available through Maxto's settings, under Update, by setting your Update channel to Beta.

We are also aware of the slow window rendering, and this has been

[2021-06-10 18:40] vegardlarsen commented on #710
That is great to hear. Closing this as the issue now appears to be fixed.

[2021-06-10 18:40] #710 closed

[2021-06-11 13:49] TheRotag opened #731 "MaxTo Settings Window Not Triggering Window Triggers"
**Describe the bug**
When attempting to target the MaxTo settings window in a recipe with any of the window-based triggers (activated, created, shown, etc.), the recipe is not triggered when the settings window is shown. If I export the commands for a recipe (sample below) and run them via command line, they correctly affect the settings window, so it is targetable in that way (e.g. `maxto window

[2021-06-14 04:48] npapandreou opened #734 "Custom recipe with same name as built in"
When creating a recipe with exactly the same name as a built-in (ex. "Move window left") there is a bug that replaces the custom recipe with the built-in and now you have 2 built-in recipes and they are not working.

[2021-06-14 08:33] D3m0l3r opened #735 "MaxTo not Wokring after Update"
Helloo,

so I downloaded MaxTo 2.2.0 and had an error installing it. Before that everything ran smoothly - Now the whole program won't start and apparently removed itself from my pc?! So when I try to start it I get the notification that the .exe has been moved somewhere else. And when I try to de-install it I get an error telling me that the "Update.exe" cant be found under AppData. I restarted m

[2021-06-14 09:33] bartolialberto opened #736 "Tray icons disappearing after update"
**Describe the bug**

The subject says it all.

After the automatic update of this morning (2.2.0) the tray icons disappeared.

By modifying the application bar configuration (select/deselect "use small buttons"), the tray icons appear again. Then after a minute or so they disappear.

By terminating MaxTo tray icons are ok. By starting MaxTo they disappear immediately.

**System information:**
- W

[2021-06-14 10:51] RhinoFox opened #737 "New default recipes don't show up on existing installs"
Thanks for the new release. You write in the release notes:
_•	There is now a new command called "Select preset" that when invoked will show you all of your presets, and allow you to pick one to be applied immediately. There is also a new recipe, triggered by Windows+Control+E, that uses this for the current monitor._

Press **Windows+Control+E,** Nothing is happening. Looking at recipies, I don't

[2021-06-14 13:34] Dev1lDragon opened #738 "Isua with excel"
When i open Excel and try to drag any open app, all other apps start to minimize, maximize, change position.
Draged app on drag jump betwen positions and dont alow to put in specific zone.

Closing excel remove bug.
Closing MaxTo remove bug.
Opening excel when MaxTo is runing bug apear.
Opening MaxTo when excel is runing bug apear.

Monitors: 2
MaxTo: 2.2.0
Windows: Windows 10 Pro / 21H1 / 19043.1

[2021-06-14 19:49] vegardlarsen commented on #738
Thank you for reporting this issue.

- Does this happen after a reboot?
- Can you get a video of this bug happening?
- Do you have any special recipes in MaxTo?

[2021-06-14 19:50] vegardlarsen commented on #737
@RhinoFox Thank you for reporting this. You can get it immediately by resetting your recipes to the defaults (not a good idea if you have many custom recipes). We will work on improving this experience for the next release.

[2021-06-14 19:52] vegardlarsen commented on #736
@bartolialberto I have heard reports of this via e-mail, but never seen this in action. I suggest:

- reboot Windows
- remove any taskbars, such as the new "News and Interests" (which basically show the weather on my machine) that arrived in Windows 10.

Please let me know if either of those solve the problem.

[2021-06-14 19:53] schkr commented on #736
Win 10 Build 21H1

[2021-06-14 19:53] vegardlarsen commented on #735
Hi @D3m0l3r, and thanks for writing. This is unfortunately a known problem with our installer. What usually happens is that you either run the installer twice, which is easily done because the installer does not present a user interface and it can take quite a while before MaxTo is running, or because you ran the installer when MaxTo was already running.

In most cases, MaxTo will already be insta

[2021-06-14 19:53] #735 closed, assigned to nobody

[2021-06-14 19:55] Dev1lDragon commented on #738
- Does this happen after a reboot?
Yes!
- Does this happen after a reinstal?
Yes!

Catched by Excel but after reboot all programs start to show same bug.

Installing version 2.1.5 resolve bug.

https://user-images.githubusercontent.com/9211475/121955360-c40d8000-cd57-11eb-85a2-da253d233c34.mp4

[2021-06-14 19:59] vegardlarsen commented on #734
I can confirm that this is happening on version 2.2.0.

[2021-06-14 20:06] vegardlarsen commented on #731
Thank you for reporting this. It appears that the window specification is a bit off, the process name cannot include `.exe`, so it would be more accurate to use `\\\\MaxTo.UI\\Settings` (this includes the weird JSON double-encoding of `\`) or `\\MaxTo.UI\Settings`.

However, the recipe still does not work after those modifications (it does however work with simpler programs such as Notepad). Let's

[2021-06-15 07:15] daniel-rabe opened #739 "Selected region setting is not loaded on windows start"
Change Region ->  select preset -> Use region

reboot

no preset selected

System: Windows 10
Monitor: philips 439p9h

MaxTo Version 2.2

[2021-06-15 07:25] daniel-rabe commented on #739
the issue is caused by the "Virtual desktops" setting @ Monitor

"Virtual desktops"-Option unchecked works like before update, the last preset is loaded on windows start

when the option is checked no preset is loaded on windows start (i changed region after checkbox toggle)

[2021-06-15 07:51] nativekative commented on #727
Hi thx for replying. I just installed windows and it is just working fine. I didn't do anything and rest of windows are maximized to specified regions as they should be and to my surprise musicbee is maximized to fullest. I didn't do any change in recipe. I was hoping to export this settings but i couldn't find how to do so.
I just assumed it must be located here with config.json?
C:\Users\usernam

[2021-06-15 09:10] bartolialberto commented on #736
Unfortunately neither of those solves the problem.

I had already removed "news and interest"; reboot has not solved.

[2021-06-15 12:02] Gappa commented on #736
Ah, so it is related to the MaxTo update :)

Temporary workaround: shutdown `explorer.exe` (via task manager) and start it again (just run `explorer.exe` from `File > Run new task`), that works for me (all the latest Win updates).

[2021-06-15 12:05] Gappa commented on #738
I have somewhat similar bug - some windows (calc.exe for example) can't be moved or only with great difficulty - it reacts only to "wild mouse movement" and then it sticks somewhere else and acts very strangely.

[2021-06-15 17:47] vegardlarsen commented on #736
I have had one customer relay to me via e-mail that in his case this was connected to the program [Core Temp](https://www.alcpu.com/CoreTemp/), and that exiting that program solved his issue. I have not been able to verify this.

[2021-06-15 17:48] vegardlarsen commented on #727
@nativekative So the problem here is that Musicbee is maximized to the entire screen? If that is the case, can you try using the keyboard shortcuts to get around the issue? E.g. try pressing Window+arrow keys to move that window into a region?

[2021-06-15 17:52] schkr commented on #736
Confirmed new update works on Win20H2 after resetting to defaults. 21H2 is
broken on my end.

On Tue, Jun 15, 2021 at 5:02 AM Pavel Linhart ***@***.***>
wrote:

[2021-06-15 19:07] Palago opened #740 "Windows stuck to invisible borders and minimizing all other windows"
Windows will not drag bast seemingly arbitrary points, sometimes it's another window's edge, and sometimes it's just random.  If you try to continue dragging it will minimize all other windows you have open

**To Reproduce**
On version 2.2.0 this happens almost any time I try to drag a window around.  I have reset to default settings and it still happens

**Expected behavior**
I can drag my window

[2021-06-15 23:39] rooby commented on #740
For me it seems to be the window snapping functionality. As you are dragging and the snap to edge is trying to reposition the window at the same time it causes the Windows 'shake to minimize all' functionality to trigger and everything minimises.
Seems to be more of an issue the larger the snap distance is.
Making snap distance 1px seems to maybe resolve it, but my preference is just to disable al

[2021-06-15 23:43] rooby commented on #668
My installation also updated itself to 2.2.0, seemingly without even telling me after the fact, which caused some new bugs (although they were fixable with some settings changes).

[2021-06-16 08:48] eikowagenknecht commented on #740
Happens to me as well since upgrading to 2.2.0. I have windows "shake to minimize" disabled, so it only snaps windows to arbitrary positions and doesn't allow me to move them any further. This is really frustrating and makes MaxTo unusable.

[2021-06-16 11:46] nativekative commented on #727
No that is not the problem...I want musicbee to be maximized,earlier it was not working like that.I tried as much as i can then i posted here.Later on i installed windows 21h1 and now musicbee is maximized without being bother about specific regioins.So all is good.I haven't done any changes n all,everything in default settings.Just i don't know how MAXTO actually responds to certain apps.
thank a

[2021-06-16 12:34] bartolialberto commented on #736
With Win21H1 it seems to work.

Thanks.

[2021-06-16 14:47] KimmoJ commented on #740
Same. Extremely annoying. When I pull windows past lines where I have maxto regions set, they glue themselves to those lines, slide up and down along those lines, other windows minimize, it's a damned mess.

I'm pretty sure I turned off auto-updating. Again. I may have turned it on at some point after being lulled into a false sense of security I guess - I won't make that mistake again I guess. Fi

[2021-06-16 14:54] therealptrk commented on #740
Same here since last Update. Extremly annoying! :/

[2021-06-16 15:40] fweb commented on #739
Fixed for me as well. Maxto 2.2.0

[2021-06-16 17:26] Palago commented on #740
Minimizing was the shaking option, didn't know that existed so thanks for pointing that out, the other issues still persist.

[2021-06-16 17:46] vegardlarsen commented on #739
I can confirm that this bug is related to the virtual desktops feature. Unfortunately my testing didn't uncover it, as it only happens after a reboot. It appears to be caused by the fact that virtual desktops gets a new GUID after a reboot, which means MaxTo no longer knows which virtual desktop this is for. This is going to be tricky to fix; if we replace the GUID by a index instead, this means t

[2021-06-16 17:47] vegardlarsen commented on #740
Can you try downgrading to version 2.2.0-beta.2 ([available from here](https://maxto.net/release/beta)), and see if the same issue is present there? That will help me figure out where we broke this.

[2021-06-16 18:01] Palago commented on #740
Still Happening on this version, no noticeable difference

[2021-06-16 20:25] vegardlarsen commented on #740
@Palago Can you go back one step further, to 2.2.0-beta.1?

[2021-06-16 20:27] vegardlarsen commented on #736
I am re-opening this at this is still an issue we need to fix.

[2021-06-16 20:28] vegardlarsen commented on #727
Thank you. In that case I consider the issue to be solved, and I am therefore closing this issue. :)

[2021-06-16 20:28] #727 closed

[2021-06-16 23:23] Palago commented on #740
@vegardlarsen Sorry apparently I'd installed it incorrectly before, just wiped the AppData/MaxTo and retried and beta.2 seems to fix it

[2021-06-17 11:56] RhinoFox opened #741 "Maxto Doesn't work after new systemstart"
After newstart of the system MaxTo doesn't snap to the regions. Even if i change presets, no region is recognized. It only sees two full-screen regions of the two monitors (different dimensions and DPI).
After exiting MaxTo and make a fresh start, everyting works fine. I experience this several times for the past week now.

When I only
logoff and logon, no problem.

Image = Logging off taskmanager

[2021-06-17 20:50] Nolsoee commented on #740
I had the same issue. Really annoying. I fixed it by going into MaxTo settings. Then window bahavior. Then under window snapping you can turn it of or on. I ended up with keeping it turned on but changed the snap distance to 3 pixels instead of 10. For me this fixed the issue

[2021-06-18 10:30] RhinoFox commented on #741
After a simple exit/restart of MaxTo, it still has no regions. But then it does respond to setting the regions. When I, after a newstart, don't give it an exit, but try to set the regions correctly and then exit/restart MaxTo, it works correctly.

It seems that after a newstart of the system, the last used regions are not kept.

[2021-06-18 11:58] lucaslink commented on #740
With all 3 snapping options checked on and pixel distance at 10, I experience similar behavior to whats mentioned above, with an additional caveat that the window gets stuck at the snapped position and can no longer be moved left or right, but only expanded horizontally.
@Nolsoee suggestion of 3px distance with only Window Edges and Monitor Edges selected returns MaxTo to expected behavior.

[2021-06-18 19:04] techbech commented on #739
Thank you, this was what I was looking for. The change was driving me mad

[2021-06-18 23:01] andus58 opened #742 "Update version 2.2.0 have to select presets on each OS startup"
**Describe the bug**
Since installing the last update, my preset selections are cleared on shutdown.
When I restart, I have to go into CHANGE REGIONS and reselect my saved preset for both monitors.

**To Reproduce**
Unable to reduce as a shutdown/restart issue.

1.
2.
3.
4.

**Expected behavior**
Expect my presets to come up automatically as before, without me having to think about it. :)

**Scree

[2021-06-18 23:44] andus58 commented on #742
NOTE this happens only on OS restart.
MaxtTo is set to autostart. Does not hold settings.
However if I exit MaxTo, and restart the app, my settings are loaded.

[2021-06-19 02:04] e46hgbcvbe45 commented on #741
Same issue for me, on each restart I need to set a dummy region the copy the content of the old monitor json in the new json to get my region back

[2021-06-19 07:11] schkr commented on #736
Were you able to duplicate, or need logs?

[2021-06-19 11:35] mclindgren commented on #740
Hi,

just wanted to write a comment saying I also noticed the same issues starting earlier this week.
I use MaxTo because I use an ultrawide monitor 3440*1440 and it makes it easier to divide the screen into three sections.

I've not had any issues before it updated to 2.2.0.

Windows 10 Home
Version	21H1
OS-version	19043.1052

***Update***
I noticed that when a window gets stuck, if I maximize wi

[2021-06-19 14:04] Torrad commented on #742
Same issue also on my PC since 2.2.0!

[2021-06-20 16:32] nativekative commented on #742
Exactly same issue.

using 2.2.0

[2021-06-21 18:58] vegardlarsen commented on #742
This is a duplicate of #739. Closing this one.

The workaround is to turn off the "Use different regions on each virtual desktop" feature, under Settings, Monitor.

[2021-06-21 18:58] #742 closed, assigned to nobody

[2021-06-21 18:59] vegardlarsen commented on #741
I believe this is a duplicate of issue #739, so I am closing this issue.

You can use this as a workaround for now: turn off "Use different regions on each virtual desktop" in the Settings, under Monitor.

[2021-06-21 18:59] #741 closed, assigned to nobody

[2021-06-21 19:00] vegardlarsen commented on #736
I am not able to duplicate this as of yet, and I believe logs will not be helpful to solve it in this case.

[2021-06-22 08:56] bartolialberto commented on #736
The problem has come back

21H1 build 19043.1052

This is very annoying. I am simply unable to use MaxTo as I have to shut it down in order to see my tray icons.

[2021-06-22 11:07] RhinoFox commented on #739
I prefer a index above nothing. I've 3 virt.desktops and have it all the time. Sometimes I've four of them and delete the fourth as it is my temp-one. I presume not many people delete virt.desktop in between.

What was the difference with version 2.1.x That was working fine.

**Pos.Solution:** Can't you store the GUID and indexes in a table and replace the GUID's with the new ones after a restart?

[2021-06-22 14:41] KimmoJ commented on #739
It does not in fact work fine on 2.1.5, it also has this issue; I've been on 2.1.5 since 2.2 started acting weird with windows and minimizing stuff. Just FYI. For me the virtual desktop unchecking is a viable workaround, though, going to have to try that.

[2021-06-22 22:32] ahupp commented on #736
If my displayed tray icons are just the default set (e.g battery, wifi, volume, time, etc) then everything works fine.  If I run slack and leave in the "hidden" set of tray icons (behind the chevron) everything is also fine.  If I pull slack into the displayed set then they all disappear when running MaxTo.  Doesn't seem to be slack specific, also happens w/ Dropbox etc.

[2021-06-23 08:48] sambilbow commented on #149
Another FancyZones user, this feature would make me switch to MaxTo.

[2021-06-24 05:51] schkr commented on #736
I'm also using DropBox and HW64. Good call out!

On Tue, Jun 22, 2021 at 3:32 PM Adam Hupp ***@***.***> wrote:

[2021-06-24 07:09] bartolialberto commented on #736
After installing this optional Windows update everything seems to work fine:

[](https://support.microsoft.com/en-us/topic/june-21-2021-kb5003690-os-builds-19041-1081-19042-1081-and-19043-1081-preview-11a7581f-2a01-47d5-ba12-431709ee2248
)
The highlights of that update includes an item that seems pertinent:

Updates an issue that causes blurry text on the news and interests button on the Windows t

[2021-06-24 07:10] bartolialberto commented on #736
After installing this optional Windows update everything seems to work fine:

[https://support.microsoft.com/en-us/topic/june-21-2021-kb5003690-os-builds-19041-1081-19042-1081-and-19043-1081-preview-11a7581f-2a01-47d5-ba12-431709ee2248](url)

The highlights of that update includes an item that seems pertinent:

_Updates an issue that causes blurry text on the news and interests button on the Windo

[2021-06-24 09:26] vegardlarsen commented on #740
I have found the cause of this issue (it was the fix to #650). Reverting this change seems to undo the problem.

[2021-06-24 09:27] #740 closed, assigned to vegardlarsen

[2021-06-24 16:18] ahupp commented on #736
I applied KB5003690 as well as a pending Windows update and the problem is fixed for me.

[2021-06-24 16:22] aphex commented on #736
Same for me with. Windows update with KB5003690 and all is normal again.

[2021-06-27 05:30] rooby commented on #115
It seems as though Microsoft's [Power Toys'](https://github.com/microsoft/PowerToys) FancyZones doesn't have this problem, at least for the programs I use.
Their code might have some useful insights.

[2021-06-27 06:19] vegardlarsen commented on #736
Thank you all for the updates, and the workaround. As I have not been able to reproduce this locally, KB5003690 will be the official solution for this issue.

[2021-06-29 05:02] Gappa opened #743 "Error after wake-up: Object reference not set to an instance of an object."
**Describe the bug**
There is a .NET error dialog shown after waking up the computer from hibernation.

[code]

**To Reproduce**
1. Hibernate the computer
2. Wake it up

However, it only manifests on my notebook, desktop is fine.

**Expected behavior**
No error is shown.

**System information:**
- Windows version: Windows Pro 21H1 (19043.1081)
- MaxTo version: 2.2.0

**Additional context**
- [erro

[2021-06-30 13:58] allan-shoup opened #744 "Can't Install Old Versions of MaxTo"
**Describe the bug**
I had MaxTo v2.2.0 installed and it seemed to cause my tray to disappear. I attempted to downgrade to [v2.1.5](https://files.maxto.net/releases/2.1.5/MaxToSetup-2.1.5.exe), but every time I attempted to install that version, version 2.2.0 would be installed instead.

**System information:**
- Windows version: 2004 build 19041.1052

[2021-06-30 17:43] vegardlarsen commented on #744
Thank you for writing. We are aware of this issue. It is caused by our installer, which is very diligent in updating you to the latest version. If you instead download the ZIP archive, and "install" MaxTo manually, this will no longer happen.

Since we already have issue #668 on this, I am closing this one as a duplicate.

[2021-06-30 17:43] #744 closed, assigned to nobody

[2021-07-06 13:17] carlsheehaniris commented on #736
MaxTo 2.2.0

- I am having the same issue, none of the suggestions have made a difference.
- I have uninstalled and installed a few legacy versions to see if that will make a difference with no luck.
- After boot there is no MaxTo icon in the tray rendering the program useless with no other way to access the MaxTo menu

2021-07-12 09:30:18 [Server@2.2.0.764] [Information] [] Logger setup (online l

[2021-07-11 03:03] nrz0 opened #745 "Custom region setting lost on reboot in v2.2.0"
I'm having the same issue described in bug #375, but in version 2.2.0 on Windows 10 v21H1 (build 19043.1083).

This bug has been closed out and the workaround to set the monitor settings to "Properties" had no affect.  However, apparently unlike the initial issue, this _only_ happens on Restart.  I can Exit the app from the Notification Area and reopen it and it will remember my custom region then

[2021-07-11 07:34] Matt5432 opened #746 "Return to how it was 1 month ago?"
Hi , might seem silly but can we get access to a older version , about 1 month ago. I had 0 issues and worked fine.
Since then it snapping odd, when I drag windows about its sliding and just annoying/ having to turn the program off.

Thanks

[2021-07-13 07:23] Cavia commented on #745
Hello,

I second the problem exactly as described by nrz0.

[2021-07-13 14:08] TheRotag opened #747 "Passive mode for snapping"
**Feature request:** "Hold Shift to snap windows" - either expand the current passive mode setting to include window snapping (only snap to the edges of windows, regions, or screens when holding Shift), or create a separate setting for this.

**Is your feature request related to a problem? Please describe.**
I often move windows around slightly to get them positioned how I like, and they'll snap t

[2021-07-13 18:46] vegardlarsen commented on #746
Older releases are [available from our website](https://maxto.net/en/release). You may have to use ZIP file (and not the regular installer) to avoid being automatically updated to the latest version.

[2021-07-13 18:46] #746 closed, assigned to nobody

[2021-07-13 18:47] vegardlarsen commented on #745
This is a duplicate of issue #739. Please continue the discussion there.

[2021-07-13 18:47] #745 closed, assigned to nobody

[2021-07-13 18:56] nrz0 commented on #739
@vegardlarsen

Unchecking Virtual Desktops did NOT resolve for me in 2.2.0.  Still losing custom regions on reboot.

[2021-07-13 19:02] nrz0 commented on #739
Update:  I changed the Monitor identifier from "Properties" back to "Serial number (default)" and now it's working properly with "Virtual desktops" unchecked.  I only changed it to Properties to try and fix this bug, so it has resolved the issue for my purposes (I don't use virtual desktops).

[2021-07-13 20:36] vegardlarsen commented on #739
I have found and implemented a possible solution to this issue. To help me test, **please e-mail support@maxto.net with a reference to this issue**, and I will send you a private build where it should be fixed.

Unfortunately, the fix to this requires us to store some additional information with your monitor configuration, so this won't magically work after updating to a new release. First, we nee

[2021-07-15 20:59] vegardlarsen commented on #740
I have released version 2.2.1-alpha.1, which contains the fix to this issue. Set your Release channel to "Alpha" in MaxTo's settings, under Updates, to get it as soon as possible.

[2021-07-15 21:00] vegardlarsen commented on #739
I have released version 2.2.1-alpha.1, which contains the fix to this issue. Set your Release channel to "Alpha" in MaxTo's settings, under Updates, to get it as soon as possible. Please report back on whether this solves the issue for you. If it does, I will release the changes as version 2.2.1 for everyone.

[2021-07-16 07:34] Michael5122 opened #748 "MaxTo Loses regions"
Hello everyone,
Every couple of days, for some reason, MaxTo loses the regions I had created,
can i do something to correct it? Usually i have to recreate all the regions from zero.
Thanks

[2021-07-18 06:08] vegardlarsen commented on #748
Hi @Michael5122. This is a known issue (see #739). There is a workaround in that issue. I am closing this as a duplicate.

[2021-07-18 06:08] #748 closed, assigned to nobody

[2021-07-18 06:31] vegardlarsen commented on #747
This is something I have considered quite a bit, and is likely to happen in a major update to MaxTo, because it would likely be a breaking change in how things work. It would be a part of a revamp of "Active mode" vs "Passive mode", requiring all MaxTo functionality to be contingent on e.g. Shift being held down.

[2021-07-18 07:20] vegardlarsen commented on #736
Thank you for that log. Reading it I would expect the issue to go away after a reboot?

If not @carlsheehaniris, do you have any special restrictions (ACLs, policies or similar) on your computer?

[2021-07-18 07:31] vegardlarsen commented on #743
Reproducing this seems difficult, but it seems possible to figure out. :)

[2021-07-20 18:25] RobvanB opened #749 "Notepad++ does not align properly when maximizing window"
**Describe the bug**

When maximizing the window for the Notepad++ application the left side gets cut of. It does not properly size the window to the region.

**To Reproduce**

1. Install Notepad++ (https://notepad-plus-plus.org/)
2. Create a recipe that has one large block on the left of the screen, and 2 smaller ones on the right
3. Start notepad++ and move it to the left section
4. Maximize the

[2021-07-24 01:42] duckpodger opened #750 "Documentation for Positions parameter of the Cycle Position command needs improvement"
The documentation says "Accepts a list of relative rectangles, separated by pipe characters". There is no detail as to how to specify a "relative rectangle".

**Is your feature request related to a problem? Please describe.**
The "cycle position" command does what I want on my landscape monitor, e.g. allowing me to cycle between the left third, left half, left two thirds when using the "left" pres

[2021-07-24 01:44] duckpodger commented on #750
p.s. Your product is very nearly doing what I want, but without being able to cycle positions as I describe (top third, top half, top two thirds), I will probably chose to use power toys fancy zones instead once the free trial expires.

[2021-08-01 19:07] balmacefa opened #751 "Error on the first instalation."
Error on the first instalation.

Squirrel Log

    2021-06-20 13:34:47> Program: Starting Squirrel Updater: --install .
    2021-06-20 13:34:47> Program: Starting install, writing to C:\Users\fabia\AppData\Local\SquirrelTemp
    2021-06-20 13:34:47> Program: About to install to: C:\Users\fabia\AppData\Local\insomnia
    2021-06-20 13:34:47> CheckForUpdateImpl: Couldn't write out staging user ID, t

[2021-08-02 13:26] ansvin opened #752 "MaxTo does not launch"
When I launch MaxTo the tray icon takes a very long time to appear if at all. I have to restart every so often to get it to work again. Is there something I can do to make this application run quicker? I can't open the regions either and pretty frustrating.

When I do launch MaxTo after waiting for about 5-10 minutes it says "its already running and can be found in the tray icon" which I can't fin

[2021-08-05 09:24] nepumax opened #753 "Microsoft .NET Framework error after starting Windows"
When I start my computer, the following error message pops up immediately and MaxTo doesn't work. I have to manually close MaxTo and start it again, then it works.

![maxto](https://user-images.githubusercontent.com/2079937/128325358-26558331-df26-46de-a2c4-a26feec8ad81.png)

Windows 10 Version 21H1 (Build 19043.1151)
MaxTo Version 2.2.0 (Stable)

[NETFramework.txt](https://github.com/digitalcreat

[2021-08-05 17:48] boogotti8 opened #754 "Help Cant get Maxto.net start and launch and arrange windows over 2 virtual desktops"
Hey,
I cant get Maxto to launch my programmes and arrange over two virtual desktops. I think this is possible?
using one monitor
Is there any examples scripts or forum i can see?

I manged to get it to work over one virtual desktop, but when i try to create two it doesn't work?

[2021-08-06 19:33] vegardlarsen commented on #754
@boogotti8 There may be some issues in version 2.2.0. Try setting your update channel to Alpha (in MaxTo's settings, under Updates), and then make sure you get version 2.2.1-alpha.1. Let me know if that resolves the issues for you.

[2021-08-06 19:34] vegardlarsen commented on #753
Thank you for your report. We will investigate this to see if we can determine what is causing it.

Full stack-trace from the report above for my reference:

[code]

[2021-08-06 19:48] vegardlarsen commented on #751
Hi @balmacefa,

and thanks for writing. This is unfortunately a known problem with our installer. What usually happens is that you either run the installer twice, which is easily done because the installer does not present a user interface and it can take quite a while before MaxTo is running, or because you ran the installer when MaxTo was already running.

In most cases, MaxTo will already be in

[2021-08-06 19:48] #751 closed, assigned to nobody

[2021-08-06 19:52] vegardlarsen commented on #750
@duckpodger I agree that this isn't documented well enough; exposing this argument at all was an afterthought.

Here are the definitions for the defaults it allows (meaning if you use `/Preset` instead of `/Positions`):

[code]

As you can see, rectangles are defined as `x,y,w,h`, and the rectangles are `|`-separated. Coordinates can be either absolute (no unit or `px`) or relative to the monitor

[2021-08-06 19:54] vegardlarsen commented on #749
Does this problem persist after moving or resizing the taskbar? Can you share a screenshot of your actual regions for that monitor?

[2021-08-06 19:55] vegardlarsen commented on #752
@ansvin Can you please [share your log files](https://docs.maxto.net/reference/settings/logs/) for a period of time when this happened? That would help me make sense of this issue.

[2021-08-07 19:03] SalmanRavoof commented on #753
I get a similar error, though it says something else.

[2021-08-08 19:08] vegardlarsen opened #755 "COMException (0x800706BA): The RPC server is unavailable. (Exception from HRESULT: 0x800706BA)"
Originally reported by @SalmanRavoof in #753:

I get a similar error, though it says something else.

[code]

[2021-08-08 19:08] vegardlarsen commented on #753
@SalmanRavoof I created #755 to track your issue. Please continue that discussion there.

[2021-08-08 19:09] vegardlarsen commented on #755
@SalmanRavoof Which version of Windows and MaxTo are you running?

[2021-08-08 22:19] boogotti8 commented on #754
Great thank will give this an go!

[2021-08-09 07:39] Michael5122 commented on #739
Hello everyone,
I found it difficult to deactivate the virtual desktops to solve this issue.
In my desktop (windows 10 desktop with Philips 499P monitor) I only have the "multitasking - work with multiple windows" settings page,
the only options are  "Snap Windows" and "Timeline"

Can you help us identify what to deactivate? Thanks!!

[2021-08-09 15:48] SalmanRavoof commented on #755
@vegardlarsen
Windows 21H1 (OS Build 19043.1110)
MaxTo 2.2.0

[2021-08-09 21:39] xairoo commented on #702
Doesn't seem to work @ 2.2.0.

Tried it with `windowsterminal*`, works.
`windowsterminal.exe` didn't worked.

Also using titles like `Window PowerShell` and so on didn't worked.

Staring a windows terminal worked to trigger the recipe for a few times. Then it stopped.
Now it won't get triggered anymore.

I also launch a few terminals using a simple batch script. The first terminal will benefit fro

[2021-08-11 13:03] duckpodger commented on #750
Awesome. Is the % always optional? or only omitted for a 0 value? No need
to answer right away now. I can have a play with it myself.

Out of interest are you on the windows insider program? Do you know how
irrelevant your code will be with the improved window management
capabilities in windows 11?

On Fri, 6 Aug 2021 at 20:52, Vegard Andreas Larsen ***@***.***>
wrote:

[2021-08-11 13:05] duckpodger commented on #750
Sorry I forgot the "thank you" after the "awesome"!

On Wed, 11 Aug 2021 at 14:03, Matthew Amos ***@***.***> wrote:

[2021-08-12 18:09] xairoo opened #756 "Cinebench window resizes when using mouse wheel (scrolling)"
**Describe the bug**
Related to https://github.com/digitalcreations/MaxTo/issues/689, but now also for Cinebench 23.

**To Reproduce**
- Start Cinebench R23
- Max the window
- Enter the window and use your mouse scroll wheel (scrolling!)

= Cinebench R23 will move to the MaxTo region (and max out this region) at the mouse pointer position where you scrolled.

You could repeat it again if you resiz

[2021-08-12 21:46] xairoo commented on #731
Can you provide good examples? Like for resizing the Explorer, Firefox, Windows Terminal, ... I tried so many combinations.

[2021-08-12 22:05] TheRotag commented on #731
Sure, here's a slight variation of the above recipe but for Notepad, and it does work:

[code]

[2021-08-13 06:17] xairoo commented on #731
@TheRotag thanks, my problem was to find the correct name. Notepad is one thing. Really really old and looks like never touched. Also more or less useless - think about the undo function (1 step, that's it).

@vegardlarsen maybe you wanna add Spy++ (https://docs.microsoft.com/en-us/visualstudio/debugger/find-window-dialog-box?view=vs-2019) to your docs. Otherwise it's really tricky to get a workin

[2021-08-16 03:36] dehghani-mehdi opened #757 "Window Snapping, snapped window snap really hard to the edge"
**Describe the bug**
Snapping feature cause snapped window snap really hard to the edge of window/monitor/region. the window always stuck on the edge and takes ~10 times grab and dragging in order to release it form the edge.

**To Reproduce**
1. Go to `Settings` and then `Window behavior`
2. In `Window snapping` section check `Snap to monitor edges`
3. Open up notepad and drag it to the right/lef

[2021-08-19 19:54] hideodaikoku opened #758 "Installation failed on Windows 10"
**Describe the bug**
My installation failed on windows 10

**To Reproduce**
Error Message:
[code]
**Expected behavior**
successful installation

**Screenshots**

**System information:**
- Windows version: Windows 10 ver 20H2
- MaxTo version: 2.2.0.

**Additional context**

[2021-08-19 20:03] #758 closed, assigned to nobody

[2021-08-23 18:51] ansvin commented on #752
Yes sorry for the delay. Here is most recent log file.

[code]

[2021-08-23 18:56] ansvin commented on #752
When MaxTo is loading (takes a very long time for it to show up in the task bar) there is nothing written to the logfile until it closes.

[2021-08-24 16:20] vegardlarsen commented on #758
Hi,

and thanks for writing. This is unfortunately a known problem with our installer. What usually happens is that you either run the installer twice, which is easily done because the installer does not present a user interface and it can take quite a while before MaxTo is running, or because you ran the installer when MaxTo was already running.

In most cases, MaxTo will already be installed on

[2021-08-24 16:27] vegardlarsen commented on #752
It seems there is a very long delay around here:

[code]

This smells of a network timeout issue, which should ideally have happened in the background.

[2021-08-24 16:36] vegardlarsen commented on #757
Please update to version 2.2.1-alpha.1, which you can most easily do by setting your *Update channel* to Alpha in MaxTo's settings, then clicking Check for updates.

Please feel free to comment here if this issue has not been solved in that version.

[2021-08-24 16:36] #757 closed, assigned to nobody

[2021-08-24 16:37] ansvin commented on #752
This computer is not connected to the internet - is this a problem?

[2021-08-24 16:44] vegardlarsen commented on #752
It shouldn't be, but it apparently is causing this slowdown.

[2021-08-24 18:12] #753 closed, assigned to nobody

[2021-08-24 18:12] vegardlarsen commented on #753
This issue will be fixed in the next release.

[2021-08-24 18:21] #752 closed, assigned to vegardlarsen

[2021-08-24 18:21] vegardlarsen commented on #752
I have implemented a fix for this, which will be in version 2.2.1.

[2021-08-24 18:23] vegardlarsen commented on #739
@Michael5122 You need to deactivate this in MaxTo's settings, not your desktop settings. Hit Ctrl+Windows+T to open them, and the window looks like this (sorry about the language setting here, its the bottom setting on the screen):

![image](https://user-images.githubusercontent.com/436508/130669621-247d6ac4-3363-4186-9f20-16f4fee89895.png)

I am closing this as nobody has reported any issues with

[2021-08-24 18:23] #739 closed, assigned to vegardlarsen

[2021-08-24 18:31] #755 closed, assigned to vegardlarsen

[2021-08-24 18:31] vegardlarsen commented on #755
This issue has been fixed for version 2.2.1.

[2021-08-24 18:46] vegardlarsen commented on #743
This seems to have been the same issue as #753. Closing as a duplicate. Also, it will be fixed in version 2.2.1.

[2021-08-24 18:46] #743 closed, assigned to nobody

[2021-08-31 17:54] vegardlarsen opened #759 "Saving license file from editor while MaxTo is running causes crash"
**Describe the bug**
If you save contents to `%AppData%\MaxTo\license.txt` while MaxTo is running, MaxTo may crash.

**Expected behavior**

No crash.

**System information:**
- MaxTo version: 2.2.1

**Additional context**

[code]

[2021-09-07 18:15] vegardlarsen opened #760 "Consider removing computer name from "By properties" monitor identification"
There are some customers who have reported that their computers get new computer names on every reboot/login.

In such free seating arrangements, where the user will have a "random" monitor assigned and a new computer name, the monitor identification by properties method breaks down. The only real option is having the regions reset on every login, or having monitor identification set to numbered.

[2021-09-07 18:18] vegardlarsen commented on #756
Could you get me the name of the Cinebench process (.exe file)?

[2021-09-07 18:19] vegardlarsen commented on #750
Sorry for being late responding to this. No unit = `px`. `%` is measured in percent relative to the monitor.

[2021-09-07 18:23] vegardlarsen commented on #702
Hi there, when trying to reproduce this in version 2.2.1; the following recipe works:

[code]

The only real difference I can see to your recipe, is that I've removed the window parameter to the command.

[2021-09-07 18:24] vegardlarsen commented on #754
Closing this as it was fixed in 2.2.1.

[2021-09-07 18:24] #754 closed, assigned to nobody

[2021-09-07 18:38] mjsr-sr opened #761 "How to resize beyond the autolimit imposed on height"
Hi guys, I would like to reach beyond the limit imposed automatically.
![image](https://user-images.githubusercontent.com/81977947/132394461-fa16293f-3f07-4e0c-b440-308a182372bd.png)
For example on previous image, I would like to make the inferior part smaller than 136.

I would like to go beyond the limit to use the inferior part with some tools, gadgets that use very small portions of the screen

[2021-09-07 18:40] vegardlarsen commented on #761
@mjsr-sr Thanks for writing. Unfortunately, there is a minimum window size in Windows. What you are bumping up against here is that minimum window size; and MaxTo won't allow you to make a region that is smaller than that minimum.

[2021-09-07 18:40] #761 closed, assigned to nobody

[2021-09-07 19:08] mjsr-sr commented on #761
Hi @vegardlarsen ... I found a bit of a hack, went to the config files and set the value for 'distance' directly on the configuration per monitor per desktop (I played with the value and 0.955 was perfect for the mini tool at the bottom)
![image](https://user-images.githubusercontent.com/81977947/132397245-961a1957-c334-4d76-ace6-51893dd22b49.png)

I did that with the application turned off and th

[2021-09-07 19:22] xairoo commented on #756
Sure!

It's `Cinebench.exe`.

![processes](https://user-images.githubusercontent.com/731894/132399564-712e15e4-a2c8-4bcc-87c1-e28e280e1e58.png)
![details](https://user-images.githubusercontent.com/731894/132399567-fcafdae7-21ac-4127-b61d-540bb6e68ec9.png)

https://www.maxon.net/en/downloads/cinebench-r23-downloads

Cheers

[2021-09-07 19:37] xairoo commented on #702
Currently using this and it's working too:

[code]

Your recipe works too.

But the problem still exists if you start multiple terminals using a batch script (guess that will happen with all programs):
[code]

But... message "prevent infinite loops" get's fired.
Timeout has to be 2 seconds to prevent this notice.
Also sometimes the window gets resized - although the notices comes up.
No chance to

[2021-09-09 21:58] hanmindev opened #762 "Dragging a maximized window in passive mode causes them to teleport"
**Describe the bug**
While in passive mode, when you try to drag a window that is maximized, it sometimes teleports away from the mouse cursor so the cursor doesn't appear to be grabbing anything.

**To Reproduce**
1. Split the monitor using the ultra-wide three-way preset
2. Turn on passive mode
3. Maximize a window (tried with firefox, visual studio code)
4. Drag the window down
5. The window sh

[2021-09-12 18:25] vegardlarsen commented on #702
Thanks for the feedback on this. The infinite loops message is a bit annoying, but necessary. It shouldn't trigger in your case though, as it should allow 10 executions before triggering (you are spot on with the timeout, though, it is 2 seconds).

If you can reliably reproduce this with the above recipe and batch scripts, let me know, and I will take a closer look.

[2021-09-12 18:26] vegardlarsen commented on #761
@mjsr-sr That's good to know; it is definitely not a supported configuration, and will break once you try to drop a window in that mini-region, but good to know :)

[2021-09-12 18:29] vegardlarsen commented on #762
Thank you for the report. I can only get this to reproduce if MaxTo is running in **active** mode (not passive), and the window is actually maximized before starting the drag operation.

[2021-09-13 18:04] ahupp opened #763 "Have to switch off "Active" and re-enable to get it working"
**Describe the bug**
On a regular basis I'll find that MaxTo is running, "Active" is checked, but it doesn't actually work: windows aren't transparent when I'm moving them, and they don't follow the currently set regions.  If I uncheck "active" in the tool bar and re-check it things will now work

**To Reproduce**
1. Unlock PC, try to expand window.  See it takes up whole monitor.
2. Uncheck "Acti

[2021-09-21 17:10] xairoo opened #764 "Wrong app/window get's resized/moved"
The recipe reaction is too slow and takes the wrong app/window.

Example:
If you start an app and directly switch fast to an other open app, the recipe will get triggered by the started app - but the active window gets moved/resized/what ever and not the just started app. Typically I start an app and I don't wait until it's fully opened. Maybe I am too fast :)

Sorry for submitting so many issues.

[2021-09-22 04:41] paul-chambers opened #765 "Provide a "menu" trigger for recipies that adds items to the systray menu"
**Is your feature request related to a problem? Please describe.**

The custom recipes I have created are intended to be triggered manually. Unfortunately I have a hard time remembering what key combination I bound to a given recipe, Particularly ones I don't use that often.

**Describe the solution you'd like**

I'd like to be able to bind a recipe to a menu item in a list on a pull-right on the

[2021-09-24 17:45] rustamsh opened #766 "All recipes got overwritten with builtin"
**Describe the bug**
I was creating shortcuts for expanding left/up/right/bottom and suddenly all my custom recipes disappeared and new builtin recipes appeared (until then only window moving builtin recipes were available now there are about 20 of them)

**To Reproduce**
Don't really know at what time exactly my config got overwritten, it suddenly just disappeared. Actually I named one of my reci

[2021-09-27 10:06] JimboTh opened #767 "Autostart of MaxTo not working both user accounts on same PC"
Hi,

Running a Win10 user account for myself and another for my wife on the 1 PC.

I installed on my account, then had to uninstall when it didn't appear on wife's account. Seemed to be OK when I installed on Wife's account. Not sure if this is not the recommended way to install on multiple accounts on 1 PC.

I inititally had autostart on my account, but noticed not autostarting on wife's account.

[2021-10-03 17:30] RobvanB commented on #749
Moving or resizing does not fix the issue unfortunately.

Screenshot attached.

-Rob.

On 2021-08-06 3:54 p.m., Vegard Andreas Larsen wrote:

[2021-10-04 21:01] Zireael opened #768 "Feature request: Limit browser fullscreen to a region"
Hi,
Would it be possible to add a feature where an application enters "fullscreen mode" that is confined to a region rather than expanding to the entire screen?
For example, in Google Chrome browser, when you press F11, you enter a fullscreen mode. I want to limit that browser window to a specific region.
I want to use this to have several browser windows open without all the taskbars visible - ju

[2021-10-07 03:54] tynril opened #769 "Some features of MaxTo do not work on Windows 11"
**Describe the bug**
Windows 11 released to the general public yesterday (October 5th, 2021). While it can be started, and areas can be defined, it does not seem to be working (maximizing a window takes the full screen, regardless of MaxTo's configuration).

**To Reproduce**
1. Run Windows 11;
2. Attempt to maximize a window;
3. Notice that the window takes up the whole monitor, rather than the ar

[2021-10-07 04:00] tynril commented on #769
I just noticed that the hotkey recipes to move windows to regions ("Move window down", "Move window left", etc.) are still working just fine. So it seems like this is only an issue when maximizing a window by either double-clicking on its title bar, or by using the "maximize" button.

I've updated the issue title to reflect that.

[2021-10-07 09:26] RhinoFox opened #770 "Windows 11 - Virtual Desktop regions not different"
Win11NL Pro 22000.194
MaxTo 2.2.1

When I change regions on Dekstop 2 it affects also Desktop 1 regions.
Regions should be preserved on their own Virt. Desktop.

[config.zip](https://github.com/digitalcreations/MaxTo/files/7301094/config.zip)

[2021-10-13 17:53] vegardlarsen opened #771 "NullReferenceException in DefaultRecipeController"
**Describe the bug**
MaxTo crashes.

**Additional context**

[code]

[2021-10-22 20:13] Real3L0 commented on #770
Can you use: Settings -> Monitor -> Virtual desktops?

[2021-10-22 20:41] Real3L0 opened #772 "Slow work (Windows 11)"
I am trying to open a regular Windows mail application (Windows 11) in the leftmost region of the monitor out of the three. For the entire region.
Created empty triggers: "Window сreated" and "Window shown".
Ingredients are made with parameters:
* Window class: "Application Frame Window"
* Window name: "*Mail".
And no matter what ingredients I cook, this application, starting from the second launc

[2021-10-22 21:21] hanmindev opened #773 "Windows Search is able to be moved using Win+Arrow Keys"
**Describe the bug**
Windows Search (when you press the windows key and start typing) is able to be moved using Win+Arrow Keys, which causes strange behaviors such as it showing up in incorrect places the next time it is opened.

**To Reproduce**
1. Press the Windows Key
2. Type something
3. Press Win+Right Arrow
4. The Windows Search should have moved to the right.

**Expected behavior**
The Wind

[2021-10-23 06:06] h2df opened #774 "OEM keys not working in recipes hotkeys"
I'm trying to replace all the numpad keys with UIOJKLM,. in recipes. While the hotkeys using UIOJKLM work as expected, the hotkeys using ,. (OEM COMMA, OEM PERIOD) don't trigger anything on my environment. I have also tested a few other OEM keys and the issue remains.

**To Reproduce**
1. Make Contract Down recipe a template
2. Go to the new Contract Down (copy) custom recipe -> Hotkey
3. Update t

[2021-10-24 12:39] RhinoFox commented on #770
Yes I do. I use that since I bought MaxTo.
Identification by Ser.nr.

Before the update to Win 11 no problems with different regions on different virt.desktops.

[2021-10-24 18:21] gmepsted opened #775 "Program windows remain translucent after dragging them in Windows 11"
**Describe the bug**
Certain programs, when dragged across the desktop in Windows 11, reamin translucent once they are released making them difficult to use. Restarting the program returns the normal background and this works normally provided the window is not dragged.

**To Reproduce**
With MaxTo running and active, Open e.g. Notepad++ (it also occurs on some other programs). Drag window on desk

[2021-10-27 17:45] ccc-dvansevenant commented on #768
+1 for this feature. I've tried several products, and this always seems to be the failing point. Setting up a nice 4-up grid on my big monitor, pulling up YouTube in one quad, then hitting `f` to go fullscreen in that quad, and boom! the entire monitor is taken up.

VDM by ishadow has managed it, but there is a compatibility issue with one of my apps. So, I'm still looking.

[2021-11-07 16:29] fgbkiwi commented on #770
Same issue here.

[2021-11-09 07:06] digitalchet opened #776 "Conflict with Guild Wars 2"
I've encountered an issue where the Guild Wars 2 game window doesn't open correctly when MaxTo is running. I've confirmed this several times by exiting MaxTo and running the game again and it works fine.
Is there some a way to add an exception so that this conflict is avoided?

[2021-11-14 18:30] vegardlarsen commented on #769
Thank you for reporting this. This is likely not related to Windows 11 at all, but should resolve itself after a reboot. It is possible for MaxTo/Windows to get stuck in a situation where MaxTo does not receive the events it needs from Windows; and the problem won't resolve itself until the system has been rebooted (it seems to trigger some state in Windows that persists across multiple restarts o

[2021-11-14 18:30] #769 closed, assigned to nobody

[2021-11-14 18:31] vegardlarsen commented on #772
@Real3L0 Can you send the log files for when this happens?

It could be that a delay in the initial command prevents the second command from running.

[2021-11-14 18:32] vegardlarsen commented on #770
I have been able to track down the cause of this issue, but not the solution (yet). MaxTo relies on some internal interfaces to be able to control windows and virtual desktops. These internal interfaces appears to have been removed in Windows 11 (and replaced with other interfaces).

[2021-11-14 18:48] vegardlarsen commented on #767
Thank you for reporting this. This seems to be a bug.

I have verified that different users on the same machine share the same "namespace" when it comes to naming scheduled tasks. This means that if a user creates a scheduled task to start MaxTo at logon (this is what MaxTo does internally to enable it to start on logon), and names it "maxto", another user cannot create that same task.

At least n

[2021-11-14 19:23] vegardlarsen commented on #767
I've fixed this now, and it seems to work well. The changes will be in the next release.

[2021-11-14 19:23] #767 closed, assigned to vegardlarsen

[2021-11-14 19:30] vegardlarsen commented on #768
Thank you for reporting this. While I have no trouble seeing the usefulness of this, the feasibility of implementing it is however another matter entirely.

MaxTo works as well as it does because there exists "events" in Windows that we can listen to for intercepting when a window is maximized. Equivalent events do not exist for full-screen applications, mostly because there is no standardized way

[2021-11-14 19:30] #768 closed, assigned to nobody

[2021-11-15 09:42] RhinoFox commented on #770
Thanks for the notification. Good to know that it is being worked on.

In W11 it is possible to set different backgrounds for the virtual desktops. Could the solution be found there?

[2021-11-15 19:52] vegardlarsen commented on #773
I have added a few extra flags to the compatibility shims for built-in Windows features that should resolve these issues (at least they appear to solve them on Windows 11). Please let me know if this issue persists after updating your compatibility shims and rebooting your computer.

PS! Updates to compatibility shims are shipped outside of the regular release cycle, and you can force an update by

[2021-11-15 19:52] #773 closed, assigned to vegardlarsen

[2021-11-18 17:11] vegardlarsen commented on #771
I'm afraid to write this, but my own bug report is not enough to actually track down this crash. So, bad reporting from me there.

[2021-11-18 17:11] #771 closed, assigned to vegardlarsen

[2021-11-21 01:27] hanmindev commented on #773
I'm assuming this is the fix? It seems to still let me move around the windows taskbar search
![image](https://user-images.githubusercontent.com/6187525/142745738-f9dd724b-dd68-4f02-8650-e7a2f5622028.png)

[2021-11-21 19:51] vegardlarsen commented on #766
Thank you for reporting this issue. It has been fixed for version 2.3.

[2021-11-21 19:51] #766 closed, assigned to vegardlarsen

[2021-11-21 19:54] vegardlarsen commented on #760
This change has to be done at a point where we can break backwards-compatibility. Otherwise, it would cause existing configurations to break.

[2021-11-21 20:04] vegardlarsen commented on #736
I am closing this as it seems the problem has been resolved after the Windows update.

[2021-11-21 20:04] #736 closed, assigned to nobody

[2021-11-21 20:06] vegardlarsen commented on #734
I believe this is the same issue as #766. Since I've already tackled that one separate from this one, I'll close this one as a duplicate (even though it is strictly the other way around).

[2021-11-21 20:06] #734 closed, assigned to nobody

[2021-11-21 20:17] vegardlarsen commented on #759
This error no longer seems to be reproducible in version 2.3. Closing it as wontfix.

[2021-11-21 20:17] #759 closed, assigned to nobody

[2021-11-26 13:27] rsforbes commented on #768
This is an interesting comment because https://www.ishadow.com/ does just that. F11 and it contains it to the specific region.

[2021-11-27 01:20] flyingwolf79 commented on #768
That is a nice program, but it looks like that and MaxTo are fundamentally different programs.

MaxTo works on a per-monitor basis and as a handler to move and resize windows.

The program you linked actually creates a number of virtual monitors, each with its own resolution and spatial location, and then overlays the locations on the existing physical hardware.

As such when you F11 a program in

[2021-11-28 18:16] xairoo commented on #776
Have you tried FancyZones? Works perfectly! https://docs.microsoft.com/en-us/windows/powertoys/fancyzones

I have spend too much time dealing with multiple MaxTo bugs and still have an open issue without a feedback since 31.09.2021 (https://github.com/digitalcreations/MaxTo/issues/764). Too long and to time intensive for an paid app. Just moved a few days after creating this issue and haven't look

[2021-11-28 18:17] xairoo commented on #764
Fixed by switching to FancyZones: https://docs.microsoft.com/en-us/windows/powertoys/fancyzones

[2021-11-28 18:17] #764 closed, assigned to nobody

[2021-12-02 14:59] eikowagenknecht commented on #775
Same issue here.

Notepad++ works fine for me, though. But "SteuerSparErklärung" reliably stays transparent :-(
"SteuerSparErklärung" can also not be put into any of the defined areas by holding shift. The area highlights but the highlight just stays there until the program window is moved manually. Probably relates to this problem.

[2021-12-04 07:53] Real3L0 commented on #772
The problem "slow work" is not reproducible now.
But I still can't open Mail application on first region.

[2021-12-07 17:28] NothingAvailable commented on #775
I don't have this issue with Notepad++ but do have it with other apps, notably Outlook 2019.

[2021-12-16 11:47] elisspace opened #777 "Several programs not working after upgrade to Windows 11"
**Describe the bug**
MaxTo does not work _at all_ for the following programs upon an upgrade to Windows 11 from Windows 10. If I should file multiple bug reports for each app let me know and I'll do that. I've rebooted a few times to make sure the errors are persistent.

Affected programs so far:
- Microsoft® Word for Microsoft 365 MSO (Version 2112 Build 16.0.14729.20108) 32-bit
- Microsoft® Exce

[2021-12-22 04:48] elisspace commented on #777
Well, with no update for a week I went searching around and found [Microsoft PowerToys](https://docs.microsoft.com/en-us/windows/powertoys/install) which seems to have all of the functionality I used from MaxTo, except it works in Windows 11. It's open source, so maybe you folks can find some fixes that way.

I happily paid for MaxTo a while ago, but until it can beat PowerToys on W11 it will rema

[2021-12-22 04:57] elisspace commented on #775
I had the same issue. Check out Microsoft PowerToys. They're functionality for window region-creation works nearly as well, and it works with every app I've tried it with so far.

[2022-01-08 14:28] vegardlarsen commented on #772
Am I to understand that we can therefore close this issue now?

If not, please supply log files for when it occurs, and export the recipe that triggers it.

[2022-01-09 09:21] Real3L0 commented on #772
The question is how can I write a rule that the application always opened in the required region?

[2022-01-09 13:29] Clouseau219 opened #778 "Regions settings are changing"
Regions settings are changing.
If I set a setting like this:
1280x1400|2560x1400|1280x1400
![LITTLEBIGIV-2022-01-09 14_25_47-G95NA_S49AG95xN (DP)](https://user-images.githubusercontent.com/16350763/148684085-2b10bc90-df86-451c-b1e6-1860f7ea3adc.png)
and save the region. After open regions again the values are changed.
Like:
![LITTLEBIGIV-2022-01-09 14_26_11-G95NA_S49AG95xN (DP)](https://user-image

[2022-01-10 11:43] eikowagenknecht opened #779 "Crashes in DOpus Picture Viewer and on windows shutdown"
**Describe the bug**
Having MaxTo enabled leads to two problems:

1) Directory Opus crashes on opening windows. Here is the analysis of the DOpus developer: https://resource.dopus.com/t/maxto-crashes-when-opening-image-files/40271

2) On Windows shutdown, errors similar to https://github.com/digitalcreations/MaxTo/issues/409 happen for various applications, e.g. Keepass and Citrix Workspace:

[cod

[2022-01-11 11:08] eikowagenknecht commented on #779
At the very least as a workaround, the ability for MaxTo to not touch some apps would be needed. Like the Compatibility settings, but user defined.

[2022-02-11 00:36] hanmindev opened #780 "Expand / Contract doesn't change window size to fit in regions properly."
**Describe the bug**

Expand / Contract sometimes only changes the size of the window by a small margin, requiring multiple keypresses to change the size properly.

**To Reproduce**

1. Split your monitor into a 4x2 grid.
2. Put a window at the top right.
3. Expand down, then left three times.

**Expected behavior**
In theory the window should be maximised. However, the window still only covers ha

[2022-02-14 09:28] eikowagenknecht commented on #779
Is this product supported any more?

[2022-02-20 19:01] airens opened #781 "Virtual desktop features doesn't work under Windows 11"
When I try to move window to another desktop (using `Ctrl->Windows->Alt->Right` or `...Left` combination), the program tells me, that "Virtual desktops are only supported on Windows 10", which is really strange, because I'm using Windows 11. Also I can only chose one profile for all Virtual Desctops which is completely inconvinient.

[2022-02-20 20:37] flyingwolf79 commented on #781
I am not sure what is strange about it? You are using windows 11, the virtual desktops feature of maxto only works on windows 10.

[2022-02-23 18:11] oscillik commented on #779
I am also suffering from this problem, and would really appreciate if this could be looked into.

GPSoft, the developers of Directory Opus have a few threads on their support forum which go into some detail that may assist you in nailing this down.

https://resource.dopus.com/t/maxto-crashes-when-opening-image-files/40271/2

https://resource.dopus.com/t/crash-creating-folder-on-network-share-due-t

[2022-02-23 18:22] eikowagenknecht commented on #779
Very disappointed about the support here, I switched to Microsoft Powertoys which is even better in some regards, free and does not crash! 👍

[2022-02-23 18:29] oscillik commented on #779
Unfortunately FancyZones within Microsoft's PowerToys isn't suitable for me, as it seems it lacks the functionality to immediately move a window to a particular position on the grid by keyboard shortcut.

I'm hoping that MaxTo devs can respond soon.

[2022-02-23 18:49] RhinoFox commented on #770
How are things goining? The issue is feeling dead!

[2022-02-23 19:47] eikowagenknecht commented on #779
Yeah I think it can't do this. But setting the movement to relative position and then moving windows around with win + left/right/up/down works really good.

Defining a good set of overlapping zones needed quite some JSON editing as well, but I'm very content with the result.

[2022-02-26 16:17] robertplanetweb opened #782 "min region size"
can you remove min region size?

[2022-02-28 06:52] ZeronoFreya commented on #782
Agreed, I need a small area for special content. Please don't teach me what to do, that's why I'm back on version 17

[2022-03-04 18:40] robertplanetweb opened #783 "passive mode and active mode at the same time for a screen"
i dont know how hard this would be to implement but i felt its need and maybe other have too.

here's my scenario:
- i have passive mode enabled (which is great)
- i split my second screen in a T shape (1 full width section at the top, 2 50% sections below)
- i would like an active mode split on the same screen like so 1 section full width at the top, and 1 section full width at the bottom. so whe

[2022-03-04 21:22] robertplanetweb commented on #783
or maybe have any number sectioned layouts, which could be triggered by different customizable keys (like passive mode is triggered now by pressing shift)
all passive mode by default and when only one can be active mode.

[2022-03-05 17:38] RhinoFox commented on #770
Why is the issue closed? There's no solution yet?
I accidently closed the issue 10 days agoo I see.

[2022-03-06 19:12] vegardlarsen commented on #783
The problem with implementing such a feature, is that it would be very hard to explain to someone how it works. So the idea is that if you drag a window to the top half of the screen while holding Shift, it will maximize to that region, but if you drag it to the bottom two regions, you would get the same behavior if you were not holding Shift?

This seems extremely confusing to me.

[2022-03-06 19:12] #783 closed, assigned to nobody

[2022-03-06 19:26] vegardlarsen commented on #782
Unfortunately, we will not be removing this limitation, it is there for good reasons. It follows the minimum allowed window size in Windows, and going smaller than that would break windows for some users.

PS! If you modify your regions by editing the settings manually, you should be able to bypass this, but it requires you do some math.

[2022-03-06 19:26] #782 closed, assigned to nobody

[2022-03-06 20:11] vegardlarsen commented on #781
This is a duplicate of #770, so I am closing this one.

Unfortunately, we've relied on some undocumented parts of Windows 10 when it comes to virtual desktops, and Microsoft decided to change those in Windows 11.

[2022-03-06 20:11] #781 closed, assigned to nobody

[2022-03-06 21:55] flyingwolf79 commented on #782
There is no reason you cannot leave the setting there and available with a simple checkbox that states "Going smaller than XX can break windows, click this box to procced at your own risk, doing so is not supported."

Then it would still be available.

[2022-03-06 21:58] flyingwolf79 commented on #783
Wait, you closed it because you did not understand it and the ability to explain it is "too hard"?

The idea is simple, not holding shift gets you one set, holding shift gets you a second set, you know, like THIS versus this.

Holding shift to translate to a new layer is as old as the first keyboards.

[2022-03-07 07:40] robertplanetweb commented on #782
alright, i found the config file and changed it manually. still, no reason to include a min height, assuming that almost all of your users are devs or tech people they would know what the implications would be

[2022-03-07 07:41] robertplanetweb commented on #778
i fixed this by going to settings -> monitor -> identify monitors by number

[2022-03-07 07:45] robertplanetweb commented on #783
lol that's weird reason. but you understood what i wanted lol.
you could have an "advanced" option and leave it default the way it is now.
but i get it if it's too complicated to do and you dont have proper motivation to keep developing this program

[2022-03-07 18:01] flyingwolf79 commented on #782
I ended up abandoning the MaxTo program, PowerToys and the built-in Fancy Zones with overlays has been able to replace the majority of the MaxTo operations for my use case. I used it for a good while, happy to have paid for it, but it seems like it has come to an end at this time.

[2022-03-07 18:06] flyingwolf79 commented on #783
@robertplanetweb I think you nailed it. The last few responses by the dev have shown a clear lack of enjoyment and motivation to continue going, and you know, I cannot blame them. This started out as a fork of Winsplit and has grown, it was great for a while but focus creep and whatnot seems to have taken a toll and the dev could probably use a vacation.

I have the project starred⭐and will check

[2022-03-07 20:03] vegardlarsen commented on #783
Friends, I believe I did understand the original request, and I made a judgement call on what I feel would be the right direction to take the project. I think it is important that features that we do implement in a project such as MaxTo, meet a few criteria (I haven't spelled these out before, so I am likely missing some steps here):

1. Is useful to at least a large part of our user base.
2. Corr

[2022-03-07 20:24] vegardlarsen commented on #779
I have so far not been able to reproduce this with MaxTo 2.2.1 and Directory Opus 12.26 on Windows 11 21H2 (22000.493).

[2022-03-07 20:28] oscillik commented on #779
I am running Windows 10 21H2 (19044.1526), and continues to affect me.

Again, I am more than willing to privately send over the crashlogs from Directory Opus if this will help.

[2022-03-07 21:00] flyingwolf79 commented on #783
Point 1. I would argue that the ability to have modifier keys and multiple layers to position windows as you wish would be useful to a large part of the userbase.

Point 2. What mental model are you basing this off of?

Point 3. Simply reads as: "I do not want to maintain it as it is too hard for me". You have dismissed it out of hand without any discussion after just over 24 hours.

This is just

[2022-03-07 21:55] robertplanetweb commented on #783
@flyingwolf79 it's strange you mentioned twice power toys. i've tried it (along a number of others) and i reinstalled it to see if there's something i missed. but weirdly enough, it has the same behaviour as maxto:
- there's a min height (which on maxto you can bypass through configs, havent tried it on power toys but i guess you could do that same)
- zones activate while holding shift but you can

[2022-03-08 05:17] flyingwolf79 commented on #783
I mentioned it because I was looking for other options.
The min-height is not an issue for me, but the response by the dev was just ridiculous.
How complicated is Windows key+arrow key?
I paid for MaxTo also, and I have recommended it to friends, as I said though, it seems the dev is just tired and could use a break. Simple as that.

[2022-03-10 08:49] robertplanetweb commented on #778
nevermind, it doesnt work for me either. everytime i restart the pc a new profile is created for each monitor

[2022-03-12 23:12] hanmindev commented on #780
Closed because MaxTo was changing my regions slightly. I modified the quarters preset to split the screen into eight parts and it works perfectly.

[2022-03-14 21:10] vegardlarsen commented on #778
If you turn off this feature, it may start working for you:

![image](https://user-images.githubusercontent.com/436508/158261862-1fa6e779-c92b-4889-a36c-ca9b97794311.png)

[2022-03-15 07:31] robertplanetweb commented on #778
thanks, that works

[2022-03-29 12:33] mnodx opened #784 "Installation Failed - Windows 10"
**Describe the bug**
The installation file downloaded after the 'try for free' CTA doesn't allow me to set up the program

![image](https://user-images.githubusercontent.com/102597707/160611358-96497a03-5e9f-480d-bbdc-152fa687b45d.png)

- Windows version:

![image](https://user-images.githubusercontent.com/102597707/160611723-62e26897-6eaa-4090-b8fb-3e3be0f9e383.png)

**Additional context**

2022-

[2022-04-18 02:26] duangai opened #785 "Virtual Desktop issule With Win11"
I can set separate Configuration in Virtual Desktop With Win10

    Then I upgrade My system to Win11

    And i can't separte Configuration，It is the same

[2022-04-22 06:30] tom-snips commented on #775
I have the same issue with Microsoft Outlook / Windows 11

Windows version: Windows 11 Version 21H2 (OS Build 22000.613)
MaxTo version: 2.2.1

[2022-04-27 21:08] byrongits opened #786 "Crash when firewall denies access to web"
**Describe the bug**

Why does the program try to connect to Amazonaws.com or Cloudflarenet and why does it quit when it is denied access?

Program attempts to communicate to the following IPs:

Amazon
********************
34.206.29.100
52.204.118.70
52.200.145.6
54.85.22.24

CLOUDFLARENET
********************
104.21.79.163
172.67.146.151

**To Reproduce**

Enable any firewall program with logging

[2022-04-28 02:08] flyingwolf79 commented on #786
Oh wow, an application like this has absolutely zero reasons to be reaching out to the internet, this is hinky, to say the least.

[2022-05-08 16:18] vegardlarsen commented on #786
MaxTo contacts the web for 4 very legitimate reasons:

1. To check for updates. You [can disable this in settings](https://docs.maxto.net/reference/settings/updates). This is towards maxto.net, which is behind Cloudflare.
2. To update your compatibility shims. Cannot be disabled. Again towards maxto.net, again Cloudflare.
3. To check your license. You cannot disable this. This is also towards maxt

[2022-05-08 16:36] vegardlarsen commented on #784
Hi,

and thanks for writing. This is unfortunately a known problem with our installer. What usually happens is that you either run the installer twice, which is easily done because the installer does not present a user interface and it can take quite a while before MaxTo is running, or because you ran the installer when MaxTo was already running.

In most cases, MaxTo will already be installed on

[2022-05-08 16:36] #784 closed, assigned to nobody

[2022-05-08 19:19] byrongits commented on #786
Thank you very much, appreciate the response.  That is what I believed what was happening and I wanted to confirm.  However, I am confused to as why I disabled the automatic updates and the error reporting and it still attempts to connect.

I recently saw new shims, although my automatic updates are disabled.  I've even disabled all of them - exepct for the ones you are not able to (Console window

[2022-05-10 18:04] stoicron opened #787 "Issues installing win 10"
When trying to install I get the error unable to install

**Describe the bug**

**To Reproduce**

1.
2.
3.
4.  installation has failed please check log and contact
5.

**Expected behavior**

**Screenshots**

**System information:**
- Windows version:
- MaxTo version:

**Additional context**

2022-05-10 12:49:24> Program: Starting Squirrel Updater: --install .
2022-05-10 12:49:24> Program: Starting