[2020-01-14 12:12] vegardlarsen commented on #523
@thewavelength Have you tried applying the registry fix from #476? You'll just need to know the registry path Iridium uses. Here are the paths for the other browsers:

[code]

If you do find the path, please share it so we can add it.

[2020-01-14 12:13] vegardlarsen commented on #91
@pjerem I am not sure. We already have [a long list of items going into 2.1](https://github.com/digitalcreations/MaxTo/milestone/11).

[2020-01-14 12:39] thewavelength commented on #476
@vegardlarsen Path for the Chromium-based Iridium browser:

`[HKEY_CURRENT_USER\SOFTWARE\Iridium\BrowserSboxFinch]`

[2020-01-14 12:39] thewavelength commented on #523
Done in #476

[2020-01-15 13:37] lachap1234 opened #528 "Can't install"
Trying to install MaxTo, it says

Double click the installer and then it says : installation has failed. There was an error... Check log...

**Expected behavior**
Get the program working by adding my licence key

**System information:**
 - Windows version: 10
 - MaxTo version 2.0.1

[SquirrelSetup.log](https://github.com/digitalcreations/MaxTo/files/4065121/SquirrelSetup.log)

[2020-01-16 13:19] #528 closed

[2020-01-16 13:29] lachap1234 opened #529 "Impossible to execute formula"
**Describe the bug**
Installed and bought the program yesterday, now I just started my computer this morning and used my shortcut to change the way my display are set.
I get and error which says "the key given is absent from the dictionnary" are we talking here about the recipe I created yesterday or about my license key?

**Screenshots**
![2020-01-16 08_21_49-Window](https://user-images.githubuse

[2020-01-16 20:01] ragafoo commented on #477
Is there any update on this issue?, My is similar to @jdunham22  and @gingerrunner

[2020-01-17 02:47] yamlCase commented on #316
yea, I was just about to open an issue on this, thank you for saving me the trouble!  I happen to use 3 monitors in Nvidia's "Surround" mode (all monitors act as one). Being able to snap to the 1/3 and 2/3 mark would be a godsend.  This is really necessary on my work laptop that goes back & forth from my tri-monitor setup to a single UW with different region needs.  Thanks!

[2020-01-17 22:50] nickallevato commented on #510
appreciate it
I can try another combination of things if it will help you in any way
might just do a fresh VM you can remote into or something

[2020-01-18 17:14] yamlCase commented on #521
I notice the same behavior with Aquasnap on Windows 10 1909

[2020-01-18 19:32] yamlCase commented on #489
I'm all for this.  I have an ultra-ultrawide setup with the screen split in 6.  My middle area is either "browser + browser" in even split, or "console + IDE" in roughly 1/3 + 2/3 split.  I oftentimes switch between the two depending on what I'm doing throughout the day.  MaxTo 1.x made this easy with alternate regions, but I'm forcing myself to use MaxTo 2.x.

Aquasnap has an "AquaGlue" feature t

[2020-01-20 10:39] vegardlarsen commented on #489
@yamlCase I am aware of this feature, and it is something we are looking to do in some way or another.

[2020-01-20 10:53] vegardlarsen commented on #477
@ragafoo Unfortunately no. It is related to 2 things as far as I can tell:

1. Windows in Windows 10 have an invisible border around them that MaxTo compensates for. This can sometimes cause a window placed on a monitor edge to technically be outside of that monitor.
2. If you have different DPI scaling settings on another monitor that touches that edge, Windows can sometimes decide that the windo

[2020-01-20 10:57] vegardlarsen commented on #529
This is a problem with the recipe you created, but the error message is very poor. This should be fixed in the preview releases (2.1.0-alpha.3), instead showing an error message that makes sense.

If you can get me a copy of the recipe you created (open `%AppData%\MaxTo\config.json` in a text editor and look for it), I'll probably be able to tell you more specifically what is wrong.

[2020-01-22 21:45] MavriGata opened #530 "Install prevented due to .NET version"
I am attempting to install and get the error regarding .NET version 4.7.2 is required.

I looked at the files under Microsoft.NET/Framework64/v4.0.30319
The DLL files say that the version is 4.7.2556

It is a work computer so I do not have admin rights to update .NET

Log file attached.

[maxto20200122.log](https://github.com/digitalcreations/MaxTo/files/4100132/maxto20200122.log)

[2020-01-24 08:32] vegardlarsen commented on #530
@MavriGata I am not sure that file version is actually .NET Framework version 4.7.2.

[Microsoft's guidance on determining the version of .NET Framework](https://docs.microsoft.com/en-us/dotnet/framework/migration-guide/how-to-determine-which-versions-are-installed) is quite detailed, can you try out their instructions and see?

[2020-01-27 10:01] Froentin opened #531 "Avid Media Composer 2019 conflicts with MaxTo"
**Describe the bug**
When MaxTo is executed on windows 10 Pro, Avid Media Composer 2019 can't be fully launched. It craches at "Initializing OpenGL effects".

**To Reproduce**
Steps to reproduce the behavior:
1. Let MaxTo executed.
2. Click on Avid Media Composer 2019.
3. Wait the initialisation of the software.
4. At the "Initializing OpenGL effects" loading, software crashes.

**Expected behavio

[2020-01-27 10:55] inovitae opened #532 "Display Windows 10 Virtual Desktops side by side"
**Is your feature request related to a problem? Please describe.**
I just bought an ultra wide screen (49") and I would like to see the Virtual Desktops side by side on the same screen. Like this I could e.g. share one of the two virtual desktops and continue working on the other...

**Describe the solution you'd like**
Being able to show 2 or more Windows 10 Virtual Desktops on the same screen

*

[2020-01-27 14:54] vegardlarsen commented on #532
I like this idea, but at the moment it is not technically possible to do. Microsoft has a very limited API surface for their virtual desktops (so small that it is actually inadequate for what MaxTo does currently, and we have resorted to using undocumented APIs). I have spoken to the devs working on the virtual desktop feature at Microsoft (this was a good while ago), and they did not have plans t

[2020-01-27 14:54] #532 closed

[2020-01-29 20:45] le0d0 opened #533 "too many errors in simplified Chinese in the software"
I like this softeware a lot, but simplified Chinese translation has too many errors. I am chinese, i can help you correct it.
If you need my help, send me a email: `<email removed>`

[2020-01-30 09:03] vegardlarsen commented on #533
Thank you for the feedback. We used a professional translation company for this translation. It is however up for modification at https://maxto.net/translate. Feel free to fix any issues you find with it and it will be included in the next update.

PS! I've removed your e-mail address from this public forum.

[2020-01-30 09:03] #533 closed

[2020-01-30 17:50] le0d0 commented on #533
Thanks, glad to know that.

Vegard Andreas Larsen <notifications@github.com> 于 2020年1月30日周四 下午5:03写道：

[2020-02-01 07:22] TMily opened #534 "Incompatible with Windows Terminal"
**Describe the bug**
Incompatible with Windows Terminal

**To Reproduce**
Steps to reproduce the behavior:

when maxto runing Windows Terminal crash

**System information:**
 - Windows version: Win10 1909 18363.592
 - MaxTo version: 2.1.0A3
 - Windows Terminal version: 0.8.10261.0 from MSStore

**Additional context**

Application  Error Event:

错误模块名称: InputHost.dll，版本: 10.0.18362.387，时间戳: 0x1217c

[2020-02-04 09:40] vegardlarsen commented on #534
Thank you for your report. We have [added Windows Terminal to our compatibility shims list](https://maxto.net/en/shim/windows_terminal).

Can you in MaxTo's Settings, go into Compatibility and click "Check for updates"? The afterwards, restart Windows to make sure all changes have taken effect?

Please do let me know if this solves the problem on your machine.

[2020-02-06 14:57] TMily commented on #534
new compatibility shim work well thanks

[2020-02-06 14:57] #534 closed

[2020-02-07 08:10] gazialankus commented on #91
I just found about MaxTo through a google search because I want sticky notes to stay in their virtual desktops after reboot.

If you get sticky notes to stay where they were after a reboot, and similarly do a decent job in placing windows of apps that started with windows startup, I will switch to MaxTo.

I think you can differentiate between processes that started automatically upon startup vs. p

[2020-02-10 19:35] rayzorben opened #535 "MaxTo 2.1.0-alpha3 doesn't work at all Windows 10 (19559.1000)"
MaxTo is not working at all. It has not been working on the past few insider builds, but I honestly don't know if it worked prior as I had to reinstall Windows.

Running Windows 10 19559.1000, previously 19555.1001

Installed MaxTo, defined some regions. Hold Shift key and drag a window. Nothing happens. MaxTo is Active. Tried using some shortcut keys for recipes to move window or assign a window

[2020-02-11 15:27] BaronRK commented on #451
I did not forget you, I have been circumnavigating the earth, and so mostly working off a single display (laptop) or with an external small USB monitor.

But, I'm nested for a few weeks, and added a HUGE 32" monitor.
Redownloaded MaxTo, and am playing with it again.

(I know I might always be an edge case, or a corner case, or a basket case for that matter.  Hopefully, my suggestions don't hurt th

[2020-02-13 14:43] vegardlarsen commented on #451
I agree that this is something that would be "cool" to have, however I struggle to see the utility of it. First and foremost; aligning monitors according to their physical position is not really relevant to how they work.

The "connected edges" idea is visually interesting, but the more I think about it it won't work. Based on what Windows has today, you already have these connections, and how muc

[2020-02-13 14:44] vegardlarsen commented on #535
Which processes are running on your system? Can you [get me the log files](https://maxto.net/documentation/troubleshooting)?

[2020-02-13 18:19] rayzorben commented on #535
First run was run normal, then I saw the error and tried to run as admin, still not working.

[maxto20200213.log](https://github.com/digitalcreations/MaxTo/files/4200228/maxto20200213.log)

[code]

[2020-02-13 20:12] GronbergInfo opened #536 "Maximized window isnt "real maximized""
Hi.
I just found this software today after buying a samsung 49" ultra wide screen 5120x1440 screen.

When i maximize a window into the region (works as expected).

For windows, at first it gets the maximized icon windows 10 draws, but then it changes to restored icon, but the window is maximized to my region.

But windows gets a resize cursor in the top or bottom, this causes me to resize the wind

[2020-02-13 21:32] gte619n opened #537 "Very Weird Error Popping Up all of a sudden"
**Describe the bug**
After the latest Windows Update, I get this error message popping up time after time.

![image](https://user-images.githubusercontent.com/223900/74480113-54933200-4e7e-11ea-88f9-a3e250484f6e.png)

[2020-02-14 00:16] nevilex commented on #537
Same issue. Started happening after latest major Windows 10 update yesterday.

[2020-02-14 02:26] BaronRK commented on #451
'but the more I think about it it won't work'

Strange, the more I think about it, and the more my friends thought about it (I posted it around to some friends at MS and Google) the more we liked it.

Some example of things this would allow those that want it to do:

- Wrap the mouse to the next monitor.   In my day we called this https://en.wikipedia.org/wiki/Wraparound_(video_games)

So when you

[2020-02-14 07:25] vegardlarsen commented on #537
Long answer: see #415 for a full explanation.

Summarized: re-install Dell Update and run the PowerShell snippet from that issue as admin.

[2020-02-14 07:25] #537 closed

[2020-02-14 08:24] vegardlarsen commented on #536
That's the monitor I just got for my home office. Great monitor! :)

The problem about letting the window become "maximized" (in that it gets a restore button), is that it will screw up the window borders of the window, which is really ugly. Quite simply, allowing the restore button to show triggers a whole bunch of other stuff that you don't need. I remember I experimented with this back when I i

[2020-02-14 08:24] #536 closed

[2020-02-14 08:43] vegardlarsen commented on #535
Can you try setting MaxTo to run as admin and reboot again?

[2020-02-14 15:38] rayzorben commented on #535
No luck, here is the logfile. MaxTo is set to start on logon and says 'MaxTo is currently running elevated.'. I rebooted.

[maxto20200214.log](https://github.com/digitalcreations/MaxTo/files/4205140/maxto20200214.log)

[2020-02-18 04:23] Moyf commented on #328
Agree with s3rb31, I'm wondering could MaxTo **offer options to config the "Trigger Key"?**

Personally, I like to use "Left Mouse Button + Right Mouse Button"(Firstly you hold LMB, then you press RMB and hold both), because this could be done with only ONE hand - no need to use another hand and to find a key to hold.
That's so convenient, could you please consider about it ?

BTW lately I tried m

[2020-02-23 21:09] IvanChernyshov opened #538 "Full Screen Mode Inside the Region"
Hello,

I prefer to use some applications in the fullscreen mode; however, there is no way to restrain them to a specific area. It would be great to see this feature in MaxTo.

Many thanks for the great tool!

[2020-02-24 07:30] vegardlarsen commented on #538
Thank you for the request. This is one of our most requested features (see e.g. #388, read more there for details), but it is very difficult to do, and therefore we have postponed it for a long time.

I am closing this issue as it is a duplicate.

[2020-02-24 07:30] #538 closed

[2020-02-24 11:51] dexnetz opened #539 "Since restartr today big error...."
app version: 2.0.1
![image](https://user-images.githubusercontent.com/20894177/75150262-4d80e500-5704-11ea-8bb7-9c928b6bb332.png)

[2020-02-24 11:51] dexnetz commented on #539
this is my little problem, this msg comes somtimes 10 times, in a min.

[2020-02-24 12:24] vegardlarsen commented on #539
Please see #415. There is a specific note towards the end of that thread on how to fix LocalBridge.exe errors.

I am closing this as a duplicate.

[2020-02-24 12:24] #539 closed

[2020-02-24 21:04] paul-shell opened #540 "Fill Empty Space From Taskbar When Using Surround"
**Is your feature request related to a problem? Please describe.**
With three monitors in surround, the taskbar at the bottom would span the entire bottom which is too much. NVidia has a setting to only show on the center monitor. Which works, but there's still empty space where the spanned taskbar would be.

**Describe the solution you'd like**
A setting to set my own usable screen space. Or some

[2020-02-25 06:46] vegardlarsen commented on #540
Thank you for your request @paul-shell. When I first started thinking about this last night it seemed like a completely reasonable request, until I considered the fact that the usable work area for a single monitor would no longer be a rectangle.

Because of the way nVidia Surround works (joining multiple, equal-resolution monitors into one), the combined monitor resolution is always a rectangle.

[2020-02-25 06:46] #540 closed

[2020-02-25 18:54] vegardlarsen commented on #415
Short update from Microsoft: they are taking this fix to "shiproom" this week. I'll get sometime later this week regarding what form the fix will take, and hopefully when it will be made available.

[2020-03-03 22:31] nickallevato commented on #510
i renamed this to be more appropriate

[2020-03-05 10:55] widmann-it commented on #515
Hello,
I have reinstalled the computer with the same result.

The user is a normal user without administrator rights. After the installation maxto could call once. The regions were also displayed. But on both screens the regions were not adjustable differently. Thereupon I let maxto run as administrator - with the result that it does not work anymore

[maxto20200305.log](https://github.com/digital

[2020-03-05 19:27] Fonta commented on #506
I have a 49" super ultra wide screen and have my settings like 1/4, 2/4, 1/4. I also have a few pixels gap between the windows. as you can see in the screenshot:

![image](https://user-images.githubusercontent.com/6190791/76017956-c27fc600-5f1f-11ea-8a1a-497d2ff48f30.png)

[2020-03-06 08:29] vegardlarsen commented on #506
@Fonta Do you have any sort of DPI scaling turned on? Do you have multiple monitors, and is the DPI scaling different between them?

[2020-03-06 08:33] vegardlarsen commented on #515
There is an exception that has crashed MaxTo two times in the log file:

[code]

I am uncertain what causes it. Can you try updating to [version 2.1.0-alpha.3](https://maxto.net/release/alpha)?

From the logs it also appears as if MaxTo is set to start as administrator, but that access was denied (either by you or the system settings).

[2020-03-06 14:15] Fonta commented on #506
Hi, I'm on 100%, no other monitors.

![image](https://user-images.githubusercontent.com/6190791/76091169-52278200-5fbd-11ea-87cc-092bd31a777c.png)

[2020-03-07 19:48] tfp1 opened #541 "Error message when running MaxTo & Spotify"
MaxTo Version: 2.0.1
Spotify Version: 1.1.27.472.gf6574b97 (Microsoft Store version)

# Steps to Reproduce
1. Launch MaxTo
2. Launch Spotify
3. Observe error message

# Alternative Steps
1. Launch Spotify
2. Launch Maxto
3. Select the spotify window
4. Observe error message

![](https://p193.p3.n0.cdn.getcloudapp.com/items/KouW4xy2/Image+2020-03-07+at+8.56.27+AM.png?v=16efb0eb3ffa95de5b2cf47774323

[2020-03-07 20:26] vegardlarsen commented on #541
On my phone, but please see issue #415 for workaround.

[2020-03-07 20:26] #541 closed

[2020-03-09 10:08] soleroitsolutionsltd opened #542 "Error with MaxTo.hook.x64.dll on recent Windows build"
**Describe the bug**
Error with MaxTo.hook.x64.dll on recent Windows build - reported as invalid 0x000012f

**To Reproduce**
Launch MaxTo

**Expected behavior**
Application working without error message

**Screenshots**
https://i.imgur.com/vhYxEvE.jpg

**System information:**
 - Windows version: [e.g. 10, 8, 8.1]
 - MaxTo version [e.g. 2.0.1]

**Additional context**
Happening will all our machines

[2020-03-09 10:13] vegardlarsen commented on #542
Thank you for writing. This is a version of issue #415. Please see that issue for a workaround (the workaround for LocalBridge.exe is different from most other programs).

Closing this issue as a duplicate.

[2020-03-09 10:13] #542 closed

[2020-03-09 15:43] dramamask opened #543 "Windows 10: each "virtual desktop" uses the same MaxTo layout"
MaxTo 2.01
Windows 10.0.18363

Previously, MaxTo would remember a layout for each "virtual desktop". If you loaded a layout it would only effect that particular "virtual desktop"... which was great because I use different layouts for each of my four desktops.

Since about two weeks ago the same layout is used on each of the "virtual desktops". When I load a MaxTo layout on any of my desktops, it n

[2020-03-11 03:17] refactorsaurusrex commented on #397
@vegardlarsen Can you clarify this? Is there a way to remove a preset from the UI? Or do you have to remove it directly from the config file?

[2020-03-11 08:25] vegardlarsen commented on #397
@refactorsaurusrex When you have the edit regions window open, do this:

![image](https://user-images.githubusercontent.com/436508/76396773-1e13de80-637a-11ea-843b-cf4f30c39a7f.png)

Then you'll see this:

![image](https://user-images.githubusercontent.com/436508/76396819-3552cc00-637a-11ea-88de-b2d19c0ac295.png)

[2020-03-11 08:31] vegardlarsen commented on #543
@dramamask Have you enabled it in the settings (bottom of screenshot)?

![image](https://user-images.githubusercontent.com/436508/76397268-130d7e00-637b-11ea-9558-45b1e535acc7.png)

[2020-03-11 10:53] thewavelength commented on #519
I discovered another behaviour: when opening the region selector and trying to click on the "Use regions" button, _nothing_ happens. The button gets it's _clicked_ state but the region selector stays open and the region is not applied. Only way to exit that windows is clicking "Cancel changes".

Sadly, I still didn't find the common source for these types of bugs.

[2020-03-11 13:49] refactorsaurusrex commented on #397
Ah, I totally missed that this is an alpha feature. I'm on the stable release. Thanks for the response!

[2020-03-11 14:51] vegardlarsen commented on #519
This sounds very strange to me. Are you using any software or mouse drivers that could in any way disturb mouse clicks? Can you try to set focus to the button and pressing space bar or enter to see if it activates then?

[2020-03-11 14:53] thewavelength commented on #519
I don't. Space or Enter doesn't do the trick, sadly. In 2.0.1, it also works with Space then.

[2020-03-15 08:53] vegardlarsen commented on #543
Closing this due to no feedback. Will re-open if requested.

[2020-03-15 10:34] vegardlarsen commented on #480
I have managed to fix this issue, and the fix will be in 2.1.0-alpha.4.

[2020-03-15 10:35] #480 closed

[2020-03-15 11:24] d3relict opened #544 "Breaks Assetto Corsa Launcher"
**Describe the bug**
Interferes with Assetto Corsa Launcher, which tries to create a full screen window, but fails (gets resized), then repositions and the application crashes

**To Reproduce**
Steps to reproduce the behavior:
1. Install Assetto Corsa
2. Start the game
3. Sometimes a race needs to be started and exited
4. See error

**Expected behavior**
Game window allowed to enter full screen di

[2020-03-15 13:27] vegardlarsen commented on #510
@nickallevato I have tried to reproduce this today, but unfortunately VMWare Workstation will not run on my computer. And being currently locked to working from home because of the corona virus; this will unfortunately have to wait for a while more.

[2020-03-15 13:29] vegardlarsen commented on #544
@d3relict I think this can be fixed with a compatibility shim. Can you get me the name of the process (with MaxTo not running)? You'll find it in Task Manager, under Details.

[2020-03-15 13:30] vegardlarsen commented on #531
Can you get me the name of the running process? You'll find it in Task Manager, under Details.

[2020-03-15 13:35] vegardlarsen commented on #527
After checking this a bit more closely, it appears AIDA64 runs elevated. MaxTo can also be set to run elevated, and will work with AIDA64 when MaxTo is running elevated. You'll find a setting for this in MaxTo's settings, under "Startup".

Closing issue.

[2020-03-15 13:35] #527 closed

[2020-03-15 13:36] vegardlarsen commented on #523
Closing due to lack of activity and no more reports. Seems to work now.

[2020-03-15 13:36] #523 closed

[2020-03-15 13:47] vegardlarsen commented on #476
@thewavelength Took me a while, but I've added Iridium to the automatic patch list for MaxTo as well.

[2020-03-16 21:55] nickallevato commented on #510
ironic
also microsoft has released fancyzones powertool which feels like a 5 dollar ripoff of your product, but it does work surprisingly well
stay safe in there, we locked up travel which helped a lot

[2020-03-17 21:27] #521 closed

[2020-03-17 21:27] vegardlarsen commented on #521
This should be fixed in 2.1.0-alpha.4. Please download it once it is ready and let me know.

[2020-03-18 03:21] thewavelength commented on #519
I can debug .NET applications on my local machine. If you let me know which function it is I could set a breakpoint on the function which gets fired when I'm pressing the button "Use regions" or the function which should be fired when pressing a hotkey to select a region and try having a look.

[2020-03-18 19:33] d3relict commented on #544
hey @vegardlarsen, if i understood you correctly, the name of the process is AssettoCorsa.exe. it also launches acs.exe which is the simulation part, it had no issues so far, but might be good to add as an exception as well. in case i missed your meaning, please help me find the info you are looking for :)

[2020-03-18 19:40] vegardlarsen commented on #544
That was correct. Can you try opening Notepad (or any other text editor you may prefer), and open the file `%LocalAppData%\MaxTo\shims.json` (that is a valid file path, even though it may not look like it).

In that file, copy and paste in this snippet near the end:

[code]

You'll need to look at the structure of the file, insert a comma at the correct place, and then save the file. Afterwards; y

[2020-03-18 19:48] d3relict commented on #544
thanks, it worked perfectly, now i have proper fullscreen without crashes and/or unwanted resizing.
also thank you for the info, now i can provide better reports in case i have other issues, and give you the proper json object to fix it :)

[2020-03-18 20:12] vegardlarsen commented on #544
Thank you for your report. I have added this to the official shims list, and it will be automatically reloaded the next time you start MaxTo. :)

Closing issue.

[2020-03-18 20:12] #544 closed

[2020-03-19 14:23] buddyw opened #545 "MaxTo unlicense itself if you startup connected to a VPN"
If you startup your machine connected to a VPN service, Maxto unlicenses itself and will not re-license until you disconnect from the service and enter your key.  When I go to the website to get the key, it also makes me solve a captcha when I'm connected to the VPN, so my guess is that you are using cloudflare or something to front end the license check and the captcha is breaking the process.

*

[2020-03-20 08:51] vegardlarsen commented on #545
The log files should be in `%AppData%\MaxTo`.

You are exactly right in regards to Cloudflare, we do use it, but we hadn't considered that it may put up a Captcha between the user and us. Could you check to see which HTTP status code Cloudflare returns when it shows the Captcha? I can't find it in their docs easily at the moment.

[2020-03-20 12:28] buddyw commented on #545
I found the log.  I'd forgotten to check appdata\roaming\

[2020-03-20 12:51] vegardlarsen commented on #545
From the log, I am assuming this is a HTTP 403 response (because of this: `The remote server returned an error: (403) Forbidden.`, which is for an update, not the actual license validation). This should be possible to detect and prevent invalidation.

Thank you for reporting this.

[2020-03-20 14:49] dramamask commented on #543
Sorry for the late reply. Yes, that is enabled:

![image](https://user-images.githubusercontent.com/16373074/77175025-9455c680-6a87-11ea-95db-525e330da5f6.png)

This used to work for me, until the latest Windows 10 update.

[2020-03-20 14:51] vegardlarsen commented on #543
OK, then it could be a problem with an underlying change in the Windows 10 APIs. We use some undocumented APIs to enable this support, and Microsoft has been known to change it before.

[2020-03-21 09:44] josezulu commented on #545
I'm encountering this error too as of this morning.

When I go to the maxto.net website I can see Cloudflare asking me whether I'm a robot, and after clicking "no" and submit, the website works.

Is Maxto unable to phone home due to Cloudflare's new validation?

[2020-03-21 09:56] josezulu commented on #545
I confirm this issue does not appear when I'm not using my PC via my VPN provider.
Definitely it's due to the cloudflare validation required.

[2020-03-21 09:56] vegardlarsen commented on #545
That may be. I don't think this is anything new on Cloudflare's end; but it may be exacerbated by the current health situation. Are you also using a VPN @josezulu?

[2020-03-21 09:59] josezulu commented on #545
I'm sorry, we just crossed messages. Yes, I am also using a VPN.

[2020-03-21 10:08] josezulu commented on #545
Checking my VPN provider it informed me that the current outgoing IP address was blacklisted.
I connected to another VPN server and MaxTo works fine now.

Please add a failsafe so we don't get blocked with 403. Similar to when I don't have internet connection at all and MaxTo still works.

[2020-03-22 11:38] vegardlarsen commented on #543
I can reproduce this locally, and I am looking at it.

[2020-03-22 15:14] vegardlarsen commented on #543
Thank you for this report, @dramamask. This boils down to a bug in a library we are using. Specifically [this bug](https://github.com/Grabacr07/VirtualDesktop/pull/43).

I have successfully managed to fix the issue locally; but since we need to fork that project and set up our own builds of it; I do not have a test build ready for you at this time.

If you are interested in a preview build of this

[2020-03-23 17:45] dramamask commented on #543
Thank you for jumping on this! Much appreciated.

[2020-03-24 14:57] jneuhaus20 commented on #163
FYI, In 2.1 (currently Alpha) one of the recipe ingredients is Expand Edge which lets you specify which edge, and to what it should extend (Window/Region/Screen edges.)

[2020-03-24 15:15] jneuhaus20 commented on #396
Suggestion: A perhaps smoother way to implement this would be to just allow specifying a Layout (like you can with Region/Monitor,) and handle the push/pull internally.

Pros:
- Matches existing conventions
- Simpler recipes
- Can restore prior layout if the ingredient fails
- (No a "pro" per se) Defaulting to "current" also matches Monitor specification and keeps it simple to add ingredients if y

[2020-03-25 08:15] #543 closed

[2020-03-25 08:16] vegardlarsen commented on #543
This issue has been solved, and will be in 2.1.0-alpha.4.

[2020-03-25 12:15] vegardlarsen commented on #545
Having looked at this, we've already fixed this (#495). If you [update to the preview versions](https://maxto.net/en/release/alpha), it should be OK.

[2020-03-25 12:15] #545 closed

[2020-03-25 12:27] vegardlarsen commented on #535
There does not seem to be anything interesting in the log files. Does the error persist if you uninstall MaxTo, reboot, and then reinstall?

[2020-03-25 12:45] vegardlarsen commented on #529
Closing due to lack of feedback.

[2020-03-25 12:45] #529 closed

[2020-03-25 12:54] vegardlarsen commented on #514
The build process has been adjusted, and starting with 2.1.0-alpha.4 this naming convention will be followed.

[2020-03-25 12:54] #514 closed

[2020-03-25 12:55] vegardlarsen commented on #530
Closing due to lack of feedback.

[2020-03-25 12:55] #530 closed

[2020-03-25 12:55] vegardlarsen commented on #512
Closing due to lack of feedback.

[2020-03-25 12:55] #512 closed

[2020-03-25 13:22] vegardlarsen commented on #163
You are right. This should have been closed. Will be in 2.1.0.

[2020-03-25 13:22] #163 closed

[2020-03-28 14:42] vegardlarsen commented on #517
![image](https://user-images.githubusercontent.com/436508/77825579-75e86e80-710a-11ea-9515-5da41b0aef23.png)

I've just implemented these changes, along with creating summaries of the most common (and useful) parameters to the triggers and ingredients. It does take up a bit more vertical space, but I think it strikes a nice balance between readability and density.

Will be in 2.1.0-alpha.4.

[2020-03-28 14:53] #517 closed

[2020-03-28 18:34] vegardlarsen commented on #245
Turns out this is an artifact of our installer software, which we cannot easily change. We are looking at other methods for installation in the future, as we have had multiple issues with this software. I am therefore closing this, as we won't be making any fixes here until we can replace the entire installer.

[2020-03-28 18:34] #245 closed

[2020-03-29 13:47] vegardlarsen commented on #531
I can not reproduce this locally with Avid Media Composer downloaded and installed as of today. Closing issue.

[2020-03-29 13:47] #531 closed

[2020-03-30 08:36] quantum-x commented on #375
I could confirm that on "Number" monitor identification, I have the same issue, running 2.0.1

[2020-03-30 10:47] treybrisbane commented on #142
I came here looking for this feature. I'm sad to hear it's no longer being worked on. 😢

My usecase for overlapping regions is essentially the following region configuration:

- One region that encompasses the entire screen (could simply use "maximize" for this)
- Four regions to divide my screen into quaters
- Three regions to divide my screen vertically into thirds
- Two regions to divide my scr

[2020-03-30 10:49] treybrisbane commented on #142
For what it's worth, if you were to ever return to the "layers of regions" approach, I think my ideal UX would be something like the following.

### For mouse
While dragging a window to preview its location, scrolling up or down with the scroll wheel would select a new region layer (having the window location preview update accordingly).

### For keyboard
Two types of shortcut; absolute (i.e. "mov

[2020-03-30 18:30] vegardlarsen commented on #142
Take a look at the [2.1 previews](https://maxto.net/en/release/alpha). We've added a few things that I think will make this easier, if not exactly what you want:

1. Support for WinSplit Revolution-style keyboard shortcuts, letting you quickly move an application to a specific position. Basically what you specify as absolute keyboard shortcuts above. These are customizable. Keyboard shortcuts are

[2020-03-30 18:32] vegardlarsen commented on #375
@quantum-x Please try out the [2.1.0 previews](https://maxto.net/en/release/alpha), which has some fixes that will probably remedy this (likely a different problem than this thread).

[2020-04-01 18:43] vegardlarsen commented on #515
@widmann-it Are you still experiencing this problem?

From looking at this; this can be either of two things:

1. A timing issue.
2. A rights issue, where the normal user account does not have access to the elevated user's tokens.

Can you please get back to me with some details about your setup, specifically user rights and how you elevate?

[2020-04-01 18:45] vegardlarsen commented on #491
Closing due to lack of feedback.

[2020-04-01 18:45] #491 closed

[2020-04-01 18:48] vegardlarsen commented on #460
Closing due to lack of feedback.

[2020-04-01 18:48] #460 closed

[2020-04-01 19:00] vegardlarsen commented on #450
After having investigated this for a while, it does not appear that we can solve this in any good way. If we ignore the "invisible accent border" and size windows 1px larger in 3 directions, we'll get overlapping windows which looks really weird when the focus changes. I am closing this as won't fix, unless something changes in regards to API support on Windows' end.

[2020-04-01 19:00] #450 closed

[2020-04-01 19:01] vegardlarsen commented on #506
After having investigated this for a while, it does not appear that we can solve this in any good way. If we ignore the "invisible accent border" and size windows 1px larger in 3 directions, we'll get overlapping windows which looks really weird when the focus changes. I am closing this as won't fix, unless something changes in regards to API support on Windows' end.

See also #450 (which is basic

[2020-04-01 19:01] #506 closed

[2020-04-01 19:03] vegardlarsen commented on #461
@gabeng Does this still happen with [the 2.1.0 previews](https://maxto.net/en/release/alpha)?

[2020-04-01 19:09] vegardlarsen commented on #407
@JianuoHuang I believe this issue was solved as [part of 2.1.0-alpha.4](https://maxto.net/en/release/alpha), where we fixed a multi-threading issue in the code that could block the hook from re-activating.

Please can you get back to me if this issue is still present in that version?

[2020-04-01 19:09] #407 closed

[2020-04-02 14:42] widmann-it commented on #515
The problem still exists - even under the current alpha version. As an administrator everything runs fine. Only as a normal user not. There is always the message that the program has already been started. After 5 to 10 attempts the program is loaded without error message but I can't save regions

[2020-04-04 12:06] vegardlarsen commented on #391
I cannot reproduce this issue. I installed Comodo Firewall (now at version 12) on a fresh install of Windows 10, and it does not put MaxTo in containment (I made sure to enable Auto-Containment).

As I cannot reproduce this, and the fact that running MaxTo "contained" from everything else in your system sort of defeats the purpose of running MaxTo, I am closing this issue as won't fix.

[2020-04-04 12:06] #391 closed

[2020-04-04 12:53] vegardlarsen commented on #510
OK, so 2 BIOS updates, a few BIOS settings, and diagnosing why Windows' wouldn't boot later, I have finally been able to run VMWare Workstation Pro on my machine. I cannot reproduce this exactly, but I did find some irregularities. I am testing with MaxTo 2.1.0-alpha.4 on Windows 10 1909 as the guest machine.

MaxTo does not seem to pick up when you resize the VMWare window. My VM initially starte

[2020-04-04 12:59] vegardlarsen commented on #394
Closing this issue as it does not appear to happen often, and may already have been fixed in the 2.1.0 previews. Please correct me if that assumption is wrong.

[2020-04-04 12:59] #394 closed

[2020-04-04 13:00] vegardlarsen commented on #149
I would love to support this feature, but we are unfortunately going to have to push it out of the 2.1 release. Sorry to do this to a almost 4 year old feature request. :)

[2020-04-04 13:02] vegardlarsen commented on #508
Could you possibly try this again with [2.1.0-alpha.4](https://maxto.net/release/alpha)? The best way to try a blank install is to:

1. Uninstall MaxTo
2. Reboot. (This step is important)
3. Install the new version.

[2020-04-04 13:11] vegardlarsen commented on #449
Because we want to maintain backwards compatibility for Windows 7, 8 and 8.1, we cannot support this at this point. We will be revisiting this for version 3.

[2020-04-08 03:33] BlackOpzFX opened #546 "SETTING - [x] Enable Default Window Maximize Function"
**Is your feature request related to a problem? Please describe.**
Nope. Not a problem just a request.

**Describe the solution you'd like**
Maxto allows me to use it without touching the keyboard UNTIL I need to maximize the window. A setting that enables the default maximize icon/action would allow you to use the program for the majority of the day without using the keyboard. During the day I sw

[2020-04-08 10:56] #473 closed

[2020-04-08 14:12] #378 closed

[2020-04-08 14:12] vegardlarsen commented on #378
This has been implemented and will be in 2.1.0-beta.1.

[2020-04-11 07:21] vegardlarsen commented on #546
@BlackOpzFX MaxTo should intercept maximize events triggered by the mouse. Clicking the maximize button should normally force a window into its own region. Holding Shift while clicking the button should let it maximize normally.

You should also be able to drag and drop windows while holding Shift, to quickly preview the regions and drop a window directly into it. Are you not seeing this functiona

[2020-04-11 12:43] vegardlarsen commented on #464
I am extremely sorry this has taken so long to resolve.

After trying this with MaxTo 2.1.0-alpha.4, which [is currently in preview](https://maxto.net/release/alpha), I cannot reproduce this problem. Can someone who have experienced this issue please try upgrading to that release?

@mobelby

[2020-04-11 12:51] vegardlarsen commented on #437
I am closing this issue due to lack of feedback.

[2020-04-11 12:51] #437 closed

[2020-04-11 13:53] vegardlarsen commented on #400
This has been implemented for 2.1.0-beta.1.

[2020-04-11 13:53] #400 closed

[2020-04-13 09:20] BlackOpzFX commented on #546
I wanted to avoid touching the keyboard. In any event I found a hack. I'm using x-mousebutton to turn a mouse wheel click into the keyboard-combo to execute the 'Maximize' for me. Works Perfectly and now I dont even have to mouse to then click the maximize icon. Click Scroll Wheel. Done.

https://www.highrez.co.uk/downloads/XMouseButtonControl.htm

[2020-04-13 09:27] BlackOpzFX commented on #546
As far as the window region redraw I meant... Why switch to a diff screen to adjust the window borders? Why not overlay those line onto the LIVE screen (not a grey background) and allow adjustment while the window contents resize in real-time. Because the adjustment lines are a different screen it can be hard to make fine adjustments since it you're slightly 'off' you have to readjust on the grey

[2020-04-15 05:50] vegardlarsen commented on #546
@BlackOpzFX In regards to the "Change regions" screen, we are evaluating different options here. The main complaint we've had here is that you can't see underlying window edges, so we will work to change this. Most likely this is something we'll look at for version 3.

I am closing this issue then, as far as I can see you have found workarounds for your main points?

[2020-04-15 05:50] #546 closed

[2020-04-15 12:13] madmann26 opened #547 "Enhancement Request - Top/bottom border adjustment"
**Is your feature request related to a problem? Please describe.**
Not really an issue. When you snap regions into place, the bottom border conflicts with the Windows taskbar.

**Describe the solution you'd like**
It would be nice to have an adjustment for that.

**Describe alternatives you've considered**
none

**Additional context**
none

[2020-04-16 01:17] Sterling177 opened #548 "Chrome Window forgets size"
Chrome window when minimised forgets position

set position minimise chrome > maximise chrome

keeps position

Windows 10 Pro
1909
18363.720

Same issue with Blender windows

[2020-04-18 03:36] winxp2600 opened #549 "error"
![2020-04-18](https://user-images.githubusercontent.com/63891564/79627178-c9c60080-8168-11ea-8fce-ae07cccdb079.png)

[2020-04-18 07:44] vegardlarsen commented on #549
This is a duplicate of #415.

In summary, to fix it you can uninstall the crashing package by running the following PowerShell command (as administrator):

[code]

I am closing this issue as it is a duplicate.

[2020-04-18 07:44] #549 closed

[2020-04-18 07:47] vegardlarsen commented on #548
If by "maximise chrome" you mean "restore Chrome" (e.g. by clicking its icon in the taskbar), I cannot reproduce this issue. I tested with MaxTo version 2.1.0-alpha.4 ([currently in preview](https://maxto.net/release/alpha)).

I am afraid you are going to have to be a little more specific with the details:

- version of MaxTo
- version of Chrome
- details about the exact steps you take that are re

[2020-04-18 07:48] vegardlarsen commented on #547
@madmann26 Are you saying that the "Change regions" window overlaps with the Windows taskbar, so that you can no longer see the taskbar?

[2020-04-18 08:13] vegardlarsen commented on #515
@widmann-it Could there be "remnants" of MaxTo running as admin when you are starting the normal version? Can you check to see if there are any MaxTo processes running (using Task Manager, under Details) before you start the normal process?

[2020-04-20 00:56] Sterling177 commented on #548
MaxTo 2.0.1
Chrome Version 80.0.3987.163 (Official Build) (64-bit)
Start Chrome and Chrome starts Full Screen - Win Key arrow right Snap to position.
Minimise Chrome - Maximise Chrome back to Full screen

[2020-04-22 17:12] lusham opened #550 "Regions do not take into account Taskbar's size"
I'm using horizontal split for two regions and on one of my two laptops (both are used with the same external monitor) the Windows Taskbar is not taken into account and windows are cropped when moved to regions.

See that on the screenshot there is no status bar for MS word and Chrome is cut as well.

![image](https://user-images.githubusercontent.com/32714850/80010201-fad46700-84c1-11ea-9e89-5df9

[2020-04-23 23:14] nickallevato commented on #510
not sure, to be honest. I appreciate the effort in installing VMWare Workstation.
I've since moved to the powertoy, sorry man.

[2020-04-24 11:50] roosmsg opened #551 "2.1.0-alpha4 Certain applications do not snap to regions"
Explorer and certain other applications do not snap to regions. They disappear instead. It's like they minimize without any animation. Upon reopening the application, the app window appears resized and in the top left corner of the screen. Snapping seems to work for other applications.

Applications I have tested and do not work:
- Explorer.exe
- Outlook Office 365
- Notepad++
- MS Internet Explor

[2020-04-24 11:53] vegardlarsen commented on #551
@roosmsg Thank you for your report.

When you say "snap to regions", are you using drag while holding Shift, click to maximize or keyboard shortcuts?

Does the problem still exist after rebooting?

[2020-04-24 12:03] roosmsg commented on #551
I use Shift when I try to snap to regions. Click to maximize sometimes does work, but not always (for the same applications I have mentioned above).

The problem still exists after rebooting.

Perhaps I should mention that I keep the window transparency behavior off, as that has never worked properly for me.

[2020-04-24 12:17] vegardlarsen commented on #551
While you are snap-dragging, do you see a preview window indicating where the window will be placed?

[2020-04-24 12:30] roosmsg commented on #551
I see no preview window for those particular applications.

The problem exists from 2.1.0-alpha2 and up. 2.1.0-alpha1 works as expected (with preview window).

[2020-04-24 12:35] vegardlarsen commented on #550
Thank you for reporting this. I can see from your screenshots that something is wrong here; but I am not entirely sure what it is.

I am able to reproduce this locally after some fiddling:

1. Place Notepad in a full-height region
2. Resize taskbar to be taller
3. Place Notepad in the same region.

I am investigating.

[2020-04-24 12:57] vegardlarsen commented on #550
Thank you for letting me know about this issue. I believe I have been able to fix this for version 2.1.0-beta.1. Please watch out for that release shortly.

[2020-04-24 12:57] #550 closed

[2020-04-26 13:58] sauer-m opened #552 "MaxTo forgets configured region preset after restart"
**Describe the bug**
After a System restart the saved region preset is present but not active. It needs to be activated in the region settings after the software is closed and opened again.

**To Reproduce**
Steps to reproduce the behavior:
1. create a template in the region settings.
2. save as preset.
3. restart software.
4. the preset is no longer active but choosable from the preset list.

**E

[2020-04-26 14:00] vegardlarsen commented on #552
Can you try to use the 2.1.0-alpha.4 preview release to see if this problem goes away? [Downloads are here](https://maxto.net/release/alpha).

If you are unwilling to try preview software, the problem can be fixed by changing your monitor identification in the settings to "By number".

[2020-04-26 14:13] sauer-m commented on #552
Wow, that was quick, thanks.
Yes, that solved the problem.
The Beta is very laggy (unresponsive and slow) on my System. Also the language setting doesnt work (Software is in german despite I choosed english).

I will also try to change the monitor identification in the current stable.

[2020-04-26 14:31] sauer-m commented on #552
Seems to I'm not able to deinstall the current beta. The uninstaller cant find "update.exe" in "C:\Users\%user%\AppData\Local\MaxTo\"
Therefore I also cant install the stable release.

[2020-04-26 14:43] sauer-m commented on #552
using the 2.1.0-alpha.4 preview release solved the problem, as well as changing the monitor identification in the settings to "By number".

[2020-04-26 14:44] vegardlarsen commented on #552
@sauer-m Yes, there are some missing translations for the preview releases. See [maxto.net/translate](https://maxto.net/translate) to help out. I see German is currently at 59%.

[2020-04-26 15:21] sauer-m commented on #552
I will have a look. What I was meaning was:
Language is set to "english" but displayed language is german.

[2020-04-26 21:00] sauer-m commented on #552
Hm, so Im back in stable version 2.1.0 as the beta messed up my windows. Changing the display detection settings to "By Number" didnt work. After e restart the reagion settings are gone, unfortunately :/

[2020-04-27 13:23] 50l3r commented on #388
It would be an incredible functionality.

[2020-04-27 16:29] roosmsg commented on #551
Just did a clean install of Windows 10 Pro on another pc. Using 2.1.0-beta1, the problem persists.

[2020-04-29 15:56] Vlion33 opened #553 "ninjatrader shim"
**Describe the bug**

when i open ninjatrader (from ninjatrader.com) all sets up ok but if i enlarge a chart window that chart locks up and subsequently have to shut down whole trading system to get it to work again

i am using windows 10 pro with latest maxto version 2.0.1 i have a full purchased version

i have read through documentation trying to figure out how to make a shim or something aroun

[2020-04-29 19:16] vegardlarsen commented on #553
@Vlion33 Have you tried NinjaTrader using [the 2.1.0-beta.1 preview](https://maxto.net/release/beta)?

[2020-04-29 22:49] Vlion33 commented on #553
the beta version fixed all those issues... thank you!

[2020-04-29 22:49] #553 closed

[2020-05-01 10:42] vegardlarsen commented on #552
What happened in the beta that "messed up your windows"?

[2020-05-01 11:32] vegardlarsen commented on #551
I am unfortunately unable to reproduce this. I've tried on Windows 10 build 1909 and 2004, and it works with all the software on your list. I have seen instances where e.g. 64-bit applications wouldn't work, while 32-bit applications worked, but that isn't the case here. There is a good mix between 64- and 32-bit apps on both lists.

[2020-05-01 11:47] vegardlarsen commented on #510
I believe this issue is fixed in [2.1.0-beta.1](https://maxto.net/release/beta). As my VMWare Workstation trial has expired, I can no longer test this. If anyone find that this is not the case, please feel free to re-open this issue.

[2020-05-01 11:47] #510 closed

[2020-05-02 15:41] hyzhangzhy opened #554 "Problem with paint.net"
**Describe the bug**
With MaxTo enabled, I can not move, maximize paint.net window, but I can resize it by dragging its boarder.

https://www.getpaint.net/

I am using MaxTo 2.1.0.beta1, paint.net 4.2.10, win10 x64.

[2020-05-04 10:32] marcosqlbi opened #555 "Windows resize issues using 2.1.0-beta1"
When I try to resize windows using 2.1.0-beta1, I’m not able to get the size I want, MaxTo is interfering with a regular resize operation and I have to disable it to be more productive.

Steps to reproduce the behavior:
1. Go on a monitor where the area is splitter in 4 identical rectangles
2. Open Notepad (or any other windows application) and move it on that screen
3. Resize Notepad trying to en

[2020-05-07 16:37] roosmsg commented on #551
Just build a new pc. Did another clean install of Windows and boom... same problem. Does it have something to do with my version of Windows? NL-NL?
![Knipsel](https://user-images.githubusercontent.com/19514981/81320597-bc2dd780-9091-11ea-9836-e3b042f19d73.PNG)

[2020-05-08 07:53] sauer-m commented on #552
The window-transparency changes with every move of a window. As far as I remember even if maxto is closed.(See screens attached).
Sometimes I also get this Net framework exception (attached).
Also, during installation my sistem get really slow and laggy. Last time it was a pain to uninstall MaxTo beta. I cloudnt run the uninstaller because files were missing.
I make further investigations when I h

[2020-05-08 08:13] vegardlarsen commented on #552
Could you please send me your log files from when these crashes happen (either here or at support@maxto.net)? The errors do not appear to have been logged to our online crash reporting. You can find your log files by hitting Win+R, typing `%AppData%\MaxTo` and look for files ending in `.log`.

I am looking into the crash data you sent over in regards to the .NET Framework exception.

[2020-05-08 08:19] vegardlarsen commented on #552
After examining the crash you sent above, I think I need the log files to determine what is happening. I know it may be a long shot asking this, but were you doing anything special at the time the exception showed up?

[code]

[2020-05-08 08:29] vegardlarsen commented on #551
@roosmsg Thank you for being thorough on this. It should not be a problem with your version of Windows, especially not your language settings. This is the latest, stable version of Windows 10, and it should work just fine with MaxTo.

Have you tried with the 2.1.0-beta.1 release? I don't believe it contains any changes that may affect this, but it is worth a try.

Just to be clear, what you are se

[2020-05-08 08:41] vegardlarsen commented on #555
@marcosqlbi sent me the following GIF of what happens, and gave me permission to share it here.
![ezgif com-optimize](https://user-images.githubusercontent.com/436508/81388348-79631280-9118-11ea-994a-df2a8b78d3ef.gif)

I have confirmed this bug, and am working on figuring out what exactly is causing it.

[2020-05-08 09:05] #555 closed

[2020-05-08 09:05] vegardlarsen commented on #555
I have located and fixed this issue. It will be in the next release (beta.2).

[2020-05-08 09:21] sauer-m commented on #552
Im a bit busy right now, so im only able to send you the current logfile without further tests.
I attached you the whole folder. Maybe the display information help you as well.
[MaxTo.zip](https://github.com/digitalcreations/MaxTo/files/4598130/MaxTo.zip)

Due to your second question. I couldnt remember but guess not. Maybe there was an open explorer window, maybe also spotify.
As Im temporarily u

[2020-05-08 10:34] marcosqlbi commented on #555
Thanks!

[2020-05-08 11:28] roosmsg commented on #551
Those steps you describe are exactly what happens. Step 4: I reopen Windows Explorer (same as choose previous window size) and the window appears resized in a previous region. That's usually the top left corner of the screen.

I was going to comment with the text below, but then I restarted MaxTo a couple times and noticed all my problems had gone. I keep testing and report back here when I notice

[2020-05-08 13:09] vegardlarsen commented on #551
@roosmsg I think I have managed to isolate (and fix) this problem. I am building it now, but if you send me an e-mail at support@maxto.net, I'll be able to send you a private build that will hopefully solve your issues.

[2020-05-08 13:10] #551 closed

[2020-05-08 21:03] spectrumitteaam opened #556 "Applications crashing when moving screens to different square"
**Describe the bug**
When moving an appliction (word,excel) to another location on the monitor the appliction (word,excel) will crash. MaxTo doesn't seem to crash or store any logs about the crashing

**To Reproduce**
Steps to reproduce the behavior:
1) Open application
2) Move to different part of the screen

**Expected behavior**
Application window being moved to correct spot

**System informati

[2020-05-11 07:38] vegardlarsen commented on #556
@spectrumitteaam Thank you for your report. Which version of Office are you running? I just tested this here, and I can see no problems with Word or Excel 2019.

Is this an issue that happens after a while, or are there specific situations where it occurs?

I also downloaded Fuze to test it, however I do not have an account or a meeting that I can join, so I could only test it on the welcome scree

[2020-05-11 10:01] vegardlarsen commented on #399
This will not be completed for 2.1.0. There can be multiple active presets at once (on different monitors), and we haven't really made the commands system for querying information.

If this is something we are going to do in the future, it would involve a larger rethinking of how commands work.

[2020-05-11 10:01] #399 closed

[2020-05-11 19:40] vegardlarsen commented on #270
I have re-implemented "Passive mode" for 2.1.0-beta.2. Since 2.0 you can disable all of MaxTo, which is not the same thing as Passive mode. Disabling MaxTo would prevent MaxTo from loading into other processes, Passive mode does not do this. I don't think there will be a shortcut key for disabling in the immediate future.

Passive mode will only affect window maximize events (i.e. requiring you to

[2020-05-12 11:53] matthiash82 opened #557 "MaxTo loses Hotkeys, restarting helps"
Recently this problem started and I'm *fairly* sure that it started to happen when I upgraded to 2.1.0-beta1. Basically, every now and then, Hotkeys stop working but regions otherwise work as normal.

I have 2 HotKeys: Windows+PageDown for moving a window left, and Windows+PageUp for moving right.

When starting my computer, 1/4 times everything works, but 3/4 regions will work but HotKeys not. If

[2020-05-12 14:39] spectrumitteaam commented on #556
@vegardlarsen Office 2016. The user says it happens until he restarts his computer and then it's fine for 2-3 days then everything starts acting up. I know that's not much help but I will try and see if I can figure out the problem. Thanks for your help.

[2020-05-12 17:32] rustamsh commented on #557
The same issue with me. Checked the logs and found this:
`
2020-05-12 18:34:32 [Server@2.1.0.644] [Warning] [MaxTo.Core.Communication.NamedPipeServerManager] Lost connection to "bbc9a917-2819-421a-8bea-5a2bc21fefd4"
System.IO.IOException: Pipe is broken.
   at System.IO.Pipes.PipeStream.WinIOError(Int32 errorCode)
   at System.IO.Pipes.PipeStream.BeginWriteCore(Byte[] buffer, Int32 offset, Int32 c

[2020-05-12 18:13] vegardlarsen commented on #557
Thanks for reporting this. I am looking into this. I assume this goes for all hotkeys; not just the ones you mentioned above @matthiash82?

@rustamsh The warning you listed happens every time a client disconnects; e.g. when MaxTo is closing down (or in the case where a subprocess crashes). It is normally nothing to worry about by itself.

My guess as to what is happening here, is that there is a p

[2020-05-13 05:28] rustamsh commented on #557
@vegardlarsen on my pc when this issue appears all hotkeys don't work, restarting the app helps.

But that issue didn't appear on my other machine (that new machine is more powerful and I installed the beta version from scratch), so it could be either something related to settings with an old maxto app or machine configuration. I am just guessing

[2020-05-13 06:10] vegardlarsen commented on #556
@spectrumitteaam That makes it quite a bit harder to debug. However, I will have a try at reproducing this (and hopefully fixing it).

[2020-05-13 06:21] matthiash82 commented on #557
Is it possible that the problem (keyboard driver?) is caused by idling? While I can’t say for sure it feels like the problem never appears while I’m working, but it’s a good bet that it won’t work when I get back from for example lunch.

[2020-05-14 01:34] ApolonTorq opened #558 "Format exception in logs and failure to show tray icon"
Getting this error in the logs and the tray icon doesn't appear:
[code]

[2020-05-14 10:10] vegardlarsen commented on #558
Thank you for the complete log, that is very helpful. According to this, it crashes when trying to decode your license key. Can you send me (in private, to support@maxto.net) the file `%AppData%\MaxTo\license.txt` (and the entire log file where you found this)?

[2020-05-14 12:02] #270 closed

[2020-05-14 12:04] vegardlarsen commented on #270
I have just added a command to change settings from the command line. Settings changes take immediate effect, so you can toggle e.g. passive mode from the command line:

[code]

This command will be in 2.1.0-beta.2.

[2020-05-15 11:27] heystenner commented on #505
@indigodreamer In case you are still looking for a solution:

I had the same issue and solved it by first maximizing the Firefox window on the current screen and then moving it to the designated are.

I'm also using -new-window when I load pages into Firefox:

For example: `Firefox.exe -new-window https://github.com/`

[2020-05-15 19:47] vegardlarsen commented on #558
Thank you for sending me this information privately. There appears to be some extra junk data at the end of your license key. I will send you a new license key privately which should work fine (the license itself is valid).

I can't really tell where the junk data comes from, but I am investigating if this can be related to our automatic "updating" of licenses.

[2020-05-15 19:51] vegardlarsen commented on #557
I don't think so. It only listens for events that happen when a key is pressed or released (`KEY_UP` and `KEY_DOWN` events), and has to determine (very quickly, I might add, to prevent any input lag) if it should treat the current key combination as a hotkey or not.

I have had a look at some improvements in this event listener that may improve things in the next beta.

[2020-05-15 19:57] vegardlarsen commented on #554
@hyzhangzhy I have just downloaded paint.net (from the website, not the Microsoft Store), and I can confirm that it doesn't work that well with 2.1.0-beta.1.

It does however work with 2.1.0-beta.2 (which isn't ready yet), so I am closing this as fixed in that release. You will automatically get updated to beta.2 when it is released.

[2020-05-15 19:57] #554 closed

[2020-05-16 07:45] matthiash82 commented on #557
The last few days I have been trying to be more observant and I’ve definitely lost hot keys during normal work. But every time the computer felt sluggish and unresponsive for a second or two.

[2020-05-16 08:17] rooby commented on #115
Git bash is another one where scroll bars go out of the region.

[2020-05-16 19:25] indigodreamer commented on #505
Thank you. I shall try what you suggest.

On Fri, 15 May 2020 at 12:27, Christian Stenner <notifications@github.com>
wrote:

[2020-05-16 21:24] yacoob opened #559 "Prefix shortcuts"
I'd like to ask whether maxto could be configured to use prefixed shortcuts. If you've ever used screen, tmux or Moom, you'd know this model of shortcuts. Essentially, you need to press a special combination (a prefix) first and then a shortcut that actually does something. This way, instead of trying to find the right `win+alt+ctrl+shift+some_unused_key` combinations that won't clash with an arbi

[2020-05-16 21:40] yacoob commented on #306
I take it this is not yet released? Will this functionality be available to use via UI in recipes?

[2020-05-17 17:40] matthiash82 commented on #557
I have managed to reproduce the problem semi-consistently. Whenever I connect to our VPN  (Cisco AnyConnect) my computer will input lag for a few seconds (probably totally unrelated to MaxTo). If I press any keys during this lag I can expect MaxTo to lose its HotKeys; if I do not they still work afterwards.

[2020-05-18 06:41] vegardlarsen commented on #557
@matthiash82 Very interesting. It could be that Cisco AnyConnect installs its own low-level keyboard hook, but I can't quite see what purpose that would have in a pure VPN solution? Does it do remote desktop as well (in which case the keyboard hook could be used to forward keypresses to the remote computer)?

[2020-05-18 06:42] vegardlarsen commented on #306
@yacoob It is in preview. See [our releases page](https://maxto.net/release/beta).

It is available in recipes, yes. :)

[2020-05-18 06:46] vegardlarsen commented on #559
This is something that we are considering for a future version. We've previously put it off because the native keyboard shortcuts system ([`RegisterHotKey`](https://docs.microsoft.com/en-us/windows/win32/api/winuser/nf-winuser-registerhotkey)) doesn't support it.

At the moment we are using our own low-level keyboard hook to implement keyboard shortcuts; and that method of implementation would sup

[2020-05-18 07:26] matthiash82 commented on #557
@vegardlarsen My point was more that it more confirms your theory(?) that the root cause is your device driver not responding quickly enough (due to system lag). As far as I know, Cisco AnyConnect does not install any low-level keyboard hooks. It might do remote desktops, but I use it as a pure VPN solution.

And regardless, Cisco AnyConnect was more a tool for me to somewhat consistency reproduce

[2020-05-18 10:13] vegardlarsen commented on #557
You are right. I will have to experiment with this more closely.

[2020-05-18 10:29] vegardlarsen commented on #558
This issue has been fixed (in the manner: "It will no longer crash MaxTo") for version 2.1.0-beta.2.

[2020-05-18 10:29] #558 closed

[2020-05-18 10:31] vegardlarsen commented on #556
@spectrumitteaam Can you try this with MaxTo 2.1.0-beta.1, [downloadable from here](https://maxto.net/release/beta)?

[2020-05-18 10:33] vegardlarsen commented on #535
Closing due to lack of feedback.

[2020-05-18 10:33] #535 closed

[2020-05-18 11:02] vegardlarsen commented on #548
Thank you for reporting this issue, @Sterling177.

I have uncovered the cause, and it appears MaxTo will not notify a maximized window that it is being restored when we moved it into a region when using the move command.

When the window is then re-opened from a minimized state, it believes it was maximized, and Windows will happily oblige.

This issue will be fixed in 2.1.0-beta.2.

[2020-05-18 11:02] #548 closed

[2020-05-18 11:05] Michael5122 commented on #234
So sad!!! Acrobat reades is a SW we all use a lot... it is so tedious when you ty to snap it to a region and goes full screen... Hope it can be resolved soon

[2020-05-18 11:13] vegardlarsen commented on #547
Closing due to lack of feedback.

[2020-05-18 11:13] #547 closed

[2020-05-18 11:48] vegardlarsen commented on #234
@Michael5122 Please read the linked issue above for a workaround.

[2020-05-18 11:49] vegardlarsen commented on #508
Closing due to lack of feedback.

[2020-05-18 11:49] #508 closed

[2020-05-18 12:04] vegardlarsen commented on #497
I am hoping this is something we can tackle in 3.0.

[2020-05-18 12:15] vegardlarsen commented on #461
I am closing this issue due to lack of feedback.

[2020-05-18 12:15] #461 closed

[2020-05-18 12:19] vegardlarsen commented on #462
Passive mode will be back in 2.1.0-beta.2! However, that only applies to maximize events at this time.

I want to tie the behavior you list here to passive mode, so the behavior of dragging windows and maximizing windows align. That would be a breaking change, and therefore must wait until 3.0.

I am therefore closing this issue, and will revisit this in 3.0.

[2020-05-18 12:19] #462 closed

[2020-05-18 12:21] vegardlarsen commented on #440
This behavior is no longer present in MaxTo 2.1.0-beta.1. Closing issue.

[2020-05-18 12:21] #440 closed

[2020-05-18 12:26] vegardlarsen commented on #425
I have tried to reproduce this repeatedly with different programs, and cannot reproduce this issue at all (version 2.1.0-beta.1). Please try this version and let me know if the issue still persists.

I am closing this issue, but if you can reliably reproduce it, feel free to comment again.

[2020-05-18 12:26] #425 closed

[2020-05-18 12:28] vegardlarsen commented on #413
Hyper-V Manager runs under `mmc.exe`, which runs as an elevated process. This means that running MaxTo elevated solves this issue.

[2020-05-18 12:28] #413 closed

[2020-05-18 12:31] vegardlarsen commented on #441
I believe this issue will be fixed for version 2.1.0.  It appears to be the same issue as #548. I am closing this one as a duplicate (even though you were first). :)

[2020-05-18 12:31] #441 closed

[2020-05-18 12:35] vegardlarsen commented on #451
I am closing this based on two reasons:

- Windows already has an (admittedly imperfect) solution to this.
- There are no extension points for us to be able to this properly.

Thank you for your idea. Having these kinds of discussions are very productive. :)

[2020-05-18 12:35] #451 closed

[2020-05-18 12:42] vegardlarsen commented on #392
This is now a default shim (has been for some time, actually).

[2020-05-18 12:42] #392 closed

[2020-05-18 12:52] #388 closed

[2020-05-18 12:53] #387 closed

[2020-05-18 12:56] vegardlarsen commented on #390
This issue no longer happens in version 2.1.0. I don't know why exactly that is, but I am closing this issue.

[2020-05-18 12:56] #390 closed

[2020-05-18 13:00] vegardlarsen commented on #383
@gingerrunner We did add "idempotent launch" in issue #498. It is in [the 2.1.0 previews](https://maxto.net/release/beta). In 2.1.0-beta.1 we also added support for partial matches for window titles, so you can add wildcards (e.g. "* - Notepad" to target any Notepad window on a US English machine).

[2020-05-18 13:00] #383 closed

[2020-05-18 13:02] vegardlarsen commented on #381
Closed as AnyStatus has resolved this on their end.

[2020-05-18 13:02] #381 closed

[2020-05-18 13:04] vegardlarsen commented on #325
@anders55j Is this still an issue on your machine with the latest releases?

[2020-05-18 13:04] vegardlarsen commented on #332
This is not something that we will do at this point. The interactions between the different regions make this very difficult.

[2020-05-18 13:04] #332 closed

[2020-05-18 13:07] vegardlarsen commented on #309
My conclusion here is that this will be unsupported in MaxTo unless we can find a good workaround.

You may (in some implementations of this kind of remote desktoping) have success with using the hotkeys for moving the windows around.

[2020-05-18 13:07] #309 closed

[2020-05-18 13:07] vegardlarsen commented on #300
Closing due to lack of feedback.

[2020-05-18 13:07] #300 closed

[2020-05-18 13:08] vegardlarsen commented on #272
We do have `expand` and `contract` commands now in [version 2.1.0 (currently in preview)](https://maxto.net/release/beta). These should help you on the way.

[2020-05-18 13:08] #272 closed

[2020-05-18 13:09] vegardlarsen commented on #310
This has been implemented in 2.1.0-beta.2.

[2020-05-18 13:09] #310 closed

[2020-05-18 13:10] vegardlarsen commented on #261
Closing due to lack of feedback. And I suspect this has been fixed by other bug-fixes we've made.

[2020-05-18 13:10] #261 closed

[2020-05-18 15:12] BaronRK commented on #451
Understood.

On Mon, May 18, 2020 at 5:35 AM Vegard Andreas Larsen <
notifications@github.com> wrote:

--

------------------------
Reichart
Cell 310.THINKER
------------------------

[2020-05-18 15:18] anders55j commented on #325
Due to the crashes I haven't used it for a while. I will give it another try, but I need to give it some runtime to see if it is still there. I have new monitors as well so things have changed. I'll be back...

[2020-05-18 17:53] NicholasConrad opened #560 "Can no longer resize windows properly while MaxTo is running"
Window resizing exhibits unusual and undesirable behavior. Exiting MaxTo restores window resizing function.

Examples of unexpected behaviors:

1) Dragging the window boarder with the resizer icon active instead of dragging the edge of the window (increasing the window size), drags the entire window (at the same, or close to the same size).

2) Dragging the window edge with the resizer icon active

[2020-05-18 19:17] vegardlarsen commented on #560
I believe we have fixed this issue for version 2.1.0-beta.2, see issue #555. Does that sound like the same issue to you?

[2020-05-18 20:58] NicholasConrad commented on #560
Yes, this is the same issue! Sorry, I searched under open tickets before posting my bug report, I didn't think to include closed tickets too. I apologize for the duplicate issue.

[2020-05-18 20:58] #560 closed

[2020-05-18 21:13] RunSmarterIT opened #561 "Windows Stay Transparent after moving it."
When I move windows around, 50% of the time, they stay transparent.

**To Reproduce**
Just move any windows in the Desktop

**Expected behavior**
Windows would return to no transparency after it would be dropped.

**Screenshots**
Imagine a windows but transparent enough that you can see the desktop underneath.

**System information:**
 - Windows version: 10 version 1909
 - MaxTo version [e.g. 22]

[2020-05-18 23:08] takeoffeh opened #562 "Constantly get Could not execute recipe"
**Describe the bug**
Very frequently when running recipes I get "Could not execute recipe"  Object reference not set to an instance of an object.

**To Reproduce**
Steps to reproduce the behavior:
I have my SurfaceBook 15" connected to a docking station with two other monitors connected to that.  I do undock and redock my machine occasionally.  I haven't found what causes it all the time, but I do

[2020-05-18 23:19] takeoffeh opened #563 "Maxto doesn't seem to build monitor dictionary until you Apply Regions through UI"
**Describe the bug**
Trying to apply regions using command line fails until you apply regions through UI

**To Reproduce**
Steps to reproduce the behavior:

1. 1. Restart maxto using maxto service
2. 2. using command line apply regions - maxto regions apply /Monitor [SerialNumber] /Name [regionName]
3. 3. Command line gives error The given key was not present in the dictionary.
4. 4. Right-click m

[2020-05-19 00:02] #469 closed

[2020-05-19 00:02] #385 closed

[2020-05-19 00:02] #380 closed

[2020-05-19 00:02] #377 closed

[2020-05-19 00:02] #374 closed

[2020-05-19 00:02] #338 closed

[2020-05-19 00:02] #314 closed

[2020-05-19 00:02] #214 closed

[2020-05-19 00:02] #203 closed

[2020-05-19 00:02] #131 closed

[2020-05-19 00:02] #120 closed

[2020-05-19 00:03] #117 closed

[2020-05-19 00:03] #113 closed

[2020-05-19 07:15] thewavelength commented on #120
Hi, I think you've activated the gh-actions bot without prior warning and now it closed this issue. I'd like to put back attention to this one to avoid it going missing.

[2020-05-19 07:16] thewavelength commented on #117
Hi, I think you've activated the gh-actions bot without prior warning and now it closed this issue. I'd like to put back attention to this one to avoid it going missing.

[2020-05-19 08:46] vegardlarsen commented on #117
@thewavelength You are right. The bot was a bit quicker than anticipated, it is set to mark as stale after 30 days, and then close 5 days afterwards; but with older issues it got a bit trigger-happy. :)

However, I am keeping this closed, for a few reasons. We want to keep the list of issues "clean", i.e. only issues we have an intention on fixing. We are putting a separate tag on ideas (which I j

[2020-05-19 11:14] vegardlarsen commented on #561
@RunSmarterIT Which version of MaxTo are you running?

[2020-05-19 11:17] vegardlarsen commented on #563
Thank you for reporting this. After testing, this issue does not occur in version 2.1.0-beta.1, which you can [download from here](https://maxto.net/release/beta). Please do try and update to that version and let me know if it is still an issue for you.

[2020-05-19 11:17] #563 closed

[2020-05-19 11:19] vegardlarsen commented on #562
Can you please try this again on [version 2.1.0-beta.1](https://maxto.net/release/beta)? I believe this has been fixed there.

[2020-05-19 12:26] blightfire commented on #561
Am randomly getting this issue as well on 2.1.0-Beta1

[2020-05-19 12:49] vegardlarsen commented on #258
We are making some enhancements to how this works in 2.1.0-beta.2, which will be in beta soon.

[2020-05-19 13:15] #258 closed

[2020-05-19 13:19] vegardlarsen commented on #92
While going through old issues, and testing this in version 2.1.0-beta.2 (not yet available), this does no longer appear to be a problem. Closing this issue.

[2020-05-19 13:19] #92 closed

[2020-05-19 13:40] vegardlarsen commented on #559
Closing this due to our new policy of trying to keep only issues we know we will look at open.

[2020-05-19 13:40] #559 closed

[2020-05-19 13:41] vegardlarsen commented on #489
This is actually the same as issue #117. Closing this one as a duplicate.

[2020-05-19 13:41] #489 closed

[2020-05-19 14:07] spectrumitteaam commented on #556
Yes. I will let you know thanks.

[2020-05-19 14:09] vegardlarsen commented on #550
@lusham Was this issue fixed for you in 2.1.0-beta.1?

[2020-05-19 14:16] vegardlarsen commented on #519
I have determined what makes the button not respond. If the Core process of MaxTo is not running when you click the button, the UI process will wait for a response from the core process forever before closing the windows.

I will have to do multiple things here:

1. Find out why the Core process crashed in the first place.
2. Make it so the windows are closed before we start waiting for that respo

[2020-05-19 20:44] roosmsg opened #564 "Cycle presets recipe"
**Describe the bug**
The Cycle presets recipe does not remember the presets it should cycle through.

**To Reproduce**
Steps to reproduce the behavior:

1. Create new recipe
2. Give it a name
3. Add ingredient: Cycle presets
4. Choose default monitor
5. Presets: check all
6. Add trigger: Hotkey
7. Save recipe
8. Close settings
9. Press hotkey * an error message pops up or nothing happens *
10. Reo

[2020-05-20 08:29] #564 closed

[2020-05-20 08:29] vegardlarsen commented on #564
Thank you for reporting this issue. I have found the cause, and fixed it for the next release. :)

[2020-05-20 09:33] #519 closed

[2020-05-20 09:33] #557 closed

[2020-05-20 09:38] vegardlarsen commented on #557
I am 99% sure that I found the cause of this issue. When connecting to a VPN (or other network status events), MaxTo would try to get the name of the network you connected to. MaxTo uses the network name to allow filtering the network triggers. This caused an access violation (I don't know why exactly), which would crash the MaxTo.Core process immediately, with just a trace in the logs saying the

[2020-05-20 09:40] vegardlarsen commented on #519
I am 99% sure that I found the cause of this issue. When connecting to a VPN (or other network status events), MaxTo would try to get the name of the network you connected to. MaxTo uses the network name to allow filtering the network triggers. This caused an access violation (I don't know why exactly), which would crash the MaxTo.Core process immediately, with just a trace in the logs saying the

[2020-05-20 10:56] thewavelength commented on #519
Shall I download the latest beta somewhere or use alpha2?

Nevertheless I'd really wonder if this is the reason. I can't think of any network change when starting MaxTo after my system has been booted. I will still try, though it can take some days.

[2020-05-20 10:58] thewavelength commented on #323
Will this idea land in 2.1?

[2020-05-20 10:58] vegardlarsen commented on #519
I haven't published the new beta yet, there are still some bugs I want to check out. However, if you can verify that `MaxTo.Core.exe` isn't running when this problem appears, that would go a long way.

[2020-05-20 11:12] thewavelength commented on #519
I can confirm two different behaviours running alpha3.

**Scenario 1 (first run since months)**
1. Start MaxTo.Core.exe in elevated mode
1. Change a region, click "Use region"
1. Region selector closes as expected and I'd expect that the regions have been set now (like described in the initial post of this issue)
1. No region change seems to be active, no window is snapping to any region
In this s

[2020-05-20 11:28] thewavelength commented on #519
I tried it again with 2.1.0-beta1. I can confirm the network bug still persists but all the other weird behaviours seem to be fixed! This is great news to me. So, from my previous comment, Scenario 1 now works as expected.

[2020-05-20 11:37] thewavelength opened #565 "Let region selector close with ESC key"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
The new feature to automatically open the region selector for a new virtual desktop is nice. Sometimes, nothing should be changed. Or it can happen I'm pressing the wrong hotkey and opening the region selector by mistake. Pressing ESC in it should be possible to quickly close it.

**Describ

[2020-05-20 11:44] thewavelength opened #566 "Shims aren't installed with installer, needs internet access to download"
**Describe the bug**
[Windows Terminal](https://github.com/Microsoft/Terminal) is crashing immediately upon start when MaxTo 2.1.0-beta1 is running. The same behaviour happens with 2.1.0-alpha1/2/3 as well.

**To Reproduce**
1. Install Windows Terminal via GitHub release or Microsoft App Store (doesn't matter)
2. Start MaxTo 2.1.0-*
3. Start Windows Terminal
4. Experience the crash

**Expected beh

[2020-05-20 11:48] thewavelength commented on #566
Additional information: when Windows Terminal is already running before MaxTo is started, it works fine: reacting to shortcuts, snaps to regions etc.

Interesting though: when closing Windows Terminal by hand it needs waaaay longer when MaxTo is running.

[2020-05-20 11:55] thewavelength opened #567 ""Last update" date is broken without internet"
**Describe the bug**
When using MaxTo 2.1.0-beta1 without internet, the "last update" date is broken.

**To Reproduce**
1. Install MaxTo 2.1.0-beta1 on a machine without internet
2. Go to the compatibility tab
3. "Last updated: 419 years ago"

**Expected behavior**
Better use something like "never"?

**Screenshots**
![1437](https://user-images.githubusercontent.com/1430997/82443230-6ef23280-9aa1-1

[2020-05-20 12:04] vegardlarsen commented on #566
I am not able to reproduce this locally, but we've made some fixes in beta.2 that may address this issue. Do you have your shims updated, they should contain a compatibility shim for Windows Terminal?

[2020-05-20 12:06] thewavelength commented on #566
How I am supposed to do that? I just extracted the latest beta and let it run, so no set up was running.

[2020-05-20 12:08] #561 closed

[2020-05-20 12:08] vegardlarsen commented on #561
I have implemented a change in how this works, which hopefully should resolve the issue with some apps. That fix will be in 2.1.0-beta.2.

[2020-05-20 12:12] vegardlarsen commented on #519
OK, I believe that this issue is then resolved in 2.1.0-beta.2. :)

[2020-05-20 12:16] #565 closed

[2020-05-20 12:16] vegardlarsen commented on #565
This change will be in 2.1.0-beta.2.

[2020-05-20 12:56] vegardlarsen commented on #566
You can update your compatibility shims from Settings, Compatibility? There should be an entry for Windows Terminal?

[2020-05-20 13:00] thewavelength commented on #566
I'm feeling a bit stupid, ehhh... how?

![1438](https://user-images.githubusercontent.com/1430997/82448836-93064180-9aaa-11ea-9730-2a1f4ec9768e.png)

[2020-05-20 13:03] thewavelength commented on #566
Okay... got it. It needs network. I tested it on a computer without network. Mhhmpf. Works now.

Is there a "nice" way to get the shims to a computer without network?

[2020-05-20 13:04] #567 closed

[2020-05-20 13:04] vegardlarsen commented on #567
Fixed for 2.1.0-beta.2.

[2020-05-20 13:05] vegardlarsen commented on #566
Not really. Ideally it should be bundled with the installer, but that is a bit more difficult than I would like. :)

[2020-05-20 13:08] vegardlarsen commented on #323
You can do this in 2.1.0-beta.1 using the "Cycle presets" command. There is a UI bug in beta.1, so if you try to change the recipe after making it, all the checkboxes will be gone. This has been fixed for beta.2.

Mouse wheel support is not included.

[2020-05-20 13:18] #323 closed

[2020-05-20 13:44] thewavelength opened #568 "Recipe '"Show highlight on Virtual Desktop change"' was stopped to prevent infinite loops"
**Describe the bug**
When changing virtual desktops, the recipe will not be executed reliably.

**To Reproduce**
1. Create recipe to highlight regions on virtual desktop change
1. Change virtual desktops multiple times

**Expected behavior**
Will always be executed, even when waiting some seconds between changes. What actually happens is that for whatever reason, the infinite loop detection kicks

[2020-05-20 14:02] thewavelength opened #569 "Resizing after snapping is broken"
**Describe the bug**
When snapping a window to a region and trying to resize it, the behaviour is completely weird and it moves instead of resizes. See screen recording for more information. ~When a window is not snapped to a region ("moved freely"), everything works fine.~ Even "free" windows are affected by this bug after they have been snapped once. This bug applies to all windows I tested.

**

[2020-05-20 16:42] spiderscode opened #570 "TeamViewer Compatibility"
**Describe the bug**

TeamViewer is not recognised by MaxTo.

**System information:**
- Windows version: 1809 (OS Build 17763.12.17)
- MaxTo version: 2.0.1

**Additional context**
I have one very large monitor and constantly use TeamViewer to remote into another computer, with both the local and remote computers running several applications. This very quickly becomes a messy workspace. I don't hav

[2020-05-20 18:22] vegardlarsen commented on #570
I can confirm that this also happens on my machine. MaxTo simply does not receive any events from TeamViewer as of today (even with the latest betas). A quick investigation did not reveal why. I will look more closely at this.

[2020-05-20 18:25] vegardlarsen commented on #569
I believe this is a duplicate of #555, which has already been fixed for beta.2.

[2020-05-20 18:25] #569 closed

[2020-05-20 18:30] #568 closed

[2020-05-20 18:34] vegardlarsen commented on #568
I agree this is somewhat annoying. Keyboard triggers are whitelisted from this infinite loop detection, because they are always the result of user input, and thus cannot go into an infinite loop.

The same can not be said about the virtual desktop changed trigger; e.g. the window move command can cause this to trigger, and you would quickly end up in a situation where you can get an infinite loop.

[2020-05-20 18:36] spiderscode commented on #570
Just to add to the above list, OneNote365 also doesn't work. With the exception of Wireshark and Teamviewer, it seems that a common link between the these apps is that they are 'web apps'. Perhaps the same solution that was used for Spotify in #211 can be (easily?) applied to the others?

[2020-05-20 18:37] vegardlarsen commented on #570
That was the first thing I tried. :) Not that easy, unfortunately.

[2020-05-20 19:13] thewavelength commented on #569
Is there a planned release date? Seems like beta1 is pretty much unusable with this bug existing.

[2020-05-20 19:14] vegardlarsen commented on #569
I am working on publishing it now. So hopefully within the hour.

[2020-05-20 19:15] thewavelength commented on #568
Can you make this amount/time configurable? 2 seconds still seem to be too high for my personal usage behavior. I am a visual guy and am detecting the correct virtual desktop by seeing the highlighted regions. Thus it can happen that I am cycling through them quickly to find the correct one.

[2020-05-20 20:41] vegardlarsen commented on #556
@spectrumitteaam 2.1.0-beta.2 is now available from the same location. I suggest trying that instead.

[2020-05-21 00:02] #398 closed

[2020-05-21 00:02] #95 closed

[2020-05-21 05:04] matthiash82 commented on #557
@vegardlarsen Yes, I can confirm that `MaxTo.Core.exe` is running before I connect to VPN, and then afterwards it closes within a few seconds :) Before I even managed to catch in Task Manager that its status changed to Suspended. Great find!

[2020-05-21 06:52] vegardlarsen commented on #557
Great! Beta.2 was released last night, and if you restart MaxTo twice you should have it... :)

[2020-05-21 08:09] thewavelength opened #571 "Ejection of MaxTo.Hook.x64.dll is not reliable on close"
**Describe the bug**
I am testing between different MaxTo versions (alpha, beta, stable). Therefore, I'm closing, replacing and restarting MaxTo a lot recently. I detected sometimes that MaxTo.Hook.x64.dll couldn't be deleted when I wanted to overwrite MaxTo with yet another version. Throwing Sysinternals Process Explorer at it, it seems like MaxTo.Hook.x64.dll isn't being ejected successfully fro

[2020-05-21 08:33] matthiash82 commented on #557
Thanks! Seems like my first comment that I could reproduce it semi-consistently when I connect to VPN must have been a lie :) must have been “consistently” ...

[2020-05-21 09:15] thewavelength commented on #561
Still persists. Example application: foobar2000. Only relevant log entry:

[code]

[2020-05-21 09:17] thewavelength commented on #425
Still doesn't work with 2.1.0-beta2. I used Notepad (clearly a Win32 native application) to test. Only information in log file is that it executed successfully. So it did find the window by title.

[2020-05-21 09:21] thewavelength commented on #270
This is buggy. It is not working reliably when passive mode is activated and even after disabling passive move, some windows still need to have shift pressed to let it work (the application in question was even started _after_ disabling passive mode). No log file entries.

[2020-05-21 09:50] thewavelength commented on #565
This is buggy. Pressing ESC once works, after that it is impossible to ever open the region selector again until I restart MaxTo.

PS: This is probably not important but it is possible to open the settings UI twice which makes it buggy. Closing the second UI instance also will close the first one. Might be related?

[2020-05-21 09:52] thewavelength commented on #565
Also, this is related so I am not opening a new issue, it would be cool to fully control the region selector by keyboard. E. g. pressing L or P to open the presets, navigate in the list with the arrow keys and use Enter to load a preset.

[2020-05-21 09:53] thewavelength commented on #311
@vegardlarsen You probably want to close this.

[2020-05-21 10:13] thewavelength opened #572 "Add "Current Window" to window selection in ingredients"
**Is your feature request related to a problem? Please describe.**
When adding some ingredients, e. g. "minimize window" or "Fit to region" either I can select all windows by not entering a search mask or only specific one. What if I want to apply an ingredient to the current window (that one that has the focus) only?

**Describe the solution you'd like**
There should be an additional filter to se

[2020-05-21 10:17] thewavelength opened #573 "Add "Mouse click" ingredient"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
Moving a mouse is already possible. It should be possible to artifically invoke a mouse click. It would be best to let the user decide for how long the click should go or - even better - let the user decide to invoke only "mouse button down" and/or "mouse button up" for better automation po

[2020-05-21 10:31] thewavelength opened #574 ""Regex" not clickable on "Window title" and "Window class""
**Describe the bug**
I can't activate "Regex" for "Window title" nor "Window class". It works for "Process name".

**To Reproduce**
1. Try click "Regex" on either one.

**Expected behavior**
Should be activated.

**System information:**
- MaxTo version: 2.1.0-beta2

[2020-05-21 10:34] thewavelength commented on #574
Also, when I click "Regex" on "Process name", change to another ingredient, changing back to the orignal one, alls three "Regex" checkboxes are checked.

[2020-05-21 10:42] thewavelength opened #575 "No window related triggers are kicking in"
**Describe the bug**
I think since the regex feature has been introduced, detection of windows is buggy. This goes for window moved, opened, activated and so on (all window related triggers I have tested). I can't get MaxTo to recognize any program. Doesn't matter if I use process name, window title or class and doesn't matter whether regex is enabled or not. The recipe isn't executing.

**To Repr

[2020-05-21 10:46] thewavelength commented on #301
How am I supposed to use the filter, e. g. to detect which monitor is being connected/configuration has changed? There is no documentation I could find on this.

[2020-05-21 12:02] #311 closed

[2020-05-21 12:20] thewavelength commented on #572
Like it is in "Maximize to monitor" or "Center window"

[2020-05-21 12:25] thewavelength commented on #573
When doing this, adding key down and key up should probably be easy as the same API functions can be used, just for other virtual keys.

[2020-05-21 12:33] thewavelength opened #576 ""Cycle position" ingredient can crash MaxTo"
**Describe the bug**
I have no idea how to use the "cycle position" ingredient because it seems to be complex. What I though it does: the same as "Move window" recipe but just cycling through all regions. Because I don't know how to configure it properly (no real documentation given) I just let the default values in. MaxTo crashes once executed. See errorlog.

**To Reproduce**
1. Create recipe wit

[2020-05-21 12:33] thewavelength commented on #576
As a side question then: how do I immitate "Move window" without giving a direction but rather cycle the window through all regions? Is that even possible currently with MaxTo?

[2020-05-22 12:53] thewavelength opened #577 "Microsoft PowerToys is crashing with MaxTo running"
**Describe the bug**
[Microsoft PowerToys](https://github.com/microsoft/PowerToys) is crashing with MaxTo running.

**To Reproduce**
1. Have MaxTo 2.1.0-beta2 running
1. Start PowerToys
1. Try to change any setting within PowerToys window

**Expected behavior**
No crash.

**System information:**
- Windows version: Windows 10 1909 18363.836
- MaxTo version: 2.1.0-beta2

**Additional context**
No en

[2020-05-23 08:08] thewavelength opened #578 "MaxTo.Core.exe is crashing when changing monitors"
**Describe the bug**
MaxTo.Core.exe is crashing when changing monitors. Sadly I only discovered it crashed on the last step. I think going from the log file time stamps it happened while being connected to or connecting to the TV via HDMI. What I did:

**To Reproduce**
1. Had MaxTo running with an external monitor connected via USB-C / Thunderbolt 3
1. Gone into hibernate mode of Windows
1. Booted

[2020-05-23 12:24] vegardlarsen commented on #576
The cycle position command is meant to work completely independent from the regions, and emulate the behavior of WinSplit Revolution.

We will have to add some sort of validation to the setup of these.

There should be default recipes set up that does this correctly.

[2020-05-24 11:00] mjayuk opened #579 "Error message - Could not execute recipe, Virtual Desktops are only supported in Windows 10"
I've created a recipe which I hoped would allow me to move applications between virtual desktops.  However, when I run it, I receive a notice telling me that Virtual Desktops are only supported in Win 10.

**Describe the bug**

When I try and run the recipe I receive an error message which says:

Could not execute recipe
Virtual Desktops are only supported on Windows 10
MaxTo

**To Reproduce**

1.

[2020-05-24 18:49] vegardlarsen commented on #579
Have you had a chance to try this in 2.1.0-beta.2, available from [our website](https://maxto.net/release/beta)?

[2020-05-25 02:33] mjayuk commented on #579
2.1.0-beta.2 Install failed.  I've included the log file for you.
[SquirrelSetup.log](https://github.com/digitalcreations/MaxTo/files/4674978/SquirrelSetup.log)

[2020-05-25 02:57] mjayuk commented on #579
I was able to install after manually deleting the folder: C:\Users\<username>\AppData\Local\MaxTo

I created a Recipe to move the window to a virtual desktop, but I still received the same error message as before - ...only supported in Win 10

[2020-05-25 12:35] vegardlarsen commented on #573
I am not entirely sure how I feel about this idea, it does make sense, but it would be a very difficult way of automating tools.

It would make more sense to add a sort of "keypresses script"; however, then we'd basically be AutoHotkey.

I am closing this issue as an idea, but we may revisit this later.

[2020-05-25 12:35] #573 closed

[2020-05-25 12:41] vegardlarsen commented on #301
The filter supports the following special identifiers:

- `$primary`
- `$all`
- `$current` - the monitor containing the foreground window
- `$next` - the next monitor from `$current`
- `$previous` - the previous monitor from `$current`

Besides those values, you can identify a monitor by (exact match):

- its number
- its friendly name (e.g. `C49RG9x`)
- its serial number (see the Monitor details

[2020-05-25 12:47] vegardlarsen commented on #575
I've confirmed there is a bug in 2.1.0-beta.2 that will prevent this from working in the same cases as when we cannot show the preview window of where a window will end up. This will be fixed.

[2020-05-25 12:50] vegardlarsen commented on #574
I cannot reproduce this. Can you please be more specific about what happens, or export the recipe?

[2020-05-25 12:52] vegardlarsen commented on #565
Please open a new issue for the Esc key issue. I don't think we will implement that form of keyboard navigation, we'll try to stick to the Windows guidelines on that.

[2020-05-25 12:56] vegardlarsen commented on #425
Focusing a window brings it to the front (unless you have an always on top window that covers it, of course). It is basically a call to [`SetForegroundWindow`](https://docs.microsoft.com/en-us/windows/win32/api/winuser/nf-winuser-setforegroundwindow).

There are edge cases where it may not work, but I cannot reproduce any from the information above. Please try to create a new issue with exact step

[2020-05-25 12:58] vegardlarsen commented on #561
Please open a new issue referencing this one. :)

[2020-05-25 13:07] vegardlarsen commented on #571
If you know of a method to actually unload a DLL injected using `SetWindowsHookEx` reliably, I would love to hear about it :)

The problem is that since the DLL is loaded into the existing processes by the system, unloading it is not really possible.

[Some](https://stackoverflow.com/questions/3164190/unloading-dll-from-all-processes-after-unhooking-global-cbt-hook) [research](https://docs.microso

[2020-05-25 13:22] thewavelength opened #580 "ESC key only works once to close region selector"
**Describe the bug**
Pressing ESC in the region selector once works, after that it is impossible to ever open the region selector again until I restart MaxTo.

**To Reproduce**
1. Open region selector
2. Use ESC to close it

**Expected behavior**
Region selector is still usable afterwards.

**System information:**
- MaxTo version: 2.1.0-beta2

[2020-05-25 13:41] thewavelength commented on #574
You can try clicking around on the checkboxes. I just found out it works sometimes, when another checkmark is set. Happens on any ingredient with the Regex option. Sadly I can't give more details as this seems totally random to me.

[2020-05-27 08:29] lolmaus commented on #384
One year later, this is still an issue?

[2020-05-27 08:32] vegardlarsen commented on #384
Yes, if MaxTo is installed (and has been ran at least once since rebooting), installation of a new version will most likely (I estimate 75% of the time) fail with the error message above. This only happens when running the .exe installer, if you update using the built-in update mechanism, it works fine.

Our plan is to replace Squirrel as our installer in version 3.0. Instead we will use [MSIX](ht

[2020-05-27 12:47] simbalsyd commented on #464
I had the same problem and I found this defect ( #464 ). I installed MaxTo 2.1.0-beta2 and now no problem with Epic Pen. Thanks!

[2020-05-27 12:49] vegardlarsen commented on #464
Thank you for the confirmation. I am closing this issue (as part of 2.1.0), as it seems to have been resolved. :)

[2020-05-27 12:49] #464 closed

[2020-05-27 19:08] brunocantuaria opened #581 "Software window get black while changing places through shortcut"
**Describe the bug**
Occasionally, when switching an window from places, using a shortcut, that window turn entirely black.  The MaxTo doesn't crash and the now black window can still be switched from place to place using the shortcut, but it will remain black. The window will also keep working, I can confirm this because any shortcut from the window like saving, pause or playing music, will still

[2020-05-27 19:12] vegardlarsen commented on #581
Please do update with a screenshot if this problem does occur again. Also, it would be very interesting to see the details of that error message.

I would recommend updating to 2.1.0-beta.2, which is [available from our website](https://maxto.net/release/beta). The error in your log file should be fixed in that release, but I am not sure if that is related to the black window issue.

[2020-05-28 07:52] lusham commented on #550
@vegardlarsen, I could not reproduce it for some time already so it seems fixed. Thanks!

[2020-05-28 18:31] brunocantuaria commented on #581
Ok. It happened again. Check the screenshots:

![black-1](https://user-images.githubusercontent.com/3237812/83178811-71830680-a0f7-11ea-8e24-2d292caab8a1.JPG)
![black-2](https://user-images.githubusercontent.com/3237812/83178808-70ea7000-a0f7-11ea-918e-6ef1a6037a26.JPG)
As you can see at above screenshots, nothing crashed and everything continues to work. I can keep moving windows across areas, ev

[2020-05-29 06:48] vegardlarsen commented on #581
Thank you for the update. The errors in your log file happen immediately after MaxTo has requested to exit, so they are unrelated.

I believe this may be resolved in 2.1.0-beta.2, as that version has made some changes to how windows are moved around.

Also, if you get the .NET Framework Exception popup again, I would really love to see the details.

[2020-05-30 16:46] brunocantuaria commented on #581
Hi Vegard,

I'm already using the beta 2, the issue didn't happened so far, but I haven't used the computer too much since the update.

Anyway, a new issue appeared with the beta version. When resizing a window, the transparency doesn't turn back to non-transparent. Each resize will make it more transparent, as you can see at attached screenshot. The transparency will only go away after closing an

[2020-06-01 18:04] anders55j commented on #325
No problems for 14 days now. Thanks for the reminder, I'm now able to use MaxTo again.

[2020-06-01 18:04] #325 closed

[2020-06-02 06:08] Gappa opened #582 "Resizing to regions breaks & fixes randomly"
This bug is strange and I quite don't see a pattern yet. It works and then a few minutes later it doesn't - with the same window/application.

**To Reproduce**

1. Try to maximize a window in a region.
2. It maximizes on the whole display

**Expected behavior**

Windows maximizes to the defined region.

**System information:**

I think it might be connected to the last cumulative update to Win10 v

[2020-06-02 16:03] Gappa commented on #582
Same problem on the other machine/setup:

[code]

[2020-06-02 17:07] takeoffeh commented on #562
Seems much better in the 2.1.0-beta.  Thanks!

[2020-06-02 17:07] #562 closed

[2020-06-02 17:25] takeoffeh opened #583 "Trying to resize window with mouse behaves incorrectly if MaxTo running"
When running MaxTo, if I try and use the mouse to grab the bottom-right corner of a window to resize it larger or smaller it often jumps around and grows and shrinks the location of the window as opposed to the size - often turning it so small that it's nearly impossible to find or moving the entire window down instead of resizing the window.

**To Reproduce**
1. Have a window that only takes up s

[2020-06-03 11:14] gorbunovav commented on #582
I can confirm this bug. And I see the same lines in the log.
My version of the app is `app-2.1.0-beta2` too.

Maybe it is related to the recent app update (or some recent minor Windows updates).
Because I am on the Slow Insider ring for a long time and it was working ok until recently.

Temporal fix, which works for me: open the "Start" menu (I am using the "Win" keyboard key if it matters).

I wi

[2020-06-03 11:25] Gappa commented on #582
Wow, it really works, just tested it :)

[2020-06-03 12:13] vegardlarsen commented on #582
I have no idea what causes this, but I will investigate. Thank you for the Start menu tip, that could prove to be very significant.

[2020-06-03 12:19] vegardlarsen commented on #583
This issue should have been fixed in 2.1.0-beta.2. Please see [the release notes](https://maxto.net/release/beta) and issue #555.

Do let us know if the issue persists in version 2.1.0-beta.2.

[2020-06-03 12:19] #583 closed

[2020-06-03 14:30] takeoffeh commented on #583
Thank you - this is awesome!  Just installed 2.1.0-beta.2 and haven't seen it since.  Tried searching for it before logging this but couldn't find it.  Sorry for the duplicate.  Appreciate how quick you are on responding to issues.

[2020-06-03 14:41] vegardlarsen commented on #572
I have fixed this for 2.1.0-beta.3.

[2020-06-03 14:41] #572 closed

[2020-06-04 10:54] #576 closed

[2020-06-04 10:55] vegardlarsen commented on #576
I've had a look at this, and at the moment the best we can do is fix the error message so that you get notified what went wrong (you didn't set either the `Preset` or `Positions` property).

I think a good improvement we should be looking at for version 3.0, is an "all-over validator" per command, so that we could detect this kind of issue.

[2020-06-05 08:51] jamesahallam opened #584 "Single clicking on the window resize bar enables window transparency. Repeated clicks toggle through transparency levels."
**Describe the bug**
Accidentally single clicking on the window border but not resizing will change the transparency of the window.

**To Reproduce**
1. Any window that's not completely maximised by Windows.
2. Click the border as if you're going to resize the window but don't move your mouse.
3. Window transparency will be enabled.
4. Keep single clicking slowly and the window transparency will l

[2020-06-09 02:32] neodraxo opened #585 "Using Snipping in Windows 10 sometimes freezes the screen"
When creating a snip from the Win-Shift-S shortcut, the snip selection turns blue and the screen freezes.

**Describe the bug**
The screen freezes, but the system keeps working (sounds reproduce, tasks continue executing, even Skype calls remain active). The snip will remain on screen, in blue color. Ctrl-Alt-Del triggers the system screen, lock work and you return to login screen. Logging back in

[2020-06-16 15:46] gorbunovav commented on #582
@vegardlarsen I can confirm, that it doesn't happen for me with `app-2.1.0-beta1`

[2020-06-18 07:27] xjl456852 opened #586 "Split screen display is not supported in chrome F11 full screen mode"
Split screen display is not supported in chrome F11 full screen mode

[2020-06-18 08:06] vegardlarsen commented on #586
@xjl456852 MaxTo does not support moving full-screen apps into regions at this time. There are two main reasons:

- There isn't any standard way of "going full-screen" in the same way that there is of maximizing. Basically, every app does it differently, and detecting it in a good way may not be possible.
- There are serious user interface issues regarding how this could be done:
  - There is usua

[2020-06-18 08:06] #586 closed

[2020-06-18 08:36] vegardlarsen commented on #585
@neodraxo Can you please confirm my comments above?

[2020-06-18 08:38] vegardlarsen commented on #577
Another customer has reported via e-mail that if MaxTo and PowerToys are both set to start with Windows, PowerToys will reveal MaxTo's hidden "message-only" windows on start-up.

[2020-06-19 10:47] vegardlarsen commented on #584
We are aware of this issue with Google Chrome. We are looking for ways this can be solved.

[2020-06-19 10:48] #581 closed

[2020-06-20 19:11] farewarr opened #587 "Passive Mode Shift Hold Down Snap In does not work"
**Describe the bug**

**To Reproduce**

1.
2.
3.
4.

**Expected behavior**

**Screenshots**

**System information:**
- Windows version:
- MaxTo version:

**Additional context**

Version 2.1.0 Beta2

I have the feature turned on. When I place MaxTo in Passive Mode, I hold down a window and the shift key and move to snap in and it does not work.

[2020-06-22 09:00] 50l3r commented on #149
Hi all,

Any news of this feature? It looks great like i3wm

[2020-06-22 12:06] vegardlarsen commented on #149
@50l3r After experimenting with this, I saw quite a bit of extra complexity, and we have postponed it.

[2020-06-22 15:19] 50l3r commented on #149
We will wait patiently 😁👌

[2020-06-24 00:03] #515 closed

[2020-06-24 00:03] #150 closed

[2020-06-24 00:03] #449 closed

[2020-06-29 07:33] vegardlarsen commented on #587
Thank you for your report. Can you please elaborate a bit on exactly what does not work?

[2020-06-29 08:33] p-Wave opened #588 "Shift + Snap does not work with Mathematica"
**Describe the bug**

When I try to snap a window of Wolfram Mathematica to a region, there is no preview of the space and nothing happens

**To Reproduce**

1. Create regions and apply
2. Open Wolfram Mathematica
3. Hold Shift + Move Windows

**Expected behavior**

A region preview should appear.

**System information:**
- Windows version: Windows 10 1909
- MaxTo version: 2.0.1

[2020-06-29 08:37] p-Wave opened #589 "Recipes should have an ingredient to resize windows to an arbitrary value"
**Describe the solution you'd like**
I would like to have an ingredient, that allows me to resize a window to a size of my choosing.

**Additional context**
I wanted to create a recipe, that centers a window and resets the size of the window to e.g. a square.

[2020-06-30 00:04] #574 closed

[2020-06-30 00:04] #571 closed

[2020-06-30 04:19] kinber126 opened #590 "Visual Studio 2019 does not work"
vs2019 does not work,window resize can only be maximized!
other is working fine!

[2020-06-30 13:17] vegardlarsen commented on #590
@kinber126 Are you running Visual Studio as administrator? If that is the case, MaxTo will need to run as administrator as well, see the settings for details.

If that is not the case, does the issue persist after a reboot?

[2020-07-02 01:59] damien-ylopo opened #591 "MaxTo RDP forgets about Windows taskbar"
**Describe the bug**
Using MaxTo on an RDP session, closing the RDP session and then logging into it again causes MaxTo to not respect the Windows taskbar, and when maximizing a window MaxTo  maximizes the window to the entire height of the screen which causes the lower part of the window to appear underneath the Windows taskbar. Closing MaxTo and restarting it fixes this issue.

**To Reproduce**

[2020-07-02 07:27] jtnydv opened #592 "Recipes with Load Preset not working"
**Describe the bug**
Any key combination with Load preset is not working.

**To Reproduce**
Set up a recipe with
Trigger: Hotkey [Ctrl + Alt + Shift + F1]
Ingredients:
1. Highlight Regions
2. Load Preset

**Expected behavior**
Preset should change

**Screenshots**
![image](https://user-images.githubusercontent.com/14368729/86329135-5f9b0300-bc63-11ea-87d7-5c2a2df926c0.png)

**System information:**

[2020-07-02 07:53] vegardlarsen commented on #592
@jtnydv Could you send me your `config.json` file with this recipe in it (or export the recipe from the settings dialog) to attach it here?

[2020-07-02 08:02] vegardlarsen commented on #591
Thank you for the detailed report, @damien-ylopo.

I have tried this now with Windows 10 version 1909 running in a VM, and cannot reproduce it at all.

I am also somewhat confused by your screenshot; you have a very tall taskbar, so I dragged mine out to roughly match that height. However, my programs align to the top of the taskbar, not the bottom:

![image](https://user-images.githubusercontent.

[2020-07-02 08:32] vegardlarsen commented on #589
@p-Wave In version 2.1.0-beta.2, [available on our website](https://maxto.net/release/beta) you can use the `window:size` command for exactly this. :)

From the command line to resize keeping the center in place:

[code]

Or to keep the top left in place:

[code]

[2020-07-02 08:32] #589 closed

[2020-07-02 08:32] vegardlarsen commented on #588
Does this happen for other programs as well? Does a simple program such as Notepad work as expected? Does the issue persist after a reboot?

[2020-07-02 08:37] jtnydv commented on #592
Where can I locate the config.json file?

[2020-07-02 08:38] vegardlarsen commented on #592
`%AppData%\MaxTo\config.json` (that is a valid path, even though it looks weird)

[2020-07-02 08:41] jtnydv commented on #592
[config.zip](https://github.com/digitalcreations/MaxTo/files/4862949/config.zip)

[2020-07-02 08:47] vegardlarsen commented on #592
@jtnydv Which version of MaxTo did you take the screenshot from? This issue should have been fixed in 2.1.0-beta.2; and when I try to import your recipe and run it, it works well (aside from the fact that you highlight your regions before loading the new preset, so it shows the old regions)?

[2020-07-02 08:49] jtnydv commented on #592
I'll remove everything and do a clean install and see if problem exists. Let me check and get back to you.

[2020-07-02 09:07] jtnydv commented on #592
Still the same problem. Removed all the files in the Local and Roaming and reinstalled the beta version. Same issue.

[2020-07-02 09:09] vegardlarsen commented on #592
Can you check your log files for more details? `%AppData%\MaxTo\maxto-20200702.log` (or something close to that)

[2020-07-02 09:12] jtnydv commented on #592
[code]

[2020-07-02 13:13] vegardlarsen commented on #592
@jtnydv Is this for the same recipe as before? The name is different. It does appear to be something related to the naming of monitors.

[2020-07-02 14:26] jtnydv commented on #592
I tried making few adjustments here and there, maybe that's why names are different however if it's due to monitor names. How can I fix it?

[2020-07-03 06:28] vegardlarsen commented on #592
@jtnydv You can try using "Primary monitor" (which is saved as `$primary` in the config file), or "Current monitor" (`$current`). Could you send me the updated `config.json` file before you make those changes as I can try again to reproduce it?

[2020-07-04 14:53] p-Wave commented on #588
Hi!
It only happens with Mathematica. Other programs work as expected.
The current beta does NOT have the problem, although that version leads to some significant graphicl lag. Should I report that in another ticket?

All the best

[2020-07-06 13:37] vegardlarsen commented on #588
@p-Wave Can you describe the lag in more detail, or maybe record a video of it so I can try to determine if we've seen it before?

[2020-07-06 20:31] damien-ylopo commented on #591
Thank you for looking into this. This was a problem I had for the longest
time, consistently, every day, but it seems to maybe be fixed after
updating to the latest stable version. I had not tested the latest stable
version long enough when I submitted the bug report. I had tested one of
the alpha releases but then did a full uninstall and reinstall of the
latest stable version of MaxTo, and the p

[2020-07-08 12:17] eikowagenknecht opened #593 "Settings window very unresponsive"
**Describe the bug**
The MaxTo settings window is responding very slow. E.g. moving or resizing the window feels very sluggish, lagging behind the actual mouse movement for quite some **seconds** sometimes.

**To Reproduce**
Open settings window and move it around using the mouse.

**Expected behavior**
Moves around just like any other window.

**Screenshots**
---

**System information:**
- Win10

[2020-07-08 16:00] eikowagenknecht opened #594 "Make maximize behaviour configurable"
**Is your feature request related to a problem? Please describe.**
I've been trying your software for the whole workday now and love it so far, but windows only maximizing to a small proportion of my screen really really really annoys me because sometimes I just want to make a window fullscreen without having to use some keyboard shortcut.

**Describe the solution you'd like**
Please add a possibi

[2020-07-09 06:40] vegardlarsen commented on #594
@eikowagenknecht In the latest beta, there is an option in the settings for turning on "Passive mode", which reverses the default behavior, and only forces things into regions while you hold Shift. Would that help in your case?

[2020-07-09 06:52] vegardlarsen commented on #593
@eikowagenknecht We are aware of this issue, and are trying to resolve it. Unfortunately, we have until now been unable to fully fix this, but it should be better in the 2.1.0-beta.2 release. See issue #480 for details.

We are aiming to fix this completely in version 3.0, with a rewrite of the UI. More details about that will be coming at a later stage.

[2020-07-09 06:52] #593 closed

[2020-07-09 07:15] eikowagenknecht commented on #593
Thank you for the reply. I missed that other issue, sorry.

Just switched to 2.1.0-beta2, but it has - as far as I can see - not improved.

[2020-07-09 07:23] eikowagenknecht commented on #594
@vegardlarsen Thanks for the reply. I just switched to the 2.1.0-beta2 release, but unfortunately this has made things worse.

If I understand correctly, the passive mode should achieve exactly what I want. But it does not work. After switching it on, everything is the same as before. Maximizing windows still fits them into the nearest region. I tried turning passive mode off and on again a few ti

[2020-07-10 09:45] vegardlarsen commented on #579
@mjayuk I have confirmed and fixed this bug for 2.1.0-beta.3. It was caused by a bug in a library we use.

[2020-07-10 09:45] #579 closed

[2020-07-10 10:19] #580 closed

[2020-07-10 10:20] vegardlarsen commented on #580
I have identified and fixed the root cause of this. Will be in 2.1.0-beta.3.

[2020-07-10 12:10] vegardlarsen commented on #584
I believe I have fixed this for 2.1.0-beta.3. It comes at a cost, however; we will no longer be able to add the transparency to windows that are already transparent. I believe that cost is justified for something that works... :)

[2020-07-10 12:10] #584 closed

[2020-07-11 08:45] p-Wave commented on #588
This only occured after installing the beta version and I'm now unable to reproduce the problem.
Therefor I'm closing the ticket.

[2020-07-11 08:45] #588 closed

[2020-07-11 08:53] p-Wave opened #595 "Switching to a virtual desktop breaks the program"
**Describe the bug**
Switching to the next virtual desktop breaks the ability to open the "Change Regions" screen.
After switching back to the original desktop, the screen is still not available.
Only after restarting MaxTo can I configure the regions again

**To Reproduce**
1. Start MaxTo
2. Open "Change Regions" screen
3. Set desired regions
4. Apply regions
5. Switch to next/different virtual d

[2020-07-11 08:53] p-Wave commented on #595
[maxto_config-and-logs.zip](https://github.com/digitalcreations/MaxTo/files/4906519/maxto_config-and-logs.zip)

[2020-07-12 15:45] GeorgePetropoulos commented on #334
The problem still exists. I am in trial but if this is not resolved I will just find another solution

[2020-07-12 18:48] vegardlarsen commented on #334
@GeorgePetropoulos Which version are you running?

[2020-07-12 18:49] vegardlarsen commented on #595
We've made some changes for version 2.1.0-beta.3 that may fix this.

PS! I am currently on summer vacation. Responses may be slow.

[2020-07-13 07:20] GeorgePetropoulos commented on #334
I am using the latest I think.
Just downloaded two days ago.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Vegard Andreas Larsen<mailto:notifications@github.com>
Sent: Sunday, July 12, 2020 9:48 PM
To: digitalcreations/MaxTo<mailto:MaxTo@noreply.github.com>
Cc: GeorgePetropoulos<mailto:petropoulosgeorge@outlook.com>; Mention<mailto:mention@noreply.github.com

[2020-07-14 08:57] mortenmoulder opened #596 "Regions appear in different places after waking up from sleep"
**Describe the bug**
My setup consists of 2x 2560x1440 and 2x 1920x1080 monitors. When I wake up the PC after sleep, all regions are in the wrong place. One region suddenly appears on 2 monitors, but it's very shallow and very tall.

All my monitors are 100% DPI scaled.

I can fix this in two ways: Restart MaxTo or rearrange my displays and move them back.

**To Reproduce**
1. Put PC to sleep
2. W

[2020-07-15 15:12] Christian19471 opened #597 "After installation application crashes without any interaction"
[code]

**To Reproduce**

Download latest Version
Install
Application start
Application crashes

**Expected behavior**
Application does not crashes
**Screenshots**

**System information:**
- Windows version: win 10 x64
- MaxTo version: latest version
[maxto20200715.log](https://github.com/digitalcreations/MaxTo/files/4926095/maxto20200715.log)
[config.json.txt](https://github.com/digitalcreations/

[2020-07-17 16:33] GeorgePetropoulos commented on #334
@vegardlarsen I am using the latest I think.
Just downloaded a few days ago.

[2020-07-18 09:12] kal10bach commented on #521
hi, the same with me using 2.1.0 beta2
yet nothing found to reproduce it on demand
thx
georg

[2020-07-19 19:50] xGBHxPegasus commented on #587
Just to add to this, just upgraded to the Version 2.1.0 Beta2 and found the passive mode does work but not as described.

It seems for me its doing it as a Toggle not as a hold. I can press shift once, snap everything in place, then press it again and it will not snap in place. Hold doesn't seem to do anything apart from toggling on and off.

[2020-07-21 19:42] vegardlarsen commented on #587
I think there may be a misunderstanding here in how Passive vs Active mode is meant to work.

## In active mode
- Windows maximize into a region.
- If you hold Shift while maximizing, the window maximize normally.

## In passive mode
- Windows maximize normally by default.
- If you hold Shift while maximizing, the window will be put into a region.

Passive/active mode does not currently affect wha

[2020-07-21 19:44] vegardlarsen commented on #334
@GeorgePetropoulos Can you please check in Settings, About to see which version you are running?

PS! I am currently on vacation, responses may be slow.

[2020-07-21 19:51] vegardlarsen commented on #597
@Christian19471 Can you please try this in [2.1.0-beta.2](https://maxto.net/release/beta), which should have solved this issue.

PS! I am on vacation and responses may be slow.

[2020-07-21 19:53] vegardlarsen commented on #596
Hi @mortenmoulder, thank you for your report.

If you open the Change Regions window after a sleep, are the strange regions reflected here as well, or is this only when you use the "Fit windows to region" option?

PS! I am currently on vacation, so responses may be slow.

[2020-07-21 20:04] damien-ylopo commented on #591
I'm definitely still seeing the behavior noted above in the current beta V2.1.0-beta2, but since switching to the release branch it's been working much better. I just hope the next release (v2.1?)won't re-introduce the same bugs. The beta also frequently seems to forget all of my settings and act as if MaxTo isn't even running quite often, which requires I restart MaxTo and close my RDP session an

[2020-07-21 21:48] GeorgePetropoulos commented on #334
2.0.1

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Vegard Andreas Larsen<mailto:notifications@github.com>
Sent: Tuesday, July 21, 2020 10:44 PM
To: digitalcreations/MaxTo<mailto:MaxTo@noreply.github.com>
Cc: GeorgePetropoulos<mailto:petropoulosgeorge@outlook.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [digitalcreations/MaxTo] beta 10: wron

[2020-07-22 06:49] Christian19471 commented on #597
Windows Version; Version 1803, Build 17134.1550

 2.1.0-beta.2, did not fix it, enjoy your vaction first before analysing.

[maxto20200722.log](https://github.com/digitalcreations/MaxTo/files/4958298/maxto20200722.log)

[config.json (2).txt](https://github.com/digitalcreations/MaxTo/files/4958300/config.json.2.txt)

[2020-07-22 10:14] mortenmoulder commented on #596
Hi @vegardlarsen

If I open the Change Regions window after sleep, it appears completely normal. It's like it's happening in this order:

1. PC turns on
2. MaxTo reads the monitor setup, resolution, etc.
3. Monitors adjust according to how Windows 10 has them set up (they blink, turn black, turn back on, and so on)

And then:

1. Right click on MaxTo and select Change Regions
2. Change Regions rea

[2020-07-23 15:57] mortenmoulder opened #598 "Auto maximize if moved to monitor with no regions"
**Describe the bug**
This is both a feature request and a bug report. 2 out of 3 of my monitors have no regions. When I use my WINKEY+Arrow to move an app around, it doesn't maximize the window. Instead it just moves the app to that screen and fills it up, but not maximized. If I then hit the maximize button on the window, it moves the window and maximizes it. Video example: https://i.imgur.com/Fr

[2020-07-24 00:06] #585 closed

[2020-07-24 18:54] damien-ylopo commented on #591
I've had another problem during my experimentation with v2.1.0 - I uninstalled v2.1.0-beta2, and reinstalled v2.0.1 hoping it would be more stable. I downloaded the latest v2.0.1 installer and installed it and thought everything was good. But no, for some reason it was still running v2.1.0-beta2. I uninstalled it again, downloaded the v2.0.1 installer again, and installed that - sure that I was in

[2020-07-25 12:35] Ndmand501 opened #599 "Mouse to Monitor"
This is a feature or help request.  I have four monitors, and I use two keyboards and two mice to get around the screen real estate.  My setup creates two problems.

1.  Getting the mouse to monitor that I need to use is a challenge.  First you have to find it, then move it.  I would like to be able to have the mouse snap to the monitor or region that I want to use without having to look for it (o

[2020-08-03 09:38] rooby commented on #596
So are the regions wrong or are the windows just not in the regions they were in before?

In my case I have 2 monitors but when my computer wakes everything has been moved to monitor 1 and I have to move them back where they should be.

Does that sound similar to your issue or something different?

[2020-08-03 09:57] mortenmoulder commented on #596
Hi @rooby

Sometimes a single window is moved away and I have to move it back, but I think that's a Windows 10 "issue", because it happens even without MaxTo.

But no, my problem is that regions are simply smaller and in other positions. My 1440p monitor looks like it has a 1080p region. The region is definitely 16:9 and it looks about as small as 1920x1080 is on a 2560x1440 monitor.

I've since c

[2020-08-04 08:20] vegardlarsen commented on #596
@mortenmoulder So it appears that this may be a DPI-scaling issue. I assume that if you change anything about your desktop after Windows is awake, MaxTo will pick it up? You can try unlocking your taskbar and resizing (or moving it) to quickly force the regions to re-apply.

[2020-08-04 08:24] mortenmoulder commented on #596
@vegardlarsen DPI is the same across all 3 (previously 4) monitors. Nothing has changed except the resolution.

[2020-08-04 08:25] vegardlarsen commented on #596
@mortenmoulder Does that trick still solve it?

[2020-08-04 08:26] mortenmoulder commented on #596
@vegardlarsen Won't be able to test until I get home, unfortunately.

[2020-08-04 11:04] vegardlarsen commented on #409
Another instance of this error:

[code]

[2020-08-04 11:20] vegardlarsen commented on #599
I apologize for the slow response here; the summer holiday has just ended here in Norway and I've been away.

In version 2.1.0-beta.2 ([available on our website](https://maxto.net/release/beta)), there is a `mouse:position` command, that you can invoke from the command line like this:

[code]

That would move the mouse to the middle of the next monitor. Other supported monitors are `$previous` and

[2020-08-04 11:36] vegardlarsen commented on #591
@damien-ylopo It could be that you had set your update channel to "beta", and that it auto-updated. If you install a beta release, the release channel will be set to that automatically.

PS! Sorry about the slow response, I have been away on vacation.

[2020-08-04 11:44] vegardlarsen commented on #597
There appears to be an issue in 2.1.0-beta.2, where either our licensing server or some proxy server in between returns an undecodable license. Are you running any kind of proxy server or network middleware?

[code]

[2020-08-04 11:47] vegardlarsen commented on #334
@GeorgePetropoulos Sorry for the slow response time. I've been away on vacation. You should uninstall the current version of MaxTo, and try downloading and installing [version 2.1.0-beta.2 from our website](https://maxto.net/release/beta).

[2020-08-04 11:55] vegardlarsen commented on #594
Sorry for noticing your reply before now. I have been away on vacation these last few weeks.

It could be that passive mode is a bit buggy, I did test it quite substantially here, but we've received some other reports about irregularities while I was away.

I'll try to look into this more.

[2020-08-04 15:46] mortenmoulder commented on #596
@vegardlarsen Confirmed that trick solves it. I've tried to mark my regions on this picture, so maybe that gives a better understanding.

Red = Region
Black = Monitor

Not sure where the last 3rd region is.

![image](https://user-images.githubusercontent.com/1304665/89314760-5a720f00-d67a-11ea-829e-8928420b66ec.png)

[2020-08-04 16:11] damien-ylopo commented on #591
I don't think that was the problem, I had never known there was a beta update channel before you mentioned it here.

I did initially install the beta so maybe it defaulted to the beta update channel, and then when I uninstalled the beta and installed the stable version, the stable version could have picked up the previous preferences, and then auto-installed the beta over it?

In any case, I've be

[2020-08-05 00:06] #590 closed

[2020-08-05 07:08] vegardlarsen commented on #591
Correct; your settings remain when you uninstall or upgrade, but the update channel could have changed. I am still unable to reproduce the issue as originally reported, and the fact that Windows seemingly places the open apps in different positions in my and your screenshot seem to be related.

But since the problem has not returned, I will be closing this issue. Feel free to comment if it returns

[2020-08-05 07:08] #591 closed

[2020-08-05 08:16] eikowagenknecht commented on #594
Thanks for looking into this. As of now, I have passive mode enabled, but maximizing windows still fits them into the nearest region. Please contact me if you need further tests / logs etc.

[2020-08-05 12:39] vegardlarsen commented on #595
@p-Wave Can you try this scenario with 2.1.0-beta.3, which has just been released?

[2020-08-05 12:48] vegardlarsen commented on #556
As we have no updates from @spectrumitteaam, I am assuming this has either been solved or is no longer an issue. Closing this issue.

[2020-08-05 12:48] #556 closed

[2020-08-06 09:15] #566 closed

[2020-08-06 10:07] vegardlarsen commented on #578
@thewavelength My guess is that somewhere in your config file is a recipe with `"monitor": null` as a parameter. If that is the case, then this will be fixed in beta.4.

[2020-08-06 10:07] #578 closed

[2020-08-06 13:19] vegardlarsen commented on #570
I've had a long, hard look at this issue, and I cannot make heads or tails of it. In Spy++, window messages to TeamViewer can be monitored just fine. (Spy++ uses some of the same mechanisms as MaxTo does to achieve this).

However, MaxTo just doesn't receive any messages from TeamViewer. TeamViewer simply doesn't trigger either the `WH_CBT` or the `WH_CALLWNDPROC` hooks we set; which I can see no

[2020-08-06 13:47] vegardlarsen commented on #594
I have been able to reproduce this (on my machine, it only happened when passive mode was set in the settings when MaxTo started, and not if you toggled passive mode in the settings).

I have fixed the bug now, and the fix will be in 2.1.0-beta.4.

[2020-08-06 13:52] #594 closed

[2020-08-06 19:17] #582 closed

[2020-08-06 19:17] vegardlarsen commented on #582
I believe I have fixed this for 2.1.0-beta.4.

[2020-08-06 19:17] vegardlarsen commented on #575
This should be fixed for 2.1.0-beta.4.

[2020-08-06 19:37] #575 closed

[2020-08-06 19:49] vegardlarsen commented on #597
I think we've fixed this for 2.1.0-beta.4. It is related to the license key being corrupted on disk. Deleting the file `%AppData%\MaxTo\license.txt` should fix it temporarily.

The underlying cause for the issue seems to be that when we check the license key online, we get back a new license key. The new license key can sometimes be shorter than the original. When the shorter license key is writte

[2020-08-06 19:54] #597 closed

[2020-08-07 06:44] vegardlarsen commented on #577
I've added a compatibility shim for PowerToys, that should help with the crashing issue. You'll need to go into Settings, Compatibility and hit the Update button for MaxTo to update its compatibility shims.

It may take some time before the shim becomes available in the app (due to caching). [Direct link](https://maxto.net/shim/powertoys).

[2020-08-07 06:46] vegardlarsen commented on #577
I have been unable to reproduce the hidden windows showing, however. I am therefore closing this issue.

[2020-08-07 06:46] #577 closed

[2020-08-07 08:19] lk-smit-ag opened #600 "MaxTo TrayIcon dissapears"
I had/have problems with MaxTo since a 2-3 weeks. MaxTo shows every time on startup "view the log files", but i cant find an issue related to the logs.
Now i have reinstalled the software and used the beta3, because it was described that the bug was fixed in this version. But it doesnt look so.
Here are some FATAL's from my logs:

![image](https://user-images.githubusercontent.com/61590827/8962488

[2020-08-07 09:16] vegardlarsen commented on #600
Thank you for the log files, they are most helpful in diagnosing issues like these. In the case of the first exception, what were you doing at the time it occured?

The second crash seems like it should be reproducible by me. I will have to have a look at it next week.

[2020-08-07 11:37] lk-smit-ag commented on #600
I am not doing anything special - maybe the full log of today can help you.
I restarted my laptop right now, and the start message with the log was again.

I checked the "Send error report...". This is activated maybe you find some related information.

I will send the log of today to support@maxto.net. With this Issue as reference.
If you need something else, feel free to contact me.

[2020-08-08 00:06] #592 closed

[2020-08-12 20:02] ChristopherHaws opened #601 "[Feature] When resizing a full screen window, automatically resize adjacent full screen windows"
**Is your feature request related to a problem? Please describe.**
The default Windows Snap feature has a toggle'able feature where adjacent windows will be resized along with the window you are resizing which does not work when using MaxTo.
![image](https://user-images.githubusercontent.com/5934505/90061822-8bb29680-dc9b-11ea-89ff-ffa22c960708.png)

**Describe the solution you'd like**
Add the sa

[2020-08-12 23:48] robk9e commented on #388
Guys,
GIve a try on VDM from iShadow.  It supports full screen and works like a charm.
https://www.ishadow.com/vdm/

[2020-08-13 08:01] vegardlarsen commented on #601
@ChristopherHaws Thank you for the feedback. We are evaluating variations of this that we think are better. I am filing this as an idea that we will revisit for later versions.

[2020-08-13 08:01] #601 closed

[2020-08-13 11:20] vegardlarsen commented on #600
These issues have been fixed (presumably, as I could not reproduce both of them locally), and I have sent a test build to @lk-smit-ag via e-mail.

Closing this issue.

[2020-08-13 11:20] #600 closed

[2020-08-13 12:56] RhinoFox commented on #409
Is it possible it has something to do with protected folders or similar? The C00000005 is an acces denied error. I looked for an id: 1123 but didn't find a relation with MaxTo. But I noticed some access from temp (F:\TEMP\is-DJQ4E.tmp\target.tmp) to %userprofile%.

[2020-08-13 13:08] vegardlarsen commented on #409
@RhinoFox I think it is unlikely, but possible. You can get access denied for a lot of other reasons besides file access. In this case it appears to be something related MaxTo shutting down, and the companion processes interfering with the UI process' shutdown process (my working theory).

If you do have protected folder access on `%userprofile%` on your machine, and idea could be to uninstall Max

[2020-08-21 06:45] aslakrin opened #602 "LocalBridge.exe - Bad Image: MaxTo causes error dialog"
Update is perhaps a strong word since it's a corporate thing, but version is 1909/18363.418.

It runs fine for a while, then anything from 2 to 20 of those dialog boxes need to be clicked away. Still works afterwards too.

![2020-08-21 08_38_54-LocalBridge exe - Bad Image](https://user-images.githubusercontent.com/901730/90860625-9ef3ef00-e38a-11ea-9209-71560c179c0d.png)

[2020-08-21 06:47] vegardlarsen commented on #602
@aslakrin This is an instance of issue #415, which is really a bug in Windows, and only happens when you upgrade Windows versions. Search in that issue for the fix (look for the PowerShell snippet).

[2020-08-21 06:47] #602 closed

[2020-08-21 06:59] aslakrin commented on #602
Thanks. I didn't understand even one bit of the powershell snippets, but deleted the cached dlls. It would perhaps be useful if MaxTo could detect a windows update and preemptively at least alert the user, but maybe also offer to scan for the problem.

[2020-08-25 16:39] oldmanhenry opened #603 "Display disappears when moved to the upper right corner."
<!--
I have the display configured to 5 regions. Three on the top evenly spaced left to right. Two on the bottom evenly spaced left to right.  If the center dividing line between the top and bottom regions is exactly half I have no issues. If I move the center line up then a display that is moved from top center to top right will disappear until you press windows+down. I have no issues moving to a

[2020-08-25 16:41] #603 closed

[2020-08-26 00:13] #587 closed

[2020-08-27 19:45] crankedguy opened #604 "Extremely annoying shifting bug on 2x4k screen"
**Describe the bug**
If you divide a 4k screen with 3840x2160 in thirds on virtual desktops, so you have 3 parts with 1280px at first everything seems well.
Then when you switch back and forth in Windows 10 a few times between the virtual desktops the relations start shifting. They start shifting from the first switch and get worse and worse every time you switch, so a fter a few switches you have

[2020-08-28 16:43] vegardlarsen commented on #604
@crankedguy Thank you for the report. Have you tried this in version 2.1.0-beta.3? There are improvements in the preview version in regards to this functionality specifically.

You can [download the preview releases from our website](https://maxto.net/releases/beta).

[2020-08-28 17:11] crankedguy commented on #604
@vegardlarsen Thansks for getting back to me. No I did not until now. Is beta in your case considered "safe"? I am on a production system and won't mess anything up which I do not get rid of then.

[2020-08-28 17:51] vegardlarsen commented on #604
According to our telemetry, it shouldn't be much worse, but or course the bugs are different. If you are concerned, I would recommend backing up `%AppData%\MaxTo` before updating, so you can go back to your previous settings. For a smooth update, uninstall your current version and reboot before installing the latest release. Please let me know if it works?

[2020-09-02 12:01] 50l3r opened #605 "Shortcut to Zone Picker"
Maybe it's a good idea offer shortcut to show Zone Picker like PowerToys have:

![](https://i.gyazo.com/c00a812f859a8d66cc3d2fe757f508ce.png)

If I executed a keyboard shortcut, that window would come out to choose a zone

it is useful for those of us who work with multiple zones

[2020-09-03 02:03] psdbrawner opened #606 "Task Bar Covering bottom of regions in Windows 10"
I am new to MaxTo (only used it for a few weeks).  I have setup two regions (left and right) on each of my two monitors.  When I maximize a browser or other application to the region, the bottom of the window is behind the taskbar at the bottom of my screen.  I have the taskbar displayed on both screens and I am seeing the issue on both screens (primary and secondary).  If I use the "Maximize to M

[2020-09-03 06:21] rswrz opened #607 "Unexpected window movement between regions"
**Describe the bug**
My region layout is two big regions side by side in first row on top and three small regions in second row on bottom.

[code]

Using keyboard shortcut to move Windows to top/right/left/bottom region does not work correctly with this kind of layout.

Let me give an example:

1. Window is in `0,0` region
2. Pressing Shortcut for _move-right_ moves the window to `1,1` but it shou

[2020-09-03 12:28] shtirlitsDva opened #608 "Chrome 85.0.4183.83 crashes"
**System information:**
- Windows version: 2004 build 19041.450
- MaxTo version: 2.0.1

**Additional context**
[maxto20200903.log](https://github.com/digitalcreations/MaxTo/files/5168453/maxto20200903.log)

[2020-09-03 13:42] vegardlarsen commented on #606
MaxTo is supposed to know what the working area of your screen is. It relies on messages from Windows to "update" its knowledge of what these working areas are. If you temporarily move or resize your taskbar, the issue should go away immediately. You will need to right-click in a blank area of the taskbar, and uncheck "Lock the taskbar":

![image](https://user-images.githubusercontent.com/436508/9

[2020-09-03 13:55] vegardlarsen commented on #607
Thank you for the report. We are aware that this behavior is somewhat strange. We've struggled with finding a model for moving here that feels natural (I believe I have tried at least 5 different approaches, not all made it into releases). The model we have settled on here, is sorting by center to center distance between the regions (after filtering away anything that is in the opposite direction)

[2020-09-04 00:08] mortenmoulder commented on #596
Still happening.

[2020-09-04 08:39] shtirlitsDva commented on #606
Resizing the taskbar bigger and back to small, fixed the problem for us. The values for the working area must have become stale somehow and needed refreshing.

[2020-09-07 12:03] d3relict opened #609 "Max.to fails immediately when Chrome Incognito is opened"
**Issue description**
Opening Google Chrome in incognito mode will kill Max.to, and will not recover unless it is closed and restarted.

**System information**
Chrome: Version 85.0.4183.83 (Official Build) (64-bit)
OS: Windows 10 Pro, version 1909, build 18363.1016
Max.to: 2.1.0-beta3

[2020-09-07 13:11] vegardlarsen commented on #609
@d3relict Thank you for reporting this issue.

Do you get anything in your error log when this happens?

I have tried this myself with the same exact Chrome version, and nothing crashes on my machine.

[2020-09-07 13:17] vegardlarsen commented on #606
Thank you for the update. I am not sure what causes the values to be out of date. MaxTo is subscribed to all kinds of events that should notify it whenever this changes (e.g. resolution changes, monitors are connected, etc.), and does not cache this value in any way.

If you can think of anything you can do to consistently reproduce this issue, please feel free to comment here and we can re-open t

[2020-09-07 13:17] #606 closed

[2020-09-07 14:03] vegardlarsen commented on #599
I am closing this issue as I believe I have addressed @Ndmand501's problems.

[2020-09-07 14:03] #599 closed

[2020-09-08 07:18] paul-chambers opened #610 "Create new preset from frontmost window"
**Is your feature request related to a problem? Please describe.**

I'd like to be able to use the dimensions of an existing window to create a new preset. Not really a problem, just an inconvenience, forcing iterative trial and error.

**Describe the solution you'd like**

In its simplest form, another menu option on the tray icon menu to use the frontmost window to initially set the regions. I.e

[2020-09-08 07:40] paul-chambers opened #611 "Quick switching between existing presets"
**Is your feature request related to a problem? Please describe.**

Not a problem, a faster, single-step way to achieve something I do frequently that currently requires multiple steps.

**Describe the solution you'd like**

I would like a pull-right menu on the tray icon that lists the custom presets, so that I can switch presets without having to enter 'Change Regions' and load that preset. Bonu

[2020-09-09 06:17] vegardlarsen commented on #611
Thank you for your feedback. This is an idea that I have considered, and this may be something we look at for 2.2.

I have some ideas here in regards to adding recipes into this right-click menu as well.

I am labelling this as an idea, which is something we regularly go back and revisit.

[2020-09-09 06:17] #611 closed

[2020-09-09 06:18] vegardlarsen commented on #611
PS! You can load presets using a hotkey, with the recipes feature. That may be even quicker for you.

[2020-09-09 06:23] vegardlarsen commented on #610
Thank you for this feedback. There are some quirks around how the region setup works in MaxTo that prevents us from doing this at the moment. Say that you leave a window in the middle of the screen, with space all sides. Depending on how you look at it, that would either generate 5 regions (4 in a spiral around the window, and 1 for the window itself), or 9 regions (4 for each side, 4 diagonnaly,

[2020-09-09 06:23] #610 closed

[2020-09-09 23:41] paul-chambers commented on #611
Thanks, Vergard. Yes, I was reading about recipes earlier, and a submenu that includes recipes would be perfect. It also occurred to me that virtual desktops could help, too.

[2020-09-09 23:48] paul-chambers commented on #610
Thinking about it, what I'm looking for is an easier way to set the dimensions of a region, the placement doesn't really matter. Indeed, copying the window's position too would complicate things, particularly if the user has the window close to a screen edge - the regions created would not be useful, perhaps even problematic (e.g. a region 1 or 2 pixels wide/tall). I have a related idea, but will

[2020-09-10 00:25] paul-chambers opened #612 "Optionally snap region boundaries to edges of underlying windows."
**Is your feature request related to a problem? Please describe.**

I would like the ability for a region to reflect the dimensions of an existing, open window. In my case, it's a media player that I want to size with the correct aspect ratio for the content it is playing.

**Describe the solution you'd like**

I'd like to be able to snap region boundaries to the edges of windows underneath, proba

[2020-09-11 16:21] vegardlarsen commented on #608
You may have experienced issue #476 before MaxTo had a chance to write the registry entries which fix it.

[2020-09-13 18:33] d3relict commented on #609
hey @vegardlarsen thank you for dealing with my issue, unfortunately, the email notification landed in my trash, hence the late reply :(

no error occurs to be specific, it just stops working completely.

i made a quick repro, and it behaves as described:
- start max.to, it asks for elevated permissions, granted
- open chome, observe proper behavior, windows resizing according to regions
- open in

[2020-09-16 05:46] Sterling177 opened #613 "ShutDown Prevention until window OK'd"
Window showing at shutdown - if not Ok'd it will eventually log out - typically preventing shutdown.

Pretty annoying

Cant attach a photo let me know how

CiceroUIWndFrame

[2020-09-16 07:46] vegardlarsen commented on #613
I believe this is the same as issue #409. Please correct me if that is incorrect.

I am closing this issue as a duplicate.

[2020-09-16 07:46] #613 closed

[2020-09-16 21:58] bumbeen opened #614 "Unable to focus on window or move window"
Hi. I'm trying to build a recipe that starts outlook, then moves it to a specific region on my 2nd virtual desktop. I am unable to get it to do this, no matter what combination of options and ingredients I use in a recipe.

This is on the latest beta version, because the stable version does not work on my computer. I have a 5120x1440 monitor and a 1920x1080 monitor.

I have tried:
Wait for program

[2020-09-16 22:08] bumbeen opened #615 "Unable to move window to virtual desktop"
**Describe the bug**

Cannot move window to another virtual desktop.
**To Reproduce**
1. Create a recipe that moves foreground window to second virtual desktop.
**Expected behavior**

Window moves to second virtual desktop.
**Screenshots**

**System information:**
- Windows version: 1909 build 18363.1082
- MaxTo version: latest beta

**Additional context**

2020-09-16 12:05:50 [Core@2.1.0.675] [In

[2020-09-17 06:11] Sterling177 commented on #613
Maybe if you think so

On Wed, 16 Sep 2020 at 5:46 pm, Vegard Andreas Larsen <
notifications@github.com> wrote:

Kind Regards

Sterling Osment

Ph: 0405 338 974
Site: www.frameworkvfx.com
Instagram: www.instagram.com/sterling_osment
Artstation: www.artstation.com/sterlingosment

<https://www.artstation.com/sterlingosment>

[2020-09-17 13:20] vegardlarsen commented on #615
@bumbeen Does this issue still persist in version 2.1.0-beta.3? You can switch to that release by setting your update channel in the app to Beta, and then restarting MaxTo twice.

There was a bug in the virtual desktop library we used for version 2.0.1, which could result in this error.

[2020-09-17 13:21] vegardlarsen commented on #614
I am assuming that this is a duplicate of your other issue; #615. Please let me know if that is not the case.

[2020-09-17 13:21] #614 closed

[2020-09-17 13:23] vegardlarsen commented on #609
Does the problem go away if you set MaxTo to run as a standard user (not elevated)?

[2020-09-17 13:25] vegardlarsen commented on #612
@paul-chambers Thank you for your report. I would like to do this as well, however, the grid resizing control that we use has no support for snap points. If it had, we would allow it to snap to window borders as well as predefined snap-points (1/3, 1/2, etc).

It is definitely something that is on our wish-list of things to do.

It will however not happen on our current roadmap of releases (e.g. 2

[2020-09-17 13:25] #612 closed

[2020-09-17 19:19] bumbeen commented on #615
Yes this is on 2.1.0-beta.3. REcipe did not work in stable version either. Guessing something with my PC.

[2020-09-18 06:14] vegardlarsen commented on #615
Here is the recipe I tried just now (on 2.1.0-beta.3):

[code]

Note that the virtual desktop number is "off by one", i.e. the first virtual desktop is numbered 0. I will be fixing that as well.

This recipe works on my machine.

There was a bug in 2.0.1 which produced the exact error message you are providing, but we've since fixed that (sorry I missed that you were running 2.1.0-beta.3 initially

[2020-09-18 07:07] vegardlarsen commented on #615
I've fixed two separate issues that I discovered as part of this:

- virtual desktop numbers now start at 1, instead of 0
- the editor for the virtual desktop number didn't always store the underlying number properly

[2020-09-18 07:59] vegardlarsen commented on #604
@crankedguy Any updates on this?

[2020-09-18 08:25] vegardlarsen commented on #595
@p-Wave Did 2.1.0-beta.3 fix it for you?

Closing this issue under the assumption it did.

[2020-09-18 08:25] #595 closed

[2020-09-18 10:17] d3relict commented on #609
tried without elevation, same issue. functionalities cease to work until restart of max.to.

[2020-09-21 18:23] mikelazell opened #616 "Multi user on Windows"
I have multiple user profiles on Windows 10 and like to Switch Users quite frequently.

E.g my work profile, my home profile, my wifes profile.

For MaxTo to work I have to remember to close it before switching otherwise it complains it is still running.

Have I missed something simple on setup?

TIA

[2020-09-21 19:12] mikeowens87 commented on #596
I believe I am dealing with the same bug over here. I'm on a 5120x1440 @ 125% DPI split into 4 sections, and screen locks or sleeping causes each window to move out of place slightly.

[2020-09-22 09:32] figgy78 opened #617 ""Use Regions" button not working"
Right after starting the application, I am able to change regions, but after a while, if I try to do it again, the buttons stops working and I have to cancel and restart the app to make changes to regions.

This with or without elevated permissions.

It's been like this for a year or so.

Currently I'm on Version 2.1.0-alpha3

[2020-09-22 10:28] vegardlarsen commented on #617
@figgy78 Can you try to update to 2.1.0-beta.3, where I believe this issue has been fixed?

[2020-09-22 14:02] SapneshNaik opened #618 "Max to Crashes, No Notification Tray Icon and Relaunching Doesn't Help"
**Describe the bug**

I'm noticing that MaxTo disappears from the Notification tray area, and when I relauch it, the app crashes with a message saying MaxTo has crashes and will now try to restart itself. And even after restarting (UAC for MaxTo.Core) I see no MaxTo Icon in the tray area. The only way to bring it back now is to go into task manager, kill all MaxTo related processes (Core, Server,

[2020-09-22 14:16] vegardlarsen commented on #618
@SapneshNaik Can you get me your runtime logs? See `%AppData%\MaxTo` and look for any log files on the dates where you experience crashes.

[2020-09-22 14:18] vegardlarsen commented on #596
@mikeowens87 Can you confirm if you have the exact same versions of Windows and MaxTo as @mortenmoulder?

[2020-09-22 14:18] vegardlarsen commented on #616
@mikelazell So you are effectively running MaxTo multiple times on the same machine, under different user accounts that are logged on simultaneously?

This is not something we've tested extensively, so it may be that this is a bug.

[2020-09-22 14:21] SapneshNaik commented on #618
@vegardlarsen the attached logs.zip in the issue has the latest log lige along with the config file and the monitor files. However, I'm also attaching logs for all crashes with this comment

[all_logs.zip](https://github.com/digitalcreations/MaxTo/files/5262058/all_logs.zip)

[2020-09-22 14:27] vegardlarsen commented on #618
Sorry I missed that. I can confirm that this is a know issues (actually the most frequent crash report for version 2.1.0-beta.3):

[code]

We will fix this for 2.1.0-beta.4.

[2020-09-22 14:33] mikelazell commented on #616
@vegardlarsen Yep that's correct. It seems to be aware of itself across multiple user accounts (thinks it is running) but you cant access it from the other. When running the process manually it freezes setting regions.

[2020-09-23 12:37] vegardlarsen commented on #618
This has been fixed for 2.1.0-beta.4.

[2020-09-23 12:37] #618 closed

[2020-09-23 14:24] #616 closed

[2020-09-23 14:25] vegardlarsen commented on #616
This issue has been fixed for 2.1.0-beta.4. MaxTo now allows multiple instances of MaxTo as long as they are in separate sessions.

[2020-09-23 23:29] devnought opened #619 "winit-based applications have incorrect dragging behaviour"
**Describe the bug**
Any Rust application compiled using the [winit](https://github.com/rust-windowing/winit) windowing library has strange behaviour when windows are dragged.

A window you attempt to drag will not take the relative cursor position into account.

`winit`-based applications work as expected when `MaxTo` is not running.

**To Reproduce**
1. Run any `winit`-based application.
2. Clic

[2020-09-24 00:55] devnought commented on #619
After looking at other issues, I decided to check out the beta channel.

Whatever is causing the issue in 2.0.1 has been fixed in 2.1.0-beta3. I'm closing this issue.

[2020-09-24 00:55] #619 closed

[2020-09-26 21:15] t-rad679 opened #620 "Website 500 Error Trying to Log in"
**Describe the bug**
When trying to log in, I got a 500 server error. This occurred with every SSO (I'm pretty sure I used Google initially).

**To Reproduce**
1. Go to maxto.net
2. Click "Log In"
3. Click on any of the SSO buttons.
4. Go through the corresponding login flow
5. See that a red page describing an internal server error is shown

**Expected behavior**
Logged into the MaxTo website

**

[2020-09-28 10:21] vegardlarsen commented on #620
Thank you for your feedback. I was unable to find what caused this for your account in our logs, but I tried all four SSOs myself just now, and they work for our accounts.

So, not wanting to expose your e-mail address on this public forum, I recommend you e-mail me at support@maxto.net, so we can figure out why this happens to your account specifically?

[2020-09-28 10:21] #620 closed

[2020-10-01 09:30] mortenmoulder opened #621 "maxto service restart all of a sudden fails"
As you can see in issue #596 I've had some trouble getting MaxTo to behave normally after waking up from sleep. To combat that, I've created a task in Task Scheduler, that automatically calls `maxto service restart` when I log in. This has worked for two full weeks now, but suddenly it starts crashing with exceptions.

MaxTo version 2.1.0-beta5 and Windows 10 19041 with 2004 update.

Stacktrace fo

[2020-10-01 11:10] vegardlarsen commented on #621
@mortenmoulder You may have been affected by an issue in version 2.1.0-beta.4, and I therefore published 2.1.0-beta.5 earlier today. At the end of your log file you can see that the version number changed, so you have just been auto updated. Can you please let me know if the problem persists with the new version?

[2020-10-01 11:16] mortenmoulder commented on #621
@vegardlarsen Oh I didn't even see that part. I just opened MaxTo and noticed the update. It happened yesterday as well.

I will definitely keep an eye out and report back in a couple of days!

[2020-10-01 21:06] mortenmoulder commented on #621
Still happens @vegardlarsen :(

[2020-10-02 08:02] vegardlarsen commented on #621
Could you export the task in Task Scheduler so I can have a look at it? I suspect it could be running as the wrong user.

[2020-10-02 08:20] mortenmoulder commented on #621
@vegardlarsen The task is not the issue. If I open cmd and type the same command, it doesn't work either:

![image](https://user-images.githubusercontent.com/1304665/94902477-80f4d080-0498-11eb-92e1-527fb7ee3234.png)

![image](https://user-images.githubusercontent.com/1304665/94902489-86eab180-0498-11eb-80e3-d32aa44dec4e.png)

![image](https://user-images.githubusercontent.com/1304665/94902506-8e1

[2020-10-03 06:54] d3relict commented on #609
@vegardlarsen anything else i can try?

[2020-10-04 19:02] mortenmoulder commented on #621
It actually fails regularly each and every time I turn on my PC after sleep now. Seems like it's the new update.

Rather annoying to say the least.

[2020-10-05 05:59] vegardlarsen commented on #621
After having had time to look into this now, I am only able to reproduce this locally if I execute the `maxto service restart` command very quickly (e.g. before MaxTo has had a chance to fully restart and the notification area icon reappears). Then I will get this message:

![image](https://user-images.githubusercontent.com/436508/95044719-6e6cd800-06e0-11eb-8502-45d9a27f5ead.png)

My guess is tha

[2020-10-05 07:40] vegardlarsen commented on #609
@d3relict Could this be issue #476 in a new disguise? See [my instructions here](https://github.com/digitalcreations/MaxTo/issues/476#issuecomment-547324294).

It could be that since MaxTo is run as administrator, the registry keys that MaxTo writes to "fix" Chrome is written to a wrong location, and it therefore somehow doesn't work. It is a long shot though.

[2020-10-08 21:51] mortenmoulder commented on #621
Okay, I think I have something working now. It's super hacky, but it has worked for a bit. VBScript to create a hidden window.

**Action**: `Start a program`
**Program/script**: `C:\Windows\System32\cmd.exe`
**Add arguments**: `/c start wscript "C:\Users\morte\Desktop\maxtofix.vbs" >> maxtolog.txt`
**Start in**: `C:\Users\morte\`

maxtofix.vbs:

[code]

maxtofix.bat:

[code]

[2020-10-09 00:08] #605 closed

[2020-10-10 00:08] #607 closed

[2020-10-11 11:03] Sterling177 opened #623 "Windows Key left or Right Arrow on Desktop"
( no windows active ) when hitting the windows Key and Arrow left or right the desktop is treated like a window and the desktop snap s to each sector - the only way to fix this is to log out and back in.

[2020-10-11 21:38] gorbunovav commented on #582
@vegardlarsen works for me. Thank you!

[2020-10-12 12:32] vegardlarsen commented on #623
@Sterling177 Thank you for the report. I've solved this issue now, with a compatibility shims update. You should be able to go into Settings, Compatibility, and hit "Check for updates" to get this update in about 1 hour (due to our website caching this API call). The fix will take effect after you've restarted (or signed out).

[2020-10-12 12:32] #623 closed

[2020-10-15 05:39] LogicFan opened #624 "Unhandled Exception has occurred."
Unhandled exception has occurred in your application. If you click Continue, the application will ignore this error and attempt to continue. If you click Quit, the application will close immediately.

Here is the detail:

See the end of this message for details on invoking
just-in-time (JIT) debugging instead of this dialog box.

************** Exception Text **************
System.NullReferenceExc

[2020-10-15 06:34] vegardlarsen commented on #624
Please try updating to version 2.1.0-beta.5, which should have fixed this issue. The easiest way to update is to set your update channel to Beta, and then restarting MaxTo twice. If you are having issues starting MaxTo, you can [download the installer from our website](https://maxto.net/release/beta).

Please let me know if that solves your problem.

[2020-10-16 20:17] Archithead opened #625 "Windows Close after Reposition"
Hi All,

Using the current stable MaxTo release.
Often when I move a window to a different locaiton, the window will snap there and after about a second will disappear. If it does stay, and I try to resize it or move it manually, it will close. Any thoughts?

Michael

[2020-10-17 05:11] ShinyMark commented on #409
This happens to me frequently on 2.0.1. Windows 10 20.04, two monitors with mixed DPI. The call stack is the same as others in this thread.

[2020-10-19 14:16] vegardlarsen commented on #409
@ShinyMark Can you please try upgrading to version 2.1.0-beta.5? The easiest way is to set your Update channel to Beta in MaxTo's settings, then restart MaxTo twice.

We've made some changes to how MaxTo handles shutdowns in that version, but we haven't been able to reproduce this exact issue in a manner that lets me debug it. I have a small hope that it will have been fixed as a byproduct of othe

[2020-10-19 14:18] vegardlarsen commented on #625
@Archithead Thank you for your issue. Does this issue still happen with version 2.1.0-beta.5? The easiest way to update is to set your Update channel to Beta in MaxTo's settings, then restart MaxTo twice.

If this continues to happen using that version, and it is limited to a specific program, we can try adding a compatibility shim, but let's cross that bridge when we get to it.

[2020-10-21 23:54] ShinyMark commented on #409
After updating to the latest beta I haven't seen the shutdown crash in a few days. However I am seeing an unrelated bug related to window transparency getting stuck at something like 50% whenever I accidentally grab a window edge with the mouse. But that's unrelated.

[2020-10-22 11:02] vegardlarsen commented on #409
@ShinyMark I'm happy if the shutdown crash no longer happens, but we'll give it a few more days and hopefully someone else can confirm.

Could you e-mail me (support@maxto.net) with the details of when and what programs get stuck at transparency so I can investigate?

[2020-10-22 20:07] kaffien opened #627 "Addobe compatability shim messing up maxto's ability to execute recipes."
The documentation to disable the compatibility shim with adobe is null and void.

MaxTo is no longer installed into the program files directory.  Searching for  shims.xml
turns up nothing.

How do i disable  this compatibility shim? I've disabled the adobe sandbox features.
I have also disabled adobe under the compatibility section of Maxto 2.01

Is this fixed perhaps in one of the betas?

[2020-10-24 00:09] #604 closed

[2020-10-24 00:09] #615 closed

[2020-10-24 09:53] RhinoFox opened #628 "MPC-HC won't snap in minimum or compact mode"
When I use MPC-HC in the compact or minimal mode (Without Edges), the snap to a region doesn't work. In standard mode it does work. In the release version (2.01) it worked, but not in beta-5 version 2.1.0.697.

Play a movie in MPC-HC
Press: 1 (Minimum edges)
Try to snap with Left-mouse and Shift > No action
Press: 2 (Compact mode)
Try to snap with Left-mouse and Shift > No action
Press: 3 (Normal

[2020-10-26 17:35] ounrequitedo opened #629 "feature request: ctrl-shift/windowskey-shift + mousewheel to scroll between active windows?"
feature request: ctrl-shift/windowskey-shift + mousewheel to scroll between active windows?
That would be great, thanks.

[2020-10-26 18:46] Archithead commented on #625
This issue appears to be happening again on Chrome as well as Windows
Explorer. Moving or resizing kills the app that I am trying to resize or
relocate.

On Mon, Oct 19, 2020 at 10:18 AM Vegard Andreas Larsen <
notifications@github.com> wrote:

[2020-10-26 19:33] vegardlarsen commented on #625
@Archithead Could this be issue #476 in a new form? Does it start working again if you apply the registry fix from that issue? Which specific version of Google Chrome is this?

[2020-10-26 19:34] vegardlarsen commented on #629
Thank you for your idea. Active windows would mean "open windows" in this case, right?

This should be doable, I can't see any immediate technical hurdles for doing it, but it is something we will have to file in our ideas folder (basically tagged and closed so we can reference it later).

[2020-10-26 19:34] #629 closed

[2020-10-26 19:39] vegardlarsen commented on #628
@RhinoFox I assume you are testing this when dragging to move the window while holding Shift? Would it be an OK workaround to use the keyboard shortcuts instead?

[2020-10-26 19:44] vegardlarsen commented on #627
Thank you for the feedback. I have updated the compatibility shim description with up to date instructions. It should be visible within a few hours (due to caching).

If you've done as you say, the compatibility shim should be disabled after you restart your computer. I am closing this issue as I assume I've fixed the root issue, let me know if I am mistaken.

[2020-10-26 19:44] #627 closed

[2020-10-26 20:27] RhinoFox commented on #628
Yes with the Shift pressed.
Shortcuts are working. It's a workaround.

Are you solving the Shift option in the future?

[2020-10-26 20:28] ounrequitedo commented on #629
Yes, thank you!

[2020-10-26 20:30] vegardlarsen commented on #628
I am not certain, and it most definitely won't get fixed for 2.1.0. We've made adjustments to which windows qualify for this for good reasons, and while I haven't tried MPC-HC, other programs will break if we allow this behavior with their borderless windows. How strict we are here is a trade-off, and we may adjust it again in the future.

I am closing this issue as this is not something we can ch

[2020-10-26 20:30] #628 closed

[2020-10-27 02:10] Archithead commented on #625
Here's the chrome build. Version 86.0.4240.111 (Official Build) (64-bit)
I don't think it's the same issue. It happens to Windows Explorer, Bluebeam
Revu, Chrome, Revit and a few others. MaxTo seems to work for a while and
after about an hour starts just closing windows that I attempt to move or
resize. I'll write back with more details and see if I can narrow the start
of the occurrence down to a

[2020-10-27 06:46] vegardlarsen commented on #625
What you are describing sounds to me like a crash in each individual program, but it can very well be caused by MaxTo. Please do get back to me with the details. The log files at `%AppData%\MaxTo` could be helpful to look at around the times a program crashes, but it is unlikely to contain anything useful for these kinds of crashes.

[2020-10-27 20:21] Archithead commented on #625
So it looks like it happens if I go to move a program after the computer
sits for a few minutes and goes to sleep. Wake it back up, and it crashes
every program I try to adjust. They will still snap to regions without
crashing, but if I adjust them in any way or resize them, they crash.

On Tue, Oct 27, 2020 at 2:47 AM Vegard Andreas Larsen <
notifications@github.com> wrote:

[2020-10-27 20:25] Archithead commented on #625
Furthermore, exiting and restarting MaxTo repairs this behavior and the
program works normally.

On Tue, Oct 27, 2020 at 4:21 PM Michael Bianchi <michael.bianchi@gmail.com>
wrote:

[2020-10-27 20:25] Archithead commented on #625
Spoke too soon. It crashed again.

On Tue, Oct 27, 2020 at 4:24 PM Michael Bianchi <michael.bianchi@gmail.com>
wrote:

[2020-10-27 20:30] vegardlarsen commented on #625
When these crashes start to happen, which MaxTo processes are running on your machine? See in Task Manager, under Details, any process starting with `MaxTo.` is of interest.

[2020-10-28 00:09] #617 closed

[2020-10-28 08:23] ahupp opened #630 "MaxTo.Hook.x64.dll crash in clipboard service"
**Describe the bug**
I occasionally get into a state where taking a screenshot (via Win+Shift+S) takes 2 minutes, and then fails.  I found in the Event Log a crash in MaxTo.Hook.x64.dll in svchost.exe_cbdhsvc, which is I believe the clipboard service.  Restarting MaxTo fixed the problem.

**To Reproduce**
It's not clear how to reproduce this.

**Expected behavior**
Taking a screenshot works.

**Sy

[2020-10-28 08:56] vegardlarsen commented on #630
Thank you for reporting this. I believe this issue should be fixed in version 2.1.0-beta.5, available by setting your update channel to Beta and restarting MaxTo twice. Can you please check if that is the case?

[2020-10-28 16:06] ahupp commented on #630
I'll try that out.  This doesn't happen 100% of the time so won't be able to definitively say its fixed.

[2020-10-28 20:34] vegardlarsen commented on #630
After having been able to sit down on a computer, this is a duplicate of issue #386, which we've fixed for 2.1.0. I am closing this issue. Feel free to comment again if I am mistaken. :)

[2020-10-28 20:34] #630 closed

[2020-10-30 10:43] andrejohansson opened #631 "Crashes when trying to edit regions"
**Describe the bug**
I have a Lenovo P52 laptop with a dock. To the dock I have connected 2 monitors, one 4k BenQ PD3200U and one older Dell monitor.

When I am not connected to the dock and use only the laptop display, I can right click the MaxTo tray and change regions.

But when I am connected to the dock and use all three monitors and try to change regions, then MaxTo crashes after I click cha

[2020-10-30 11:08] vegardlarsen commented on #631
Thank you for your comment. It appears that the relevant parts from the log file is this:

[code]

There seems to be an [open bug in WPF producing this kind of error](https://github.com/dotnet/wpf/issues/3100).

[Quoting](https://github.com/dotnet/wpf/issues/3100#issuecomment-673569758) @BrannonKing from that thread:

Can you try that first?

The error code `UCEERR_RENDERTHREADFAILURE ` could also

[2020-10-30 11:43] josesimas opened #632 "Your website gives 500 error when trying to get my key"
I logged in to my account, and when I clicked the line in my licences list (Key and billing history button) I got a 500 error instead of being able to download the key to activate the software.

[2020-10-30 11:44] RhinoFox opened #633 "broken link 404 on https://docs.maxto.net/how-to/windows-without-maxto"
In page: https://docs.maxto.net/tutorial/keyboard
is a link to: https://docs.maxto.net/how-to/windows-without-maxto

That's broken.

[2020-10-30 11:59] vegardlarsen opened #634 "Imported recipes needs to be saved before they apply"
When you import a recipe, it is not automatically saved.

[2020-10-30 12:06] RhinoFox opened #635 "MaxTo crashes when viewing regions and exiting "cancel changes""
First of all, after installing 2.1.0. Stable over 2.1 beta 5. My own region are vanished.

When I look at te regions, press on presets. I don't see, my own.
Clicking on [Cancel changes] make MaxTo crash.
Restart MaxTo.Core, says there was a crash.
Starting again tells me MAxTo is already runnig. I don't see anything in the notification area, nor in the task manager, but procesexplorer does.

[maxt

[2020-10-30 12:13] vegardlarsen commented on #635
Thank you for reporting this. This seems to be the stack trace that caused your issue:

[code]

Is this reproducible consistently on your machine? What are the exact steps you take to make it crash like this?

[2020-10-30 12:16] vegardlarsen commented on #633
Thank you for that. I've fixed it now (by removing the link). I meant to write that how-to, but didn't get to it in time.

[2020-10-30 12:16] #633 closed

[2020-10-30 12:17] vegardlarsen commented on #632
@josesimas Can you reach out to us privately at support@maxto.net with the e-mail address you used to purchase MaxTo so we can fix that issue for you?

[2020-10-30 15:08] andrejohansson commented on #631
Gathering my versions in the system and double checking that everything is up2date did not help. Still the same error. :-(

### Windows update
All patches and updates installed

Edition	Windows 10 Pro for Workstations
Version	20H2
Installed on	‎2020-‎06-‎17
OS build	19042.610
Experience	Windows Feature Experience Pack 120.2212.31.0

![image](https://user-images.githubusercontent.com/2828428/977200

[2020-10-30 16:16] RhinoFox commented on #635
Right-click  on MacTo-icon in the notification area > Change Regions > Load preset > Cancel Changes
[maxto20201030.log](https://github.com/digitalcreations/MaxTo/files/5466239/maxto20201030.log)

BTW: Where should I find the stack trace. It could be this. There's Dutch tekst in it.

[2020-10-30 23:00] loneboat opened #636 "Windows Terminal crashing after upgrading to MaxTo 2.1.0"
**Describe the bug**
Windows Terminal (v1.3.2651.0) is crashing after upgrading to MaxTo 2.1.0.

**To Reproduce**

1. Start/Activate MaxTo
2. Start Windows Terminal
3. Windows Terminal window hangs briefly and then exits.

**Expected behavior**
Windows Terminal runs normally when MaxTo is running.

**Screenshots**

N/A

**System information:**
- Windows version: 2004 (OS Build 19041.572)
- MaxTo v

[2020-10-31 08:49] bgrolleman commented on #149
So would the idea be similar to the spacing in fancyzones? I got an ultrawide and I really like seeing my background peek between all the screens I have open. Even though I'm losing a few pixels.

[2020-10-31 12:30] manuelhuber opened #637 "Old documentation links redirect to localhost"
**Describe the bug**
When opening an old documentation link like _https://maxto.net/en/documentation/configuration%2Flocation_ it redirects you to _localhost:3000_ instead of the usual 404 page

**To Reproduce**

1. Open https://maxto.net/en/documentation/configuration%2Flocation in your browser
2. It opens localhost:3000

**Expected behavior**
It shows me a 404 page or better yet redirects me to

[2020-10-31 12:59] manuelhuber opened #638 "new WinSplit hotkeys not working"
**Describe the bug**
The new WinSplit hotkeys of version 2.1.0 aren't working. The documentation says they should be working out of the box https://docs.maxto.net/tutorial/keyboard

**To Reproduce**
1. Start MaxTo
2. Select a window
3. Press hotkey ctrl+alt+numpad 1 (with and without numpad enabled)
4. Nothing happens

**Expected behavior**
The window moves to the lower left corner of the screen.

[2020-10-31 15:32] manuelhuber opened #639 ""Window" selection in ingredient randomly changing"
**Describe the bug**
The settings of my ingredient keep changing randomly, sometimes when I execute the recipe, sometimes when I leave the recipe menu and come back and sometimes just while switching from one ingredient to another within the same recipe. I've mainly observed this issues with the "window" setting where it will go from "Search for Window" to "Foreground Window" or to not selection a

[2020-11-01 09:42] vegardlarsen commented on #637
Thank you for reporting this issue. I have fixed it, and it will be deployed shortly.

[2020-11-01 09:42] #637 closed

[2020-11-01 09:44] vegardlarsen commented on #638
@manuelhuber Did you reset your recipes as outlined in the upgrade e-mail? If you upgraded from version 2.0.1, the recipes for using it doesn't exist. You can do this easily from the *Recipes* tab in *Settings*, by clicking *Restore defaults*, then *For this tab*.

[2020-11-01 10:08] vegardlarsen commented on #639
Thank you for the detailed report. I will be looking at this this coming week.

My hunch is that this saves correctly if you check "Search for window" and ensure your details are filled in before pressing "Save changes", and whenever you open a page and immediately hit "Save changes" when neither of the radio buttons are checked, it will save the incorrect value.

[2020-11-01 10:09] vegardlarsen commented on #632
This issue has been resolved privately with @josesimas.

[2020-11-01 10:09] #632 closed

[2020-11-01 10:19] vegardlarsen opened #640 "After playing full-screen video, Chrome window has moved"
**Describe the bug**
After playing full-screen video in Google Chrome (or any Chromium browser), the Chrome window has moved position.

**To Reproduce**
1. Play any video on YouTube or similar size
2. Full-screen it
3. Watch until you get bored
4. Exit full screen
5. Chrome window has moved

**Expected behavior**
Chrome window should be where it was.

**System information:**
- Microsoft Edge versi

[2020-11-01 10:21] vegardlarsen commented on #636
@loneboat Thank you for the report. I am going to ask the classic stupid question: Have you tried turning it off and on again?

[2020-11-01 12:29] manuelhuber commented on #639
When you look at the video at the very start I go through all 3 ingredients. Each one has a value selected when I press save. Later on, when I switch back to an ingredient it will sometimes have no value selected (which I don't understand - why is it changing without my input?) but then I still select an option before pressing save.
In the json it will sometimes reset the value of one or more ingr

[2020-11-01 12:44] manuelhuber commented on #638
Ah, I missed that part in the email - I was looking in the wiki for the answer and didn't find it. I also looked in the wiki how to export recipes but didn't find it. I eventually found the option to export a single recipe but that's quite a laborious process, so I just copied the recipes from the config.json and pasted them after resetting.

From my side, this issue is resolved.

Good follow-up t

[2020-11-01 12:58] manuelhuber commented on #639
I think I've pinpointed the issue a bit more! I can now consistently reproduce the issue!

Steps:
1. Open _LoadLeftMonitor recipe
2. Click on one of the three "move" ingredients
3. The first one you click will have the "Search Window" selected, as it was previously.
4. The second one you click will have nothing selected
5. The third one will have "Foreground Window" selected

It doesn't matter whi

[2020-11-01 16:28] loneboat commented on #636
Heh yes, that's the first thing I tried. I have done full system reboots (noted in "Additional context" above).

You mentioned in an email (not in this thread) that you also use Windows Terminal without issue. May I ask what version of Window Terminal you're using?

[2020-11-01 19:01] #638 closed

[2020-11-01 19:02] vegardlarsen commented on #638
I've made some changes to the docs (should go live in a few minutes), and added a how-to on exporting and importing.

Search functionality would be great, not quite sure the easiest way to do that as of just now.

[2020-11-01 19:18] vegardlarsen commented on #636
I am running the same version you are, and it has been working fine for quite some time (but it was broken during the betas for 2.1.0 for a while).

I'm afraid there isn't really any useful information in the crash reports or the logs for these kinds of errors; as it is very limited what kind of logging we can do when we are running inside other processes in the system.

My only thought is that th

[2020-11-02 01:45] loneboat commented on #636
I will give it a shot. I'm actually out of town for a couple of days, so will fiddle with it later this week. Thanks, I'll keep you posted!

[2020-11-02 11:17] RhinoFox commented on #635
After restoring my last config.json (before upgrade). Problem solved

[2020-11-02 16:55] Xairoo commented on #636
I just downgraded to 2.0.1, now it works again. Damn and I thought it was related to an Windows update (just noticed the problem after the updates!).

Just started to create a issue for terminal before I noticed that it was based on MaxTo, but yeah... just will copy&paste the stuff for version numbers and feedback hub:

---

https://aka.ms/AAa597q

# Environment
Windows build number: Microsoft Win

[2020-11-02 19:42] vegardlarsen commented on #631
Can you try uninstalling .NET Framework 4.8 and [installing 4.7.2 instead](https://dotnet.microsoft.com/download/dotnet-framework/net472)?

[2020-11-03 00:46] Ephron-WL opened #641 "Recipes don't support loading multiple presets for monitors (possibly) not having serial numbers"
**Describe the bug**
I've been using the original version for years.  Based on an email I received last night I took the plunge into the new version.  As a developer myself I find your recipe approach ambitious and impressive.  However, my enthusiasm has been squashed by the severity of bugs that make its use impossible and that may require me to return to the pre-version 2.

My three monitors are

[2020-11-03 09:56] andrejohansson commented on #631
Unfortunately I don't have the possibility to do that right now due to other projects.

According to: https://support.microsoft.com/en-us/help/4569749/kb4569749-cumulative-update-for-net-framework

I tried to add ``AppContextSwitchOverrides`` to the *.config files in the folder: ``C:\Users\AndréJohansson\AppData\Local\MaxTo\app-2.1.0`` but it did nothelp either.

[code]

[2020-11-03 11:56] jmroland opened #642 "Microsoft ToDo windows do not resize and leave a translucent “doppelgänger” window behind"
When holding shifts or using hot keys to resize and position Microsoft ToDo window in Windows 10, the ToDo task list does not resize, but a second translucent window is created with no text content and that is resized.

To re-produce, hold shift and drag an MS ToDo window or position with hot keys in w10.

What should happen is the MS ToDo task list should be positioned and no second window create

[2020-11-03 13:50] vegardlarsen commented on #641
Can you clarify that each monitor has no serial number listed under "Monitor details" (available while changing regions)?

[2020-11-03 13:55] vegardlarsen commented on #642
@jmroland I've tried reproducing this locally, with Microsoft To Do version 2.30.2010.29001, and it works exactly as it should on my machine. The "ghost window" should disappear by itself once you let go of Shift or the left mouse button.

Does the same behavior exist if you use e.g. Notepad or any other program?

[2020-11-03 14:09] vegardlarsen commented on #631
@andrejohansson Could you try to use the registry version of the fix instead? (Note that you need to place it in two places)

I am somewhat concerned that the .config file could sometimes not be loaded.

[2020-11-03 14:33] christian-22-3 commented on #624
Unfortunately the problem still remains the same for me, once I detach my external monitor from the laptop. I run the current 2.1.0, which seems to be newer than the beta

[2020-11-03 15:01] vegardlarsen commented on #624
@christian-22-3 Can you get me [the log file](https://docs.maxto.net/reference/settings/logs). from around the time the exception occurred? This error does not appear to have been logged in our online crash reporting system.

[2020-11-04 08:23] matsjoonas opened #643 "Windows stay translucent after snapping to a region"
**Describe the bug**
Quite often, program windows stay translucent after snapping to a region.

**To Reproduce**
1. Drag a program window to a region
2. Let it snap to place
3. Program window stays translucent

**Expected behavior**
The program window should not stay translucent after snapping to place.

**Screenshots**
https://www.dropbox.com/s/61dhyhjfiv1o6xf/translucent_windows_issue.webm?dl=0

[2020-11-04 13:57] #634 closed

[2020-11-04 14:42] #643 closed

[2020-11-04 14:42] vegardlarsen commented on #643
Thank you for reporting this. I have had a look, and made a change that I think will fix this for version 2.1.1. Since we've been in contact before, I'll e-mail you with a private build so you can test this on your machine.

[2020-11-04 15:10] Archithead commented on #625
So
MaxTo (32 bit)
MaxTo.Companion
MaxTo.Companion (32 bit)
MaxTo.Core
MaxTo.Server

are all running. I'm using a 64x system. Do you think this is causing
issues?

Michael

On Tue, Oct 27, 2020 at 4:30 PM Vegard Andreas Larsen <
notifications@github.com> wrote:

[2020-11-04 15:20] manuel-rahm opened #644 "MaxTo not showing in taskbar and communication error"
Hi

MaxTo isn't visible as a program when searching with start menu.
I can start it manually with the .exe in the 2.1.0 app directory.
It doesn't open and it states that the communication failed within the services.

Kind Regards

Manuel

[2020-11-04 15:26] manuel-rahm commented on #644
![MaxTo_Communication_error](https://user-images.githubusercontent.com/45931464/98130280-5bede600-1eba-11eb-9966-56930efd2c68.PNG)

Even not visible in the notification area.

[2020-11-04 20:03] vegardlarsen commented on #644
@manuel-rahm Which MaxTo program are you starting? You should start `MaxTo.Core.exe`, which will start the other services for you. Starting the UI without the other services running will cause that error.

If you are having trouble starting `MaxTo.Core.exe`, please attach some log files (`%AppData%\MaxTo\*.log`) so I can try to figure out what is happening. :)

[2020-11-04 20:09] vegardlarsen commented on #625
That appears to be all of the required processes. MaxTo fully supports x64-systems, so that should not be an issue.

Are the programs that start crashing all of the same "bitness"? You can check that again in Task Manager, again under Details, right-click the header and choose *Select columns*, then make sure *Platform* is checked and click OK. Now you'll have an extra column that specifies the pl

[2020-11-04 20:13] Archithead commented on #625
They all appear to be 64 bit programs.

On Wed, Nov 4, 2020 at 3:09 PM Vegard Andreas Larsen <
notifications@github.com> wrote:

[2020-11-05 01:31] Nozlaf opened #645 "Mikrotik Winbox crashes when pressing buttons on dialogue"
I noticed that winbox kept crashing when I pressed a dialogue button, found a old issue with mikrotik with maxto decided to disable maxto and it resolved the issue

**To Reproduce**
1. open winbox and connect to a device
2. click on system, routerboard press ok
3. winbox will vanish

**crash report**
Faulting application name: winbox64.exe, version: 0.0.0.0, time stamp: 0x00000000
Faulting module

[2020-11-05 05:46] manuel-rahm commented on #644
Thanks for the quick response.

Below the entries of the log file:

2020-11-05 06:42:03 [CommandLine@2.1.0.704] [Information] [] Logger setup (online logging: True, process #9084)
2020-11-05 06:42:03 [Core@2.1.0.704] [Information] [] Logger setup (online logging: True, process #1456)
2020-11-05 06:42:03 [CommandLine@2.1.0.704] [Information] [MaxTo.Core.Settings.DefaultConfigurationLocation] Found

[2020-11-05 07:35] vegardlarsen commented on #644
@manuel-rahm How do you attempt to start MaxTo exactly? From the log files, it seems like you are starting `MaxTo.exe`, which is the command line tool.

[2020-11-05 07:39] manuel-rahm commented on #644
When I start the core nothing happens, but the process is running. but still no icon in the notification bar.

[2020-11-05 08:07] vegardlarsen commented on #645
@Nozlaf Thank you for reporting this. I've made changes to the compatibility shim so this will work in a little while. It takes a few hours to roll this out to our website due to caching; but once you've updated your compatibility shims in an hours time or so, it should work.

For reference; the cause was that WinBox created or activated a window `routeros_dbl_canvas`, which did not react well to

[2020-11-05 08:07] #645 closed

[2020-11-05 08:20] vegardlarsen commented on #644
`shims.json` is a local cache of compatibility shims that MaxTo will download from the internet if it cannot find it locally. Below is the contents of my file. It should be generated automatically once MaxTo starts successfully, and it should also be installed with the installer.

I am not completely sure what to ask next, but I will try this in a virtual machine running Windows 7 to see if I can

[2020-11-05 08:28] iamsoot opened #646 "windows remain transparent when using Max-to"
Hey, last 2 days when using max to the window of opend programs remains "transparent" (only on my extended screen - not on my laptop)

![image](https://user-images.githubusercontent.com/73988243/98216364-4247af80-1f49-11eb-89eb-227000fb2d17.png)

[2020-11-05 08:30] vegardlarsen commented on #646
@iamsoot I think this is a duplicate of #643, so I am closing this issue. Send me an e-mail at support@maxto.net to get a copy of the private build.

[2020-11-05 08:30] #646 closed

[2020-11-05 08:39] manuel-rahm commented on #644
Ah okay, so we need internet access to run maxto? We are using a vlan that doesn't allow internet connection.

[2020-11-05 08:47] manuel-rahm commented on #644
![image](https://user-images.githubusercontent.com/45931464/98218224-cf8c0380-1f4b-11eb-9662-2f475917389d.png)

I pasted the text for the json file.

[2020-11-05 08:50] vegardlarsen commented on #644
Internet access should not be necessary.

Try clicking the small arrow in the system tray, to see if you can find MaxTo there. Here is a video illustrating how you pull MaxTo out from behind the arrow: https://docs.maxto.net/tutorial/regions/systray.mp4

[2020-11-05 08:51] manuel-rahm commented on #644
It's not visible.

[2020-11-05 09:05] manuel-rahm commented on #644
New log after fresh installation and creating the shims.json:

2020-11-05 06:42:03 [CommandLine@2.1.0.704] [Information] [] Logger setup (online logging: True, process #9084)
2020-11-05 06:42:03 [Core@2.1.0.704] [Information] [] Logger setup (online logging: True, process #1456)
2020-11-05 06:42:03 [CommandLine@2.1.0.704] [Information] [MaxTo.Core.Settings.DefaultConfigurationLocation] Found no sp

[2020-11-05 09:15] manuel-rahm commented on #644
![image](https://user-images.githubusercontent.com/45931464/98221313-c6049a80-1f4f-11eb-977b-e2b8ed74e6d9.png)

I don't know how but it suddenly started without me doing something.

[2020-11-05 09:23] iamsoot commented on #646
Hey,

Thank you for getting in contact, i had to disable Max to because it
was'nt workable anymore.
Would like to use it again, i can't work without it anymore :-)

Kind regards,
Vriendelijke groeten,

Steven Bertels

bertelssteven@gmail.com
0474 591645

Op do 5 nov. 2020 om 09:30 schreef Vegard Andreas Larsen <
notifications@github.com>:

[2020-11-05 09:39] vegardlarsen commented on #644
That's good, I guess. I can only see one concerning thing in the logs, and that is the user interface not being able to communicate with the rest of MaxTo, which means most features will probably not work. Is this running under a restricted user account in some manner?

[2020-11-05 09:43] manuel-rahm commented on #644
It was installed on my account even though I used the machine wide installer and I don't think that normal users have access to my admin directory.

[2020-11-05 09:43] iamsoot commented on #646
Hi Steven,

here is a private build:
https://sky.vegard.name/s/BzpGfEpxeMqNbTe

The file is digitally signed, so you can verify it is authentic.

To install it, you need to follow this process (or it won't
work):
* Uninstall the current version of MaxTo
* Reboot
* Install the private build

Please let me know if the issue is still present.

Best regards

Vegard

The MaxTo team at Digital Creations

[2020-11-05 09:46] manuel-rahm commented on #644
2020-11-05 10:45:35 [Core@2.1.0.704] [Information] [MaxTo.Core.Settings.LoginRegistrationService] Found startup task with incorrect definition. Recreating task.
2020-11-05 10:45:35 [Core@2.1.0.704] [Error] [MaxTo.Core.Settings.LoginRegistrationService] Could not register startup task during startup.
System.UnauthorizedAccessException: Access is denied. (Exception from HRESULT: 0x80070005 (E_ACCESS

[2020-11-05 09:50] vegardlarsen commented on #644
That's how the machine-wide installer works, unfortunately. It is [documented here](https://github.com/Squirrel/Squirrel.Windows/blob/develop/docs/using/machine-wide-installs.md).

The log entries seem to indicate that there is a scheduled task named MaxTo already, that it cannot delete. Can you verify that, and who owns it?

Are you trying to run MaxTo as admin or as a standard user?

[2020-11-05 09:51] manuel-rahm commented on #644
I try to run it as a standard user and in the mean time I moved the MaxTo directory to Program Files. MaxTo process is owned by my account admin_mrahm.

[2020-11-05 09:52] vegardlarsen commented on #644
And the scheduled task?

[2020-11-05 09:52] manuel-rahm commented on #644
Where can I find the scheduled task?

[2020-11-05 09:56] vegardlarsen commented on #644
In Task Scheduler. It should be named MaxTo and be in the Task Scheduler Library "folder".

[2020-11-05 09:57] vegardlarsen commented on #644
You can try deleting that task (don't rename or disable it), and have MaxTo recreate it when you start it the next time?

[2020-11-05 10:03] manuel-rahm commented on #644
2020-11-05 11:01:42 [Core@2.1.0.704] [Information] [] Logger setup (online logging: True, process #5016)
2020-11-05 11:01:42 [Core@2.1.0.704] [Information] [MaxTo.Core.Settings.DefaultConfigurationLocation] Found no specified configuration location file, using default settings location "C:\Users\admin_mrahm\AppData\Roaming\MaxTo"
2020-11-05 11:01:42 [Core@2.1.0.704] [Information] [] Logger setup (

[2020-11-05 10:11] vegardlarsen commented on #644
@manuel-rahm What do you mean? If you run MaxTo as a given user, it will create that task automatically for that user. I don't think this will work the way you think, and it is clearly not the way it was meant to work from our end.

[2020-11-05 10:12] manuel-rahm commented on #644
Hmm okay, I thought that I could set the trigger for "log on every user". But how should other users run the program, when it wants to start it from my directory?

[2020-11-05 10:13] vegardlarsen commented on #644
If you use the MSI; it will install MaxTo separately for each user account upon login (automatically). Every user will then get a copy in their `%LocalAppData%\MaxTo`.

[2020-11-05 10:15] manuel-rahm commented on #644
Okay, thank you for your help and time.

Best Regards,

Manuel

[2020-11-05 10:16] vegardlarsen commented on #644
Best of luck. Closing this issue as there isn't anything else actionable for me to do here.

[2020-11-05 10:16] #644 closed

[2020-11-05 12:18] Achnazoor opened #647 "Resize renders some windows transparent"
Lately, when I resize the Slack desktop application window, it becomes about 50% alpha-blended and won't go back to fully opaque until I close the application and start it again.

This also happens with the WireShark window.

I'm running MaxTo 2.1.0 on a Windows 10 Pro in an Intel i7 with 48gb of ram

[2020-11-05 12:20] vegardlarsen commented on #647
This is a duplicate of #643. Closing this issue, and feel free to contact us at support@maxto.net to receive a private build that will hopefully fix the issue.

[2020-11-05 12:20] #647 closed

[2020-11-05 12:35] vegardlarsen commented on #625
Are your regions properly loaded when the computer comes back from sleep? Opening the "Change regions" screen should show your regions. Does it stop crashing after opening "Change regions"?

Which version of Windows are you running? Are there any other window managers running?

[2020-11-05 14:24] vegardlarsen commented on #639
I've been debugging this specific issue for 4 hours now, and I can easily reproduce it. The corruption happens when you switch back to an ingredient that has been displayed before, if any other ingredient that has a Window argument has been selected in the mean-time.

However, I am having a much harder time actually figuring out why it changes.

[2020-11-05 17:27] gary822 opened #648 "MaxTo crashes when running as Administrator"
Hello,

after deactivate Windows Services and optimized the Windows Startup MaxTo stop Working with the following Error.
In the Errorlog i cant find the Solution to fix that.

Yes i have reinstalled the tool after complete clean uninstall but after that the same error.

Please help i really need this tool.

Best regards

[maxto20201105.log](https://github.com/digitalcreations/MaxTo/files/5495956/m

[2020-11-06 09:04] vegardlarsen commented on #648
@gary822 Can you please elaborate on what you did to deactivate Windows services and "optimize Windows Startup"?

[2020-11-06 09:11] gary822 commented on #648
@vegardlarsen

i have only deaktivatet windows services, disable autostart Programms and clean the Registry.
But this are not the Problem because i have undone the optimazions and the Program still not working.

[2020-11-06 09:13] vegardlarsen commented on #648
Are you running a non-standard shell?

[2020-11-06 09:15] gary822 commented on #648
no i dont use a other shell its a normal Windows 10

[2020-11-06 09:16] vegardlarsen commented on #648
Try not running MaxTo as admin to see if that helps. You can change the setting in `%AppData%\MaxTo\config.json` (if you haven't made any settings of your own you can just delete that file).

[2020-11-06 09:20] gary822 commented on #648
can you tell me what key is relevant for the admin run?
Because im use the Admin account on this Windows PC but bevore the crash it works with this account

[2020-11-06 12:27] dehghani-mehdi opened #649 "White list - Is there any way to exclude specific programs to affected by MaxTo regions?"
**Is your feature request related to a problem? Please describe.**
I think so, I need to run MaxTo all the times, but I also need to have some programs be in full size and not to resize to MaxTo's regions. I mean when I open them or when I click on Maximize button on their window, I want to have them in full size.

**Describe alternatives you've considered**
For now I disable MaxTo temporary when

[2020-11-06 17:22] vegardlarsen commented on #649
We do not currently have a user-controllable block-list for MaxTo. If there are programs that misbehave, we can however add it to our compatibility shims list.

You can also use recipes and keyboard shortcuts to maximize specific windows to the entire monitor. See e.g. the [window:maximize](https://docs.maxto.net/reference/commands/window/maximize) command.

[2020-11-06 17:40] dehghani-mehdi commented on #649
No, there is no misbehave, I want that program be in maximize state because working with it in half size (I usually split my monitor in 2 region) is hard.
Your mentioned solution works fine and it's much better than my solution (_temporary disabling MaxTo_).

I don't know if my request is good enough to be in your todo list, so if you like you can close this issue or keep it open.

[2020-11-06 18:34] d3relict commented on #609
@vegardlarsen the issue was fixed in the latest 2.1 release, this is safe to close. thanks for your efforts!