[2014-11-05 17:54] vegardlarsen opened #1 "Keyboard hotkeys should loop around when reaching the end of the working area"
A naive approach has been attempted here, which only works when you have monitors of identical resolution with no offsets. Some restructuring internally is required for this to work properly.

[2014-11-05 17:55] vegardlarsen opened #2 "Handle Windows 8 snapped apps better"
When Windows 8/8.1 snaps an app, a `WM_SETTINGCHANGE` with `wParam` `SPI_SETWORKAREA` is received. Currently our reaction to this event isn't working.

[2014-11-05 17:56] vegardlarsen opened #3 "Subclassing doesn't happen for newly created windows"
When a window is created, the following happens:
- `CBTProc` receives `HCBT_CREATEWND`.
- Posts message to MaxTo core.
- The hook tries to subclass the window, but the window hasn't been tagged by MaxTo, and subclassing is aborted because we could risk subclassing a window on the no subclass list.
- MaxTo tags the window as examined using a window property. This happens in parallell, and likely af

[2014-11-05 17:59] vegardlarsen opened #4 "Save settings in roaming profile as an option"
Currently, MaxTo saves its settings in the local folder (`%LocalAppData%`) because it is based on `ApplicationSettingsBase`. Some of MaxTo's settings would roam quite nicely, but regions would not always be desirable to roam.

We need a method to specify in the app where the settings should be saved, and have local settings take precedence over roaming settings. This does not seem to be possible u

[2014-11-05 18:16] vegardlarsen opened #5 "Keyboard shortcuts for editing regions open wrong regions"
Keyboard shortcuts always opens alternate regions.

[2014-11-05 18:24] vegardlarsen opened #6 "Changes to keyboard shortcuts aren't persisted"
Keyboard shortcuts work, but changes are not persisted to disk.

[2014-11-06 17:56] vegardlarsen opened #7 "Changing the license does not work"
When you already have a license, and attempt to change it from the About window, the new license is not persisted.

A workaround for those affected:
- Exit MaxTo
- Open the registry editor (Windows key + R, type `regedit`, press Enter, accept elevation prompt)
- Navigate to `HKEY_LOCAL_MACHINE\Software\Digital Creations AS\MaxTo`.
- Delete `RegisteredTo` and `RegisteredSerial`
- Repeat for `HKEY_C

[2014-11-08 09:06] vegardlarsen opened #8 "License check returns ambigious message"
When MaxTo is checking if your license code is valid, and it encounters an expired license, the error message it displays is ambigious at best.

[2014-11-08 14:28] vegardlarsen opened #9 "UAC elevation prompt on startup when running as standard user"
MaxTo had trouble when it after installation ran as an elevated user, and the logged in user did not have administrator rights.

The fix seems to be to de-elevate MaxTo when the installer starts it, which prompts you for elevation only if your user has administrator rights. If you are running as a standard user, MaxTo will then happily run as a standard user.

[2014-11-09 09:38] vegardlarsen opened #10 "Keyboard shortcut Windows+Enter conflicts with Narrator"
The keyboard shortcut for maximize to screen conflicts with the shortcut to start Narrator. First choice for a replacement is Windows+Up, but due to the built in "aero snap" shortcuts, this won't work either.

New default has been set to Control+Windows+M (for maximize).

[2014-11-09 10:56] #5 closed, assigned to vegardlarsen

[2014-11-09 10:56] #6 closed, assigned to vegardlarsen

[2014-11-09 10:56] #7 closed, assigned to vegardlarsen

[2014-11-09 10:56] #8 closed, assigned to vegardlarsen

[2014-11-09 10:56] #9 closed, assigned to vegardlarsen

[2014-11-09 10:56] #10 closed, assigned to vegardlarsen

[2014-11-09 11:22] vegardlarsen opened #11 "Crashing bug in update mechanism"
There is a crashing bug in the update mechanism for 2014.11. This means that we cannot automatically update this version.

This is fixed in 2014.11.1, but you have to manually update to get it.

[2014-11-09 11:28] #11 closed, assigned to vegardlarsen

[2014-11-10 22:15] MafuJosh opened #12 "ManicTime 3.0.1 compatibility with MaxTo"
In the MaxTo v2014.11.1 software, when "Enable window transparency" is set to true, ManicTime window becomes blank when resizing it.  Not sure which software to blame, but just letting you know.

[2014-11-11 10:31] vegardlarsen opened #13 "LINE desktop client application issue"
Reported crashes when run with the [LINE desktop client application](http://line.me/en/download).

[2014-11-12 21:17] smontgom11 opened #14 "Maximize is not being intercepted"
Hello  -
I just downloaded and installed MaxTo trial today on my windows 7 machine with 3 monitors.  I can see it running in the tray.  Highlight regions works.  I customized the regions to split two of my monitors vertically, saved the profile and clicked done. Now when I highlight the regions, my custom "main" regions are shown.  If I click the Fit All Windows option in MaxTo, all the windows ma

[2014-11-12 22:31] #14 closed, assigned to nobody

[2014-11-13 20:40] fancypantalons opened #15 "Significant performance regressions, including pegged CPU and hang opening About window"
This issue is 100% reproducible.

After upgrading from 2011-10-1 to 2014-11-1, MaxTo is demonstrating major performance regressions.  Right clicking on the tray icon to open the context menu results in a very long render time, and selecting the About option results in what appears to be a hang while the MaxTo process pegs one of the cores on my machine.

Machine information is as follows:

OS - Mi

[2014-11-13 21:12] #15 closed, assigned to nobody

[2014-11-14 14:20] MafuJosh opened #16 "Bins incompatibility"
"Bins" from http://www.1upindustries.com
When running MaxTo while also running Bins, it causes Bins to not display some applications (like Outlook) in the correct bin while it is running.
I understand that you don't have control what the Bins software is doing.  But just wanted to let you know of the incompatibility, and I'd rather have only Bins installed rather than only MaxTo. (sorry)
Seems to

[2014-11-16 23:30] Matt-Digit opened #17 "UAC Prompt Terminal Server"
We are running max too and experiencing an issue where the user is being prompted for admin rights we have installed the latest version 2014.11.1

I found a post regarding this and the response was the de-elevate the application? just wondering how this works?

[2014-11-17 11:09] igin opened #18 "Crash when trying to switch between windows in region"
I reassigned my keyboard shortcuts for shifting between windows in a region. Then tried to use it -> crash. It happens every time I try to switch between the windows in a region. Makes this feature unusable.

[2014-11-22 13:33] #12 closed, assigned to vegardlarsen

[2014-11-22 13:33] #13 closed, assigned to vegardlarsen

[2014-11-22 13:33] #18 closed, assigned to nobody

[2014-11-24 07:40] igin opened #19 "Crash after installing"
I installed the new version. Installer worked fine. After installer was finished MaxTo wants to start but immediately crashes. Starting after installation still works fine. And also switching between windows in the same area does not crash anymore.

[2014-12-01 09:02] vegardlarsen opened #20 "Region preview should be always on top"
When you are dragging a window while holding shift, the region preview that appears should be "always on top".

[2014-12-02 14:32] vegardlarsen opened #21 "Middle-click and drag window to drop it in region"
An idea from a user was to support clicking and dragging windows using special mouse buttons (middle button, right button), and when they are dropped they maximize in that region.

Will have to check on the feasibility of implementing this before committing to it, but sounds like a good idea.

[2014-12-02 17:13] #20 closed, assigned to vegardlarsen

[2014-12-03 18:54] #19 closed, assigned to nobody

[2014-12-09 07:23] rrelaxx opened #22 "Sometimes crashes on win8.1 x64"
Hi!
Don't know where is correct place to send crashdump to, so here it is:

https://www.dropbox.com/s/3zo29mhwbb9oq9a/Exception_130625823985338534.zip?dl=0

[2014-12-10 22:21] johnnya23 opened #23 "No icon in notification tray."
I don't see how to do any configuring with out the notification icon, but its not there.

[2014-12-11 06:58] Chropez opened #24 "MaxTo makes Spotify crash"
Spotify crashes when it is moved around. I've tried turning on/off all options and it seems that the transparency options in MaxTo are the ones making spotify crash.

[2014-12-11 07:50] #24 closed, assigned to vegardlarsen

[2014-12-14 11:35] mrdance opened #25 "Windows startup default for certain applications"
I would like to be able to set default WindowMode for some applications. For example, even if I have split screens with MaxTo I want some applications, like Remote desktop, to always start maximized. Also, it would be nice to set in which part start of window split that a certain application should start in.

[2014-12-14 15:46] #25 closed, assigned to nobody

[2014-12-24 04:34] timkay opened #26 "Window should move in the indicated direction even when it starts out not on grid"
When a window is snapped to the grid, it always moves in the right direction. The right arrow moves it to the next tile to the right, etc. However, if a window is not on the grid, no matter what key I press, the window always moves to the upper-left tile. It's no big deal, as I can hit arrow keys to position it, but it would be nice if it started out moving in the right direction.

[2014-12-28 19:24] Transisto opened #27 "Everything is slow, really slow and a resource hog."
Moving windows is slow, even right clicking the tray icon take as much as 2 seconds to show options.

http://i.imgur.com/FvIHmGp.png

(on an i7 4ghz)

[2014-12-28 23:44] Derden234 opened #28 "Crashing after start"
Love this tool but:
- Change system tools to show icon in tray. Doesn't show after reboot. I have application set to start when windows starts.
- Manually start application. Works for a minute or so, then crashes and shuts down.
- Then I try to manually restart and it either stays it is already running (which is not) or runs again to repeat crashes.

Windows 7 Ultimate.
16 GB memory
i7 Quadcore.
3

[2014-12-30 22:56] skreda opened #29 "Maxto setup"
I download Maxto to my download folder (1.45MB). I have windows Vista. When I run the exe file, I get a brief response and then nothing happens. I've tried this with several different Maxto downloads.

[2015-01-01 12:01] vegardlarsen commented on #29
@skreda Did you try any of the two things I suggested to check for above?

[2015-01-01 14:17] skreda commented on #29
the computer in question is at my office. I will try it on Friday and get back with you then. Thanks.
----- Original Message -----

From: "Vegard Andreas Larsen" <notifications@github.com>
To: "digitalcreations/MaxTo" <MaxTo@noreply.github.com>
Cc: "skreda" <eyerx@comcast.net>
Sent: Thursday, January 1, 2015 7:01:33 AM
Subject: Re: [MaxTo] Maxto setup (#29)

@skreda Did you try any of the two thin

[2015-01-01 20:12] andyjones789 opened #30 "4k/high-DPI support"
I have a 4k display and when I use the Change Regions feature, the box doesn't fill the screen and says the screen size is 2560x1413.

What's wrong?

[2015-01-01 21:54] vegardlarsen commented on #30
@andyjones789 I am painfully aware of this issue, but I haven't posted about it publicly as of yet. At the moment, MaxTo offers no support for high-DPI screens. The issue is harder than it appears at first because of a few issues (my grasp of which is truthfully not complete just yet):

Starting with Windows 8, you can have different DPI settings for different monitors. You can see this clearly wh

[2015-01-01 22:03] andyjones789 commented on #30
Hi,

Thank you for your response - we are software developers ourselves (but
thankfully only work in web technology so are mostly spared these sorts of
issues).

I wish you luck in fixing this issue and I'd be more than happy to
alpha/beta test for you.

Thanks again,
Andy
On 1 Jan 2015 21:55, "Vegard Andreas Larsen" <notifications@github.com>
wrote:

[2015-01-02 14:13] skreda commented on #29
I've attached the screen shot. I was able to follow the certificates and all status is OK. What now?
----- Original Message -----

From: "Vegard Andreas Larsen" <notifications@github.com>
To: "digitalcreations/MaxTo" <MaxTo@noreply.github.com>
Cc: "skreda" <eyerx@comcast.net>
Sent: Wednesday, December 31, 2014 4:31:15 AM
Subject: Re: [MaxTo] Maxto setup (#29)

@skreda What does "brief response" me

[2015-01-02 15:06] MLeVell commented on #30
I have a new 4k Dell P2815Q Monitor and was looking for a multi-monitor solution.  Was just about to buy, but wanted to check the issue list first.  This stopped me... ping me when it's fixed!  Thanks.  -Mark

[2015-01-02 15:17] vegardlarsen commented on #29
@skreda I'm afraid attachments don't work on Github when you reply by e-mail.

[2015-01-02 15:32] skreda commented on #29
I just sent the screenshots showing that all the certificates were marked OK
----- Original Message -----

From: "Vegard Andreas Larsen" <notifications@github.com>
To: "digitalcreations/MaxTo" <MaxTo@noreply.github.com>
Cc: "skreda" <eyerx@comcast.net>
Sent: Friday, January 2, 2015 10:17:55 AM
Subject: Re: [MaxTo] Maxto setup (#29)

@skreda I'm afraid attachments don't work on Github when you repl

[2015-01-02 16:10] skreda commented on #29
On the digital signatures: key issues and basic constraints is marked with a yellow question mark. I tried the download on a second vista machine and get the same result. An almost instant stop.
----- Original Message -----

From: "Vegard Andreas Larsen" <notifications@github.com>
To: "digitalcreations/MaxTo" <MaxTo@noreply.github.com>
Cc: "skreda" <eyerx@comcast.net>
Sent: Friday, January 2, 2015

[2015-01-02 21:19] skreda commented on #29
Could the problem be antivirus software? Vista? The download? other settings?

----- Original Message -----

From: "Vegard Andreas Larsen" <notifications@github.com>
To: "digitalcreations/MaxTo" <MaxTo@noreply.github.com>
Cc: "skreda" <eyerx@comcast.net>
Sent: Friday, January 2, 2015 10:17:55 AM
Subject: Re: [MaxTo] Maxto setup (#29)

@skreda I'm afraid attachments don't work on Github when you re

[2015-01-05 19:43] seelenfrieden opened #31 "Adobe Acrobat Issue"
If i open Adobe Acrobat this screen appears:

Adobe Acrobat Pro has issues that makes it impossible for maxto to work properly.

therefore maxto has disabled these dfeatures for ... :
Snap to edge
drag and maximize

[2015-01-06 08:07] vegardlarsen commented on #31
@seelenfrieden Unfortunately there does not appear to be anything we can do about this. Acrobat Reader has been put on a compatibility list to prevent MaxTo from doing certain things that either crash Acrobat Reader or makes it unusable in some form. I suspect Acrobat Reader disallows the actions MaxTo needs to prevent people from copying content from DRM-protected PDFs, but I am unsure. All I kno

[2015-01-06 20:50] asRIA opened #32 "MaxTo loose track on displays when one monitor is unplugged and plug again."
Windows 8.1 x64

Steps to reproduce:
- plug all monitors
- configure max to to work with 2 monitors (snapping areas)
- [everything works fine]
- unplug secondary monitor and plug in again
- max to cannot determine region snapping and a window is moving to some invisible place. Frequently size of the window is set to minimal value

Steps to fix:
- reset restart maxto. Origin configuration is well s

[2015-01-06 20:54] asRIA opened #33 "Move settings from primary monitor to secondary, if first one has been disabled"
If I will disable first monitor, the settings will be applied to secondary monitor (snapping zones) what is not comfortable especially when second monitor has different ratio thou.

Probably MaxTo should recognize monitors by some unique id rather that system index.

Problem is highlighted if somebody is working on laptop and will close a screen with connected secondary monitor.

[2015-01-07 06:49] vegardlarsen commented on #32
You are right, this is a bug. There is most likely something wrong with how MaxTo handles the message when the screen configuration changes. I will have a look and see what I can figure out.

[2015-01-07 06:51] vegardlarsen commented on #33
I am aware of the issue, and it will be fixed at some point. However, it requires a significant rewrite of certain parts of the system, and so it may take a while before this issue is fixed.

[2015-01-08 23:48] beauw opened #34 "AppCrash while moving Child window to region in Passive mode"
While dragging an application subwindow (I was dragging a child window of FlameRobin) while in passive mode and holding the 'Shift' button; the Window snaps to the correct region followed by MaxTo crashing and displaying an error dialog with the message: "The application has crashed and it will now be dismissed.  A bug report has been sent to the developer. We apologize for the inconvenience."

[2015-01-09 02:58] Transisto commented on #27
http://i.imgur.com/7heNvCR.png

Different kind of bug, randomly decide to go 100% CPU haven't used any of it's feature yet.

Uninstalling.

[2015-01-09 02:58] #27 closed

[2015-01-09 06:48] vegardlarsen commented on #34
@beauw Thanks for reporting. I haven't seen the crash report show up here yet, but if you want you could e-mail me (address on the website) the file "Exception_<something>.zip" file from `C:\Program files (x86)\MaxTo`.

[2015-01-11 22:42] Twelve-60 opened #35 "Crash when used with Skype"
Not sure if this is a skype-related, high-dpi-related or otherwise, but whenever using Maxto it crashes when used with Skype (not the app version) with the shift hotkey. Fortunately works with most other applications though.

I'm running Windows 8.1 64bit at 2560x1600.

All the system hook diagnostics fail if that is of any help.

[2015-01-11 22:48] Twelve-60 opened #36 "Recallibration on switching monitor."
When I switch from my laptop display (3200 x 1800) to a 30" external monitor (2560 x 1600), the regions I've set out don't quite match up, and the white translucent preview pane goes beyond the lower boundary and into the taskbar. If I restart Maxto they are perfect again, suggesting there should be a hook when you change displays to recallibrate the specific region pixel dimensions.

I'm running

[2015-01-12 06:56] vegardlarsen commented on #35
@Twelve-60 Thanks for reporting this. If all of the diagnostics fail, I would recommend rebooting before trying again. If the Skype issue is still present (and the diagnostics pass), I'll try to have a look into what is happening.

[2015-01-12 06:57] vegardlarsen commented on #36
@Twelve-60 I am assuming you have your laptop display setup as a high-DPI display and your external monitor as a standard display? I have the exact same setup, and am aware of the problem.

See issue #30.

[2015-01-12 07:09] Twelve-60 commented on #36
Correct.

[2015-01-12 07:26] vegardlarsen commented on #36
Well, this is still caused by MaxTo's handling of high-DPI screen being non-existant. I'm bundling this with issue #30 and closing this.

[2015-01-12 07:26] #36 closed

[2015-01-12 07:43] apextools opened #37 "I can't install the software do to multiple errors (error loading 64 bit max to"
says error loading 64 bit max to
says wont work on my machine
to download and install updates from microsoft for C++ 2012 x 64
when installed reboot computer and max to will work
i go here: http://www.microsoft.com/en-us/download/details.aspx?id=30679
directs me to microsofts site to download some updates
all them installed but one
i get this error on the microsoft download file
vcredist_arm.exe i

[2015-01-12 08:04] vegardlarsen commented on #37
@apextools You do not need the `vcredist_arm.exe`, you only need `vcredist_x64.exe` and `vcredist_x86.exe`. The installer should have set this up for you. Also the link to the download seems to be wrong, [this is the one you need](http://www.microsoft.com/en-us/download/details.aspx?id=40784).

I will double check that that error message links you to the correct download.

[2015-01-13 07:17] vegardlarsen commented on #28
Exception report for my reference:

[code]

[2015-01-14 04:18] apextools commented on #37
Thank you that new link did the trick and I got the software to install.

But now the main reason i bought it was to be able to split regions for trading charts

when i maximize ie chrome etc.. it snaps to the region but I can not get the chart to snap it always takes the full screen. I use ninjatrader.com (free to download here for testing) http://www.ninjatrader.com/download-registration.php Do

[2015-01-14 04:23] apextools commented on #37
reboot of computer fixed it (windows 7)

[2015-01-14 07:07] vegardlarsen commented on #37
@apextools Good to hear. I am keeping this open until I have fixed the link in the app.

[2015-01-15 01:03] elmezie opened #38 "Cannot Install MaxTo : Failed to correctly acquire vcredist_x86.exe"
When trying to install MaxTo , I get the following error everytime.

I have installed both the x86 and x64 Visual C++ Redistributable Packages for Visual Studio 2013 .
I have rebooted the computer several times, I have uninstalled and tried to reinstall maxTo several times as well.  Any ideas?

I am running

Windows 8 Pro with Media Center
Latest version of MaxTo ( Problem occurs with previous ver

[2015-01-15 07:10] vegardlarsen commented on #38
@elmezie It seems the checksum of the files has changed on Microsoft's server. A lot of customers have reported this lately.

Until I can fix this in the installer, please download `vcredist_x86.exe` and `vcredist_x64.exe` [from here](http://www.microsoft.com/en-us/download/details.aspx?id=40784) and install them before running MaxTo's setup.

[2015-01-15 16:35] elmezie commented on #38
Hello,

I have also tried installing those both and uninstalling them and re-installing them and reboots.  Still no luck, when I run the install I get the same error unfortunately.

[2015-01-15 17:21] vegardlarsen commented on #38
I have just now (a few minutes ago) uploaded a new version that fixes this issue. It seems Microsoft uploaded a new version of this file without giving it a new URL, which MaxTo's setup interpreted as an error in the download.

I committed the cardinal sin of not updating the version number of MaxTo, so everyone who needs this gets it with their previous license, and they don't get update notifica

[2015-01-15 20:36] elmezie commented on #38
One more question, where I can download the fixed version?  I downloaded the newest one listed on the website ( Version 2014.12 - Released Wednesday, 03 December 2014 ) and that seems to give me the same error.

[2015-01-16 09:42] nishbish commented on #38
I just downloaded the trial version today and i have this problem after getting vcredist_x86.exe and vcredist_x64.exe.

[2015-01-16 09:51] vegardlarsen commented on #38
@elmezie @nishbish The fixed version simply replaced the 2014.12 version. So downloading the latest release should be enough. It may be that I have botched something when I tried to fix this. I will investigate this further this weekend, but in the meantime you can try [downloading MaxTo directly](https://maxtostorage.blob.core.windows.net/releases/MaxToSetup-2014-12.exe) or using the workaround I

[2015-01-16 14:26] will1792 opened #39 "Several Issues"
I have installed latest version(2014-12) on Windows 8.1(64-bit). It gave errors about vcredist but I installed them seperately and installation gives no error now. Still I have some issues.

1. When I do Options -> Diagnostics -> Run self-test, only Keyboard shortcuts(64-bit, Elevated 32-bit, Elevated 64-bit) are green-checked. I guess it should be all checked, shouldn't it?
2. Window snap does no

[2015-01-16 14:30] vegardlarsen commented on #39
1. Does windows maximize to their region? If so, this can safely be ignored.
2. This could very well be a bug, I will have to examine it more closely.
3. These tools may be doing something strange when you resize them. I believe Line is already on our compatibility list that is supposed to prevent this, but I may be mistaken.
4. I have heard reports of these slowness issues, but I have never been

[2015-01-16 15:11] will1792 commented on #39
1. Windows do maximize to their region.
2. I have two computer with Windows 8.1 and both have the same issue. Snap range option works well but other options do not work.
3. I read the issue about Line and adding a line in 'shims' file prevent Line to behave like that, but KakaoTalk still behave weird.
4. I'd say I don't have many programs running background. I have Kaspersky running on one compute

[2015-01-16 23:47] begna112 commented on #38
I downloaded the version u linked here and it still didnt work. also installed the C++ redistributables myself and no luck either. windows 8.1 64-bit. I get errors on opening maxto as well saying that 32bit and 64 bit couldnt load.

[2015-01-18 06:33] statix1 commented on #38
Came here to see if this issue was known; Using latest version of Maxto downloaded from website
- Windows 8.1 pro
- Downloaded the two files and installed prior and reboot; no luck

Otherwise a very cool program

[2015-01-19 07:09] vegardlarsen commented on #38
I am at a loss for what could be causing this. It had one very clear-cut reason, which should have been fixed with the latest release. I will be looking further into this tonight.

[2015-01-19 07:11] vegardlarsen commented on #39
@will1792 You can add a similar line for KakaoTalk. Just find the name of the executable (without the .exe ending) and add it in a similar way.

[2015-01-19 17:33] statix1 commented on #39
Hey Ive seen how quickly you respond to tickets and its pretty impressive and the  dedication is admirable. Keep up the good work!

[2015-01-19 19:28] statix1 commented on #38
Quick question for the other users; Does the application actually work? I noticed that the main functionality of the application worked but it the errors were the only annoying thing that popped up at the beginning

Also I don't know if it helps but I noticed by Windows 8 kept deactivating and removing all my user settings. I had to reenter my key every time and then it would happen again. Ever si

[2015-01-19 20:02] elmezie commented on #38
Good catch @statix1 , It didnt even cross my mind to continue the installation.

It will eventually completely the installation , If I hit yes to continue installation and keep hitting yes for the next 5 or so times the error pops up.

However once it's installed it seems to run fine.

[2015-01-19 21:51] gcstul commented on #39
Same issues. No fix.

[2015-01-19 21:53] gcstul commented on #38
Same deal. No luck.
Uninstalled everything, Loaded the Microsoft items, then the software and validation code.
I can make the regions, but nothing moves to the regions.

[2015-01-19 22:02] statix1 commented on #38
@gcstul Try pressing Ctrl+winkey and left and right arrow keys. Maxto does not replace the default Winkey+arrow combination it uses a seperate combination for itself. Took me a few min to realize this.

[2015-01-19 22:05] gcstul commented on #38
That worked. They are where I want them to go, but that is just like using the windows method.
I was wanting true seperate windows where I could see the full window just as if it were the whole monitor, just smaller and 4 to a screen.

[2015-01-19 22:14] statix1 commented on #38
@gcstul If i understand your question correctly, you will need to draw those regions. You can split them into four regions and then maximize them into your four little 'fences'

[2015-01-19 22:21] gcstul commented on #38
When I maximize in the four little regions, I hold alt and click maximize on the #2 monitor, It just makes it as large as the monitor. (32")

[2015-01-19 22:24] gcstul commented on #38
On monitor #1, I only have split into two "horizontal fences", it seems ok.??

[2015-01-19 22:26] gcstul commented on #38
Scratch that. The only think the "sizes" correctly on either screen is Microsoft Word.

[2015-01-20 04:54] begna112 commented on #38
It works sporadically for me as well. Never on windows explorer or some other programs. Does occasionally on others like mirc.

[2015-01-20 06:55] vegardlarsen commented on #38
@begna112 @gcstul If MaxTo does not work with a single program, a reboot may be required. Also, continuing installation without getting the proper pre-requisites installed may be what is causing your issues. For MaxTo to work properly, you [NEED these pre-requisites installed](https://www.microsoft.com/en-us/download/details.aspx?id=40784) (`vcredist_x64.exe` and `vcredist_x86.exe`).

If MaxTo wor

[2015-01-20 07:40] curtis1757 opened #40 "Gadgets don't work if...."
Gadgets don't work if 'Start with Windows' is checked in Options.  With this checked when Windows 7 x64 restarts my Gadgets (Clock and Calendar in upper left corner of screen) do not appear.  I saw the Info pop-up for this option that said "Do not check this unless the program files have been put in a permanent folder!"  Not sure what this means since Maxto installation installed itself in C:\Prog

[2015-01-20 08:05] vegardlarsen commented on #40
@curtis1757 My guess is that this can be solved by editing the `shims.xml` file in your `C:\Program files (x86)\MaxTo` folder, and adding a single line under the `<ignore>` tag:

[code]

This will cause MaxTo to avoid interacting with the process that supplies the gadgets, and hopefully that will cure this problem.

If this indeed works, please let me know so I can fix this for the next release.

[2015-01-20 11:34] nishbish commented on #38
I managed to get it working this morning after uninstalling and re-installing.  I'm very happy with it and will be buying a license soon.

Just have a suggestion for future versions. When resizing a window and decreasing its width for example, would it be possible for the windows that were snapped next to the resized window to remain snapped and expand in to the space where the first window was oc

[2015-01-20 11:36] vegardlarsen commented on #38
@nishbish Not to reveal too much, but I am thinking about how this can be done... :wink:

[2015-01-20 16:53] curtis1757 commented on #40
Vegard,

Yes!  That fixed the problem.  I will now be buying MaxTo.

I recently got a new LG UltraWide monitor so I am checked out using MaxTo to divide up my screen into three vertical sections with the middle section about 75% of the screen for my main work area, the far right is just Gadgets and the far left is all my desktop icons.  I understand I think pretty well what MaxTo is doing and real

[2015-01-20 17:52] vegardlarsen commented on #40
Technically, what you are asking for is doable, but MaxTo does not support it at this time. Since moving the window is so quick (especially using the shortcut keys), I don't think I will prioritize this.

[2015-01-20 18:24] curtis1757 commented on #40
I understand....  the short keys can do a lot, but the behavior I'm looking for is where the left/right side windows are 'protected' and if I moved a window say off to the right when the windows right edge hit the left edge of my MaxTo right window the window being moved would behave the same as if I was moving a window (when not using MaxTo) and the right edge went beyond the desktop/monitor righ

[2015-01-26 07:25] vegardlarsen opened #41 "Passive mode indicator"
The system tray icon should identify if MaxTo is currently in passive or active mode.

[2015-02-01 17:25] szarouski commented on #38
Thanks, that worked. I'm going to play a bit with the program and buy it when trial ends.

[2015-02-05 07:58] yrio commented on #37
The link in the app's message box still points to Visual C++ Redistributable for Visual Studio 2012 Update 1. (not for Visual Studio 2013)

![capture](https://cloud.githubusercontent.com/assets/9688834/6056708/593e05b0-ad47-11e4-8ca1-9be6a27da88f.PNG)

[2015-02-05 08:01] vegardlarsen commented on #37
@yrio As we haven't released a new version since this bug was opened, that is still the case, yes.

[2015-02-05 09:18] apextools commented on #37
Yed
On Feb 5, 2015 2:02 AM, "Vegard Andreas Larsen" <notifications@github.com>
wrote:

[2015-02-05 18:24] raabf opened #42 "can't change monitor if task bar is in the way"
Assuming you have the following monitor setup (where T is the Task Bar)

[code]
Pressing `Control` + `Windows` + `Left` on focused window, which already touch the Task Bar in screen 2, will not work. The window keeps on screen 2.

Moving a window from 1 to 2 works.

After moving the task bar to the bottom, moving the window from 2 to 1 will work again:

[code]

Environment
==========

 + Windows 8

[2015-02-05 18:44] raabf opened #43 "After moving the task bar, maxto has to be restarted"
If you move or resizing the windows task bar `Control` + `Windows` + Arrow Keys stop working. Also automatic fitting into tiles trough maximizing does not work.
After exit MaxTo and restarting all works fine again.

Environment
==========

 + Windows 8.1
 + MaxTo 2014.12.0.0

[2015-02-05 19:07] raabf opened #44 "Change focus hotkeys are missing"
You are already able to move windows to other tiles through `Control` + `Windows` + Arrow Keys. But you are not able to change the focus of the windows. Only using `Alt` + `Tab` is annoying, since  one of the advantages of tiled window manager is to improve that without using the mouse. This is a quite basic feature of a tiled window manager

You should provide a change focus hotkeys in the same w

[2015-02-05 19:16] raabf opened #45 "Swap window with an tile hotkeys are missing"
If do not only want to move a window to another tile, but also want to swap the windows is actually not fast possible at the moment.
If you want to swap with left side you has to press: `Control` + `Windows` + `Left` then `Control` + `Windows` + `Page-Up` and at least `Control` + `Windows` + `Right`. Quite many keystrokes. So an additional swap window hotkeys would be nice.
Just add an additional

[2015-02-05 19:31] raabf opened #46 "Split and resize tiles hotkeys are missing (inflexible tile layout)"
Having a fixed tile layout is quite inflexible. The amount and size of the tiles you need depends on the actual windows and their content (for example websites). You should design that more dynamically. You can for example provide the following hotkeys:

 + split vertically: simply split vertically into two tiles in the actual active window (and therefore tile)
 + merge vertically with left tile

[2015-02-05 19:45] vegardlarsen commented on #42
@raabf Thanks for reporting this. The problem here is that the algorithm for where to move the window only looks immediately around the edges of the working area for the next available region in that direction. It never occured to me that the working areas would be split in this way. So it appears that the algorithm for moving these windows need some fine-tuning.

[2015-02-05 19:46] vegardlarsen commented on #44
I believe the Control+Windows+PageUp/PageDown keyboard shortcuts (by default) does this. Correct me if I am mistaken.

[2015-02-05 19:46] #44 closed

[2015-02-05 19:49] vegardlarsen commented on #45
So you are suggesting that this would swap with the top window in the region you are moving to? Not a bad idea.

This is definitely a feature I will keep in mind for later.

[2015-02-05 19:52] vegardlarsen commented on #46
I am not sure I understand completely what you are asking here, so correct me if I am wrong: you want to modify the regions MaxTo uses using keyboard shortcuts on the fly? Or simply split an existing region in two for a single window (effectively implementing Aero Snap **within** a region)?

[2015-02-05 21:28] raabf commented on #44
no sorry you misunderstand me.
I do not mean changing between windows in the *same* tile/region. I mean changing focus of windows in *different* tiles. Actually you had to use `Alt`+ `Tab` or grabbing the mouse for changing the focused tile and window. The way I have proposed would be much faster and targeted.

[2015-02-05 21:32] raabf commented on #45
Yea. With this feature you can define a "Main Tile" (for yourself) which is big in size. So you can fast switch windows from tiles which are smaller so you can working more comfortable on the actual needed window.
Or you can fast order your windows in a way you find it more clear.

[2015-02-05 22:03] raabf commented on #46
Correct on the fly.
Well the actual workflow is to define your tiles at the beginning and do not change it often. But planning always in advance is not always possible. The actual need of amount and size of tiles changes in your workflow. Of course you can always open the *change regions* dialog and adapt it to your needs. But then you have to grab your mouse. hotkeys would be faster and I would p

[2015-02-07 09:39] vegardlarsen commented on #35
After trying to reproduce this for a while, and since I haven't heard anything more from @Twelve-60, I am concluding that this was a transient issue on your machine.

[2015-02-07 09:39] #35 closed

[2015-02-07 10:02] vegardlarsen commented on #39
I have confirmed that the fixed I mentioned above works, and this will ship in the next release.

[2015-02-07 10:05] vegardlarsen commented on #34
I believe this could be due to a bug in how MaxTo handled windows without an icon. I am unable to reproduce this with my local build of MaxTo.

@beauw If you want to try a private build, e-mail me and we can double-check if the problem has disappeared on your end.

[2015-02-07 10:05] vegardlarsen commented on #28
This will be fixed in the next release.

[2015-02-07 10:37] vegardlarsen commented on #29
@skreda I still do not have the screenshots. If you log in to Github you can upload your screenshot by dragging and dropping images into the text editor here. It does not work if you reply by e-mail.

[2015-02-07 10:42] vegardlarsen commented on #26
I was mistaken when I wrote my last comment. MaxTo already works this way. A window placed on top of the border between two regions moves to the left region if you do Ctrl+Windows+Left, and to the right region if you do Ctrl+Windows+Right.

[2015-02-07 10:43] vegardlarsen commented on #23
Closing this because of no response.

[2015-02-07 10:43] #23 closed

[2015-02-07 10:44] #22 closed

[2015-02-07 11:04] timkay commented on #26
MaxTo does not do it properly. The window often moves in the wrong
direction, until it is snapped to a predefined region.
On Feb 7, 2015 6:42 PM, "Vegard Andreas Larsen" <notifications@github.com>
wrote:

[2015-02-07 11:19] vegardlarsen commented on #26
After trying this a few more times, I found a scenario where it can be reproduced. I'll make sure it gets fixed.

[2015-02-07 11:26] vegardlarsen commented on #26
I have found and eliminated the bug. The algorithm used to use the edges of the region underneath the window as its base of operation. Meaning that if the center of the window was over a region, that region was effectively skipped. Now it instead uses the window's edges, and therefore it works properly.

[2015-02-07 14:10] vegardlarsen commented on #32
I finally figured out what was happening here.

We subscribe to two events that happens when the working area changes: `WM_SETTINGSCHANGED` and `SystemEvents.DisplaySettingsChanged`. Whenever a monitor is attached or detached, we typically first receive a few `WM_SETTINGSCHANGED` messages and then a single `SystemEvents.DisplaySettingsChanged`.

When any of these happen, we check `Screen.AllScreen

[2015-02-07 14:51] Twelve-60 commented on #35
Sorry, I didn't get back to you.

This is still occurring for me, system hook diagnostics always fail even after reboot.

Is there any way I can supply data for you?

[2015-02-07 15:17] vegardlarsen commented on #35
@Twelve-60 Here is a [private build](https://dl.dropboxusercontent.com/u/12591686/MaxToSetup-Twelve-60.exe). Let me know when you have downloaded it so I can remove it. To install you will need to uninstall your current version of MaxTo, then install this (they have the same version number, so won't install unless you uninstall first).

[2015-02-07 15:34] #34 closed

[2015-02-07 15:41] vegardlarsen commented on #16
I am closing this issue, since I have not yet received a ping back from the Bins guys, and their application does not even seem to work on my machines. I'll reopen if this changes.

[2015-02-07 15:41] #16 closed

[2015-02-07 15:56] vegardlarsen commented on #2
This has now been fixed.

[2015-02-07 16:45] vegardlarsen commented on #45
@raabf I have just taken a stab at implementing this. This actually works really well, but there is a caveat of sorts. When you swap a window with another, all the windows in that region is swapped with the single window you are moving.

Say you have three windows: A, B, C, with A and B in the left region and C in the right. C is on top, and has focus. When you press `Control`+`Windows`+`Shift`+`L

[2015-02-08 05:19] Twelve-60 commented on #35
I have downloaded and installed, but am getting the same issue and diagnostic results. Anything I need to do?

[2015-02-08 08:13] vegardlarsen commented on #35
Are you running the latest version of Skype (7.0.0.102)?

Skype is a 32-bit application. Are other 32-bit applications working with MaxTo? A good test subject is Windows Media Player (Start, Run, "wmplayer").

[2015-02-08 08:32] vegardlarsen commented on #46
While I understand why you want this, I am afraid of the added complexity. I may come back and revisit this at a later point, if there is a good way to do this without it affecting new users and explaining it with less than 5 paragraphs of text... :)

[2015-02-08 08:36] Twelve-60 commented on #35
Correct, 7.0.0.102. Windows Media Player works as expected.

[2015-02-08 08:56] vegardlarsen commented on #35
I'm afraid I have no idea what is causing it then. I am just now preparing a new release to go out, so a fix for this won't make it in this release.

Do you have any other software that may be interfering with MaxTo, or does anything remotely related to window management?

[2015-02-08 09:00] #1 closed

[2015-02-08 09:00] #2 closed

[2015-02-08 09:00] #26 closed

[2015-02-08 09:00] #28 closed

[2015-02-08 09:00] #32 closed

[2015-02-08 09:00] #37 closed

[2015-02-08 09:00] #38 closed

[2015-02-08 09:00] #39 closed

[2015-02-08 09:00] #40 closed

[2015-02-08 09:00] #41 closed

[2015-02-08 09:00] #42 closed

[2015-02-08 09:00] #43 closed

[2015-02-08 09:00] #45 closed

[2015-02-08 13:16] Twelve-60 commented on #35
That is a shame :( Does MaxTo auto-update?

I can't think of anything that would be interfering, especially since Skype is the only application thus far to have the problem.

[2015-02-08 14:45] raabf commented on #46
Well nobody has to to use this if he do not want and use MaxTo like it is actually.
But I think the *change regions* dialog would be a good way to explain it. Just point out which part of this screen will be affected by the hotkeys. This would be: Adding the hotkey to the buttons like "Split vertical [STRG + WIN + INS]", "Split horizontally [STRG + WIN + POS1]" and "Remove [STRG + WIN + ENTF]". An

[2015-02-08 14:47] raabf commented on #45
very nice :-D

[2015-02-08 15:00] szarouski opened #47 "Version 2015.02 Error writing to file"
![maxto1](https://cloud.githubusercontent.com/assets/911388/6096991/56c91958-af79-11e4-9231-44fede22da0a.png)
![maxto2](https://cloud.githubusercontent.com/assets/911388/6096992/56cc72b0-af79-11e4-86e0-d9d6802b065c.png)
And when running programm
![maxto3](https://cloud.githubusercontent.com/assets/911388/6097005/fea28f92-af79-11e4-8619-24d16bba3fba.png)

[2015-02-08 15:19] szarouski commented on #47
That happened while I was installing update on existing installation. I uninstalled program, then rebooted computer to get rid of dll file and installed 2015.02 without any issues. Feel free to close the issue.

[2015-02-08 19:42] llinfeng commented on #31
Hi Vegard,

Not sure if the following content should be helpful to overcome the Adobe issue.

[[Excerpt from URL: http://www.nurgo-software.com/support/aquasnap-faq]]

This is a known issue which is caused by Adobe Reader itself. For security reasons, the recent versions of Adobe Reader use a sandbox that isolate Adobe Reader from other applications like AquaSnap. The solution to this problem is t

[2015-02-08 20:40] vegardlarsen commented on #31
I have tested this now, and it seems you are right. I did not know about this setting until now, and it seems it should probably not have been left on by default by Adobe.

However, most people who have Adobe Reader will not have this setting turned off, so MaxTo's default attitude of "I won't touch this" will still stand. To make MaxTo Adobe Reader work well together, you will need to follow the

[2015-02-08 20:42] vegardlarsen commented on #47
Strange. I'm going to close this, and hope this was a fluke on your machine. If anyone else sees this issue, feel free to chime in here.

[2015-02-08 20:42] #47 closed

[2015-02-08 20:48] vegardlarsen commented on #35
Unless you've turned it on in the options, MaxTo will notify you of new updates, but it won't update itself. I'll keep trying to figure out what could be happening here, but so far I have no ideas.

[2015-02-09 10:20] seelenfrieden commented on #31
which two entries do you mean? This:

    <process>ManicTime</process>

    <process>ManicTimeClient</process>

Von: Vegard Andreas Larsen [mailto:notifications@github.com]
Gesendet: Sonntag, 8. Februar 2015 21:41
An: digitalcreations/MaxTo
Cc: seelenfrieden
Betreff: Re: [MaxTo] Adobe Acrobat Issue (#31)

I have tested this now, and it seems you are right. I did not know about this setting until n

[2015-02-09 10:22] vegardlarsen commented on #31
@seelenfrieden None of those. You need to look for `AcrobatSDIWindow`. There should be two of those entries. Then you need to make the preference changes outlined above.

[2015-02-09 13:24] llinfeng commented on #31
@seelenfrieden The two entries/lines to be removed are on line `20` and `37` on my machine.

[2015-02-09 15:05] llinfeng opened #48 "Crash report: a time log"
Maxto has been crashing quite frequently, ever since I updated it from the 2011 version 3 days ago. @vegardlarsen, if you don't mind, may I keep a crash-log here?
- 2015-02-09 10:03:50, crashed while trying to move a "Sumatra PDF" window.
- 2015-02-09 12:48:18, crashed while switching to Sumatra PDF.'
- 2015-02-09 15:38:34, crashed while switching to Vim (or expanding Vim to full string).
- 2015-0

[2015-02-10 07:00] vegardlarsen commented on #48
@llinfeng Could you check to see if there are Exception_<something>.zip files in your MaxTo folder, and if that is the case, e-mail them to me? I have seen no crash reports being reported automatically in a few days.

[2015-02-10 15:03] llinfeng commented on #48
@vegardlarsen, no `.zip` file had been found in `c:\Program Files (x86)\MaxTo\`, the default directory.

Anywhere else should I look into?

[2015-02-10 16:44] vegardlarsen commented on #48
Do you get the "MaxTo has crashed and a bug report has been sent to the developers" message? Or does it crash in a different way?

[2015-02-10 16:52] llinfeng commented on #48
I think so. Will confirm this upon next crash.

[2015-02-10 16:57] vegardlarsen commented on #48
When this happens, before starting MaxTo again, check again for the Exception.zip files. MaxTo deletes them if it thinks they are sent successfully, but I am not receiving them here.

[2015-02-10 17:00] llinfeng commented on #48
Here goes the error message vomited by the crash report:
[code]

Screenshots follows:

![2015-02-10_115933](https://cloud.githubusercontent.com/assets/5890407/6131766/50b7ab70-b11c-11e4-8784-f68d5853848d.png)
![2015-02-10_115941](https://cloud.githubusercontent.com/assets/5890407/6131767/52ce44be-b11c-11e4-94ee-43552923a587.png)

After clicking "yes", nothing happened.

[2015-02-10 17:00] vegardlarsen commented on #48
Ah, this crash report is going to Microsoft, so I won't see it. Can you grab those files listed and e-mail them to me?

[2015-02-10 17:01] llinfeng commented on #48
I have searched over the root directory at which Maxto is deployed and here goes the search result: No Zip file found at this directory.
![2015-02-10_120033](https://cloud.githubusercontent.com/assets/5890407/6131797/8aff4ebe-b11c-11e4-99a2-c44c2281650b.png)

Will email those files to you in a minute.

[2015-02-10 17:04] llinfeng commented on #48
I had only found the first file mentioned in the error report. Here goes the content.

https://www.dropbox.com/s/4puo7hv0ui2ehnv/WERA537.tmp.WERInternalMetadata.xml?dl=0

[2015-02-10 17:52] vegardlarsen commented on #48
Unfortunately that file didn't tell me anything useful. Try to see if you can grab any of the other two files. By the way, which version of Windows are you running?

[2015-02-10 21:28] llinfeng commented on #48
I am running Windows 7 Ultimate. Here goes a different error message, which might be what you are looking for.
![2015-02-10_162756](https://cloud.githubusercontent.com/assets/5890407/6136808/e57223ec-b141-11e4-8e42-a877f093b855.png)

[2015-02-11 08:10] nigi10 opened #49 "Crash after few minutes of usage"
After updating I get a crash after a few minutes of usage. I am also developing in visual studio so it might be a problem with some windows that are being debugged or something. I will send you the exception zips by email.

[2015-02-11 08:24] vegardlarsen commented on #49
@nigi10 Thank you for the report. It appears a process disappeared while MaxTo was examining it. Were you by any chance terminating the debugging session in VS when this happened?

Where you doing anything in particular when this crash occurred?

Crash dumps for my reference:

[code]

[code]

[2015-02-11 08:29] nigi10 commented on #49
It could very well be that I terminated a debugging session when this crash
happened. I will try to see if the crash appears again during debugging.

2015-02-11 9:24 GMT+01:00 Vegard Andreas Larsen <notifications@github.com>:

[2015-02-11 12:47] nigi10 commented on #49
Again had the same crash. It happened during compilation so I am pretty
sure there was no process stopped (at least none with a window ... there
might be test cases running as a post build step)

2015-02-11 9:29 GMT+01:00 Nicholas Pleschko <lordnigi@gmail.com>:

[2015-02-11 12:48] vegardlarsen commented on #49
I am going to set up a try-catch around this area and will send you a private build once I get the time. Would be interesting to figure out exactly what is happening though.

[2015-02-12 07:18] nigi10 commented on #49
That would be perfect, thanks! I agree it sounds like an interesting case
to investigate further. If I can help you in any way let me know.

2015-02-11 13:48 GMT+01:00 Vegard Andreas Larsen <notifications@github.com>:

[2015-02-12 14:32] llinfeng commented on #48
Hi @vegardlarsen, any idea why Maxto keeps crashing? It crashed twice this morning within 30 minutes. Anything you would like me to provide? What follows is another file that I fetched.

https://www.dropbox.com/s/kt2a5y8fu51xm29/temp.hdmp?dl=0

[2015-02-12 21:29] beauw commented on #34
Hi Vegard,

I would be happy to test this out here.  My trial period has expired
though, would it be possible to test this out before buying a license?

Thanks,

Beau

On Sat, Feb 7, 2015 at 3:05 AM, Vegard Andreas Larsen <
notifications@github.com> wrote:

[2015-02-13 04:29] ryanjkelly opened #50 "Windows 10 gaps"
I understand that Windows 10 is not out till the fall, but I was wondering if you could fix/close the gaps (or margins) in between my windows. Will this be fixed by release time?

![image](https://cloud.githubusercontent.com/assets/4969091/6182265/87c02216-b2f5-11e4-981c-60d5f2405329.png)

[2015-02-13 07:03] vegardlarsen commented on #50
@ryanjkelly2 I am assuming this has to be a bug in Windows 10, but I could be wrong. I haven't yet had a chance to test Windows 10 myself, but I can assure you that I will make sure it is correct in the release version.

[2015-02-13 07:05] vegardlarsen commented on #48
@llinfeng Are you certain you are running the 2015.02 release? Could you check the about dialog?

Whenever the last error message you posted a screenshot of appears, there should be Exception.zip-files, could you look again?

[2015-02-13 07:10] vegardlarsen commented on #34
@beauw Since my comment I have released a new version with this bug fix included. If you upgrade to 2013.02 it should hopefully work. If you don't have a license for that release, e-mail me privately (address on website).

[2015-02-13 07:26] vegardlarsen commented on #49
I've created a custom build with this problem fixed. You can [download it here](https://dl.dropboxusercontent.com/u/12591686/MaxToSetup-issue49.exe).

This build has the same version number as the currently released version. If you want to install it, you first have to uninstall the current version, and then install this, as the setup will not let you overwrite with identical versions.

Please let

[2015-02-13 07:35] nigi10 commented on #49
Perfect, thanks! I will install it and test it.

2015-02-13 8:26 GMT+01:00 Vegard Andreas Larsen <notifications@github.com>:

[2015-02-13 07:50] ryanjkelly2 commented on #50
Thanks for the quick response. Looking forward to the fix!

[2015-02-13 13:17] nigi10 commented on #49
Just had another crash with the new version. Seems to be a similar one. The
report is attached.

2015-02-13 8:35 GMT+01:00 Nicholas Pleschko <lordnigi@gmail.com>:

[2015-02-13 15:00] vegardlarsen commented on #49
@nigi10 Can you please send the report via e-mail to me personally. E-mails sent to Github do not include attachments.

[2015-02-13 15:03] nigi10 commented on #49
Ups, sorry. I didn't even realize these emails go through github. Will send
you an email with the attachment.

2015-02-13 16:00 GMT+01:00 Vegard Andreas Larsen <notifications@github.com>:

[2015-02-13 15:38] llinfeng commented on #48
Ok, I found those in the recycle bin. Here goes the link to the two files I have found:
https://www.dropbox.com/s/yuxuwcetn1jybpb/Exception_130680773245915171.zip?dl=0

https://www.dropbox.com/s/n646bawmccl5q0g/Exception_130682563894382902.zip?dl=0

I am running 2015.2
![2015-02-13_103826](https://cloud.githubusercontent.com/assets/5890407/6189939/7b2e2620-b36c-11e4-8011-3acafe22c9e7.png)

[2015-02-13 15:49] llinfeng opened #51 "Maximizing to "main display" wherever start the "Maximize to monoitor" motion."
I have a multi-monitor setup and have just noticed that the issue is prevailing with maximizing to full screen from the
"extended screens".

The following usually happens when I call the "maximize to the screen" action:

1. When I initiate the action at a "extended screen", the current active window gets maximized to the main display.
2. I would have to move the window back to the previous screen

[2015-02-13 16:10] vegardlarsen commented on #48
@llinfeng The attached crash reports seem to be the exact same issue as in #49. Can you take a look at the build I provided there, to see if it fixes the problem?

Crash report for reference:

[code]

[2015-02-13 16:13] vegardlarsen commented on #49
New crash report below

[code]

It seems this is crashing with different exceptions with the same cause. I am looking into it now, new build coming shortly.

[2015-02-13 16:15] vegardlarsen commented on #49
OK, that was fast, even for me.

[New build here](https://dl.dropboxusercontent.com/u/12591686/MaxToSetup-issue49-take2.exe). Same as last time, need to uninstall before installing.

[2015-02-13 16:16] nigi10 commented on #49
Awesome :) installing it now.

2015-02-13 17:15 GMT+01:00 Vegard Andreas Larsen <notifications@github.com>:

[2015-02-13 16:57] llinfeng commented on #48
Do I need to uninstall the previous installation?

[2015-02-13 17:26] vegardlarsen commented on #48
Yes. :)

[2015-02-13 19:46] vegardlarsen commented on #49
@nigi10 Any crashes yet? :)

[2015-02-13 19:48] nigi10 commented on #49
:) Sorry I am not using MaxTo on the weekend. Will report back next week ;)
Thanks again for the quick support!

2015-02-13 20:46 GMT+01:00 Vegard Andreas Larsen <notifications@github.com>:

[2015-02-14 11:55] simplyeffectiveweb commented on #29
Sometimes threads like this seem to get diverted by semantics.

Im on Vista SP1 (yes, I know), and Maxto installation is not working. As follows:

 - Downloaded from Maxto site (Maxtoseetup-2015-02.exe)
 - Running program results in nothing (as in nothing happens, no dialgue boxes, no errors shown)

This is without question a Maxto installation issue. I use a variety of software and test others. S

[2015-02-14 11:57] simplyeffectiveweb opened #52 "Won't install (or do anything) on Vista SP1"
Im on Vista SP1 (yes, I know), and Maxto installation is not working. As follows:

    Downloaded from Maxto site (Maxtoseetup-2015-02.exe)
    Running program results in nothing (as in nothing happens, no dialgue boxes, no errors shown)

This is without question a Maxto installation issue. I use a variety of software and test others. So software gets installed with reasonable frequency. (and syst

[2015-02-14 13:07] vegardlarsen commented on #52
I'm downloading a Vista SP2 build now, and I'll install it in a VM for testing to figure out what is happening.

[2015-02-14 13:27] vegardlarsen commented on #52
I haven't yet determined if this is the case, as I am still downloading the installer of Vista, but it seems .NET Framework 4.5 is not supported on Windows Vista SP1. You need SP2. This could very well be what is stopping the installer. [Details](http://www.microsoft.com/en-us/download/details.aspx?id=30653)

[2015-02-14 13:36] vegardlarsen commented on #52
The next version of the installer will block installation attempts from Windows Vista SP1 or lower. I'll be updating the website shortly as well. My suggestion: update to SP2 (or even better Windows 8.1)! :)

[2015-02-14 13:36] #52 closed

[2015-02-14 13:37] vegardlarsen commented on #29
@skreda I am assuming you are running Windows Vista SP1? You should update to SP2, and MaxTo should work fine.

[2015-02-14 13:37] #29 closed

[2015-02-14 14:40] varnar opened #53 "Some notes after upgrade to 2015 version"
1. Issue with right task bar has been resolved
2. When MaxTo is in active mode, and I maximized in regions using shit key to maximize in region - it works fine, after I using Alt key to maximize in alternate mode(full screen) - it does.
   but when after I click and hold on title bar and pressing shift key - it does not work, I need like moving it out alternate region and then do click&hold and sh

[2015-02-14 15:05] Fracture98 opened #54 "Steam Client not recognized"
I've had problems with the Windows Steam client before with windows managers, so it's clearly doing something funky.

Snap to region doesn't work with this particular app, though Windows snap to screen edge does work.

Not a huge problem, but it'd be nice to have it recognized.

(Bought a license within my first 60 seconds of the trial :-) )

[2015-02-14 15:06] vegardlarsen commented on #54
Good to hear that you like the app.

I'll probably end up adding Steam to an ignore list of some sort in the next release, so you'll be notified why it is happening.

[2015-02-14 15:26] simplyeffectiveweb commented on #52
Yep you'r right. I'm a .NET dev(ish) and if 4.5 is required it won't work on anything pre-Vista SP2. Thanks for looking into this.

[2015-02-14 19:51] llinfeng commented on #48
@vegardlarsen, something worse happened. Now the program dose not "crash", it just stops working silently. No error message would be sent and the icon should still be dock at the notification area. It quits/stops without any notice!

I guess I am unable to send you any log file for debugging this time.

[2015-02-15 09:45] vegardlarsen commented on #54
So this is a hard nut to crack, apparently. Steam does not respond to window messages, and even with inspector tools I cannot get any information about the Steam window. This means that I won't even be able to add Steam to MaxTo's ignore list, as we can't even get the name of the process running it. I will look into ways in which we can enumerate processes instead of enumerating windows, but I sus

[2015-02-15 10:36] vegardlarsen commented on #51
I have reproduced the problem on my machine, and have worked out a fix that should prevent this from happening in the next release.

[2015-02-15 10:41] vegardlarsen commented on #53
2. I will have a look at this, and see what I can figure out.
3. If you hold the Shift key while dragging a window, it will show you an outline of where the window will be dropped.
4. It probably has been buried behind some other window. You can Alt+Tab to it when this happens. However, exactly what happens I don't know, and it happens so rarely that I haven't been able to figure out why.
5. Say y

[2015-02-15 15:09] Fracture98 commented on #54
Well, don't worry about it too much. A few interesting things I've noticed - it does respond to CTRL-Windows-Left/Right/Up/Down - sometimes ;-)

It also seems to be responding to some drag to edge commands and maximize to region.

The only thing I've changed is turning off all checkboxes in Options/Windows Snap/Snap to.

I have my secondary monitor divided vertically, then the left region divided

[2015-02-15 21:05] llinfeng commented on #48
Hi @vegardlarsen, the newly provided build will quit silently on my machine.

[2015-02-15 21:06] llinfeng commented on #49
Hi @nigi10! It seems that we are suffering from the same bug now.

Any luck with the new build? It crash/exit without noticing every now and then, at a frequency of twice an hour.

[2015-02-15 22:15] llinfeng commented on #48
Newly found pattern: the new build will silently exit when I get back and forth with remote access.

[2015-02-16 10:21] nigi10 commented on #49
No crashes so far. Looks like it is fixed.

[2015-02-16 16:27] llinfeng commented on #51
Great! Thank you!

[2015-02-16 22:40] llinfeng commented on #48
@vegardlarsen: new bug patter
Crashed silently while trying to maximize firefox, as always. However, Maxto also hides the entire firefox window. Such an active window is not visible anymore.

Any thought?

[2015-02-17 00:16] llinfeng commented on #48
@vegardlarsen, it may be a pattern now: silent quit occurs when trying to maximize the window using `Win + Enter`. I am running a Win 7 OS.

[2015-02-17 07:10] vegardlarsen commented on #48
That makes sense. Can you try to provoke it a few times to figure out if that really is the issue? I'll look into it the next time I am doing work on MaxTo.

[2015-02-18 18:48] llinfeng commented on #48
The silent crash occurs mostly when I try to expand the window to full screen. If this is hard to debug, implementing the following feature would be a life-saver:

Currently, when I move a maximized window from one screen to another, that window will cease to be maximized. As long as you could make the maximized window remain maximized, I think the silent crash would occur less often.

[2015-02-19 07:00] vegardlarsen commented on #48
I'm afraid I don't understand. Are you dragging the window (it will restor its previous size when you start dragging) or moving it using keyboard shortcuts (it will move into the available region)?

The crash happens when you press Win+Enter?

[2015-02-19 16:08] llinfeng commented on #48
I am not dragging the window, but shifting the window across screens (4 of them), from left to right, using the hotkey for *Movement*. The "shifting" works fine. Maxto will crash silently when I try to maximize the window (upon pressing Win + Enter, i.e. *Maximize to monitor*).

Does this make sense?

[2015-02-19 19:27] llinfeng commented on #48
Maybe something new this time. I tried the new build on my Windows 8.1 machine and here goes some "debug" window, which I have no clue how to proceed.

Additionally, upon this crash, the window/process that lead to the crash would *vanish* when maximized, using the normal "maximization" button on the right corner at the top. I fell like Maxto does not like me.

Any solution? I think I have provide

[2015-02-20 07:17] vegardlarsen commented on #48
Thanks @llinfeng. It really seems MaxTo does not thrive on your machine. That latest bug report is a problem with NBug, which is the library we use internally to report crashes in MaxTo. It looks like it can't properly serialize an error report, so deleting any `Exception_<something>.zip`-files (after you've e-mailed them to me) from the MaxTo folder should get rid of that error. I'll be looking i

[2015-02-23 21:42] llinfeng commented on #48
Hi @vegardlarsen, here is one more guess: that my installation of the "new build" (as of the one you provided in #49) may not have been fresh. So, apart from the following directory
[code]
Are there any directory that MaxTo is writing onto? I do see that all my key-mappings are kept. I would doubt if the silent crashes are caused by the conflicts in the files that are left-over.

This may explain

[2015-02-26 10:34] vegardlarsen opened #55 "Crash with iTunes for Windows"
Customer reports via e-mail that MaxTo makes iTunes for Windows crash when maximized (taking MaxTo with it).

[2015-02-27 15:38] llinfeng commented on #48
New pattern: MaxTo inactive upon start. Icon does not vanish, but had also been inactive. Hovering the mouse over the icon in the notification area will trigger the display of name tag for "Maxto". However, right-click does not trigger anything. Nor had all the hot-keys defined internally through the "Options" work for MaxTo.

[2015-02-27 15:42] llinfeng commented on #48
Additionally, these are the *three* processes that are running while the icon remain inactive.
![untitled picture](https://cloud.githubusercontent.com/assets/5890407/6415461/394b8746-be6d-11e4-8a1e-944048a1a468.png)

I don't think it would be normal to have both 32 and 64 bit processes running at the same time is a good idea. Since MaxTo is small enough, would you mind passing me a 32-bit only bui

[2015-02-28 08:07] vegardlarsen commented on #48
Just to let you know, I am reading all your posts, I just don't have a working theory yet.

MaxTo runs all these processes on purpose. The 32-bit subprocess only deals with 32-bit processes, and the 64-bit subprocess only deals with 64-bit processes. It has to work that way.

MaxTo has a settings file underneath `%localappdata%\Digital_Creations_AS`, if you delete the folder (may be more than one)

[2015-02-28 21:53] llinfeng commented on #48
Hi @vegardlarsen, no problem. I understand. Take your time in fixing the bug.

In the mean time, I have deployed the following key-mappings in AHK to help battle the crashing of MaxTo. Hope this would be helpful for whoever is experiencing the same problem. (Script written in AHK, to be downloaded from: http://ahkscript.org/)
[code]
That is, pressing `Ctrl+Alt+M` for twice within 0.5 second will t

[2015-03-01 17:23] AsaAyers opened #56 "Windows 7: Crashes every time I lock my screen"
When I get up from my machine I use `<Windows>+L` to lock my screen. Every time I return and unlock I get the following and I have to start MaxTo again.

![screenshot_030115_122211_pm](https://cloud.githubusercontent.com/assets/324999/6431911/95c2ecde-c00d-11e4-9181-3bf6db53d3b2.jpg)

It doesn't provide me with any info, so I'm not clear if a bug report is really being sent or who it may be sent t

[2015-03-02 07:08] vegardlarsen commented on #56
Hi Asa, thanks for writing.

Unfortunately that bug report hasn't reached me. For some reason bug reports that happen on my machine are reported, but I have yet to receive a single report from a customer.

Anyhow, if this happens again, please look in `C:\Program files (x86)\MaxTo` for any files called `Exception_<something>.zip`, and e-mail them to me at support@maxto.net.

I will try to have a l

[2015-03-04 00:45] bwright opened #57 "MaxTo only works on primary desktop in Sysinternals Desktops V2.0"
With sysinternals desktop v2.0 maxto only works on the primary desktop, and not the other 3 desktop environments.

[2015-03-04 07:54] vegardlarsen commented on #57
If I understand how Sysinternals Desktop works, MaxTo won't work with it. MaxTo runs on the desktop where it is started (as any program does). You can't move a program between desktops; starting the same program on a different desktop actually starts a new instance of the desktop. There is no communication between programs running on the different desktops.

MaxTo relies on being able to communica

[2015-03-04 14:54] sflanagan180251 opened #58 "MaxTo crashes repeatedly and none of the system hook diagnostics succeed."
I'm able to get the software to work, but after a while, it will crash and I'll have to run it again.  When I run the self-test on the diagnostics panel, the system hook row fails across the row.  This is happening on 2 separate machines, both of which are running Windows 8.1 64 bit.  Are there logs that are created that I can look at to see what is going on?

[2015-03-05 07:19] vegardlarsen commented on #58
Hi Sean, I have a suspicion that this may be fixed in an internal build. Can you download and replace MaxTo.exe with [this file](https://dl.dropboxusercontent.com/u/12591686/MaxTo.exe), then start MaxTo again.

It has worked for most people I have talked to via e-mail.

[2015-03-05 19:27] llinfeng opened #59 "Vanishing windows of normal size."
Temporarily, MaxTo will hide those windows that had been restored from Maximization. That is, when restoring from maximized view, the window will vanish and re-maximizing the window will make such window visible. However, such window will be consistently docked at the "Main Display" screen. (The monitor selected through the "Screen Resolution" window). And, such window will vanish when trying to m

[2015-03-06 08:33] 57thkafka opened #60 "Unable to make acrobat windows snap to size"
This is the error message that comes up. My monitor is an LG 34um95-p running at 3440x1440 @ 50Hz. This is Acrobat Pro 11.0.10.

I have only had MaxTo since yesterday and have tried numerous programs with it, without any problems. It's a shame because

![maxto error message](https://cloud.githubusercontent.com/assets/11346817/6522210/2a19fd26-c3da-11e4-885d-5d8e2e110498.jpg)

[2015-03-06 10:05] llinfeng commented on #60
Reference: #31

[2015-03-06 12:26] vegardlarsen commented on #60
@57thkafka Unfortunately, this is a known issue with Acrobat Reader. You can follow the instructions that @llinfeng pointed to, otherwise there is nothing we can do about it.

[2015-03-06 12:26] #60 closed

[2015-03-06 12:27] vegardlarsen commented on #59
I am not sure I do understand. Could you maybe do a screen capture to show me what is going on?

[2015-03-06 14:43] sflanagan180251 commented on #58
I've installed it on the 2 machines I work with.  I have not yet seen the error that the application has crashed, but it usually takes some time before that happens.
When I run the diagnostics, however, all 4 columns of system hooks still have x's in them and now the 32-bit keyboard shortcut also has an x.
The keyboard shortcuts seem to work, at this point, so I'll have to keep an eye on it.

[2015-03-08 10:27] vegardlarsen commented on #58
I am closing this then, since I haven't heard about any new crashes from you in a few days. Please feel free to comment here again if you are still experiencing crashes.

[2015-03-08 10:27] #58 closed

[2015-03-08 10:29] vegardlarsen commented on #57
After having examined how MaxTo prevents multiple executions of itself, I believe you can simply start a new instance of MaxTo in each extra desktop to remedy this issue.

[2015-03-08 10:29] #57 closed

[2015-03-08 10:33] vegardlarsen commented on #56
Closing this as this was resolved with @AsaAyers via e-mail. Same issue as #49.

[2015-03-08 10:33] #56 closed

[2015-03-08 14:06] vegardlarsen commented on #50
I have finally gotten a virtual machine with the Windows 10 TP running. This seems like changed behavior in Windows 10, which I will have to address. I am delaying the next release until I have had a look at and fixed this.

[2015-03-08 17:47] llinfeng commented on #59
Let there be two states of windows: normal-sized and maximized-sized. When a window is of "normal size", pressing the shortcut for maximizing the window will bring it to "maximized size", occupying the full range of the screen/monitor.

The problem is that: upon pressing the "maximization" shortcut for a few times, such window will no longer be *visible* in its "normal size" and will only be visib

[2015-03-09 05:29] ryanjkelly2 commented on #50
Ya I noticed that this gap also shows up with other apps, like Skype. I'll drag my Skype window close to the edge of my screen and it will snap, but leave a small gap between the window and the edge of my screen.

[2015-03-09 06:57] vegardlarsen commented on #50
Good to know. I'll install Skype and check if this is unrelated to MaxTo. Either way, we'll have to work around it somehow. My guess, without having verified it yet, is that they didn't change `SM_CYBORDER` and `SM_CXBORDER` when they removed the window borders.

[2015-03-09 13:41] sflanagan180251 commented on #58
No crashes so far, so this should be good.

[2015-03-10 02:43] AsaAyers commented on #59
I think I'm seeing the same thing. It seemed to be consistent with [Atom](https://atom.io/)... right up until I installed screencapture software. I'll get a recording when I can reproduce it next, but here's what I know.

I max Atom into a region that doesn't take up the whole screen. When I un-maximize the window it gets positioned off screen. I can right click the task bar and select move, then

[2015-03-10 17:30] vegardlarsen commented on #50
OK, so I have looked into this more closely now, and this will be a tough nut to crack. Apparently, the window borders are actually present, but they are invisible. In addition, if you turn on Compatibility mode for a program the window borders are set to 0 size but are still invisible.

The real problem is that these invisible window borders are still the drag targets for resizing the window. Tha

[2015-03-10 18:06] vegardlarsen commented on #59
I have tried to reproduce this as best I can, but no luck so far. I've even installed Atom, but it behaves just fine on my machine. When MaxTo restores a window, it uses the previously stored position (that MaxTo itself stores when the window was maximized). After looking at the code for a while, I realized that if the stored position was non-existent, it could place the window with a size of 0x0.

[2015-03-10 18:09] vegardlarsen commented on #53
After having tried this for quite some time, I cannot reproduce the issue where shift+dragging a window docked in an alternate region doesn't work. I am closing this as not reproducible.

[2015-03-10 18:09] #53 closed

[2015-03-10 18:31] AsaAyers commented on #59
You might also try `View > Reload (ctrl+alt+r)` in Atom to see if that triggers it. According to [their discussion forums](https://discuss.atom.io/t/atom-moves-on-reload/15377?u=asaayers) it _usually_ un-maximizes the window but leaves it nearly the same dimensions as before, then maximizes when it finishes loading. (or we can wait, that's fine too)

I use reload to build plugins for Atom and that

[2015-03-10 18:38] vegardlarsen commented on #59
I've tried reloading the Atom window quite a few times now, it just doesn't seem to happen on my machine (or my test VM). Until I can find a reliable method of reproducing this, I don't think it will be solved.

And yes, it seems Atom is doing something very strange when you reload. Unless they actually destroy the window and create a new one, I can't see why it should be doing this resizing.

[2015-03-10 22:16] #49 closed

[2015-03-10 22:16] #51 closed

[2015-03-10 22:16] #55 closed

[2015-03-10 22:16] #59 closed

[2015-03-10 22:37] llinfeng commented on #59
@vegardlarsen, before closing this issue, could you supply me with "your version of MaxTo"? Mine is still suffering from issue #48.

[2015-03-11 00:19] vegardlarsen commented on #59
Did you download version 2015.03, released a few hours ago? #48 is still not fixed (as far as I can tell), as I couldn't figure it out in time. There were quite a few other fixes that I felt were important to release, so I had to make some hard priorities there.

[2015-03-11 20:17] llinfeng commented on #59
Good to know that there is a new release. It should be advised to delete-reboot-install, right?

[2015-03-11 20:57] llinfeng opened #61 "More comprehensive help file/page"
The new release worked greatly. Thanks @vegardlarsen for committing to this product.

Had there been one thing that could be improved, it must be the help-file. So far, I have found no explanation to the following questions:
1. How the "alternative" region would interact with the "main" region? Does one of them has an "overlapping" privilege?
2. How does the "passive mode" works?
3. What does "hig

[2015-03-12 07:22] vegardlarsen commented on #61
Yes, I am aware that we are lacking in the documentation department. It is something that I definitely want to fix for the future. At the moment, I can answer your questions quickly:

1. The main and alternate regions do not interact. They are simply two sets of rectangles that your windows will be resized within.
2. Passive mode works by flipping the mode of how MaxTo works. Instead of having to

[2015-03-12 07:23] vegardlarsen commented on #59
Yes, absolutely. Because of the way MaxTo works, unless you are very lucky, a reboot is required.

[2015-03-12 20:07] llinfeng opened #62 "MaxTo cannot move the "Gvim" window"
When I were not able to move the Gvim window:

1. That there is no longer circulation of windows when it hits the left(right)-most region.
In previous version, a window won't stop at the left most region when being directed to "move left". It will show up at the right-most region. The windows were able to circulate from left to right, seamlessly. Such feature had been removed.

2. Worse though: I

[2015-03-13 20:27] Gappa commented on #23
I'm having the same problem right now - Windows 7 x64.

I can see all 3 MaxTo processes in the task manager, but no icon in the tray and when I try to "get it show" using the "Notification tray icons" (or however it is called in English version of Windows) config window it only says that MaxTo "is not currently active and will show in the tray the next time it will be active". So that's a dead end

[2015-03-13 20:48] Gappa commented on #23
Update: well, that works, but the self -test is kinda finicky - it reports that the non-elevated 32-bit hook is not working, but x32 Firefox maximizes without any problems in all the defined areas.

[2015-03-16 15:15] llinfeng commented on #62
Update for this issue: never happened up till no 2015-03-16 11:15:14.

[2015-03-16 16:03] YammYcoding opened #63 "maxto crashing application all the time"
Hi. I'm on windows 8.1 and this app is crashing here all the time. Takes half hour, 20 minutes, 10 minutes, can last some hours, but at some point it will crash again, and I will have to reopen the app.

Apps running regularly on the computer : chrome, phpstorm, eudora, dreamweaver CC, photoshop CC, outlook and notepad. Also skype, icq, evernote, battle.net.

If you have any way of stack tracing f

[2015-03-16 16:31] llinfeng commented on #63
I am helpless at the same issue (#48), however, a short script written in AHK helped overcome such crashing problem. BTW, had you installed the new release as of 2015.03?

[2015-03-17 07:00] vegardlarsen commented on #63
@YammYcoding Look for Exception_<whatever>.zip files in `C:\Program files (x86)\MaxTo`. If there are any files there, send them to me by e-mail (address in app). This is supposed to be automatic crash reporting, and I've received a few crash reports in the last few days, but nothing that I think could be related to this.

Does this appear to be the same issue that @llinfeng is experiencing in #48?

[2015-03-17 07:12] vegardlarsen commented on #62
@llinfeng I haven't had a chance to look at this issue yet, but if it was a transient issue, and it doesn't reoccur, it will be very hard for me to figure out what happened.

[2015-03-18 13:05] YammYcoding commented on #63
I downloaded it this week, so I suppose it's the latest version - 2015.2.0.0.

[2015-03-21 10:43] vegardlarsen commented on #63
@YammYcoding Try downloading [this file](https://dl.dropboxusercontent.com/u/12591686/MaxTo-crash-1-per-hour.zip). First exit MaxTo, then extract the downloaded file to `C:\Program Files (x86)\MaxTo`, and then start MaxTo. Please let me know if this fixes your crashing issues.

[2015-03-21 10:44] vegardlarsen commented on #62
I am closing this for the reasons mentioned above.

[2015-03-21 10:44] #62 closed

[2015-03-22 14:57] YammYcoding commented on #63
Right, just installed here, let's see =]

[2015-03-24 16:53] llinfeng opened #64 "Feature Request: openning window of certain filetype at certain region"
I find that I don't have control of where a window would be opened up. It would be better if MaxTo could enable such subscription of filetype to window-region.

Let me know if if should write more.

All the best,

-Linfeng

[2015-03-24 17:11] vegardlarsen commented on #64
MaxTo knows nothing of "file types". It does know about programs though, but this is a very complex issue.

- How do you identify Microsoft Word?
  - By its window class?
  - By the name of the process?
  - By the title of the window?
- It would seem natural to want to place two windows with Microsoft Word in different regions, but MaxTo cannot distinguish between them correctly. If you go by wind

[2015-03-24 17:42] GeekinaCave opened #65 "Problem with Start8"
Good day
Maxto is a really cool gadget but i have a problem.
 Im using the Start8 software for getting a small version of W8.1 start menu, and every time i start Maxto its kills the function of Start8 letting the start menu in fullscreen, but when close it; Start8 back to function as normal (?).

I hope you can help me

[2015-03-24 18:42] llinfeng commented on #64
At least AHK handles the problem you've described well. It has two options: `ahk_exe` and `ahk_class`, through which I can call windows of certain type to be activated (that is, to restore from minimized view).

To note, in AHK, there is a `groupadd` method, which could be used to "loop through all the processes" of such attribute. The order in "group" is only determined by the order of "window ac

[2015-03-25 07:57] vegardlarsen commented on #64
MaxTo does not decide where new windows go. The initial position is up to the program itself and Windows to decide. There are built-in mechanisms in Windows which should remember the last know position.

I am reopening this, and will try to investigate once again how to do this. I'm afraid it will feel to confusing when you have programs with multiple windows that you want to place in different re

[2015-03-25 07:59] vegardlarsen commented on #65
I am uncertain if this is a bug in MaxTo or in Start8. I will have a look at this, and see if I can figure out which is to blame.

[2015-03-25 10:43] chopin1968 opened #66 "system hook errors cant get maxto to work on windows 7"
I have two windows 7 coms cant get it to work, monitor shows the split screens but they arn,t splitting,ran the test in options I have the system hook errors on both monitors and both coms many thanks

[2015-03-25 15:07] llinfeng commented on #64
So, do you know how to manipulate such "last known position"? I have tried the following:
1. Move the window to a different region using shortcuts in MaxTo, and then **close** the window.
2. Move the window to a different region using `#+Arror`, and then **close** the window.

For both trails, I made sure that the window **closed** was the only the progress running at the time. (i.e. the last wind

[2015-03-26 17:00] jdunham22 commented on #63
I have been having a similar problem.  I move my laptop often between no attached monitors, one attached monitor (at home) and two attached monitors (at work), and the computer is hibernated often when I commute, not sure if that matters.  I am running Windows 7 Pro 64-bit.  MaxTo runs at startup, but it crashes at least once a day when I remember to restart it.  It didn't do that before the Decem

[2015-03-27 21:13] YammYcoding commented on #63
Hmm it seems that the error is gone. It's beeing a few days and the crash didn't happen yet. I guess you can consider it fixed for now, thanks ! =D

[2015-03-29 17:58] drozzy opened #67 "Stop windows from moving off screen"
Currently it is possible to move the window completely off-screen.
There is no way to drag it back.

Let me know when this is fixed - and I'll buy it then.

[2015-03-30 07:30] vegardlarsen commented on #67
@drozzy Can you please explain how you move a window off-screen? Since I haven't received any reports of this earlier, and have never experienced it myself, I really don't know how this could happen.

[2015-03-30 07:30] #63 closed

[2015-03-30 14:45] jdunham22 commented on #63
Mine does not seem to crash anymore.  Thanks!

[2015-04-04 18:39] philipbroadhead opened #68 "cannot install new version of maxto"
![a0c18a83ee4c35f5a3455127d3a7bc1a](https://cloud.githubusercontent.com/assets/11799820/6994047/3723f3de-db02-11e4-9968-0049085ef420.png)

i get this error when trying to install the latest version of maxto.  the old version is uninstalled and the path that the error references does not exist!

[2015-04-04 18:50] vegardlarsen commented on #68
@philipbroadhead Thanks for reporting this. Can you see what the installer was doing in the original installer window there?

[2015-04-04 18:54] philipbroadhead commented on #68
yeah, it says it's "removing applications".

i've noticed that the path does create when running the installer and that MaxToSetup.msi file is in there.  but if i try to select it, it still gives me an error.

[2015-04-04 18:56] philipbroadhead commented on #68
then it mentions that the old version of maxto could not be removed although i'm very much under the impression it has been removed :D

[2015-04-04 19:54] philipbroadhead commented on #68
i just took some time to delete some stuff out of the registry and it's now installed fine.  thanks for getting back to me so quickly initially though :)

[2015-04-04 19:54] #68 closed

[2015-04-05 12:31] 57thkafka commented on #31
@llinfeng Thanks very much for this, it works perfectly. Now I can have my 4-vertical split including Acrobat Pro.
@vegardlarsen I was referring to Acrobat Pro, not Acrobat Reader, and the Pro version does not have that security setting enabled by default, so once I edited shims.xml, maxto worked fine with Acrobat Pro. Is there any way you can distinguish between the Reader and Pro versions in you

[2015-04-06 08:43] vegardlarsen commented on #31
@57thkafka Yes, instead of targetting the window class, you could instead use `<process>AcroRd32</process>`  for Adobe Reader, and the equivalent process name for Acrobat Pro (the process name is the name of the executable without the `.exe` extension, you can find it in the Details tab of Task Manager when it is running).

[2015-04-06 08:44] vegardlarsen commented on #68
@philipbroadhead Good to hear. Let me know if you have any further problems.

[2015-04-06 20:20] YammYcoding commented on #63
Don't forget to tell us when you patch the installer, so we can download it ;)

[2015-04-06 21:12] jdunham22 commented on #63
MaxTo has not crashed since I installed the fix.  Thanks again!

[2015-04-07 05:48] vegardlarsen commented on #63
@YammYcoding The installer was patched as of version 2015.03. So it should have been fixed for a while now.

[2015-04-09 01:17] Swoy commented on #66
I have the same issue, the MaxTo system hooks will not bind. Upon restart, the tray icon is not visible either - even though the program is running.

[2015-04-09 06:05] vegardlarsen commented on #66
Normally these kinds of issues solve themselves after a reboot. If that is not the case here, check and see if MaxTo.Helper32.exe and MaxTo.Helper64.exe is running. If they are, try uninstalling, rebooting and reinstalling MaxTo.

[2015-04-09 16:10] llinfeng commented on #61
Great, this is helpful.

[2015-04-09 16:10] #61 closed

[2015-04-09 16:19] llinfeng opened #69 "Windows trapped in regions that are not sharing boarders."
In addition to this, MaxTo may have windows trapped in `A2` and `B2` regions in way that once the window gets moved to `A2`, it cannot go to `C` or `D`.

![2015-04-09_121753](https://cloud.githubusercontent.com/assets/5890407/7071308/7b6d6e68-deb2-11e4-8e47-d19bb6891ea2.png)

Ideally, windows in `A2` and `B2` shall be transferable to `C` and `D`.

[2015-04-09 16:19] llinfeng opened #70 "Shifting fo windows after waking from sleep-mode or screen-shutdown."
After either of the following actions:
1. The computer resumes from sleep-mode or locked-up-status;
2. The screen shutdown (like a screen saver)

MaxTo will screw up the alignment of all the windows by shifting them everywhere in a random manner. This is a bit annoying since it takes quite a bunch of keystrokes to move all the windows to their original position. Maybe this happened after the new u

[2015-04-12 17:16] drozzy commented on #67
Basically, when I am moving a window if I drag it too fast to the left, it may actually go off-screen.

[2015-04-16 17:49] turkian opened #71 "Add a shortcut to extend a window on a adjacent region"
I'd like to extend a window easily whitout changing the layout.  If I have this layout with 4 regions and the window is in region B.

| A | B |
| --- | --- |
| C | D |

I'f like to select the window and extend it's border to cover region B and D.  It will add some flexibility on the layout.

[2015-04-21 06:36] vegardlarsen commented on #71
@turkian Sorry, for the slow reply. What do you do when the regions don't line up exactly (which is 90% of the time).

Consider the case where you have 3 regions, one tall vertical one to the left, and two stacked on top of each other to the right. How would extending work then?

[2015-04-21 06:37] vegardlarsen commented on #67
@drozzy I think I am going to need a video to understand what you mean here.

[2015-04-21 06:38] vegardlarsen commented on #70
I'll investigate and see if I can reproduce before the next release.

[2015-04-21 06:39] vegardlarsen commented on #69
Is this when you are using the keyboard shortcuts, or is it something else entirely?

[2015-04-21 16:04] drozzy commented on #67
Sorry, can't seem to reproduce it. You can close it for now - if I have the problem again I'll video it.

[2015-04-21 16:04] #67 closed

[2015-04-28 15:24] mhannant opened #72 "Taskbar Height in Windows 10, Build 10061"
MaxTo does not take into consideration the height of the Taskbar in Windows 10, Build 10061. When application windows are maximised to fill a MaxTo section, the bottom of the application window extends beyond the top of the Taskbar to the very  bottom of the screen. This prevents any interaction with the bottom area of the application which is sitting behind the Taskbar. I don't recall this happen

[2015-05-01 14:37] emeraldcurtain commented on #65
Wanted to jump in and report that I'm seeing the same problem combining W8.1, MaxTo and Start8.

[2015-05-02 00:25] cjrobe opened #73 "Constant nag bubble annoying"
I'm trialing MaxTo and considering uninstalling just because I don't know if I'll be able to stand the nag bubble 2-3 times every day while working. Can you limit it to once when it opens like most softwares do? I installed MaxTo to potentially increase my work efficiency, not distract and annoy me.

[2015-05-02 05:19] ryanjkelly2 commented on #50
Update on this. Good news, I recently updated Windows 10 to Build 10074 and can confirm that the gaps are gone and my windows are now perfectly lining up against each other! :grin:

[2015-05-02 05:27] ryanjkelly2 commented on #72
I noticed that as well, and it happened whether MaxTo was open or not. When I maximized a window on my secondary monitor, it extended behind the taskbar and was extremely annoying.

I think you'll be happy to know that this is fixed in Build 10074.

[2015-05-02 15:19] vegardlarsen commented on #72
First, I apologize for the slow reply, I have been at Microsoft's //Build/-conference all week. Since this was fixed by a new build of Windows 10, I am closing this.

[2015-05-02 15:19] #72 closed

[2015-05-02 15:21] vegardlarsen commented on #73
@cjrobe Yes, I can. Currently it tags the window as having shown the nag bubble in that session, but it will probably be better if we have an internal list of items that you have already been nagged about.

With the current behavior, if you close a window and open a new identical one, the bubble will show. If I change this, it will only show one bubble per window type as long as MaxTo is left runn

[2015-05-04 13:06] cjrobe commented on #73
Thanks for the response, that sounds like a good solution. I'm really liking the software so far.

[2015-05-07 18:50] JohanSimu opened #74 "Problem with Unity3d"
If I have MaxTo running and open the unity3d (5.0.1) editor then the editor window turns black and unresponsive when I try to resize it. I am using MaxTo 2015.3.1.0.

[2015-05-08 07:31] vegardlarsen commented on #74
Thank you for the report. This sounds very strange, and I will investigate this before the next release. It may be something that Unity3d does that causes this, but for now you can probably work around it by adding the following entry to `C:\Program files (x86)\MaxTo\shims.xml` under `<nosubclass>` and `<ignore>`, and then restarting MaxTo:

[code]

(I am assuming the executable name of Unity3d is

[2015-05-08 07:58] JohanSimu commented on #74
Thanks I will do that!

I suspect all unity3d windows are directx or opengl contexts so maybe that
can give some hint what the issue is.

/Johan

On Fri, May 8, 2015 at 9:31 AM, Vegard Andreas Larsen <
notifications@github.com> wrote:

[2015-05-19 15:35] zastrowm commented on #71
I might suggest having the feature be a sort of "Move window edge towards next region's edge in that direction".

So for example, given this layout:
![image](https://cloud.githubusercontent.com/assets/3211021/7706788/0e662a2e-fe12-11e4-8340-1ec69a4e16b9.png)

 - moving a window in E *up* would move the top of the window to match the top of C.
 - moving a window in D *right* would move the right ed

[2015-06-04 09:49] paul-777 opened #75 "Windows Explorer crashes"
Windows explorer consistently crashes when using start\Run to start a web address e.g. www.google.co.uk. If I exit MaxTo the problem goes away. The default browser is IE, if I set the default browser to Chrome it is ok. If I run the self diagnostics in MaxTo is shows red X for the 32-bit system hook and keyboard shortcuts. I am running Win7 64bit. But IE hosts most of its activity in 32bit process

[2015-06-04 09:53] paul-777 commented on #75
Some of the log info

Faulting application name: explorer.exe, version: 6.1.7601.17567, time stamp: 0x4d672ee4
Faulting module name: ntdll.dll, version: 6.1.7601.18839, time stamp: 0x553e8bfa
Exception code: 0xc0000374
Fault offset: 0x00000000000bfc22
Faulting process id: 0x5efc
Faulting application start time: 0x01d09eab772c8d67
Faulting application path: C:\Windows\explorer.exe
Faulting module p

[2015-06-04 09:54] paul-777 commented on #75
Seems to be happening more generally that just running internet links - also affect running local paths to open explorer windows e.g. Win+R, c:\temp, OK

[2015-06-04 10:27] vegardlarsen commented on #75
Thanks for the report. I am on my way out the door, but I will have a look at this as soon as I can.

[2015-06-18 06:03] vegardlarsen opened #76 "Remote desktop: swapping between 1 and 2 monitors will forget configuration for second monitor"
Quoting e-mail from customer:

- MS Remote Desktop with dual screen support is used to connect to that system. The screen size is 2* 1920 * 1080 (left and right monitor).
- Configure regions on both screens
- Use it -> **OK**
- Disconnect remote desktop
- Use remote desktop again to connect to it, use a single monitor setup only this time (because the system which initiates the remote connection i

[2015-06-19 18:49] collegechristopher90 opened #77 "Internet Explorer Window Always On Top"
My Internet Explorer window has somehow become locked on top.  I can drag other windows into that region, and even maximize them there, but they are behind the Internet Explorer window and I cannot see them unless I first minimize it.  If I move the Internet Explorer window into a different region the same thing happens there.

![maxto issue](https://cloud.githubusercontent.com/assets/12970714/826

[2015-06-23 16:06] vegardlarsen commented on #77
@collegechristopher90 Do you have any software installed that is supposed to enable "always on top" for different windows?

What happens if you move IE around when this happens, and then switch back to the other window?

[2015-06-24 03:41] collegechristopher90 commented on #77
I do not have any other software installed. It is a new computer at work. I can switch to different windows and move everything around but that internet explorer window is always on top. I opened a separate window for Internet explorer and that one behaved normally. I was not able to recreate the issue after rebooting my computer.

Sent from my iPhone

[2015-06-26 13:00] Gunni commented on #75
Yes, happens to me aswell, does not seem to be bound to just using the run dialog, even just opening the run dialog and cancelling/exiting/escaping it makes explorer restart aswell.

[2015-06-27 23:00] theor commented on #75
Repro'd here too, the only thing keeping me from buying it.

[2015-07-03 18:13] fernandovedal opened #78 "After purchasing MaxTo we can't validate the new serial code we recieved..."
We've tested the product for the past month and just complete the purchase however while entering our serial number in the register dialog box the "Validate" button is NOT active and we can't click it to complete our registration.

Why the validate button is inactive we have no clue?  So we tried the follow with NO success:

1) Manually typed in the serial & email
2) Copy & pasted in the serial &

[2015-07-03 18:24] fernandovedal commented on #78
SOLUTION FOUND...  There's a typo during the validation process, it asks for your email AND serial number which WILL NOT WORK.  The field "Email Address"  should read "Register Name" NOT "Email Address".  When we erased the email address we had on file with MaxTo and entered our registered name instead the "Validate" button works and we could complete our registration.

![image](https://cloud.gith

[2015-07-03 18:31] vegardlarsen commented on #78
Hi Fernando,

We are aware of the issue, and there is a notice in the e-mail you received
when you purchased.

It will be fixed in the next release of the app.

I apologize for the inconvenience.

Best regards,
Vegard
3. jul. 2015 20.24 skrev "fernandovedal" <notifications@github.com>:

[2015-07-03 18:44] fernandovedal commented on #78
We just noticed that.   Perhaps this should not be a "PS" rather a bold " IMPORTANT" or even a separate email.  Personally you can't use the software without knowing this.

We're not mad, we just think this could be conveyed better until the new release comes out.

On a side note, you're tool is excellent & does everything we need, thank you!

Mark

From: Vegard Andreas Larsen [mailto:notification

[2015-07-05 12:36] vegardlarsen commented on #78
I've updated the e-mail that is sent out to customers, and a notice will appear on the website when I return from vacation. Thanks for letting me know.

[2015-07-05 12:36] #78 closed

[2015-07-07 16:23] KRNetworkSolutions opened #79 "Unable to purchase MaxTo"
Hello,

I have been trying to purchase several licenses off of the maxto.net website.

I have been getting error below when trying to complete the purchase, can you please let us know when it will be resolved?

Thank you!

Error message:
Server Error in '/' Application.

Unable to sale

Description: An unhandled exception occurred during the execution of the current web request. Please review the

[2015-07-07 16:30] vegardlarsen commented on #79
Hi,

and thanks for writing. This is because of my shoddy implementation on the website, but there is actually a real error message behind here, it is just not shown on the website. In our backend, your issue is logged as "Refused by issuer".

My guess is that your card is not allowed for use outside your country, but it could be other causes as well.

I'll be working to provide better error messa

[2015-07-09 09:27] nescafe2002 opened #80 "MaxTo doesn't remove startup entry in Task Scheduler at uninstall"

[2015-07-09 09:31] vegardlarsen commented on #80
Confirmed. Will fix.

[2015-07-11 18:21] philipbroadhead opened #81 "MaxTo not starting up with Windows"
Randomly MaxTo stopped starting up on boot one day and has not done it since.  A reinstall hasn't fixed the issue, nor is there a task scheduler item.

Creating a scheduled task myself works to a point, but does load the overlay each time rather than just the program in the background.

[2015-07-14 06:32] digitalchet commented on #65
Yeah, encountered this issue here on Windows 8.1 as well.  Hopefully you can get this sorted out, as it is kind of annoying that it interferes with the user settings.

[2015-07-20 17:52] jodilark opened #82 "Windows 10 - MaxTo Crashes when Entering OS from Lock Screen"
Found on windows 10 tech preview build 9926.

Create a local account with a password
Require password to unlock PC
Start windows 10
Log in to windows 10
Wait for all startup programs to load (including Maxto autostart)
Verify MaxTo is started
On your keyboard, perform Win + L to go to lock screen
Unlock PC using password.

Error stating that the MaxTo application has crashed

[2015-07-22 14:11] vegardlarsen commented on #50
@ryanjkelly I have that exact build running in a VM here now, and that is not the case. It works if you use the Windows built-in shortcut keys (Win+Left), but not if MaxTo is doing it. I am trying to get in touch with Microsoft, but even through our recent silver partner status this is proving difficult.

[2015-07-22 18:49] ecpo opened #83 "should be able to switch between main and alternate windows"
[improvement recommendation]
It should be able to switch by hotkey between main and alternate windows

[2015-07-23 08:03] valentinalexeev opened #84 "Notification area popup for iTunes"
When opening and "..." item or menu in latest iTunes (12.2.1.16 64bit) MaxTo shows a dialog in the notification area with text "There are issues with iTunes which prevent MaxTo from working correctly".

It is ok to show it once but it keeps on popping up every time I navigate the interface of iTunes.

[2015-07-23 08:25] vegardlarsen commented on #84
This is the same as #73. It has been fixed, and will be in the next release.

[2015-07-23 08:25] #84 closed

[2015-07-23 15:14] vegardlarsen commented on #82
@jodilark I tried this on a fresh install of Windows 10 build 10074 (the 9926 build is very old and no longer possible to get) in VirtualBox. I could not get it to crash when unlocking. I tried the latest release (2015.03.1) and my latest debug build, no crashes.

I then tried the same procedure on a non-local account and repeated. Still no crash. I'm closing this as not reproducible. If anyone el

[2015-07-23 15:14] #82 closed

[2015-07-23 16:07] vegardlarsen commented on #79
This is now in production and hopefully no-one will ever see this again. ;)

[2015-07-23 16:07] #79 closed

[2015-07-23 16:13] vegardlarsen commented on #50
OK, I've just had 45 minutes with a Microsoft support tech, trying to figure out if this is a bug or not. From a Win32 API standpoint it is behaving quite rationally. There is a window border around the window, it is on three sides (left, bottom and right), it is 7 pixels wide, and it is invisible. So when I move a window to say 0,0, it is working exactly the same as in previous versions of Window

[2015-07-23 16:40] vegardlarsen commented on #77
Since I am unable to reproduce this (I have tried in a few different VMs), and it seems the problem went away on its own, I am treating this as a once-off. If it happens again, I would be very interested to know what lead up to it, and especially how to reproduce it. Thanks for reporting it!

[2015-07-23 16:40] #77 closed

[2015-07-23 16:45] vegardlarsen commented on #74
Hi @JohanSimu, did this work for you?

[2015-07-23 17:18] vegardlarsen commented on #75
OK, so I have a fresh Windows 7 SP 1 VM ready.

1. Install Maxto (2015.03.1).
2. Win+R, "www.google.co.uk", Enter
3. Launches perfectly.
4. Reboot
5. Repeat 2, still works.

I don't know how else to reproduce this, so unless someone can send me a VM image where this happens, I am at a loss.

[2015-07-23 18:25] paul-777 commented on #75
You need to repeat 2-3 several times - can I have seen it take up to 15 times before it crashes, other times it will go in 2 or 3

From: Vegard Andreas Larsen [mailto:notifications@github.com]
Sent: 23 July 2015 18:19
To: digitalcreations/MaxTo
Cc: Paul777
Subject: Re: [MaxTo] Windows Explorer crashes (#75)

OK, so I have a fresh Windows 7 SP 1 VM ready.

1.	Install Maxto (2015.03.1).
2.	Win+R, "w

[2015-07-23 19:01] vegardlarsen commented on #75
@paul-777 Noted. I will try it again quite a few more times tomorrow when I am back on the machine where the VMs are running. From the comments above I understood it as if the problem happened every time.

[2015-07-24 06:37] vegardlarsen commented on #75
@paul-777 Good morning. I've tried this a good 40 times now (with launching various websites, iexplore directly, and so on), and still no crash. I'm now updating the Windows installation with all available updates (it was a fresh VM, it will take a while). It may be helpful to have a printout of your Task Manager's Processes tab to see if I can spot something suspicious that may help me reproduce

[2015-07-24 08:39] vegardlarsen commented on #65
I have had a good few hours of looking at this now. So far, no real progress.

- Start8 runs under the SYSTEM account, as a service, **without a session**. MaxTo runs as the current user (elevated). Hence, the Start8 process is outside of MaxTo's reach.
- The start menu itself runs as part of `explorer`. It runs in the same session as MaxTo.
- It makes no difference if MaxTo never subclasses `expl

[2015-07-24 11:15] paul-777 commented on #75
I have switched to an alternative product this issue was a deal breaker for me. But to give some clues

System runs fully patched Windows 7 x64 Ultimate

ATI R9 graphics connected to 4K display

Kapserksy 2015 (although I tried with protection paused as well)

Samsung SSD software

TrueImage

TrueCrypt

Logitech Setpoint

Renesas USB3 card

Realtek graphics

From: Vegard Andreas Larsen [mailto:not

[2015-07-24 13:29] vegardlarsen commented on #50
I've made quite a bit of progress on this today. There are still some quirks to work out, but I'm confident I'll get to this over the weekend.

[2015-07-27 09:03] vegardlarsen commented on #81
Modify your task scheduler item to include `--start-hidden` as a parameter to `MaxTo.exe`, and it will work the way it should. Or you can delete your existing task, go into MaxTo options, uncheck "Start with Windows", click OK. Then re-open options, check it again, and click OK.

The reason for the involved procedure ? it is a slow operation working with scheduled tasks, so MaxTo tries to avoid se

[2015-07-27 09:34] vegardlarsen commented on #81
I've fixed the case where MaxTo was not set to start with Windows during installation.

[2015-07-27 09:39] vegardlarsen commented on #76
This is actually the same issue as #33. Closing this one.

[2015-07-27 09:39] #76 closed

[2015-07-27 12:12] vegardlarsen commented on #75
@paul-777 Interesting. I know another customer with this problem has TrueCrypt installed as well. Do you have a encrypted system drive?

@Gunni @theor Do you have TrueCrypt installed as well?

[2015-07-27 13:13] vegardlarsen commented on #75
I have successfully reproduced this crash in a VM. The culprit seems to be TrueCrypt. Working on it.

[2015-07-27 13:15] Gunni commented on #75
I have TrueCrypt on all my computers, system encryption is not enabled.

[2015-07-27 13:39] vegardlarsen commented on #75
And after a reboot to install a debugger in that VM, the crash was no longer reproducible. I am confident TrueCrypt is the problem, and will work more on this tomorrow.

[2015-07-27 14:58] philipbroadhead commented on #81
Great, that's fixed it!  Thanks.

[2015-07-27 14:58] #81 closed

[2015-07-27 17:18] paul-777 commented on #75
Not the system drive - I just have truecrypt containers for drives

From: Vegard Andreas Larsen [mailto:notifications@github.com]
Sent: 27 July 2015 13:13
To: digitalcreations/MaxTo
Cc: Paul777
Subject: Re: [MaxTo] Windows Explorer crashes (#75)

@paul-777 <https://github.com/paul-777>  Interesting. I know another customer with this problem has TrueCrypt installed as well. Do you have a encrypted

[2015-07-27 22:13] ryanjkelly commented on #50
@vegardlarsen sorry for the false positive earlier. I don't remember why I thought my windows were lining up. Great to hear you're making progress. Perfect timing as I expect a lot of users will be taking the free upgrade to Windows 10 this week.

[2015-07-28 06:53] vegardlarsen commented on #75
Again, this has proven worse to debug than I anticipated. While it crashed consistently, I tried to install a remote debugger on that machine, which required a reboot. After a reboot, it didn't crash anymore. Now I have a Autohotkey script running, which does these steps in a loop, so it opens IE to a website every 10 seconds, and then closes it again. I'll leave this running for a while to see (w

[2015-07-28 07:15] vegardlarsen commented on #75
And I think I have it. When getting a window handle for the newly activated window, sometimes the received window handle is null. The process didn't anticipate this being the case, and attempted operations on that window handle (while running inside explorer's process), which caused explorer to crash. I'll leave my test setup running with the fix in place for a few more hours to be sure, but this

[2015-07-28 11:44] vegardlarsen commented on #75
Besides that it seemed to work for a while, the problem came back after rigorous stress-testing. It happens very irregularly, and is therefore very hard to fix. The problem I fixed before could have been caused by a problem with the debugger (it was showing 0 as the value for more items that should have had a value).

I'll be working more with this bug to see if we can figure it out. However, I am

[2015-07-29 10:55] vegardlarsen opened #85 "The new shortcut keys are idiotic"
What kind of idiot decided that Ctrl+Shift+arrow keys should be the new hotkeys? It conflicts with select by word in Windows!

**Oh, right, that idiot was me.**

[2015-07-29 11:36] #85 closed

[2015-07-29 11:36] #50 closed

[2015-07-29 11:36] #73 closed

[2015-07-29 11:36] #80 closed

[2015-07-30 13:31] sflanagan180251 opened #86 "Installer failure issues"
I just installed the latest version after being notified of it.  It worked fine on my desktop, however when installing on my laptop, it

gave me 2 windows notifying me that it would need to restart.
Didn't complete the install process.
Left me in a loop where this error showed up:

---
## WerFault.exe - Application Error

The instruction at 0x3d091960 referenced memory at 0x07a1235f. The memory co

[2015-07-30 17:51] sflanagan180251 opened #87 "MaxTo can no longer manipulate Outlook 2013 windows"
I've tried multiple key combinations, but none work.  OneNote windows can be moved between regions,  so the issue isn't Office itself, but outlook and any email windows seem to ignore any keypresses.

[2015-07-30 18:03] vegardlarsen commented on #87
This may very well be a bug.

- Which keyboard combinations did you use?
- Can you manipulate it via drag and drop (hold Shift)?
- Did you receive a compatibility notice?
- Which Windows version?

[2015-07-30 18:04] vegardlarsen commented on #86
This seems very strange. I will attempt an install on Windows 8.1 tomorrow, and see if I can reproduce. Anything special about this machine?

[2015-07-30 19:24] basshead22 commented on #87
Same problem for me. Ill also add that the Outlook main window is overlapping on another region when maximize.

Keyboard combination didn't work
Drag and drop doesn't work
No notice
Windows 10
Yes

[2015-07-30 19:32] sflanagan180251 commented on #87
* I tried using the default keyboard combination as well as ctrl-win-arrow which is what I had mostly working with the last version of MaxTo.
* shift-dragging the window seems to work on the parent outlook window, but any child windows created from that parent window will not work with shift-dragging.  I tried opening a second inbox window from the main and opening an actual email and both failed.

[2015-07-30 19:38] sflanagan180251 commented on #86
It's a dev machine with visual studio 2015 and 2013 and a bunch of other dev tools on it.  I had just run driverupdate and it wanted to reboot due to installing an update to MS security essetials or windows defender.  I don't recall, but driver update always wants to reboot regardless.  I ran the maxto installer and when the process completed, I got that error. Clicking 'ok' or 'cancel' would just

[2015-07-31 08:38] vegardlarsen commented on #86
I think this is actually Visual Studio 2015 crashing, and not MaxTo. I installed VS'15 on a clean Windows 8.1 VM. When the VS'15 installer exited and wanted to reboot, I got the exact same message (weirdly, the entire VM crashed when I tried to take a screenshot). MaxTo wasn't even installed on that machine.

Without VS'15 installed, the MaxTo installer runs just fine. It may be that the VS'15 set

[2015-07-31 08:40] vegardlarsen commented on #86
PS! After rebooting the VM, MaxTo installed just fine on this machine. Strange indeed.

[2015-07-31 12:41] JohanSimu commented on #74
Hi,

unfortunately it didn't. The name of the executable is just Unity, but when
I add it to shims.xml as you explained nothing happens and I get the same
error that windows turns black when I re-size unity.

On Thu, Jul 23, 2015 at 6:45 PM, Vegard Andreas Larsen <
notifications@github.com> wrote:

[2015-07-31 13:45] sflanagan180251 commented on #86
Yep.  If you find anything out and need me to test, I'll be happy to do so.

[2015-08-06 12:52] glat commented on #87
+1

[2015-08-06 12:53] TexasGitHubber commented on #87
I'm having the same problem.

[2015-08-06 13:37] nickfie commented on #30
I've had no problem using MaxTo with Seiki 1 Meter/39 inch UHD (3840x2160) acting as monitor, in addition to laptop screen. Provides best value from the enormous screen area.

Normal measures should be taken. Ensure everything in the chain is most recent:
- System BIOS
- OS patches
- PC vendor drivers and Video card driver(s). My Lenovo laptop has both Intel integrated video and NVidia card, so th

[2015-08-07 09:42] khayk opened #88 "Loading profile is not preserving settings specified on save"
Screen have 2560x1440 dimension. I split the screen in a following way:
1. Vertically (Left side have size 1650), right side spit in two, no metter how.
2. Save profile.
3. Done
4. Activate MaxTo again
5. Done.
Every time performing steps 4, 5, the size of left side decreased by 1 pixel.

[2015-08-07 11:23] vegardlarsen commented on #88
This is fully reproducible. I'll have a look to see if it can be fixed easily.

[2015-08-07 14:10] joshjingles opened #89 "Windows 10 Shortcuts?"
I recall when upgrading to Windows 10 MaxTo mentioned that the shortcuts have changed because windows 10 requires certain keys.

I probably recall the notification message incorrectly, but if I'm using Win-Arrows and Alt-Win-Arrows are there any issues with how the OS wants to use those shortcuts?

Thanks

[2015-08-07 14:17] seelenfrieden commented on #87
same to me. issue since updating to the new version today.

[2015-08-07 14:25] vegardlarsen commented on #89
Unless you go into Windows' Settings, System, Multitasking, and uncheck all of the Snap features, this won't work.

Virtual Desktop further reserves the Ctrl+Windows+left/right combination, and this cannot be turned off in the settings, as far as I know. This means you cannot use Ctrl+Windows+arrow keys for anything useful in MaxTo.

My suggestion is that you try out the new defaults, they seem to

[2015-08-07 14:25] #89 closed

[2015-08-08 06:57] glat opened #90 "MaxTo does not start at logon after installation on a clean Windows 10 installation"
As in subject.

Here are some points to help you debug:

- At the end of installation the installer opens the program folder of MaxTo. I think it's a signal something is wrong during installation.
- MaxTo should be run by scheduler which has an action to run: "C:\Windows\SysWOW64\rundll32.exe" --start-hidden Of course it is not MaxTo executable

Kind regards

[2015-08-08 15:42] vegardlarsen commented on #90
Thanks for reporting this. This was reported as a bug in the previous release as well (then for Windows 8.1), so I had a long look at it, found a few bugs, squashed them, and everything seemed to be OK in a blank VM after trying it out a few times.

I'll make sure I try this on a new Windows 10 installation before the next release, and see if I can figure out what is happening.

[2015-08-08 19:27] 57thkafka commented on #90
MaxTo doesn't auto-start on my Windows 8.1 64-bit since updating to the latest version 2015.07.1

[2015-08-08 19:58] enone opened #91 "Question: Save And Restore Positions On Windows 10 Virtual Desktop"
Hi! This Is Not A Bug But A Request I Suppose...

Well We Are On 2015 And Microsoft Forgot To Include A Simply Feauture Already Present In Mac OSX!

I'll Like That My Programs When I Restart Windows Will Be Reopened In The Same Virtual Desktop I Keep Them Running...

It's Incredible I Must Every Time I Restart My PC ...Move Them Over And Over In The Correct Virtual Desktop I Want!

I'll Revert Bac

[2015-08-09 06:05] glat commented on #91
+1

I'd like this feature, also. I'm using a different utlity to do this, but it does not work right and there're no other good utilities. See http://www.stefandidak.com/windows-layout-manager/ to get it.

[2015-08-10 12:25] vegardlarsen commented on #91
I like the idea of this feature, but there are a few things to think about here.

- Many apps are natural to use on multiple desktops at once (e.g. your web browser).
- Some apps are unclear. Opening a new Word window by double-clicking on a document should open a window on the virtual desktop you are currently at? Or should it remember where you opened that document last? If that is the case, how

[2015-08-10 15:39] enone commented on #91
Thanks For The Answer Andreas...

Basically The Concept Behind My Ideas Is That: ....What I See In My Monitor Then
...The Computer Can Remember For Me...

Our PCs Can Restart For A Lot Of Reasons Like (but not limited to):

- Power Outage / Thunderstorm / Mans That Works On Power Lines
- Windows Updates (every time windows ask to reboot to apply the updates)
- Accidental Shutdown Button Pressed (o

[2015-08-12 12:27] 57thkafka commented on #90
I have now upgraded to Windows 10 64-bit and can confirm that the bug persists with latest MaxTo version 2015.07.1

[2015-08-12 18:35] llinfeng commented on #87
Well, this issue resembles issue #31 very well. In the `shims.xml`, an additional line prohibiting any maneuver on "Outlook" window was introduced on line 46 of the file named `c:\Program Files\MaxTo\shims.xml`, which goes as follows:
[code]
In additional to this, the following processes are also "ignored" by MaxTo:
* Quickbooks
* KakaoTalk
* ManicTime
* iTunes
* The Windows taskbar
* Sidebar gadg

[2015-08-12 18:56] basshead22 commented on #87
Thanks, this have kinda resolve the issue where the window wouldn't go into its region, but Outlook is still overlapping on the next region.

[2015-08-13 05:46] vegardlarsen commented on #87
@llinfeng Good catch! There should be no disastrous effects from removing Outlook from that list.

@basshead22 Your overlapping window issue is one we are working on. Basically the borderless windows in Windows 10 makes it necessary to adjust where we put windows. By default (discovered by trial and error) this offset is 7 pixels. It changes if you have a different DPI. Since we couldn't get Micro

[2015-08-13 13:10] sflanagan180251 commented on #87
This appears to restore the functionality to the main outlook window as well as child windows it creates.  Thanks!

[2015-08-17 08:36] CaptainBraindead commented on #90
Same here - MaxTo works, but no startup. Also, it tends to geet closed after long computer hours

[2015-08-17 18:24] elmezie commented on #68
I am currently unable to remove MaxTo or install a new version of MaxTo in windows 10.  I receive the same error that the user received above.

[2015-08-20 13:00] SteffenLanger opened #92 "Shift+Win+M causes uncontrollable window arrangement"
Hey MaxTo-Team!

I'm on a Windows 7 laptop with an additional external monitor. Every time I press Win+M, my windows are minimized correctly. However, when bringing them back up again, I get a completely different window arrangement than before. It seems like they are reopened in random regions.

Here's a screenshot:
![screenshot_new_arrangement](https://cloud.githubusercontent.com/assets/13887114

[2015-08-20 13:03] SteffenLanger opened #93 "Dragging offset when dragging maximized window"
Hey MaxTo-Team!

I'm on a Windows 7 laptop with an additional external monitor.

When I drag and drop a window like Firefox or Total Commander from their maximized state, my mouse pointer is off. I can still drag the window but my mouse does not even touch it.
Interestingly, this does not happen when I drag the Word 2013 window which looks different (maybe it is different? :-) ).

I attach a scree

[2015-08-21 05:51] vegardlarsen commented on #92
Hey! I just tried this on my main machine, running Windows 10, with both an Explorer and a Word window. When clicking them in the taskbar, they show up exactly where they were before.

Did I misunderstand how it was done?

[2015-08-21 05:53] vegardlarsen commented on #93
You are right. I should fix this.

It happens because the restored size is smaller than the area you clicked. I'll probably fix this so the window is placed either horizontally centered around the mouse cursor, or using some sort of algorithm to calculate a decent placement.

[2015-08-21 08:23] SteffenLanger commented on #92
Instead of clicking, use Shift+Win+M. That is supposed to revert Win+M.

Thank you!

Mit freundlichen Grüßen
Steffen Langer
Geschäftsführung - Engineering
*MS Eisberg GbR*
Tel: +49 5251 1358 10
Mobil: +49 1634 1358 02
Am Ehrenmal 2 DE-33178 Borchen-Alfen
Geschäftsführer: Mark Langer & Steffen Langer
http://www.ms-eisberg.de

On Fri, Aug 21, 2015 at 7:51 AM, Vegard Andreas Larsen <
notifications@gi

[2015-08-22 20:50] MikeBadescu opened #94 "shortcut feature request"
1. Specific option for moving a window to a different screen preserving its size.
2. More flexibility in defining the shortcuts (I would like to be able to reproduce some of the easy re-sizing features of WinSplit)

[2015-08-22 21:02] MikeBadescu opened #95 "PyCharm's floating windows"
[PyCharm](https://www.jetbrains.com/pycharm/) has floating / un-docked windows that MaxTo is not able to identify. It is these small windows that need to be organized. On Windows 7, WinSplit has no problem identifying them.

In general, it may be a good idea to target the IDEs, it may bring more people to MaxTo. Once you do this, do not forget to spread the word.

Also, keep in mind that Adobe Acr

[2015-08-24 06:05] vegardlarsen commented on #95
If the floating windows are anything like the ones in PhpStorm (which I guess they are), they are identified as toolbox windows, meaning that they don't have maximize/minimize buttons. Can you confirm that? If not, can you send me a screenshot of one?

This restriction in MaxTo is to prevent resizing windows that really shouldn't be resized. I can see if I can fine-tune this a bit.

Regarding Adob

[2015-08-24 06:20] vegardlarsen commented on #94
What would your ideal resizing shortcuts be? Would it be interesting to have a "lock size" button for windows?

[2015-08-24 11:41] MikeBadescu commented on #95
Indeed, they are similar to PhpStorm.
![pycharm floating window](https://cloud.githubusercontent.com/assets/6641575/9439268/e9430720-4a2a-11e5-91ec-7f5eff449005.png)

Thank you!

[2015-08-24 11:55] MikeBadescu commented on #94
I use Ctr-Alt-{Arrows} to move the windows on different screens and Ctr-Alt-{numpad} to set the position of a window inside a screen. However, different people have different tastes (and some people do not have the numerical pad), so I guess the best way would be to allow full flexibility.

I am not sure about the "lock size" feature - I enjoy the flexibility of "quantized" (i.e., take on only cer

[2015-08-26 10:05] SteffenLanger commented on #92
Any ideas, Vegard?

[2015-08-26 10:16] vegardlarsen commented on #92
I still cannot reproduce this on Windows 10. I am assuming this is a bug, but I'll know more once I have had a look at it on Windows 7.

[2015-08-26 23:13] steven10172 opened #96 "Weird Behavior"
I've been using MaxTo for a while and it seems that just recently I'm having weird issues on my left monitor and only my left monitor (I have 4). And as soon as I move the window to another monitor it works normally. MaxTo has never crashed and I've tried re-installing it multiple times and re-installing Chrome/Firefox.

Setup:
vc1 = GeForce GT 630
vc2 = GeForce GTX 750
...........[ vc2 ]
[ vc1 ]

[2015-08-27 05:58] vegardlarsen commented on #96
When you say artifacts, I immediately think of video driver issues. Does this happen when MaxTo is not running as well?

[2015-08-27 13:31] steven10172 commented on #96
When MaxTo isn't running everything is normal.

[2015-08-27 16:03] steven10172 commented on #96
Here is a video showing the Firefox mouse event issue: https://www.dropbox.com/s/gpq09q2585va8mb/2015-08-27_10-57-50.mp4?dl=0

At 20-30 seconds into the video you can see the graphic randomly jumping to the right side of the canvas multiple times and is generally choppy looking as there are constantly random events that are a few pixels in a positive X displacement.

[2015-08-27 16:21] steven10172 commented on #96
To further clarify the artifacts they only seem to appear when Chrome Developer Tools is active and in the bottom left split of Monitor 3:

![w1ojxv2 1](https://cloud.githubusercontent.com/assets/1575003/9526244/c346ac54-4cad-11e5-8c0a-04fd33ef1997.png)

[2015-08-27 16:56] vegardlarsen commented on #96
Do you have that Firefox test page somewhere I can try it easily?

I am struggling with figuring out what may be happening here. MaxTo will try to subclass any window currently active. Firefox is one of those. Subclassing means MaxTo gets a chance to inspect any window message that arrives, including mouse move messages. MaxTo simply passes these messages through unless you are doing something spe

[2015-08-27 19:46] steven10172 commented on #96
Unfortunately that version of the website won't be live for possibly a few weeks. I can share it at that time.

I added the tag to `<no_subclass>` and it's still having issues. To further clarify the issue is only occurring when Firefox is on the top half of monitor 3.

[2015-08-27 19:55] coachep opened #97 "Outlook 2010"
I am not able to get Outlook 2010 to snap to the grid i created.

[2015-08-27 20:22] steven10172 commented on #96
The artifacts seem to have gone away now that I stopped using iDisplay (http://www.getidisplay.com/).

[2015-08-28 06:09] vegardlarsen commented on #97
Outlook 2010 and 2013 are the same problem. I'm closing this because of issue #87.

[2015-08-28 06:09] #97 closed

[2015-09-02 10:47] vegardlarsen commented on #90
I have identified and fixed this issue in the source. It will be fixed in the next release.

[2015-09-02 10:51] vegardlarsen commented on #92
After experimenting with this for a bit, I've discovered the case where this does happen:

- You have an active window
- You press Win+M
- You press Shift+Win+M while the mouse is in a specific region
- The last active window will maximize to the region the mouse is in

I am looking at ways to mitigate this.

[2015-09-02 12:22] vegardlarsen commented on #92
I am hitting a brick wall figuring out how to detect when a restore event happens in the context of Aero Shake. I am putting the investigation on hold for now to focus on easier pickings, and will come back to it.

[2015-09-02 12:40] vegardlarsen commented on #95
So, the reason that this does not work, is that PhpStorm and PyCharm windows do not declare the `WS_MAXIMIZEBOX` window style. They are `WS_POPUP` windows, which normally aren't meant to be resized.

I can easily let all `WS_POPUP` windows be affected by MaxTo, but this breaks (horribly) a lot of other applications. This was what happened when I forced a resize of a Spy++ popup window:

![image](h

[2015-09-02 13:02] vegardlarsen commented on #96
I am going to attribute this behavior to iDisplay. It is a relatively minor issue with a little-used 3rd-party utility in a specific case where things are slow but work.

And if I understand you correctly, the issue is completely resolved when not using iDisplay?

[2015-09-02 13:02] #96 closed

[2015-09-02 13:06] vegardlarsen commented on #91
Even though this is a feature I'd like to see myself, I believe it to be impossible (well) to do today. Therefore, I am closing this issue unless I get new information.

[2015-09-02 14:00] MikeBadescu commented on #95
Thank you, this sounds great.

[2015-09-02 15:25] skworden opened #98 "Accept different payment methods"
Your site maxto.net was flagged by my banks as a fraudulent site and won't let us purchase it. You should accept PayPal or something reputable.

[2015-09-03 06:09] vegardlarsen commented on #98
@skworden Thanks for letting us know. It is strange that we should be flagged as fraudulent, as we are using the largest credit card processor in the Nordics ([Nets](https://www.nets.eu)). My guess is that your bank is flagging it as a foreign site, and that your card is blocked from paying outside your country.

We do have a Paypal account, but we are not very happy with Paypal. We may still acce

[2015-09-03 06:09] #98 closed

[2015-09-03 08:56] SteffenLanger commented on #92
Thank you!

[2015-09-04 02:07] belikin-vs opened #99 "MaxTo can't operate Adobe reader 11 and Adobe reader DC"
MaxTo can't operate Adobe reader 11 and Adobe reader DC (I'm using win10 (x64)).

[2015-09-06 07:11] vegardlarsen commented on #99
Please see issue #31 or [the description on our website](https://maxto.net/shim/Details/acrobat_reader).

[2015-09-06 07:11] #99 closed

[2015-09-08 12:40] llinfeng opened #100 "Feature request: add a keyboard shortcut to restart MaxTo"
MaxTo handles multi-workstation setting pretty badly. When I transfer from one workstation to another, I would have to manually **restart** MaxTo by right-clicking the icon, hitting "Exit" and starting the process again. This becomes cumbersome.

@vegardlarsen Could you implement a shortcut that "restart" MaxTo? I tried to use AutoHotKey but it was unable to terminate the process "MaxTo" after the

[2015-09-09 06:21] vegardlarsen commented on #100
@llinfeng I am working on a much better solution; fixing the multi-workstation scenario. As such, I am closing this.

[2015-09-09 06:21] #100 closed

[2015-09-09 13:39] skworden commented on #90
FYI this happens on 7 pro, 8 home or 8 pro as well.

[2015-09-11 17:17] llinfeng commented on #100
Oh, sounds sweet! Do you have an estimated release date?

Thanks!

[2015-09-12 15:50] bymaximus opened #101 "Old winplit regions"
Any tip to get MaxTo works with/as same old WinSplit revolution window positions?

For example, positioning a window at screen right side, if press same key more than one time it changes window positioning at right side instead of just move the window to right side?!

[2015-09-13 12:30] vegardlarsen commented on #101
@bymaximus We have no plans currently of changing MaxTo to work identically to WinSplit. We may at some point incorporate some of the features when we find a good way to do so, but there are no plans currently.

[2015-09-13 12:30] #101 closed

[2015-09-13 12:32] vegardlarsen commented on #100
@llinfeng It is part of a major restructuring of MaxTo, so [6-8 weeks](https://news.ycombinator.com/item?id=4406316) seems like a likely estimate. :)

[2015-09-16 17:30] j-n-f opened #102 "maximizing cygwin (i.e. mintty) to region causes font size to change in terminal"
This behaviour is somewhat inconsistent. Sometimes the font size will increase when maximizing to region, sometimes the font shrinks.

Machine details:
* Windows 7 Pro

MaxTo settings:

* MaxTo set to operate only with modifier (passive mode, Shift is modifier)
* Screen evenly divided into 4 regions (one split horizontal, one vertical, natural size and not resized at all after splitting)

Cygwin i

[2015-09-16 17:34] j-n-f commented on #102
Additional observation:

If the window is larger than the region maximized to, the font shrinks when the window shrinks. If the window is smaller than the region maximized to, the font expands.

[2015-09-17 06:25] vegardlarsen commented on #102
This seems strange, but I have a guess at what could be happening. Resizing a console window in general is quite the process. If you try to resize a standard `cmd` window you will see that you simply cannot. If you try to maximize a console window, it will only grow vertically.

However, MaxTo uses a technique that will make the window do what you want, by changing the number of rows and columns d

[2015-09-30 05:50] vegardlarsen commented on #87
Also confirmed on Windows 7 from customer via e-mail.

[2015-09-30 05:53] vegardlarsen opened #103 "'Next window in region' with Chrome and Firefox"
'Next window in region' seems to be having trouble when Chrome and Firefox are apparently in the same region. Figure out what is happening, and if it is reproducible.

Note to self: ticket 1357

[2015-09-30 10:40] RealRaven2000 commented on #87
Removing <process title="Outlook">OUTLOOK</process> from the "ignore" section in shims.xml worked for me too, with Outlook 2010 on Windows 7 Pro. Well done!

[2015-10-04 13:32] jglazer63 opened #104 "Windows slightly too big"
I have multiple monitors (3).  The right and left monitors are split horizontally.  When I place a window in one of these regions and maximize it to the split size, they "bleed" a little into the center monitor.  Only 1 or 2 pixels worth but its a little annoying.  This was after my upgrade to windows 10.  Prior to that it was perfect.

[2015-10-05 06:08] vegardlarsen commented on #104
@jglazer63 Thanks for reporting this. This happens because of the borderless appearance of windows in Windows 10. We have been working with Microsoft at resolving this.

Quickly summarized, we have to "offset" everything about a window position by 7 pixels, because even though you cannot see them, the window borders are still there. The problem is that the magical value of 7 isn't that magical onc

[2015-10-16 14:02] oduncan opened #105 "Regardless of set regions (1x1 , 2x2) windows always snap to center"
Windows 7 Pro, fresh install of the latest version, no matter how i set up the regions, when I double click the top bar all the windows snap to the middle of the screen.

[2015-10-19 07:36] vegardlarsen commented on #105
@oduncan Thanks for reporting this. Do you have a screenshot or video that shows me what is happening?

[2015-10-22 02:06] camel36 commented on #70
I also have this issue.  I have two monitors, Windows 10, and after the screen goes to sleep, the windows are all over the place.

[2015-10-22 08:10] sandiwinter commented on #70
I found out that this only happens on displayport and huge resolution like 3440 x 1440.

[2015-10-22 10:49] camel36 commented on #70
HI,

Thanks for the update.

I use a displayport and screen resolution is 3840 x 2160.

Can MaxTo be upgraded to these size screens?

Peter Cameron

From: sandiwinter [mailto:notifications@github.com]
Sent: Thursday, October 22, 2015 4:11 PM
To: digitalcreations/MaxTo <MaxTo@noreply.github.com>
Cc: camel36 <pcameron@iinet.net.au>
Subject: Re: [MaxTo] Shifting fo windows after waking from sleep-mod

[2015-10-22 11:43] sandiwinter commented on #70
I also found out that this is not only MaxTo issue, even without MaxTo widnows are shifting, this is probably global displayport + ATI and displayport + Intel driver issue. SOme gays told me that this doesn't happen on NVIDIA cards. Which VGA you have?

This app partly help me: http://www.ninjacrab.com/persistent-windows/

[2015-10-22 15:03] camel36 commented on #70
HI,

I have a NVIDIA GeForce GTX 660 Ti card.

From: sandiwinter [mailto:notifications@github.com]
Sent: Thursday, October 22, 2015 7:43 PM
To: digitalcreations/MaxTo <MaxTo@noreply.github.com>
Cc: camel36 <pcameron@iinet.net.au>
Subject: Re: [MaxTo] Shifting fo windows after waking from sleep-mode or screen-shutdown. (#70)

I also found out that this is not only MaxTo issue, even without MaxTo wi

[2015-10-28 09:06] freshpotatoe opened #106 "Support for padding/margins around the snappable areas"
Currently used to using BetterTouchTool on OSX which supports setting a border around the snappable regions, although it doesn't increase information density I think it does improve aesthetics at a small cost of implementation.

Alternatively make it an easy thing to configure in the settings file directly.

[2015-10-28 14:57] hyyperlite opened #107 "Invalid Data Exception"
Using Windows 10.  MaxTo had been working with no issue for me from the Windows10 preview version through release and up until the past week or so.

Issue:
Exception:  System.IO.InvalidDataException
Target Site: NBug.Core.Util.Storage.ZipStorer Open(System.IO.Stream, System.IO.FileAccess)
Message: "Found invalid data while loading"
Source: NBug
Stack Trace:
    at NBug.Core.Util.Storage.ZipStorer.

[2015-10-29 07:05] vegardlarsen commented on #107
@hyyperlite This seems like a crash report was written in a way that was invalid. When the crash reporting system tries to load the data to submit it to us, it crashes again, and there is no recovery.

You can probably easily fix this. Go into `C:\Program files\MaxTo` and look for `Exception_<whatever>.zip`. Move those files out of the MaxTo folder, and try starting it again.

I would be very inte

[2015-10-29 07:09] vegardlarsen commented on #106
I haven't used BetterTouchTool (or OS X much, for that matter). After a recent bug on Windows 10, I know for a fact that I don't want to work with padding between my windows, but maybe there is a different opinion among everyone else?

[2015-10-29 19:19] hyyperlite commented on #107
Thanks,

Removing the exception files did resolve the issue and I can now start it.
I couldn't attach the zip file (Gmail security)  and when I tried to
extract the XML file it contained winRAR claims that the archive is
corrupted.  I did put the whole zip file on google drive and you can
download from the following link:

https://drive.google.com/file/d/0B9EaWNVKnyFdSUVjMWZoWktZd2s/view?usp=shari

[2015-10-30 19:43] mas-co commented on #87
Still having problems with Outlook 2013 and Windows 10.
version 2015.7.1.0

[2015-10-31 12:33] vrillco commented on #75
I believe I'm having the same problem.  I'm not too sure what to give you for debugging info, so here goes nothing:

I am running MaxTo 2015.7.1.0 (trial version) on a Windows 7 x64, fully patched, freshly installed a week ago.  What seems to happen is when I use the Win+R shortcut and run a command, once in a while Explorer.exe will crash and restart.  I use Win+R quite a lot, probably once a min

[2015-11-02 11:42] vegardlarsen commented on #107
I've updated the crash reporting library, which was blocking MaxTo from starting in your case. The original exception I am tracking already in an internal crash tracker, since it has been reported by others. I don't know exactly what is causing it yet.

Therefore, I am closing this issue.

[2015-11-02 11:42] #107 closed

[2015-11-02 13:14] vegardlarsen commented on #106
I am closing this for now. I will not be doing this right now, but if interest sparks up, I'll reconsider.

[2015-11-02 13:14] #106 closed

[2015-11-02 13:15] vegardlarsen commented on #104
This should be fixed and ready in the next release.

[2015-11-02 13:27] vegardlarsen commented on #103
This seems to have been solved on Windows 10, probably by an updated Firefox or Chrome.

[2015-11-02 13:27] #103 closed

[2015-11-02 13:58] CCKS commented on #87
I am having this issue with Outlook 2013 & W7x64.

I noticed that Outlook (and other office products) install as 32-bit even on 64-bit systems because of the impact on Add-Ins (according to a TechNet article).  I went to the Options->Diagnostics tab of MaxTo and ran a self-test.  32-bit system hook & keyboard shortcuts fail the test.  MaxTo.Helper32.exe is running.  Not sure what the issue is...

[2015-11-02 14:13] vegardlarsen commented on #93
I just fixed this issue in my local build. Look for it in the next release :)

[2015-11-02 19:28] SteffenLanger commented on #93
Thanks!

[2015-11-03 07:28] vegardlarsen commented on #87
The issue with Outlook will be fixed in the upcoming release. For now, use the workaround listed above regarding modifying the `shims.xml` file.

[2015-11-03 08:21] vegardlarsen commented on #95
Just a quick note that this issue is still on my mind, even though I haven't gotten around to fixing it for the upcoming release this month. There is a large update coming to the way we do compatibility shims (this [secret part of MaxTo's website](https://maxto.net/shim) is part of that), and this change fits better in with that work.

[2015-11-03 09:48] #17 closed

[2015-11-03 09:49] vegardlarsen commented on #105
Since I haven't received any feedback, I am closing this issue. Feel free to report back with more details if you experience this again.

[2015-11-03 09:49] #105 closed

[2015-11-03 10:06] vegardlarsen commented on #102
There are quite a few things regarding `mintty` that make this a little difficult:

1. It isn't technically a console window (in the Win32 sense of the word). This means MaxTo's special handling for console windows don't kick in (and it wouldn't work anyhow).
2. When `mintty` has a vertical scrollbar, it somehow calculates its own size without the scrollbar. This manifests itself in two ways:
  -

[2015-11-03 10:06] #102 closed

[2015-11-03 23:56] mas-co commented on #87
By the way, I have made changes to the shims.xml file.  I commented out the record for Outlook.  At first, it seemed to be working.  However, this has stopped working for some inexplicable reason.  (I double checked the shims.xml file and it is still commented out.
I will be waiting for the upcoming release that hopefully fixes this problem.

[2015-11-04 06:47] vegardlarsen commented on #87
You may need to exit MaxTo, exit Outlook, and then restart MaxTo to make the change take effect. MaxTo tags open windows if they shouldn't be touched. The tags are normally removed when MaxTo exits, but to be sure you need to exit Outlook.

[2015-11-05 11:23] vegardlarsen commented on #88
I've fixed this and it will be in the next release. Thank you for reporting it!

[2015-11-05 11:52] vegardlarsen commented on #70
Does this issue still occur for anyone with Catalyst drivers newer than April 22nd 2015? I see the author of PersistentWindows [has noted that his tool is no longer needed](http://www.ninjacrab.com/persistent-windows/).

I am closing this as I am assuming that this is no longer a problem.

[2015-11-05 11:52] #70 closed

[2015-11-05 13:44] llinfeng commented on #70
No, the problem is persistent.

By mentioning "MaxTo will screw up the alignment of all the windows by shifting them everywhere in a random manner.", I am not talking about the floating *windows*, but rather *"regions" arranged/assigned by MaxTo*. That is, the partition of areas on screens (bounded by screen), as well as the ordering of screens.

For my setup, if I start MaxTo on a three-monitor s

[2015-11-05 14:16] khayk commented on #88
Thank you too!
I would like to report one more issue but I don't think it is a good idea to report it here now. How can I send you description of the problem privately? Then you'll decide where to keep it. My Skype username is k_hayk.

[2015-11-05 14:36] vegardlarsen commented on #88
@khayk There is an e-mail address in the about dialog. Also, I poked you on Skype, but haven't received a reply... :)

[2015-11-05 14:56] khayk commented on #88
I didn't get any notification from Skype. You mean e-mail support@maxto.net ? I'll send the description to that address.

[2015-11-05 14:58] vegardlarsen commented on #88
Thanks :) You probably have your Skype account set to not allow messages from strangers...

[2015-11-05 15:03] khayk commented on #88
I've sent a report to support team. Good luck!

[2015-11-05 23:30] mas-co commented on #90
MaxTo does not start with Windows 10 on my machine either.  Also, i may have experienced at least one instance of MaxTo spontaneously closing.

[2015-11-05 23:30] mas-co commented on #87
Ok.  This does work if I ensure that MaxTo is opened first.
Now I just need MaxTo to start when Windows10 starts....

[2015-11-07 02:51] llinfeng commented on #70
@vegardlarsen, could you reopen this issue?

[2015-11-07 13:17] ChrisPaps opened #108 "Passive Mode - Tray Icon Tooltip Language"
When enabling passive mode, the tray icon tooltip displays two "\n" line breaks as the literal string

![Image](http://i.imgur.com/a5xV1f5.png)

[2015-11-09 07:34] vegardlarsen commented on #108
@ChrisPaps Thanks for reporting this. I have just fixed this in my private build and it will be in the upcoming release.

[2015-11-09 12:44] #87 closed

[2015-11-09 12:44] #88 closed

[2015-11-09 12:44] #90 closed

[2015-11-09 12:44] #93 closed

[2015-11-09 12:44] #104 closed

[2015-11-09 12:44] #108 closed

[2015-11-09 13:23] prnock opened #109 "issues installing maxto 2015-11"
tried installing on 64bit 8.1 windows got errors complaining about 32bit visual c++ needing to be installed then after installing it still had other error - see pictures
![maxto-error3](https://cloud.githubusercontent.com/assets/15730092/11034647/1c89e5be-86bb-11e5-8fcc-7130d71cfa26.JPG)
![maxto-error2](https://cloud.githubusercontent.com/assets/15730092/11034646/1c887b2a-86bb-11e5-9c00-7a7c72bd31

[2015-11-09 13:55] vegardlarsen commented on #109
I am looking at what causes this, but in the mean time you [can download and install](https://www.microsoft.com/en-us/download/details.aspx?id=48145) the required components from Microsoft. You need both the 64-bit (x64) and 32-bit (x86) releases.

[2015-11-09 14:02] prnock commented on #109
Once the error popped up the first time – i installed the 2013 as stated in the error -  but I see this is the 2015 versions – can I remove the 2013

From: Vegard Andreas Larsen [mailto:notifications@github.com]
Sent: Monday, November 9, 2015 8:56 AM
To: digitalcreations/MaxTo <MaxTo@noreply.github.com>
Cc: Paul Nock <Paul.Nock@carolinabeveragegroup.com>
Subject: Re: [MaxTo] issues installing maxt

[2015-11-09 14:03] vegardlarsen commented on #109
Yes, you can. The error message contains an error in addition to the problem that the installer apparently didn't install the correct files.

[2015-11-09 14:12] Xeltom commented on #109
Hello,

I confirm exactly the same issue.
Thank you in advance.

[2015-11-09 14:33] Xeltom commented on #109
In the mean while I'm reverting to previous version.

[2015-11-09 14:37] vegardlarsen commented on #109
A new, fixed installer is [now available](https://maxtostorage.blob.core.windows.net/releases/MaxToSetup-2015-11.exe). You'll need to uninstall before installing this. It will be live on the website in a few minutes.

[2015-11-09 14:39] #109 closed

[2015-11-09 16:07] prnock commented on #109
Thanks for the quick response! It installed perfectly

From: Vegard Andreas Larsen [mailto:notifications@github.com]
Sent: Monday, November 9, 2015 9:38 AM
To: digitalcreations/MaxTo <MaxTo@noreply.github.com>
Cc: Paul Nock <Paul.Nock@carolinabeveragegroup.com>
Subject: Re: [MaxTo] issues installing maxto 2015-11 (#109)

A new, fixed installer is now available<https://maxtostorage.blob.core.window

[2015-11-09 17:02] Xeltom commented on #109
Perfect! Thank you very much

[2015-11-11 10:18] icymist opened #110 "Install without Admin privileges"
I would like to install without Admin privileges. Otherwise, I will have to get approval from the IT department at the corporate!

[2015-11-11 14:46] vegardlarsen commented on #110
MaxTo's installer may have trouble installing without admin privileges, but the app itself works fine. It runs with `highestAvailable` privileges, which means it will prompt you for admin access, and then you can say no. It will still run just fine.

We are working on implementing this in a better way for a future release.

[2015-11-11 14:46] #110 closed

[2015-11-11 17:01] nakdeyes commented on #83
Fully agree, I would LOVE this feature.

[2015-11-11 17:08] nakdeyes opened #111 "Change/Highlight Regions broken"
Hello!

I have now tried this program on two separate windows 7 machines and found the same issue on both: When I author and save regions, they tend to work right after I set them, but every subsequent preview or edit of the regions, shows me just the default single split exactly down the center ( vertically ).

This also happens when I save a profile with the Regions. The saved region will draw a

[2015-11-11 18:41] basshead22 commented on #111
Same problem for me, I have to manually set my region after each reboot. I also have some transparency issues that came back in this release

[2015-11-11 19:17] nakdeyes commented on #111
For me, it is every reboot, but also every so often it just does it anyways.. maybe when my computer does the screen saver?

I know I set the regions about 2 hours ago and they were working great ( except the preview, which always just displays the default 2 regions like I mentioned above ).. then they just stopped working just now ( reverting back to the 2 default regions split in the middle of t

[2015-11-13 08:13] vegardlarsen commented on #111
First, I apologize for the slow response. I've been away for the last two days.

This may be related to a settings-reading bug I have been tracking. If I am right, this would have previously have led to a crash.

Could the both of you take the contents of `%LocalAppData%\Digital_Creations_AS\MaxTo.exe_<something strange>\user.config` and paste it here right after you've set up your regions as you'

[2015-11-13 13:13] basshead22 commented on #111
Mine was in a level deeper

When I set the region I see the file date stamp change but it's content doesn't, same for the alternate region.

[user.config.txt](https://github.com/digitalcreations/MaxTo/files/33959/user.config.txt)

[2015-11-13 13:26] jglazer63 opened #112 "Updated but still problems"
Below is my preferred setup.  I have 3 identical monitors Labeled 3,2,1 in the system (from left to right).  3 is portrait, 2 is landscape and 1 is portrait (flipped).   Below is the layout I setup with MAXTO that I want to maintain for these monitors:
![maxto1](https://cloud.githubusercontent.com/assets/11459102/11146837/bb94b3a6-89df-11e5-8429-21966902a50c.jpg)

After setting up the layout and s

[2015-11-13 14:10] vegardlarsen commented on #112
Can you send me (or paste the content here, it shouldn't be sensitive) of your `%LocalAppData%\Digital_Creations_AS\MaxTo.exe_<something>\user.config` right after you've set up your regions as you'd like?

The numbering is because MaxTo assumes that the primary monitor is monitor 1, and has just hardcoded that number on that display (you can see that the controls are slightly different on that mon

[2015-11-13 14:13] jglazer63 commented on #112
<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MaxTo.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5

[2015-11-13 14:16] jglazer63 commented on #112
I should mention I am a programmer of 30 years as well (dot-net) so I can speak a little more technically if needed.

[2015-11-13 14:27] vegardlarsen commented on #112
I [uploaded a fix here](https://dl.dropboxusercontent.com/u/12591686/MaxToSetup-issue112.exe). The file is digitally signed, and has the same version number as the current release version, so you should uninstall the current version before running this. The issue was that changing the position of the splitter didn't update an internal variable in some cases.

Since it is Friday afternoon, I won't

[2015-11-13 14:29] vegardlarsen commented on #111
@basshead22 I uploaded a fix for this in issue #112. Thank you for reporting this, I'll have an official  release out shortly, but feel free to use the workaround in the meantime.

[2015-11-13 14:29] #111 closed

[2015-11-13 14:33] jondcoleman commented on #112
This is kind of amazing.  I was about to uninstall just a few minutes ago because of this issue but decided to come here and just installed that updated and it works! Timing couldn't have been better.

[2015-11-13 14:48] jglazer63 commented on #112
Yes this seemed to fix the issue.

[2015-11-13 15:10] basshead22 commented on #111
Workaround did indeed fix my issue with the region. thx

[2015-11-15 12:06] jglazer63 opened #113 "Windows are scattered after sleep"
Again, I have 3 monitors numbered 3,2,1 (left to right).   After coming back from sleep all the windows on #1 are on #2 and vice versa.   Vaguely in the same places but still screwed up.   I have to drag them all back to the areas they were in when I left the PC.  This has become a problem since a version or so ago (maybe longer, I don't know for sure).

Any ideas?

[2015-11-16 07:41] vegardlarsen commented on #112
This fix has been released now. Waiting over the weekend gave me a chance to check for automated crash reports as well, and I am happy to report that I haven't received any :)

[2015-11-16 07:41] #112 closed

[2015-11-16 15:16] nakdeyes commented on #111
I appreciate such a fast turn around! You have earned a purchase from me. Thanks.

[2015-11-16 20:24] ghost opened #114 "Windows 10 virtual desktops are not supported"
MaxTo should allow you to switch desktop layouts for each virtual desktop on Windows 10, but as of now it only lets you load on layout per physical monitor.

[2015-11-17 06:49] vegardlarsen commented on #114
This is an intriguing idea. In a little more detail, how would you imagine this should work?

[2015-11-17 06:59] Win-slow commented on #114
I don't think there's much more to it than that, basically MaxTo currently handles layouts on a per-physical-monitor basis. Windows 10 now supports virtual desktops (the hotkey is WIN+TAB to manage them) so I would expect MaxTo to treat each virtual desktop as if it were a separate physical monitor and allow you to assign a new layout to it. I'm not sure on how MaxTo could remember which desktop i

[2015-11-17 10:45] Gunni opened #115 "Some apps crossing over screen edges"
It's hard to explain and it only happens in Babun and KiTTY.

![screenie-1447756645](https://cloud.githubusercontent.com/assets/358099/11209295/23e0f808-8d18-11e5-8dfd-ac8f5ba9b2bf.jpg)

Left screen is vertical, center and right screen are horizontal.

Left screen has been split once horizontally.

When i use shift+maximize on windows in regions they fill their section but go a bit onto the center

[2015-11-17 10:48] vegardlarsen commented on #115
This problem seems similar to one I've seen with `mintty`. PuTTY works well with MaxTo, so it has to be something special that KiTTY does that PuTTY doesn't.

My guess is that they are doing something special with their scrollbar. Can you check to see if it has an option to turn of the scrollbar (you can Shift+PageUp/PageDn to scroll), and see if that makes it line up perfectly?

[2015-11-17 10:50] Gunni commented on #115
@vegardlarsen yes it has that option and yes then the window fits perfectly...

[2015-11-17 10:51] vegardlarsen commented on #115
I'll be looking into this more thoroughly, but then at least you have a workaround for now. I may just have to add a list of software that needs a special offset rectangle, as there seems to be 3 programs now that are misbehaving.

[2015-11-17 10:58] Gunni commented on #115
Thanks! :)

[2015-11-20 00:44] AdamTakvam opened #116 "Monitor resolutions detected incorrectly"
OS: Windows 10 Pro 64-bit with "service pack"
Monitor 1: Asus PB287Q @ 3840x2160
Monitor 2: ViewSonic VX2475 @ 3840x2160

MaxTo detects the resolution of both of these displays differently, causing different issues. So I'll take each separately:

Monitor 1 (mostly works):
Profile: 3 vertical splits with the leftmost pane split horizontally.
Profile Issues: With a single pane (no splits) the report

[2015-11-20 07:16] vegardlarsen commented on #116
@AdamTakvam Thanks for reporting this. There are a few things I want to try. First, I am guessing you are running both these monitors as high-DPI? Are they both using the same DPI scaling settings?

MaxTo has some issues with DPI scaling, especially if the monitors are on different DPIs. It doesn't sound like that should be the issue here, though.

I'd like you to download [LINQpad](https://www.li

[2015-11-20 07:37] digitalchet commented on #86
Hmm... I think I've encountered the same issue on Windows 10 with the latest release.  With the difference that although I can see two or three windows coming up in the taskbar after launch, they exit out immediately and I'm unable to see any error messages.

Any ideas as to what could be causing this?

[2015-11-20 08:11] vegardlarsen commented on #86
@digitalchet Not really. With the latest version we've dropped dependencies on the Visual C++ redist files, so the only thing besides MaxTo the installer should install, is the [.NET Framework](https://www.microsoft.com/en-us/download/details.aspx?id=48130). If you pre-install that, and try again?

[2015-11-20 23:24] idrake commented on #116
I noticed the same thing.  Surface Pro 4 at 150% scaling and a 40" 4K TV at 100% scaling.  Where the screens have a virtual seam between them, the window on the 4K tv adjacent to the Surface is overhanging the tiniest bit onto the Surface, seemingly causing the window to size (height at least) to the Surface's scaling.

The Surface is new, so I'm still installing my dev tools, which includes LINQp

[2015-11-21 00:05] AdamTakvam commented on #116
The issue with the bottom panel on Monitor 1 seems to be specific to Internet Explorer. I tried Chrome and other random things and they size correctly. So Monitor works fine except for reporting the wrong resolution, which is benign at this point.

The scaling on the monitors is:
Monitor 1: 125%
Monitor 2: 150%

Setting both monitors to 125% scaling causes Monitor 2 to report 3072x1728 in MaxTo, b

[2015-11-21 00:06] AdamTakvam commented on #116
<!DOCTYPE HTML []>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="Generator" content="LINQ to XML, baby!" />
    <style type="text/css">
body {
	margin: 0.3em 0.3em 0.4em 0.4em;
	font-family: Verdana;
	font-size: 80%;
	background: white;
}

p, pre {
	margin:0;
	padding:0;
	font-family

[2015-11-23 08:28] vegardlarsen commented on #116
@AdamTakvam If I understand you correctly, only MaxTo's UI is affected by this, which is what I have seen on other high-DPI systems. I am working on this, however, it seems to be technically impossible with the technology stack MaxTo is currently based on (WinForms). We are working on a WPF update of MaxTo, which will work a lot better with high-DPI.

@idrake Oh, my. I'm suspecting this is an inte

[2015-11-23 13:28] idrake commented on #116
<img width="395" alt="capture" src="https://cloud.githubusercontent.com/assets/697306/11336814/51a210ea-91b6-11e5-874f-976b36d3875f.PNG">

@vegardlarsen I see what you mean by the borderless windows.  I've attached a screen shot of my linq results.

When I drag a window onto the higher DPI screen it scales to which ever screen it is on the most, like you said.  In fact, my problem isn't that the w

[2015-11-23 13:38] vegardlarsen commented on #116
@idrake That video really clarified what happens. Does this happen no matter what window you put in that region? How about re-arranging your monitors (logically) so that the Surface screen is on the left-hand side of your main monitor? Does the problem still happen then?

BTW, I think you are one release behind our current one. Try upgrading to see if your problem with the size not matching the re

[2015-11-23 15:44] idrake commented on #116
@vegardlarsen Does this happen no matter what window you put in that region? I'll have to try a universal app, but I've tried several win32 apps and they all react the same.

I will update maxTo tonight to answer your questions fully.  Thanks!

[2015-11-24 02:14] idrake commented on #116
@vegardlarsen I have the latest version 2015.11.1.0.  I tried a universal app and it behaves the same way, so yes all apps have the same issue.

I switched the Surface to the other side of the monitor and the problem switched sides too.  Strangely, the problem on the other side effects the width of the screen and not the height.  The pic should show how the window sized compared to the region.  I

[2015-11-24 02:15] idrake commented on #116
<img width="396" alt="capture" src="https://cloud.githubusercontent.com/assets/697306/11355988/588b3e7e-9227-11e5-9183-767bed51e2c2.PNG">

[2015-11-27 00:30] hensm opened #117 "Feature Request - Dynamic region/window resizing"
Being able to hold down a hotkey, resize a window in a region and have the surrounding regions/windows adapt accordingly. Something in the same vein as this:
![wcFF1io.gif](https://i.imgur.com/wcFF1io.gif).

Not sure how difficult this would be, though I'd find it tremendously useful. Excellent software in any case, don't think I'd be able to live without it now. [Got my license](https://i.imgur.c

[2015-11-27 17:42] shiift opened #118 "Window Snap Region Edges"
I can drag and snap to monitor edges and window edges just fine, but when I select "Region edges (main regions only)" it does not seem to recognize the main regions. I have tried this with both only the Region edges box checked and with combinations of them checked. If there is a way to reset the program I would love to know because it's possible that it was working yesterday when I installed the

[2015-12-01 07:20] vegardlarsen commented on #118
I apologize for my slow response time. What happens to that same window if you maximize it? Does it get placed in a region?

You can try restarting MaxTo, or restarting your computer. Sometimes a full reboot is required because of the way MaxTo hooks into Windows.

[2015-12-01 23:57] idrake commented on #116
If it helps any, I just docked my VS.NET tool windows to the right hand side of my monitor and had no issue.  I assume that because of the way Windows calculates tool window sizes it didn't have the problem normal windows have.

[2015-12-02 07:14] vegardlarsen commented on #116
I am stumped on this. I have a machine that I can test this on with different DPIs on the different screens. I will have a look, but I suspect as I mentioned before that this may be a WinForms issue. The only problem with that assumption is that I've only seen that affect the size of MaxTo's UI, not the size of external applications.

[2015-12-02 12:25] dhilgarth commented on #31
I think targeting the AcroRd32 process instead of the AcrobatSDIWindow window class should be the default setting on new installations and upgrades.

[2015-12-02 12:26] vegardlarsen commented on #31
Maybe, but this also affects Adobe Acrobat, so it is not that clear-cut. Maybe I should split this out into two different shims.

[2015-12-02 12:29] dhilgarth commented on #31
The point is: By default, the sandbox is enabled in the reader and disabled in Pro. So, in my opinion, the "it just works" path for the majority of clients would be to have a shim for Acrobat Reader but not for Acrobat Pro.

[2015-12-02 12:37] vegardlarsen commented on #31
You are right. I was unaware that the sandbox was disabled in Pro. I'll have this fixed in the next release.

[2015-12-02 12:38] dhilgarth commented on #31
Great, thanks!

[2015-12-02 21:57] shiift commented on #118
If I maximize the window it gets placed in the closest region. Restarting the computer does not seem to change anything.

[2015-12-03 06:58] vegardlarsen commented on #118
It seems this is reproducible on my machine. I will have a go at fixing it for the next release. Thank you for reporting it!

[2015-12-03 08:09] dhilgarth opened #119 "Region goes behind taskbar"
On my Windows 8.1 machine, the regions go behind the taskbar and thus, when maximizing, part of the window is behind the taskbar as well.
I am seeing this on my primary as well as my secondary monitor.

[2015-12-03 14:08] vegardlarsen commented on #119
Thank you for reporting this. Is your taskbar set to auto-hide? If it is, MaxTo does not get told by Windows that the taskbar area is reserved (because it isn't).

Otherwise, it could be helpful if you run a tiny script I have to tell you the exact dimensions of your screen as reported by Windows. Do you happen to have LINQpad installed?

[2015-12-03 14:59] dhilgarth commented on #119
No, my taskbar is not set to auto hide. LINQPad is installed, yes.

[2015-12-03 17:49] mkizer opened #120 "Hot Key Request: Move to next monitor, but not to a region"
For multi-monitor setups.
Currently, in Win7 the Win+Arrow Left/Right will move a window first to the edge of the current monitor, then to the edge of the next monitor, then to its original size/position on the next monitor. It would be nice to have a hot key that would simply move window to the next monitor, but not into a specific region.

Example: You have a small window centered that you wish

[2015-12-04 13:03] vegardlarsen commented on #120
That does make sense, but we are rapidly running out of possible keyboard shortcuts. We've already had to relegate our keyboard shortcuts to the numpad (which some machines simply does not have). I am assuming your suggestion means that Win+0 would move it one monitor to the right and cycle around?

[2015-12-04 13:04] vegardlarsen commented on #119
Could you quickly run this [extremely tiny script](https://dl.dropboxusercontent.com/u/12591686/MaxTo-diagnostics.linq) and get me a screenshot of the output?

[2015-12-04 13:09] dhilgarth commented on #119
Here is the result: [Screens.xlsx](https://github.com/digitalcreations/MaxTo/files/52057/Screens.xlsx)

[2015-12-04 13:48] vegardlarsen commented on #119
According to that, you can see that the `WorkingArea` size (the size subtracting the taskbar) is the same as the `Bounds` size, which means that Windows is incorrectly reporting that size on your machine.

There really is nothing MaxTo can do about this. I'd recommend googling the issue, and seeing if you can get rid of the problem. You can easily verify that this happens when MaxTo is not running

[2015-12-04 13:56] dhilgarth commented on #119
It's not happening without MaxTo: http://screencast.com/t/g2VRFKqfIi

[2015-12-04 13:58] vegardlarsen commented on #119
That is extremely weird. Do the `WorkingArea` sizes reported by the LINQpad script change when MaxTo is not running?

[2015-12-04 13:59] dhilgarth commented on #119
No, there is no difference with or without MaxTo

[2015-12-04 14:01] vegardlarsen commented on #119
It could be a video driver issue. Could you try updating to your latest drivers?

Note that the LINQpad script does not reference MaxTo at all, as I am sure you have discovered. MaxTo only reads those sizes from Windows and uses them to set up the regions. If they are wrong, there isn't much else we can do.

[2015-12-04 14:04] vegardlarsen commented on #119
You can try `System.Windows.SystemParameters.WorkArea.Height.Dump()` and comparing it to the working area size reported for your primary monitor by `Screen.AllScreens`?

[2015-12-04 14:05] dhilgarth commented on #119
That returns the correct value: 1018

[2015-12-04 14:17] vegardlarsen commented on #119
Could you try unlocking your taskbar and putting it on one side? Does that trigger the the LINQpad script to get updated numbers?

[2015-12-04 14:20] dhilgarth commented on #119
Nope, no difference.

[2015-12-04 14:30] vegardlarsen commented on #119
I don't really understand what is happening here. I noticed your monitors were labelled `\.\\DISPLAY4` and `5`, skipping a few numbers. No. 4 would be your primary monitor?

[2015-12-04 14:31] vegardlarsen commented on #119
Do any of your monitors happen to be high-DPI displays?

[2015-12-04 14:32] dhilgarth commented on #119
I don't know, why a few numbers are skipped. No High DPI displays, just two Samsung SyncMaster SA350 21.5" screens.

[2015-12-04 14:35] vegardlarsen commented on #119
It seems your Windows installation has gone insane :)

I have to leave now, but a few suggestions:

- After moving your taskbar, ensure you close LINQpad between tries, because I have a suspicion the output gets cached.
- Try rebooting?

[2015-12-04 18:12] mkizer commented on #120
Yes, cycling around would work or you could use Win+[numpad] 1 to go left
and Win+[numpad] 3 to go right. You could also use some modifier on the the
existing numpad arrows (4 & 6), but it might start getting ridiculous
trying to type Win+Ctrl+Shift+[numpad] 4. ;-)

~Michael Kizer
http://MichaelKizer.com

On Fri, Dec 4, 2015 at 5:03 AM, Vegard Andreas Larsen <
notifications@github.com> wrote:

[2015-12-11 07:38] pmurfitt opened #121 "Support having regions spanning displays"
Apologies if this is supported but I couldn't work out how. I have triple 2560x1440 displays in portrait mode - there are some cases where I would like to have a region in my alternate layout to be completely over the middle display and also slightly over the left and right displays.

If we could have a way to configure a region to be anywhere in the total display canvas and not just restricted to

[2015-12-11 08:36] vegardlarsen commented on #121
@pmurfitt  I also think this would be a nice feature, but we would have to come up with a brand new way of defining the regions. Any suggestions here are welcome. Remember you have to take into account that the total display surface is not a rectangle... :)

[2015-12-20 02:43] nblackburn commented on #114
+1

[2016-01-05 02:13] 588MykgR9H6SG7Y8657Y opened #122 "Windows Sticks to Aero Mode"
Windows 10 issue

When positioning a window, it got stuck in aero mode.  Moreover, as far as I can tell, some Windows commands are not available, e.g. "Delete"

![maxto error](https://cloud.githubusercontent.com/assets/16550358/12105925/d2e1b600-b327-11e5-8e3a-943b0ea2778d.JPG)

[2016-01-05 09:45] j-n-f commented on #102
I suspect you're correct, but thought it was at least an interesting case. Thanks for looking in to this :)

[2016-01-07 19:04] timkay commented on #27
I have the same problem. It takes seconds for the dialog to show up when I right-click on the tray icon.

Also, after I resume from sleep, it takes maybe 30 seconds before the hotkeys work. And they get queued up, so windows skitter around until it catches up.

This product has always been sluggish this way, even under Windows 7, and across multiple computers. I just assumed it was poorly written.

[2016-01-08 06:22] vegardlarsen commented on #27
@timkay This is definitely not how it is supposed to behave. I have been looking at this, but the trouble is that on all the machines I have access to it behaves properly. Even across virtual machines (which are slow to begin with) I haven't experienced it.

Do you have any other software (e.g. antivirus) that may be interacting with MaxTo in some way?

[2016-01-08 11:12] Transisto commented on #27
I'm not using the software anymore but it could be because I was using a 4k
screen.

On Fri, Jan 8, 2016, 01:22 Vegard Andreas Larsen <notifications@github.com>
wrote:

[2016-01-08 17:20] timkay commented on #27
I am running on a 4K display connected via a DisplayLink USB-to-DisplayPort
adapter. I get excellent performance except for MaxTo. (I can watch
Netflix, although not well at full screen.)

Once it's "warmed up", MaxTo works fine. Just that it takes a long, long
time to get going after a reboot.

On Thu, Jan 7, 2016 at 10:22 PM, Vegard Andreas Larsen <
notifications@github.com> wrote:

--
Tim Kay
m

[2016-01-17 16:53] nakdeyes commented on #74
Hey there! I just started using Unity and I am also experiencing this issue.. I just thought it was an issue with Unity and not MaxTo, but when googling around I found this thread. I tried shutting down MaxTo and now Unity's window can scale correctly.

I tried the above mentioned fix and it also did not work for me. I put it in the shims.xml as follows:

<?xml version="1.0" encoding="utf-8"?>

<c

[2016-01-17 18:58] vegardlarsen commented on #74
I will have a look at this for the next release and see if I can figure out what is happening. When you add Unity to the ignore list, MaxTo should not touch it at all.

[2016-01-17 21:20] nakdeyes commented on #74
Maybe we are just using the wrong process identifier?

If I look at Task Manager, under Applications, the name is "Unity Personal (64-bit)", if I look under processes, I see "Unity.exe" "UnityHelper.exe" and "UnityShaderCompiler.exe"..

The two things I have seen suggested in this thread are "Unity" ( what I tried ) and "unity3d" ( just haven't seen this identifier elsewhere, so I didn't try ). Sh

[2016-01-18 07:15] vegardlarsen commented on #74
The way to find those identifiers is to look in Task Manager under Details. Find the process name, it should end with `.exe`. You use that name minus the `.exe` at the end. Those names are case-insensitive.

The other way is to find the window class and use that instead. You'll need a tool like Spy++ or Winspector to find it. There are some example, but instead of `<process>Unity</process>` you wo

[2016-01-20 17:12] jacobbenlewis commented on #113
+1  Using this on Windows 10 with a large tv screen.  Whenever the PC goes to sleep and I log back in my apps are in different locations and sizes.

[2016-01-21 14:49] mattproc opened #123 "Support installation on offline system"
The installer hangs for a few minutes on "Downloading .NET Framework 4.5 (web installer)" which is obviously going to fail because there's no internet connection. It eventually proceeds past this section and allows me to click "Next" to apparently begin the actual installation but that eventually fails with "MaxTo setup ended prematurely because of an error. Your system has not been modified (etc)

[2016-01-21 17:13] Vaccano opened #124 "Keyboard Shortcuts don't work?"
I have to think I am doing something wrong.  But I watched the video and it says to do ctrl + start + arrow key to move between regions.

But that does not work.  (Just sends control + arrow to the application.)

I also tried control + start + page up and it was similarly non functional.

**What am I missing?**

(Note: Shift + drag and drop works fine)

[2016-01-22 01:02] reidrankin commented on #115
I'm getting this problem with standard PuTTY, version 0.66, and the cygwin mintty windows.

[2016-01-22 01:06] reidrankin commented on #65
Just want to mention that I do NOT see this issue with Start10 on Windows 10. (At least not all the time. I've had the Start10 menu disappear on me a few times, but I'm not prepared to blame it on MaxTo.)

[2016-01-22 01:13] reidrankin commented on #117
Seconded! Really missing this as it's standard for Aero Snap with the Threshold 2 update for Windows 10.

[2016-01-22 07:00] vegardlarsen commented on #117
Without saying too much, I have been looking at prototyping this. :)

[2016-01-22 07:00] vegardlarsen commented on #65
That is good. I have tried Stardock a few times, but I never heard anything back from them.

[2016-01-22 07:07] vegardlarsen commented on #124
@Vaccano Ooh, we may not have updated the video since the upgrade to Windows 10. That is definitely something we have to fix.

The shortcut keys changed because Windows 10 started using the same ones as we did. They are now Windows+NumPad keys by default (remember to have NumLock on). You can change this if you'd like, but it will probably be hard finding other keys that make sense and are availab

[2016-01-22 07:07] #124 closed

[2016-01-22 07:09] vegardlarsen commented on #123
Since the .NET Framework is so large, we will not be bundling it with the installer. [Here](https://www.microsoft.com/en-us/download/details.aspx?id=42642) is an offline installer for .NET Framework 4.5.2 that should work on your machine.

Install the .NET Framework first, and MaxTo's install should proceed just fine.

[2016-01-22 07:09] #123 closed

[2016-01-22 17:37] Vaccano commented on #124
Sweet!  Thanks!

[2016-01-23 11:53] reidrankin commented on #118
I too have this issue and am running Windows 10. It also used to work for me, but now I've noticed that it does not. Not a lot of new info here, but perhaps suggestive of an interaction with a recent windows update?

My windows install started at vanilla Threshold 2 (so it was fine under that) and the latest cumulative update is KB3124200 on 12/22/2015. I'm sure it was happening by that time, so i

[2016-01-24 11:16] CharlieEriksen opened #125 "Blacklist of programs"
Hi,

I was wondering if it'd be possible to maybe add a small feature to MaxTo, which allows you to blacklist certain executables from being affected by MaxTo? For instance, I may want to have my remote desktop client, video games that are in windowed mode, etc. not be affected by MaxTo.

Would that be viable?

Thanks for a great tool!

[2016-01-25 08:03] vegardlarsen commented on #125
Hi Charlie, this already exists and you may not want to use it. :)

Inside the MaxTo folder there is an XML file, called shims.xml. You can edit this file to add programs to the ignore list (anything under the `<ignore>` tag is ignored as best can by MaxTo). After editing this file, you have to restart MaxTo for the changes to take effect.

If you want to temporarily deactivate MaxTo, you can simp

[2016-01-25 08:03] #125 closed

[2016-01-25 08:36] CharlieEriksen commented on #125
Hi Vegard,

I have been using the shift key fairly extensively, but I was wondering if there wasn't an easier way, so I don't have to press it every time I deal with rdp/a game.

In regards to the shims.xml/ignore list, is there a reason why I wouldn't want to use it? :-)

Thanks for the very quick response!

[2016-01-25 08:43] vegardlarsen commented on #125
Basically because I believe the other ways are easier, but feel free. Know that the shims.xml can be overwritten when you upgrade to the next version, so it is a good idea to back it up and take note of the things you add to it. It wasn't really designed to be user-extensible, but I may be fixing that in a future release.

[2016-01-26 12:12] JSmatt opened #126 "Unattended Installer"
From running the setup with /? I can see that "/exenoui" should do an unattended automatic installation. However when I run with this switch the installer just loads the ui normally and sits there waiting for user input.

How can I do an unattended admin installation?

Thanks!

[2016-01-26 12:25] vegardlarsen commented on #126
Unfortunately we do not officially support unattended installation. Those instructions are basically defaults from the installation system we are using.

As far as I can tell there shouldn't be anything in the way of doing it unattended (we are not doing anything special), but it may be that it needs to download the .NET Framework, which can take a while.

If I am not mistaken you can extract the

[2016-01-26 12:25] #126 closed

[2016-01-27 14:48] palad1 opened #127 "Cannot override default windows shortcuts anymore"
Previous versions of the app (about two years ago?) allowed me to bind win + arrows.
I can't bind this anymore, and the shortcut form does not recognize win-arrows or win-ctrl-arrows.

I had to manually edit my settings file, which you will find attached.

Thanks!
[user.zip](https://github.com/digitalcreations/MaxTo/files/106727/user.zip)

[2016-01-27 14:53] vegardlarsen commented on #127
This is because Windows now owns that combination, and we cannot use it. MaxTo has gotten better at recognizing keyboard shortcuts that will cause trouble.

Basically, you can exit MaxTo completely, and try using Windows+Left to what happens to your active window. We cannot override this without disabling that functionality completely, unfortunately.

[2016-01-27 14:53] #127 closed

[2016-01-29 17:54] mkizer opened #128 "Possible minor issue with triple monitors"
I have a pieced together triple monitor setup at work. Left to right:
(1) Portrait 16:9 | (2) Landscape 16:9 | (3) 4:3

Occasionally on startup, monitor 3 will load the alternate region layout (split horizontal) instead of main (no splits). The other two monitors load the main region layouts just fine. I can verify this by moving windows to monitor 3 or by looking at the Highlight Regions->Main.

[2016-01-29 20:59] mgomezch opened #129 "Minimum region width too large?"
Hi!  I’d like to use MaxTo to prevent windows maximizing under an always-on-top panel I use (GKrellM, specifically).  The region occupied by this panel is quite narrow, and this is intentional; I want to have it always present on the screen, but not take up too much space.

![maxto-report-panel](https://cloud.githubusercontent.com/assets/774845/12687840/8291414e-c6a4-11e5-9c94-8b28b821acc8.png)

(

[2016-01-31 08:53] vegardlarsen commented on #128
Thanks for reporting this. I have no idea what may cause this behavior.

I have a similar setup at my office, so if you could send me the `user.config` file from `%LocalAppData%\Digital_Creations_AS\MaxTo.exe_<some more stuff>\<version>` I can try loading it on my machine when I get a chance to debug this (you can paste it in a code block here if you want).

A few control questions:

1. Are you ce

[2016-01-31 09:02] vegardlarsen commented on #129
Both yes and no. The minimum region width is limited by the minimum width of a bordered window in Windows. It is not a value I will be changing, because that would be very strange for other windows.

However, you **may** be able to get around this. I haven't tested this, and I cannot guarantee that it will work. Find the `user.config` file by rummaging about `%LocalAppData%\Digital_Creations_AS\Ma

[2016-01-31 09:02] #129 closed

[2016-02-01 18:11] mgomezch commented on #129
It worked perfectly!  Thanks!

[2016-02-05 23:38] mkizer commented on #128
1. The alternate region for monitor 3 always loads. It is a horizontal
split. My main region for that monitor is no split, and I've tried saving a
profile for it. It always shows up correctly in Change Regions, but not in
Highlight Regions.
2. I don't believe so.
3. Windows 7 Enterprise version 6.1 (Build 7601: SP 1)

Thanks,

~Michael Kizer
http://MichaelKizer.com

On Sun, Jan 31, 2016 at 12:53 A

[2016-02-11 15:38] woodpile72 commented on #113
+1 I'm on Win7 Pro with a Dell U3415W.  Resolution is 3440x1440.  When the computer sleeps, same issue... Log in and all windows that were visible are no longer "maximized" and are, instead, resized to a much smaller size.  I'd love to pay for this (just installed yesterday to test) and begin using it, but need this fixed.  Anyone?

[2016-02-11 16:28] woodpile72 commented on #113
This just happened again.  Woke from sleep and ALL windows, even minimized windows, were resized to a strange size and shoved off to the left of the first virtual screen.  I've got my money ready and want to pay - please give this some attention so I can give you my money.

[2016-02-11 17:16] woodpile72 commented on #75
I'm having the same issue as vrillco - using Win-R causes crashes of explorer.  At any given time, I have 5-10 file explorer windows open and losing those because I used Win-R...  Bad.

It doesn't seem these issues are getting attention or being solved, so I'm not sure this is a good investment.  I'd be happy to pay, but between this and the odd resizing of windows after sleep, I can't do it.  I'd

[2016-02-12 07:42] vegardlarsen commented on #113
@woodpile72 I'd love to fix this, but I can't for the love of me figure out why it is happening (and it doesn't happen on any of my three machines). A few questions; are you running this monitor in high DPI? Which graphics card and driver versions do you have?

[2016-02-12 07:46] vegardlarsen commented on #75
@woodpile72 I have had 3 separate attempts at fixing this issue, but so far I haven't been able to reproduce it on any of my machines, much less figure out why it is crashing. I have tried setting Windows 7 up in fresh virtual machines multiple times, and it just doesn't want to crash on the machines I try.

Please be assured that this is a high priority issue for me, but when I can't get it to cr

[2016-02-15 14:37] mitoskalandiel commented on #127
should we not be able to decide whether we want that override or not in app-settings? my thought process here goes along the line of the fact that if we use MaxTo we really want to achieve something that windows is lacking natively and thus want to override (as a behavior) anyways

why not use something that we would start with anyways (Windows + Arrows to move windows) to "replace" rather than "a

[2016-02-15 14:39] vegardlarsen commented on #127
@mitoskalandiel MaxTo cannot override Windows keyboard shortcuts because Windows won't let us. It is that simple.

Ideally I would also like to be able to do that, but it does not seem to be possible without disable large parts of Windows' functionality.

[2016-02-15 15:14] mitoskalandiel commented on #127
Without having this tested myself on my work machine, but would [UnregisterHotKey()](https://msdn.microsoft.com/en-us/library/ms646327(v=vs.85).aspx) not solve this issue, by simply unregistering the hotkey in question and then mapping it to your own function with RegisterHotKey()?

If this is not possible, then I give up and will have to think of an alternate mapping :)

Sorry for the inconvenien

[2016-02-16 09:21] vegardlarsen commented on #127
I don't think you can UnregisterHotKey for built-in Windows hotkeys. I'd love to be proven wrong. Send me some sample code and I promise I'll have a look... :)

[2016-02-18 05:51] woodpile72 commented on #113
I think I figured this one out and it might be unrelated to MaxTo.  I was daisy chaining 2 monitors with display port without having maxto loaded and still had the problem - same as having maxto enabled on one giant monitor.  What happens is that Win7 sees the windows as being out of a legit screen region when returning from sleep and moves them into a spot it knows it ok.  Seems the same behavior

[2016-02-18 09:45] vegardlarsen commented on #113
I suspect you may be onto something, and it matches what I have believed to be the cause of this. I think Windows (or the video driver) somehow disconnects the monitor for a short time when suspending or resuming. That would lead Windows to rearrange the windows onto the monitors that are left active.

With daisy chaining, I believe the outer monitor will most likely be disconnected from Windows w

[2016-02-22 17:04] itrumsey opened #130 "Close Pop-up Windows Crashes Program"
Hi,

I'm using the MiiCollab Client (think Skype) for phones and when I get a call, it creates an additional pop up window. If that new window is on the other region, both windows close/crash. If it's in the same region, it closes normally.

[2016-02-23 09:18] vegardlarsen commented on #130
That sounds extremely strange. You could add a shim to stop MaxTo touching this application, which should resolve the problem if it is indeed MaxTo's fault.

Open the `shims.xml` file in `C:\Program Files\MaxTo` in your favorite text editor, and add a line under the `<nosubclass>` node, like `<process>miicollab</process>`. The name of the process needs to match the executable name for the MiiColla

[2016-02-23 17:17] scoleman81 opened #131 "Issues with Itunes"
Itunes Crashes whenever Maximizing in a region.

[2016-02-23 17:35] itrumsey commented on #130
Hi Vegard,

That seems to have worked! The MiiCollab executable is called “UCA”, below is the line I entered:

    <process title="uca">uca</process>

Could that be added into the main build? Also, for any other computers with this problem, would I be able to copy and paste the shims file over the old ones?

Myles Adams |Jr Network Administrator| Rumsey Electric
Office: 610-832-9145 | Fax: 610-941

[2016-02-24 08:11] vegardlarsen commented on #130
Awesome, I'll make sure that this is included in the next release. You should be able to copy the shims file across, yes, but it will be overwritten by any new installs.

[2016-03-01 16:09] caryian opened #132 "Maxto Setup Wizard ended prematurely"
I am trying to install maxtosetup2015-11-1 on a Win7 machine.  The wizard keeps ending with a message that "MaxTo setup ended prematurely because of an error.  Your system has not been modified.   To install this program at a later time, please run the installation again".

Is there a log file or some other way to determine why the install is failing?

[2016-03-02 07:49] vegardlarsen commented on #132
@caryian Try this: `MaxToSetup-2015-11-1.exe /L*V "example.log"` and paste it here.

[2016-03-02 16:09] caryian commented on #132
Thanks @vegardlarsen.  Please see attached:

=== Verbose logging started: 3/2/2016  7:58:08  Build type: SHIP UNICODE 5.00.7601.00  Calling process: C:\windows\system32\msiexec.exe ===
MSI (c) (D8:20) [07:58:08:968]: Font created.  Charset: Req=0, Ret=0, Font: Req=MS Shell Dlg, Ret=MS Shell Dlg

MSI (c) (D8:20) [07:58:08:968]: Font created.  Charset: Req=0, Ret=0, Font: Req=MS Shell Dlg, Ret=MS Sh

[2016-03-02 23:19] caryian commented on #132
Thanks - I solved the issue.  Something was corrupt on the windows installation, but running the System File Checker tool resolved it and the installation now runs smoothly.

[2016-03-03 07:02] vegardlarsen commented on #132
It seems there was an error while it was trying to remove previous versions of files. So you may have had a previous installation of MaxTo that didn't close down correctly (or quickly enough)? Anyway, I am going to consider this a fluke since you managed to fix it externally. Thank you for reporting it anyhow. :smile:

[2016-03-03 07:02] #132 closed

[2016-03-07 13:04] KingMario opened #133 "[AD]Max3 wants to be tested."
[Max3](https://github.com/KingMario/Max3) wants to be tested...

Thanks.

[2016-03-07 13:44] #133 closed

[2016-03-29 01:16] AssaultCommand commented on #119
A bit late now, but I've been having the exact same issue with the only exception being that if I restart MaxTo it works perfectly fine again.

Running Windows 10 on my desktop with a 3440x1440 monitor. It also happens on my laptop whether I plug it into the monitor or not.

However, I can't exactly test MaxTo right now because the trials ran out and I just came across this thread today.

[2016-04-03 17:57] Natanji commented on #116
Chiming in here because I've just installed MaxTo, and have a problem with it that sounds similar (though maybe not the same?) as this one.

I am running two monitors, one 21:9 monitor (3440x1440) and one 16:9 monitor (1920x1080). The first is set to 150% DPI, the second to 125% DPI. When I open MaxTo, the MaxTo window on the second monitor has a huge margin of about one third of the screen toward

[2016-04-04 06:41] vegardlarsen commented on #116
That would be the same issue. It is all caused by the Windows Forms framework not handling this correctly on multiple monitors. My guess is that it is only the user interfaces that is wrongly placed, the actual regions should be placed correctly on the screen.

I am working on a completely new MaxTo that will not have this issue, but the work is hard and slow.

[2016-04-05 16:23] justinh109 opened #134 "Application unable to launch"
Max to gives a MaxTo.exe Error:

"The application has crashed and it will be dismissed. a bug report has been sent...."

This happens every time i launch the executable and on startup as maxto.exe is on the startup queue.
I have tried uninstalling, updating, installing to different hard drives, and checking my software security for anything that may be blocking it.

This has been happening for som

[2016-04-06 05:22] brettw1234 commented on #119
@AssaultCommand I am also running Windows 10 on a 3440x1440 monitor. I have been having the exact same issues until I found this thread and decided to close the application and re-open it - which magically fixed it. Since I installed it several months ago, the application has always started when Windows booted up and I never manually closed/re-opened it. Have you tried that?

[2016-04-06 07:22] vegardlarsen commented on #134
Thank you for reporting this. It would be useful to try to get a crash report from MaxTo for this. The easiest way to do that is to disable your Internet connection, make MaxTo crash, and then look in `C:\Program files\MaxTo` for any `Exception_xxx.zip` files.

With that said, the exception mentioned in the log has never made it to our bug-tracking system, so it could be another exception in disgu

[2016-04-06 08:08] AssaultCommand commented on #119
Have since bought a license because almost all alternatives suck.

I pretty much never reboot my desktop but I don't think it's that causing it. It usually happens after I wake it from sleep. Might have something to do with the bug in Windows where it shrinks all your windows to the smallest monitor resolution supported and puts them all in the top left corner.

[2016-04-07 00:35] brettw1234 commented on #119
Interesting - I almost never reboot my desktop either and just let it go to sleep. After the restart and closing/re-opening the application yesterday I haven't been able to reproduce the issue. I'll keep an eye out though and will post back if I ever find a way to reproduce it.

[2016-04-08 00:02] justinh109 commented on #134
First off Enjoy your vacation, I don't mind waiting a few days for a
response so no pressure.

I took the steps mentioned above and nothing is working. I disabled the
internet connection and crashed maxTo, but no exception files were made in
the maxTo folder. Again I tried uninstalling everything, deleting the
tempdata, rebooting and reinstalling a fresh version and making sure it is
allowed throu

[2016-04-08 06:23] vegardlarsen commented on #134
I think I figured it out. You need to change a setting for the component that MaxTo relies upon for bug reporting. Find the file `C:\Program files\MaxTo\MaxTo.exe.config`. Open it in Notepad (or another editor of your choice) as an Administrator. Search for "StopReportingAfter" and change the `<value>120</value>` to `<value>99999</value>`. Then start MaxTo, and it should generate an Exception file

[2016-04-08 15:08] justinh109 commented on #134
ah ha!

On Fri, Apr 8, 2016 at 1:23 AM, Vegard Andreas Larsen <
notifications@github.com> wrote:

[2016-04-14 00:01] justinh109 commented on #134
Has any one had the chance to look at the crash-log I sent?

On Fri, Apr 8, 2016 at 10:08 AM, Justin Hoehne <justinh109@gmail.com> wrote:

[2016-04-14 06:40] vegardlarsen commented on #134
@justinh109 I haven't received it. Can you try to capture the Exception.zip file before restarting MaxTo after a crash, and e-mailing it to me?

[2016-04-14 16:01] justinh109 commented on #134
It was attached to to the email I sent you one April 8th. It is also
attached to this email and the exception.xml is copied below:

<?xml version="1.0"?>
<SerializableException xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ExtendedInformation>
    <HResult>-2146233079</HResult>
  </ExtendedInformation>
  <Message>SplitterDistance must be bet

[2016-04-15 06:24] vegardlarsen commented on #134
Aha. Any attachments you send here to Github are stripped, so that is why I didn't see it.

I think you can temporarily fix your problem by deleting the settings for MaxTo. You can find the settings file in `%LocalAppData%\Digital_Creations_AS\MaxTo`. Simply remove all the files in that folder, and restart MaxTo.

I am aware of this issue, and it will be fixed in the next release. If you could e-m

[2016-04-16 14:49] justinh109 commented on #134
I have deleted all the files in the folder with the address
%LocalAppData%\Digital_Creations_AS\MaxTo
to no avail. The folder contained one folder named 2015.11.1.0 inside that
folder was the config file I just sent to your support adress. Deleting
this file has no effect on the behavior of maxto. I Listed some system
specs below for your reference:

OS: Windows 8.1
Monitors: 2 4k monitors side by

[2016-04-16 14:52] justinh109 commented on #134
I just took a look at the config file in Microsoft visual studio and
noticed the config file is very short:

<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings"
type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0,
Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MaxTo.UserSettings"
typ

[2016-04-18 10:07] AssaultCommand commented on #119
I'd like to propose a reset button/restart button on the context menu on the icon in the tray. Would solve most of my issues in the shortest amount of time.

[2016-04-18 10:08] AssaultCommand commented on #119
I'd like to propose a reset button/restart button on the context menu on the icon in the tray. Would solve most of my issues in the shortest amount of time. @vegardlarsen

[2016-04-18 21:40] Naboum opened #135 "Some windows go black when moving them"
Hi, I noticed that when using MaxTo, some applications are showing a black or white screen when I move them. I uploaded a video which is easier to explain to you what's happening :

[Here](http://webmshare.com/play/Mnodr)

I encountered this issue with only 2 applications for now : Nvidia Geforce Experience and Uplay (which is showing a white window instead).

As you can see, as soon as I start mo

[2016-04-21 20:48] nullabletype opened #136 "Dragging to top screen edge to maximise doesn't work with start bar at the top"
I have my start bar docked at the top of the screen as I find it more convenient but MaxTo doesn't work properly with dragging windows to the top edge of the screen to maximise. With the start bar at the bottom of the screen it works fine, or without MaxTo running it also works absolutely fine. When its enabled with the start bar at the top of the screen when you release the window stays its curre

[2016-04-26 01:00] BranicYeti opened #137 "Next / Previous Window in Region is in a world of it's own"
Some basic system information:
- Windows 10
- MaxTo 2015.11.1.0

NWR = The function known as "Next Window in Region"
PWR = The function known as "Previous Window in Region"
NPWR = Both NWR and PWR together

Since I just downloaded MaxTo, I was playing around with features and their hotkeys so I could learn how to use it and configure it to how I like. Whilst configuring NPWR, I found a few small i